@use "shared/controls";
@use "shared/tabs";
@use "shared++/utils";

._28d5e0a2d38ee49c-buttonsContainer {
	gap: var(--dialog-button-spacing);
}

.ace4f5a2d9b7fc28-customizationSection {
	@include controls.groupbox;

	& > :first-child {
		@include utils.text-reset;
		@include utils.legend-as-div;
	}
}

._44061dfca5514945-profileCustomizationSection {
	@include tabs.content;
}
