@use "shared/menu";

%-notification-base {
	background-color: transparent;
	padding: 4px;

	height: unset;

	&:hover {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}

	#Content {
		gap: var(--text-spacing);
		margin-inline-start: 8px;
	}

	#Icon {
		display: none;
	}
}

#PinnedTemplateDesktop {
	@extend %-notification-base;

	margin: 0;

	#PinnedBody {
		color: inherit;
		font: var(--text-ui);
	}
}

#StandardTemplateDesktop {
	@extend %-notification-base;

	#Header {
		text-transform: uppercase;

		#Title {
			color: var(--color-gray-text);
			font: var(--text-ui);
			margin-inline-end: var(--text-spacing);
		}
	}

	#StandardNotificationDescription {
		color: inherit;
		font: var(--text-ui);
		font-weight: bold;
	}

	#StandardNotificationSubText {
		color: inherit;
		font: var(--text-ui);
	}
}
