@use "shared/controls";
@use "shared++/utils";

#AccountName {
	color: inherit;
}

#AllNotificationsButton {
	@include controls.button;
}

#AllNotificationsTitle {
	font: var(--text-ui);
	font-weight: bold;
}

#EmptyNotificationsBody {
	color: inherit;
	padding-top: var(--text-spacing);
}

#EmptyNotificationsCtn {
	font: var(--text-ui);
	padding: var(--header-spacing);

	// never displayed, steam bug
	#NotificationsMenuEntriesContainer:empty + & {
		display: block;
	}
}

#EmptyNotificationsTitle {
	font-weight: bold;
}

#LogoutButton {
	white-space: pre;
	gap: 0;
}

#NotificationHeader {
	padding: var(--header-spacing);
}

#NotificationMenuItem {
	background-color: transparent;
}

#NotificationsMenu {
	--header-spacing: 8px;

	color: var(--color-button-text);
	border: none;
	box-shadow: none;
}

#NotificationsMenuEntriesContainer {
	gap: 0;
	margin: 0;
}

#NotificationsMenuScrollable {
	--offset: var(--main-window-border-spacing);
	--inset-block-start: calc(
		var(--offset) + var(--header-spacing) * 2 + 1rlh + var(--button-spacing) * 2
	);
	--inset: var(--inset-block-start) var(--offset) var(--offset) var(--offset);

	@include utils.content-container-alt;
}
