@use "shared/controls";
@use "shared/text";

#Button,
#Group {
	background-color: transparent;
	padding: 0;
}

#Button {
	@include text.input-label;
	@include controls.radio($checked-sel: "&#Active");

	color: var(--color-button-text);
	flex-direction: row;
	font: var(--text-ui);
	gap: var(--text-spacing);
	justify-content: start;
	position: relative;
	text-align: start;
	text-shadow: none;
	width: unset;

	&:not(#Active)::before {
		display: none;
	}

	&::before,
	&::after {
		content: "";
	}

	// Use as ::before for label spacing
	&::after {
		order: -1;
		width: calc(
			var(--sel-button-size) + var(--label-spacing) - var(--text-spacing)
		);
	}
}

#Group {
	box-shadow: none;
	flex-direction: column;
	gap: var(--text-spacing);
}
