@use "shared/controls";
@use "shared++/utils";

#Label {
	@include utils.text-reset;

	&#Disabled {
		color: var(--color-gray-text);
		opacity: 1;
	}
}

#Toggle {
	height: unset;
	width: unset;

	&#Disabled {
		opacity: 1;

		#ToggleSwitch {
			@include controls.checkbox-radio-inactive;
		}
	}
}

#ToggleRail {
	display: none;
}

#ToggleRow {
	background-color: transparent;
	flex-direction: row-reverse;
	gap: var(--label-spacing);
	justify-content: start;
	padding: 0;
	margin-block-end: var(--text-spacing);
}

#ToggleSwitch {
	@include controls.checkbox($checked-sel: "&#On");

	background-image: none;
	transform: unset;
}
