[class*="contextmenu_"] {
	/{attr(contextMenu)} {
		@extend .menu;
	}

	/{attr(contextMenuContents)} {
		background: var(--color-button-face);
	}

	/{attr(contextMenuItem)} {
		@extend .menu-entry;

		font: var(--text-ui);
		color: var(--color-button-text);
		border: none;

		// library_ContextMenuAction
		background-image: none;
		text-transform: unset;
		letter-spacing: 0;
		border-radius: 0;

		&:hover,
		&[class*="active"] {
			--color-button-text: var(--color-highlight-text);
			background-color: var(--color-highlight);
			color: var(--color-highlight-text);
		}

		.SVGIcon_Button:not(.SVGIcon_DownArrowContextMenu) {
			fill: var(--color-button-text);

			position: absolute;
			left: 4px;
			box(var(--text-size));
		}
	}

	// TODO submenus

	/{attr(ContextMenuSeparator)} {
		@extend hr;
	}
}

// Window
.ContextMenuPopupBody {
	@extend .menu;

	[class*="contextmenu_"] {
		/{attr(contextMenu)} {
			box-shadow: none;

			padding: 0;

			width: 100%; 
			min-width: unset;
		}
	}
}

[class*="rootmenu_"] {
	// TODO radio ?
	/{attr(Icon)} {
		background-image: var(--control-img);

		position: absolute;
		left: 6px;
		box(7px);

		:hover > & {
			filter: invert();
		}

		&:not(:empty) {
			@extend input[type="checkbox"]:checked;
		}

		& > svg {
			display: none;
		}
	}
}

[class*="titlebarcontrols_"] {
	/{attr(LogoutButton)} {
		white-space: pre;

		gap: 0;
	}

	/{attr(AccountName)},
	/{attr(WalletBalance)} {
		color: inherit;
	}

	/{attr(NotificationsMenu)} {
		color: var(--color-button-text);
		border: none;
		box-shadow: none;

		padding: 0;

		width: unset;
	}

	/{attr(NotificationHeader)} {
		padding: 8px;
		padding-right: 2px;
	}

	/{attr(AllNotificationsTitle)} {
		font: var(--text-ui);
	}

	/{attr(EmptyNotificationsCtn)} {
		@extend body;
	}

	/{attr(EmptyNotificationsBody)} {
		color: inherit;
	}
}

// Home collection
[class*="libraryhomeshowcases_"] {
	/{attr(CollectionDropDownContainer)} {
		// !important
		.DesktopUI && ._DialogInputContainer {
			@extend .menu;
		}
	}

	/{attr(DropDownItems)} {
		font: var(--text-ui);

		margin: 0;

		&[class*="OptionsRule"] {
			border: none;

			&::before {
				content: '';
				display: block;

				@extend hr;

				background-color: var(--color-button-face);

				margin-left: -20px;

				width: calc(100% + 40px);
			}
		}
	}
}

