[class*="contextmenu_"] {
	/{attr(contextMenu)} {
		@extend body;

		min-width: unset $i;
	}

	/{attr(contextMenuContents)} {
		background: var(--color-button-face) $i;
	}

	/{attr(contextMenuItem)} {
		color: var(--color-button-text) $i;
		font: var(--text-ui) $i;
		border: none $i;

		padding: 1px 20px $i;

		&:hover,
		&[class*="active"] {
			background-color: var(--color-highlight) $i;
			color: var(--color-highlight-text) $i;
		}
	}
}

[class*="rootmenu_"] {
	// TODO radio ?
	/{attr(Icon)} {
		background-image: var(--control-img);

		position: absolute;
		left: 6px;
		box(7px);

		:hover > & {
			filter: invert();
		}

		&:not(:empty) {
			@extend input[type="checkbox"]:checked;
		}

		& > svg {
			display: none;
		}
	}
}

[class*="titlebarcontrols_"] {
	/{attr(LogoutButton)} {
		white-space: pre;

		gap: 0 $i;
	}

	/{attr(AccountName)},
	/{attr(WalletBalance)} {
		color: inherit $i;
	}

	/{attr(NotificationsMenu)} {
		color: var(--color-button-text);
		border: none;
		box-shadow: none;

		padding: 0 $i;

		width: unset;
	}

	/{attr(NotificationHeader)} {
		padding: 8px;
		padding-right: 2px;
	}

	/{attr(AllNotificationsTitle)} {
		font: var(--text-ui) $i;
	}

	/{attr(EmptyNotificationsCtn)} {
		@extend body;
	}

	/{attr(EmptyNotificationsBody)} {
		color: inherit $i;
	}
}
