.DesktopUI {
	border: 1px solid $i;
	border-color: var(--button-3d-border-color) $i;
	box-shadow: var(--window-3d-box-shadow) $i;
	padding: 2px $i;
	margin: 1px $i;
	box(unset, -webkit-fill-available); // lol
}
