[class*="appproperties_"] {
	// note?
	/[class*="FieldDescription_"],
	/{attr(Detail)} {
		font: var(--text-ui);
		color: var(--color-button-text);
		margin: 4px 0;
	}

	/{attr(SectionTopLine)} {
		@extend fieldset;
	}

	/{attr(TopGap)} {
		margin-top: 4px;
	}

	// Workshop
	/{attr(ViewMore)} {
		flex: unset;
	}

	/{attr(WorkshopGrid)} {
		@extend table;

		padding: 2px;
		margin: 0;

		box(unset);
	}

	/{attr(WorkshopHeader)} {
		@extend button;

		margin: 0;
		box(unset);
	}

	/{attr(TriangleUp)},
	/{attr(TriangleDown)} {
		display: inline-block;
	}

	/{attr(Install)},
	/{attr(Name)},
	/{attr(SizeDisk)} {
		margin: 3px;
	}

	/{attr(Name)} {
		color: var(--color-button-text);
	}

	// etc.
	/{attr(BrowseDiskRow)} > .DialogButton {
		order: -1;
	}

	/{attr(BrowseDiskSize)} {
		margin-left: 1ch;
	}

	/{attr(SteamInputLink)} {
		color: var(--color-link);
	}
}
