.Modal {
	&Position {
		background-image: none;

		&_TopBar {
			display: none;
		}

		&_Content {
			color: var(--color-button-text);
			box-shadow: none;
		}
	}
}

.Dialog {
	&Button {
		background-image: none;

		&.Disabled {
			@extend button:disabled;
		}

		&::before {
			opacity: 1;

			// There is a shadow if there are no icons.
			display: none;
		}
	}

	&DropDown {
		@extend select;

		align-items: center;

		&_Arrow {
			display: none;
		}
	}

	&MenuPosition ._DialogInputContainer {
		@extend body;

		border-radius: 0;
	}

	&Checkbox {
		@extend input[type="checkbox"];

		border-radius: 0;

		&.Active {
			@extend input[type="checkbox"]:checked;
		}

		& > svg {
			display: none;
		}

		&_Container {
			background-color: transparent;
			box-shadow: none;

			padding: 0;

			align-items: center;
		}
	}

	&Toggle_Label {
		font: var(--text-ui);
		color: var(--color-button-text);

		margin-left: 6px;
	}

	&Label {
		font();
		color: inherit;
		text-transform: unset;
	}

	&Content {
		background: transparent;

		&Transition {
			background: transparent;

			margin-top: -1px;

			width: unset;
			max-width: unset;
		}

		&Transition > & {
			padding: 0;

			bottom: 6px;
		}
	}

	&Body {
		@extend [role="tabpanel"];

		overflow: auto;
		-webkit-mask-image: none; // client settings
		font: var(--text-ui);

		padding: 14px;
		margin: 1px;
		margin-top: 0;
		gap: 8px;

		a {
			color: var(--color-link);
		}
	}

	&ControlsSection {
		@extend fieldset;

		gap: 4px;

		display: flex;
		flex-direction: column;
	}
}

[class*="gamepaddialog_"] {
	/{attr(Field)} {
		--field-row-children-spacing: 7px;

		background-color: transparent;

		padding: 0;

		div:not([class]) > & {
			@extend .DialogControlsSection;
		}

		&::after { // lol
			display: none;
		}
	}

	/{attr(FieldChildren)} {
		gap: 4px;
	}

	/{attr(FieldLabel)} {
		font: var(--text-ui);
		color: var(--color-button-text);

		& > :not([class]) { // has something else
			gap: 1ch;

			display: flex;
			align-items: center;
		}
	}

	/{attr(FieldLabelRow)} {
		flex-direction: row-reverse;
	}

	/{attr(FieldDescription)} {
		[class*="WithDescription_"] > [class*="Row"] + & {
			color: var(--color-gray-text);

			margin-left: 17px;
		}
	}

	/{attr(ControlsListOuterPanel)} {
		--controls-list-spacing: 6px;

		gap: 0;

		flex: unset;
	}

	/{attr(ControlsListChild)} {
		max-width: unset;
	}

	/{attr(Toggle)} {
		@extend input;
		@extend input[type="checkbox"];

		&[class*="On_"] {
			@extend input[type="checkbox"]:checked;
		}
	}

	/{attr(ToggleRail)},
	/{attr(ToggleSwitch)} {
		display: none;
	}
}

/.DialogControlsSectionHeader,
/.DialogSubHeader,
/.DialogBodyText,
/[class*="appproperties_Title_"],
/[class*="librarysettings_DescriptionText_"],
/[class*="remoteplaysettings_TableHeader_"] > :first-child {
	@extend $legend-as-div;

	color: var(--color-button-text);
	text-transform: unset;
	letter-spacing: unset;

	margin: 0;
}
