[class*="pagedsettings_PagedSettingsDialog_"] {
	.ModalPosition_Content > & {
		margin: 8px;

		min-width: unset;
		min-height: unset;
		height: unset;
		flex-direction: column;
	}

	/{attr(PageList)} {
		overflow-y: hidden;
		font();

		padding: 0;
		padding-left: 5px;

		height: unset;
		flex-grow: 0;
		flex-direction: row;
	}

	/{attr(PageListColumn)} {
		background-color: transparent;

		padding: 0;

		max-width: unset;
		flex-grow: 0;
	}

	/{attr(PageListItem)} {
		@extend [role="tab"];

		font();

		margin-top: 2px;

		cursor: default;

		&[class*="Active"] {
			@extend [role="tab"][aria-selected="true"];
		}
	}
}

[class*="pagedsettings_"] {
	/{attr(PagedSettingsDialog_Title)},
	/{attr(PageListSeparator)},
	/{attr(PageListItem_Icon)} {
		display: none;
	}
}

[class*="accountpanel_"] {
	/{attr(FatButton)} svg,
	/{attr(Details)} {
		display: none;
	}

	/{attr(Label)} {
		color: var(--color-window-text);
		font: var(--text-ui);
	}
}

[class*="friendssettings_"] {
	/{attr(FakeFriend)} {
		margin: 0;
	}
}

[class*="desktopsecuritysettings_"],
[class*="accountsettings_"] {
	/{attr(EntryLabel)} {
		padding: 0;
	}

	/{attr(EntryValue)} {
		font: var(--text-ui);
		color: var(--color-button-text);

		&::before {
			content: ': ';
		}
	}
}

[class*="desktopsecuritysettings_"] {
	/{attr(SteamGuardIcon)} {
		color: red;

		&[class*="Enabled"] {
			color: green;
		}
	}
}

[class*="librarysettings_"] {
	/{attr(ActionSection)} {
		flex-direction: row;
		gap: 0;
	}
}

[class*="voicesettings_"] {
	/{attr(MicrophoneTest)} {
		gap: 4px;
		flex-direction: row-reverse;
	}
}

[class*="remoteplaysettings_TableHeader_"],
[class*="notificationssettings_ToggleHeader_"] {
	color: var(--color-button-text);
	font: var(--text-ui);
	letter-spacing: unset;
	text-transform: unset;
}

[class*="notificationssettings_"] {
	/{attr(NotificationGroup)} {
		background-color: transparent;
		border-bottom: none;
		margin: 0;
	}

	/{attr(NotificationSection)} {
		align-items: center;
	}

	/{attr(NotificationFeedToggle)} {
		margin-right: 0;
	}

	/{attr(NotificationDescription)} {
		font: var(--text-ui);
		color: inherit;
		margin: 0;
	}

	/{attr(NotificationPrefDetails)} {
		background-color: transparent;
		padding: 0;
		padding-left: 23px;
		box-shadow: none;
		flex-direction: column;

		.DialogCheckbox_Container {
			margin: 0;
		}
	}

	/{attr(PrefDetailsToggle)} svg {
		margin: 0;
		height: var(--font-size);
	}

	/{attr(Toggles)}.Panel {
		gap: 106px;
	}
}
