.panel-section-separator {
	display: none;
}

button {
	opacity: 1;
}

// For description
input[type="checkbox"] {
	align-self: start;
}

.chrome-select {
	width: unset;
	min-height: unset;

	&-label {
		@extend fieldset;

		padding-top: calc(var(--text-full) + 16px);

		label {
			@extend $legend-as-div;

			p {
				color: inherit;

				position: absolute;
				top: calc(var(--text-full) + 8px);
				width: max-content;
			}
		}
	}
}
