.soft-context-menu {
	border: none;

	&-item {
		font-size: inherit;

		&[aria-label$=" checked"] {
			@extend [role="menuitemcheckbox"][aria-checked="true"];
		}

		&-mouse-over {
			@extend [role="menu"] [role="menuitem"]:hover;
		}

		[is="ui-icon"] {
			display: none;
		}
	}

	&-separator {
		@extend hr;

		height: unset;

		& > .separator-line {
			display: none;
		}
	}

	&-shortcut {
		color: inherit;
	}
}

// Console menu
.item {
	&-list > & > div {
		padding: 0;

		height: unset;
	}
}
