.soft-context-menu {
	border: none;

	&-item {
		font-size: inherit;

		&[aria-label$=" checked"] {
			@extend .menu-item[checked][type="checkbox"];
		}

		&[aria-haspopup] {
			@extend .menu-item[type="parent"];
		}

		&-mouse-over {
			@extend .menu-item:hover;
		}

		[is="ui-icon"] {
			display: none;
		}
	}

	&-separator {
		@extend hr;

		height: unset;

		& > .separator-line {
			display: none;
		}
	}

	&-shortcut {
		color: inherit;
	}
}

// Console menu
.item {
	&-list > & > div {
		padding: 0;

		height: unset;
	}
}
