.data {
	border-spacing: 0;
	box-shadow: none;
	padding: 0;

	&,
	&-container {
		background-color: transparent;
	}

	&-container {
		inset: 2px;
	}

	&-grid {
		@extend .content-container;

		&& {
			border: none;
		}

		// TODO: this shows, but I never touched it.
		&-filler-row {
			&[aria-hidden] {
				display: none;
			}
		}
	}

	th {
		@extend button;
		@extend .table-button;

		&[class*="sort-"] {
			@extend .table-button[sort];
		}

		&.sort-ascending {
			@extend .table-button[sort="ascending"];
		}

		&.sort-descending {
			@extend .table-button[sort="descending"];
		}
	}

	thead {
		height: unset;
		z-index: 2;
	}

	td {
		line-height: inherit;
		border: none;
		padding: 2px 7px;

		height: unset;
	}

	tr {
		height: unset;
	}
}
