// TODO: is .has-padding safe ?
.widget.has-padding { 
	@extend .tooltip;

	[is="ui-icon"] {
		display: none;
	}
}

.object {
	&-popover {
		&-title {
			padding: 0;
		}

		&-tree {
			border: none;
			padding: 0;
		}
	}

	&-value-function {
		font-style: normal;
	}
}

.network-timing-table,
.stack-preview-container {
	box-shadow: none;
	padding: 0;
}

.stack-preview-async-description {
	font-style: normal;
}
