:root {
	--color-background: var(--color-button-face);
	--color-background-elevation-0: var(--color-button-face);
	--color-background-elevation-1: var(--color-button-face);
	--color-background-elevation-2: var(--color-button-face);

	--color-selected-option-background: var(--color-highlight);
	--color-selected-option: var(--color-highlight-text);

	--color-text-primary: var(--color-button-text);
	--color-text-secondary: var(--color-gray-text);
	--color-text-disabled: var(--color-gray-text);

	// Intentional pink for better visibility
	// of unstyled content.
	--color-details-hairline: #f09;
	--color-details-hairline-light: #f09;
	--legacy-focus-ring-inactive-shadow: #f09;
	--legacy-focus-ring-shadow: #f09;

	--color-syntax-1: #f00;
	--color-syntax-2: #f00;
	--color-syntax-3: #00f;
	--color-syntax-4: #f00;
	--color-syntax-5: #f00;
	--color-syntax-6: #0f0;
	--color-syntax-7: #f00;
	--color-syntax-8: #f00;

	--drop-shadow: none;
	--legacy-divider-border: none;
	--legacy-focus-ring-active-shadow: none;
	--legacy-selection-fg-color: inherit;
	--legacy-selection-inactive-fg-color: inherit;

	--image-file-popoverArrows: none;
}

.monospace,
.source-code {
	--monospace-font-family: var(--text-monospace-font);
	--monospace-font-size: var(--text-monospace-size);
	--source-code-font-family: var(--text-monospace-font);
	--source-code-font-size: var(--text-monospace-size);
}
