@use "shared/controls";

:where(.button__201d5) {
	@include controls.button;

	height: unset;
	min-height: unset;

	.contents__201d5 {
		background-image: none;
	}
}

.button_a22cb0 {
	@include controls.button;

	.buttonChildrenWrapper_a22cb0 {
		padding: 0;

		min-height: unset;
	}
}
