@use "shared/controls";

:where(.button__201d5) {
	@include controls.button;

	height: unset;
	min-height: unset;

	&:disabled {
		opacity: 1;
	}

	.contents__201d5 {
		background-image: none;
	}
}

.button_a22cb0 {
	@include controls.button;

	opacity: 1;

	width: unset;
	max-height: unset;

	&[aria-expanded] {
		@include controls.combobox-button($active-sel: "&[aria-expanded='true']");

		&::after {
			flex-shrink: 0;
		}
	}

	&.icon-only_a22cb0 .buttonChildrenWrapper_a22cb0 {
		display: none;
	}

	&.hasText_a22cb0 .icon_a22cb0 {
		display: none;
	}

	.buttonChildrenWrapper_a22cb0 {
		padding: 0;

		min-width: unset;
		min-height: unset;
	}
}

// Seen in user area and ChannelTextArea component
.lottieIcon__5eb9b {
	display: none;
}
