@use "shared/controls";

:where(._201d5e8a3c09670a-button) {
	@include controls.button;

	height: unset;
	min-height: unset;

	&:disabled {
		opacity: 1;
	}

	._201d5e8a3c09670a-contents {
		background-image: none;
	}
}

.a22cb0c66246f5d3-button {
	@include controls.button;

	opacity: 1;

	width: unset;
	max-height: unset;

	&[aria-expanded] {
		@include controls.combobox-button($active-sel: "&[aria-expanded='true']");

		&::after {
			flex-shrink: 0;
		}
	}

	&.a22cb0c66246f5d3-icon-only .a22cb0c66246f5d3-buttonChildrenWrapper {
		display: none;
	}

	&.a22cb0c66246f5d3-hasText .a22cb0c66246f5d3-icon {
		display: none;
	}

	.a22cb0c66246f5d3-buttonChildrenWrapper {
		padding: 0;

		min-width: unset;
		min-height: unset;
	}
}

// Seen in user area and ChannelTextArea component
._5eb9b3cc7c2b1ce8-lottieIcon {
	display: none;
}
