@use "shared/controls";
@use "shared++/utils";

._09aca73e6d4b214b-checkboxWrapper {
	._09aca73e6d4b214b-checkbox {
		@include controls.checkbox(
			$checked-sel: "&._09aca73e6d4b214b-checked",
			$disabled-sel: "._09aca73e6d4b214b-checkboxWrapperDisabled &"
		);

		border: none;

		svg {
			display: none;
		}
	}

	._09aca73e6d4b214b-label {
		padding-left: var(--label-spacing);
	}
}

.container__0d850 {
	margin-top: var(--text-spacing);
	margin-bottom: var(--text-spacing);

	&.disabled__0d850 {
		color: var(--color-gray-text);
	}

	.ddd1814f7cd3e6fd-description {
		opacity: 1;
	}

	.labelRow__0d850 {
		gap: var(--label-spacing);

		flex-direction: row-reverse;
	}

	.title__0d850 {
		@include utils.text-reset;

		opacity: 1;
	}

	.note__0d850 {
		color: var(--color-gray-text);
		margin-top: var(--text-spacing);
		margin-left: calc(var(--sel-button-size) + var(--label-spacing));
	}

	svg {
		display: none;
	}
}

._3f21e80f8677ec40-container {
	@include controls.checkbox(
		$checked-sel: "&._3f21e80f8677ec40-checked",
		$disabled-sel: "&._3f21e80f8677ec40-disabled"
	);

	opacity: 1;
	border: none;

	._3f21e80f8677ec40-slider {
		display: none;
	}
}
