@use "shared/controls";
@use "shared++/utils";

.checkboxWrapper__09aca {
	.checkbox__09aca {
		@include controls.checkbox(
			$checked-sel: "&.checked__09aca",
			$disabled-sel: ".checkboxWrapperDisabled__09aca &"
		);

		border: none;

		svg {
			display: none;
		}
	}

	.label__09aca {
		padding-left: var(--label-spacing);
	}
}

.container__3f21e {
	@include controls.checkbox(
		$checked-sel: "&.checked__3f21e",
		$disabled-sel: "&.disabled__3f21e"
	);

	opacity: 1;
	border: none;

	.slider__3f21e {
		display: none;
	}
}
