@use "shared/controls";
@use "shared++/utils";

._09aca73e6d4b214b-checkboxWrapper {
	._09aca73e6d4b214b-checkbox {
		@include controls.checkbox(
			$checked-sel: "&._09aca73e6d4b214b-checked",
			$disabled-sel: "._09aca73e6d4b214b-checkboxWrapperDisabled &"
		);

		border: none;

		svg {
			display: none;
		}
	}

	._09aca73e6d4b214b-label {
		padding-left: var(--label-spacing);
	}
}

._3f21e80f8677ec40-container {
	@include controls.checkbox(
		$checked-sel: "&._3f21e80f8677ec40-checked",
		$disabled-sel: "&._3f21e80f8677ec40-disabled"
	);

	opacity: 1;
	border: none;

	._3f21e80f8677ec40-slider {
		display: none;
	}
}
