@use "shared/controls";
@use "shared/listbox";
@use "shared++/utils";

.icons_a16aea {
	display: none;
}

.option_a16aea {
	@include listbox.item($selected-sel: "&[aria-selected='true']");

	font: var(--text-ui);
}

.popout_a16aea {
	@include listbox.container;

	margin: 0;
}

.searchInput_a16aea {
	font: var(--text-ui);
	// Multi select
	margin: 0;
}

.select_a16aea {
	@include controls.combobox($disabled-sel: "&[data-disabled='true']");

	* {
		opacity: 1;
	}
}
