@use "shared/controls";
@use "shared/listbox";
@use "shared++/utils";

.a16aea1526925c2c-icons {
	display: none;
}

.a16aea1526925c2c-option {
	@include listbox.item($selected-sel: "&[aria-selected='true']");

	font: var(--text-ui);
}

.a16aea1526925c2c-popout {
	@include listbox.container;

	margin: 0;
}

.a16aea1526925c2c-searchInput {
	font: var(--text-ui);
	// Multi select
	margin: 0;
}

.a16aea1526925c2c-select {
	@include controls.combobox($disabled-sel: "&[data-disabled='true']");

	* {
		opacity: 1;
	}
}

.title_a16aea {
	margin: 0;
}
