@use "shared/controls";

.item__1bda4 {
	opacity: 1;
	background-color: transparent;
	margin-bottom: var(--text-spacing);

	[data-text-variant="text-sm/normal"] {
		color: var(--color-gray-text);
	}
}

.radioBar__1bda4 {
	border: none;
	gap: var(--label-spacing);
	padding: 0;
}

.radioIndicator__1bda4 {
	display: none;
}

.radioIndicatorGroup__1bda4 {
	@include controls.radio(
		$checked-sel: '.item__1bda4[aria-checked="true"] &',
		$disabled-sel: '.container__1bda4[aria-disabled="true"] &'
	);

	order: -1;
	align-self: start;
}
