@use "shared/controls";
@use "shared/text";

.group__64e61 {
	gap: var(--text-spacing);
	padding: 0;
}

.radioGroupOption__64e61 {
	@include controls.radio(
		$checked-sel: "&[data-selected='true']",
		$disabled-sel: "&[data-disabled='true']"
	);
	@include text.input-label;

	opacity: 1;

	width: unset;
	height: unset;

	&:not([data-selected="true"])::before {
		display: none;
	}

	&::before,
	&::after {
		content: "";
	}

	// Use as ::before for label spacing
	&::after {
		width: calc(
			var(--sel-button-size) + var(--label-spacing) - var(--text-spacing)
		);
		order: -1;
	}

	& > .stack_dbd263 {
		gap: inherit;
	}
}

.radioIndicator__64e61 {
	display: none;
}
