@use "shared/controls";

._88a69141dd70013a-item {
	opacity: 1;
	background-color: transparent;

	&:not(:last-of-type) {
		margin-bottom: var(--text-spacing);
	}

	[data-text-variant="text-sm/normal"] {
		color: var(--color-gray-text);
	}
}

._88a69141dd70013a-radioBar {
	border: none;
	gap: var(--label-spacing);
	padding: 0;
}

._88a69141dd70013a-radioIndicator {
	display: none;
}

._88a69141dd70013a-radioIndicatorGroup {
	@include controls.radio(
		$checked-sel: '._88a69141dd70013a-item[aria-checked="true"] &',
		$disabled-sel: '._88a69141dd70013a-container[aria-disabled="true"] &'
	);

	order: -1;
	align-self: start;
}
