@use "shared/controls";

.chevronButton__5fa2f {
	display: none;
}

.comboBoxInputContainer__5fa2f {
	padding: 0;
}

.comboBoxInput__5fa2f {
	max-height: unset;
	min-height: unset;
}

.placeholder__5fa2f {
	padding: 0;
}

.selectButton__5fa2f {
	@include controls.text-field;

	min-height: unset;
}
