@use "shared/controls";

.chevronButton__0edde {
	display: none;
}

.comboBoxInputContainer__0edde {
	padding: 0;
}

.comboBoxInput__0edde {
	max-height: unset;
	min-height: unset;
}

.placeholder__0edde {
	padding: 0;
}

.selectButton__0edde {
	@include controls.text-field;

	min-height: unset;
}
