@use "shared/controls";

.a562c840daab72a7-bar {
	top: 20px;
}

.a562c840daab72a7-barFill {
	display: none;
}

.a562c840daab72a7-grabber {
	border: none;
	box-shadow: none;

	cursor: initial;
}

.a562c840daab72a7-slider {
	@include controls.slider(
		$thumb-sel: ".a562c840daab72a7-grabber",
		$track-sel: ".a562c840daab72a7-bar"
	);
}
