@use "shared/controls";

.bar_a562c8 {
	top: 20px;
}

.barFill_a562c8 {
	display: none;
}

.grabber_a562c8 {
	border: none;
	box-shadow: none;

	cursor: initial;
}

.slider_a562c8 {
	@include controls.slider(
		$thumb-sel: ".grabber_a562c8",
		$track-sel: ".bar_a562c8"
	);
}
