@use "shared/controls";

.bar__4c059 {
	top: 20px;
}

.barFill__4c059 {
	display: none;
}

.grabber__4c059 {
	border: none;
	box-shadow: none;

	cursor: initial;
}

.slider__4c059 {
	@include controls.slider(
		$thumb-sel: ".grabber__4c059",
		$track-sel: ".bar__4c059"
	);
}
