@use "shared/tabs";

:where([role="tab"]) {
	font: var(--text-ui);
	min-height: unset;
	overflow: visible;

	&::after {
		border-radius: 0;
		inset-inline-start: unset;
		margin: 0;
	}

	.itemText_aa8da2 {
		font-weight: normal;
	}
}

:where([role="tablist"]) {
	border: none;
	gap: 0;
	margin: 0;
	padding: 0;

	:where(&[aria-orientation="horizontal"]) {
		@include tabs.container;

		:where([role="tab"]) {
			@include tabs.tab($selected-sel: "&[aria-selected='true']");
		}
	}

	:where(&[aria-orientation="vertical"]) {
		@include tabs.container-vertical;

		:where([role="tab"]) {
			@include tabs.tab-vertical($selected-sel: "&[aria-selected='true']");

			align-items: center;
			display: flex;
		}
	}
}

:where([role="tabpanel"]) {
	@include tabs.content;

	margin: 0;
}
