@use "shared/tabs";

[role="tab"] {
	font: var(--text-ui);

	overflow: visible;
	min-height: unset;

	&::after {
		left: unset;

		border-radius: 0;
		margin: 0;
	}
}

[role="tablist"] {
	border: none;
	gap: 0;
	padding: 0;
	margin: 0;

	&[aria-orientation="horizontal"] {
		@include tabs.container;

		[role="tab"] {
			@include tabs.tab($selected-sel: "&[aria-selected='true']");
		}
	}

	&[aria-orientation="vertical"] {
		@include tabs.container-vertical;

		[role="tab"] {
			@include tabs.tab-vertical($selected-sel: "&[aria-selected='true']");

			display: flex;
			align-items: center;
		}
	}
}

[role="tabpanel"] {
	@include tabs.content;

	margin: 0;
}
