@use "shared/tabs";

:where([role="tab"]) {
	font: var(--text-ui);

	overflow: visible;
	min-height: unset;

	&::after {
		left: unset;

		border-radius: 0;
		margin: 0;
	}
}

:where([role="tablist"]) {
	border: none;
	gap: 0;
	padding: 0;
	margin: 0;

	:where(&[aria-orientation="horizontal"]) {
		@include tabs.container;

		:where([role="tab"]) {
			@include tabs.tab($selected-sel: "&[aria-selected='true']");
		}
	}

	:where(&[aria-orientation="vertical"]) {
		@include tabs.container-vertical;

		:where([role="tab"]) {
			@include tabs.tab-vertical($selected-sel: "&[aria-selected='true']");

			display: flex;
			align-items: center;
		}
	}
}

:where([role="tabpanel"]) {
	@include tabs.content;

	margin: 0;
}
