@use "shared/tabs";

[role="tab"] {
	@include tabs.tab($selected-sel: "&[aria-selected='true']");

	font: var(--text-ui);

	overflow: visible;
	min-height: unset;
}

[role="tablist"] {
	@include tabs.container;

	border: none;
	gap: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

[role="tabpanel"] {
	@include tabs.content;

	margin: 0;
}
