@use "shared/controls";
@use "shared++/utils";

// date
.container__9bb02 {
	@include controls.text-field;

	svg {
		display: none;
	}
}

.input__0ed4f {
	@include controls.text-field;

	height: unset;
}
