@use "shared/controls";

#WishlistButton {
	@include controls.button;

	background-image: none;
	display: flex;
	inset: unset;
	inset-block-end: 12px;
	inset-inline-start: 12px;
	position: absolute;

	svg {
		display: none;
	}
}

#WishlistButtonText {
	all: unset;
}
