@use 'shared/controls';
@use 'shared/window';
@use 'shared++/extends';

#Buttons {
	margin: 0;
	gap: var(--dialog-button-spacing);
}

#CompatDropDown {
	padding: 0;

	.DialogDropDown_CurrentDisplay {
		width: unset;
	}
}

#Container {
	padding: var(--dialog-spacing);
}

#DropDownContainer {
	box-shadow: none;
}

#DropDownItems {
	font: var(--text-ui);
}

#FilterArea {
	gap: 4px 8px;
}

#FilterBucket {
	@include controls.groupbox;

	.DialogInput_Wrapper {
		margin: 0;
	}
}

#FilterBucketBoxes {
	padding: 0;

	#SearchResultsBox & {
		@include window.container($child: true);

		svg {
			display: none;
		}
	}
}

#FilterBucketLabel {
	@include extends.legend-as-div;

	font: var(--text-ui);
	color: var(--color-button-text);
	text-transform: unset;
}
