@use "shared/controls";
@use "shared/menu";

$-icons: (
	1:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAg0lEQVQ4jaVTWw7AIAgTsvtfuftQJk9ZYpPFgbSUOce4BP2sQ8XrBDwxGOBDEcJLlAQnWyjJSZKHHaOzHMDYJHLPhzqYDqQ1ZFWi+VdWSSYVohxhp+EqaKYoawRLJiMgDHUKsgXEPjXYdq+Iu8R7peXxMMIZjyOIYG3BiXc/0e1d6fEC6iwvBhF890UAAAAASUVORK5CYII="),
	2:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAm0lEQVQ4ja1TyxKEIAxLnP1w+fJ4wAp9wD5me3EMTYhtJOrSAuc7QB+yWWCQ6uZkidPD+h7yALwPkk7IRF7RooIPsmOGk3RujmgdAFrj3Xw+RMPCJ8nsq1/uCzgT1vHBOZAqbWp7lgTI+N5AtvLMJCVUA9z4uAfJ2YEwVhUHNmNxCy4HuzVGsuXgqyBVafxblF3frz/T6sKFRq8LBTNs/ZuU14QAAAAASUVORK5CYII="),
	3:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlklEQVQ4jY2SUQ6AMAhDy+K9rSefH8hkE2QkRgN9hU0EcfQgJ5FwTSrIQPnmJqZNMBPYDLTWSY4Jza2nYGJGEiSllWLrcEbXohOU3T0sl4wpANQThLCLtoo9UMEAcFRd/+DPBJHwDzYD8ZfogRSm/kYgOULVddK6771l4rtEc17Xsz9G3+ep+TVeJzCTcb6lZu/98+3EDRZ6RZSjgajFAAAAAElFTkSuQmCC"),
);

#AppCount {
	opacity: 1;
	padding-left: var(--text-spacing);
}

#Arrow,
#ScrollToTop {
	display: none;
}

#Bar {
	padding: 0;

	circle {
		stroke: var(--color-button-text);
	}

	svg {
		fill: var(--color-button-text);
	}
}

#CheckboxWithImage {
	--button-img-pos: 3px 2px;

	@include controls.button;
	@include controls.icon-button;

	&#Active {
		@include controls.button-active;
	}

	@each $i, $img in $-icons {
		&:nth-child(#{$i}) {
			--button-img: #{$img};
		}
	}

	svg {
		display: none;
	}
}

#MenuHeader {
	@include controls.combobox;

	margin: 0;

	cursor: default;
}

// !important in ../other/dialog-shared.scss
div#Row {
	// TODO(port)
	@include menu.item(".hack");

	margin: 0;

	&:has(> .DialogCheckbox.Active) {
		@include menu.item-check;
	}

	.DialogCheckbox {
		display: none;
	}
}

#Rule {
	@include controls.separator;

	margin-inline: 0;
}

#ViewFiltersBar {
	margin: 0;
	margin-left: var(--toolbar-spacing);
}
