#CollectionButton {
	letter-spacing: 0;
}

#CollectionIcon {
	display: block;
	height: unset;
	padding: 0;
	width: 100%;

	&::before {
		content: var(--AllCollectionsView_InfoIconCollections);
	}
}

#CollectionIconBox {
	display: none;
}

#Label {
	color: var(--color-button-text);
	font: var(--text-ui);
	margin: auto;
	text-transform: unset;
}
