@use "shared/controls";
@use "shared/window";

#AdvancedSearchButton {
	--button-img: icon("search");
	@include controls.combobox-icon-button(
		$active-sel: "#AdvancedSearchContainer#Extended &"
	);

	svg {
		display: none;
	}
}

#AdvancedSearchContainer {
	all: unset;
}

#AdvancedSearchPane {
	@include window.container($child: true);

	inset: calc(10% - var(--titlebar-height)) 17.5%;
	overflow: hidden;
	// Make it an actual window, 17.5% fits 16px text size
	position: fixed;
}

#AdvancedSearchPaneContainer {
	&::before {
		display: none;
	}
}

#Container {
	background-color: transparent;
	gap: var(--toolbar-spacing);
	margin: 0;
}

#FilterTag,
#SearchByTypePrompt {
	@include window.statusbar-item;

	background-color: transparent;
	font: var(--text-ui);
	height: unset;
	margin: 0;
}

#SearchInput {
	font: var(--text-ui);
	min-height: unset;
	overflow: visible;

	.DialogInput_Wrapper {
		position: unset;
		width: 100%;
	}

	.DialogTextInputBase {
		background-image: none;
	}
}

#SearchFilterInput {
	@include window.statusbar;

	align-items: center;
	color: var(--color-button-text);
	padding: 0;

	// TODO: unify
	svg {
		display: none;
	}
}

#SearchFilterInputClear {
	--button-img: icon("clear");
	@include controls.button;
	@include controls.icon-button;

	inset: 0;
}
