@use "shared/controls";

#CommandButton {
	// TODO: icons
	height: 32px;
	min-width: 32px;

	&:active,
	&#Toggled {
		@include controls.button-active;
	}

	.SVGIcon_Button {
		fill: var(--color-button-text);
		margin: 0;
		opacity: 1;
		padding: 0;
	}

	path {
		fill: var(--color-button-text);
	}
}

#Gap {
	width: var(--toolbar-spacing);
}

#ToolbarRow {
	margin-block: 0 var(--toolbar-spacing);
}
