@use "shared/controls";
@use "shared/tabs";

#CloseWindowButton {
	height: unset;
}

#EditorInput {
	@include controls.text-field;

	& > .ProseMirror {
		overflow: auto;
		padding: 0;
	}
}

#NewNoteButton {
	--button-img: icon("edit");
	@include controls.icon-button;

	margin-inline-start: var(--icon-button-width);
	width: unset;

	svg {
		display: none;
	}
}

#NoteActions {
	gap: var(--dialog-button-spacing);
	justify-content: end;
	margin-block-start: var(--dialog-button-spacing);
	position: unset;

	.DialogButton {
		opacity: 1;
	}

	svg {
		height: var(--icon-size);
		width: var(--icon-size);
	}
}

#NoteEditorArea {
	margin: 0;
}

#NotePage {
	@include tabs.content;
}

#Toolbar {
	padding: 0;
}
