@use "shared/controls";

#CloseWindowButton {
	height: unset;
}

#EditorInput {
	@include controls.text-field;

	& > .ProseMirror {
		padding: 0;

		overflow: auto;
	}
}

#NoteActions {
	gap: var(--dialog-button-spacing);
	margin-top: var(--dialog-button-spacing);

	position: unset;
	justify-content: right;

	.DialogButton {
		opacity: 1;
	}

	svg {
		width: var(--icon-size);
		height: var(--icon-size);
	}
}

#NoteEditorArea {
	margin: 0;
}

#Toolbar {
	padding: 0;
}
