@use "shared/controls";
@use "shared/table";
@use "shared++/extends";
@use "steam/shared";

#AddNonSteamGameDialog {
	.DialogContent_InnerWidth {
		overflow: hidden;
	}
}

#AppName {
	justify-content: space-between;

	#GameRow & {
		width: calc(32% + 24px);
	}
}

#Checkbox,
#IconContainer,
#AppName,
#ExePath {
	@include extends.text-reset;

	opacity: 1;
	// Seems like V*lve forgot about this one
	text-overflow: ellipsis;
	padding: 2px 10px;
}

#Footer {
	gap: var(--dialog-button-spacing);
	padding-top: var(--dialog-button-spacing);

	& > .DialogButton.Primary {
		width: 148px;
	}
}

#GameList {
	--inset: 69px 11px 58px 11px;

	@include shared.content-container-alt;

	overflow: auto;
	border: none;
	box-shadow: none;

	// For #Header
	margin-top: 0;

	// Fullscreen
	.PopupFullWindow:only-child & {
		--inset: 69px 11px 39px 11px;
	}
}

#GameRow {
	background-color: transparent;
	padding: 0;
}

#Header {
	border: none;
	padding: 0;
	margin: 0 var(--border-size);
	margin-top: var(--text-spacing);

	& > div {
		@include extends.text-reset;
		@include controls.button;
		@include table.button;
		@include shared.table-button-arrows;
	}

	svg {
		display: none;
	}

	@each $btn, $i in 5% 6% 32% {
		& > :nth-child(#{$i + 1}) {
			min-width: $btn;
		}
	}
}

#IconContainer {
	margin: 0;

	justify-content: center;

	img {
		width: var(--icon-size);
		height: var(--icon-size);
	}
}
