#BackupAppsContent {
	gap: var(--dialog-button-spacing);
}

#BackupAppsDialog {
	margin: var(--dialog-spacing);

	min-width: 400px;

	.DialogBody {
		padding: 0;
		margin: var(--messagebox-content-spacing) 0;
	}

	.DialogHeader {
		margin: calc(var(--dialog-spacing) * -1);
		margin-bottom: var(--dialog-spacing);
	}
}
