@use "shared/controls";
@use "shared/tabs";
@use "shared++/extends";

#BrowserTab {
	@include tabs.tab($selected-sel: "&#Active");

	gap: var(--text-spacing);
}

#BrowserTabIcon,
#CloseTabButton {
	padding: 0;
}

#BrowserTabs {
	@include tabs.container;

	overflow: visible;

	// New tab button
	& > #BrowserTab {
		min-width: auto;
	}
}

#BrowserViewHost {
	// Draw the border ...
	--offset: 2px;

	background: var(--color-window);
	margin: calc(var(--border-size) + var(--offset));

	position: relative;
	top: var(--offset);
	left: var(--offset);
	width: calc(100% - var(--offset) * 6);
	height: calc(100% - var(--offset) * 6);

	&::before,
	&::after {
		content: "";

		position: absolute;
	}

	&::before {
		top: calc(var(--offset) * -3);
		left: calc(var(--offset) * -3);
		width: calc(100% + var(--offset) * 6);
		height: calc(100% + var(--offset) * 6);

		box-shadow: var(--border-button-raised);
	}

	&::after {
		top: calc(var(--offset) * -1);
		left: calc(var(--offset) * -1);
		width: calc(100% + var(--offset) * 2);
		height: calc(100% + var(--offset) * 2);

		box-shadow: var(--border-field);
	}
}

#NavigationButton {
	// TODO: icons
	@include controls.button;
	@include controls.icon-button;

	&#Disabled {
		@include controls.input-disabled;
	}
}

#TabTitle {
	@include extends.text-reset;
}

// TODO: please fucking kill me that looks like total shit !
#URLBar {
	background-color: transparent;
	padding: 4px;
	margin-bottom: var(--window-gap);
	box-shadow: var(--border-button-raised);
}

#URLBarText {
	@include controls.text-field;

	margin-left: var(--toolbar-spacing);

	&::before {
		display: none;
	}

	input {
		padding: 0;
	}
}
