@use "shared/tabs";

// Purpose:
// Used in group chat settings (and possibly other older dialogs)

#DialogContent {
	margin: 0;
	padding: 0;

	& > div:only-child {
		height: 100%;
	}

	// Empty .DialogBody
	form:not(.DialogBody) {
		@include tabs.content;

		height: 100%;

		.DialogBody {
			box-shadow: none;
			overflow: visible;
			padding: 0;
		}
	}
}

#DialogTitle {
	display: none;
}
