@use 'shared/tabs';

// Purpose:
// Used in group chat settings (and possibly other older dialogs)

#DialogContent {
	padding: 0;
	margin: 0;

	& > div:only-child {
		height: 100%;
	}

	// Empty .DialogBody
	form:not(.DialogBody) {
		@include tabs.content;

		height: 100%;

		.DialogBody {
			box-shadow: none;
			padding: 0;

			overflow: visible;
		}
	}
}

#DialogTitle {
	display: none;
}

