@use "shared/text";

#Content {
	gap: var(--dialog-spacing);
	margin: var(--messagebox-spacing);

	min-height: unset;
}

#Description,
#DescriptionSmall,
#DescriptionWarning,
#Error {
	color: inherit;
	font: inherit;
	padding: 0;
}

#MobileLink {
	@include text.link;
}

#SendClipDialog {
	.DialogFooter {
		margin: var(--messagebox-spacing);
	}
}
