@use "shared/controls";

#GameRecordingModal {
	gap: var(--dialog-button-spacing);
	margin: var(--dialog-spacing);

	min-width: 240px;
	min-height: 180px;
}

#GRModalOption {
	gap: 0;
	margin: 0;
}

#GROptionLabel {
	color: inherit;
	font: inherit;

	svg {
		display: none;
	}
}

#Header {
	margin: calc(var(--dialog-spacing) * -1);
	margin-bottom: var(--dialog-spacing);
}

#ModalButtonRow {
	gap: var(--dialog-button-spacing);

	align-self: end;
	width: max-content;
}

#OptionExplainer {
	color: var(--color-gray-text);
	font: inherit;
	margin: 0;
	margin-top: var(--text-spacing);
	margin-left: calc(var(--sel-button-size) + var(--label-spacing));
}
