@use "shared/controls";
@use "shared/table";
@use "shared++/utils";
@use "steam/shared";

%-row {
	height: min-content;
	width: calc(100% / 3);
}

#DialogBody {
	box-shadow: none;
	gap: 0;
	padding: 0;

	.DialogBodyText {
		margin: 0;

		display: flex;
		flex-direction: column;
	}

	.DialogInput_Wrapper .DialogButton {
		min-width: var(--button-min-width);
	}

	[style="--indent-level: 0;"] {
		align-items: center;
		display: grid;
		grid-template-columns: 25% 75%;
		// Align with the "IP Address" button
		height: calc(1lh + var(--button-spacing) * 2);

		// #gamepaddialog_FieldLabel
		& > :first-child > div > div {
			font-weight: bold;
		}
	}
}

#PingFailed {
	color: light-dark(darkred, red);
}

#PlayersList {
	// vars at the bottom to override the shared mixin
	@include shared.generic-dialog-content-container-offset;
	@include utils.content-container-alt;

	// fits 16px text size
	--list-height: 386px;
	--inset-block-start: calc(
		var(--dialog-offset) + var(--main-window-titlebar-height)
	);

	align-content: start;
	display: flex;
	flex-wrap: wrap;
	height: var(--list-height);
	margin-block-start: var(--border-size);
	margin-block-end: var(--text-spacing);
	order: -1;
	overflow: auto;

	&::before {
		height: calc(var(--list-height) + var(--border-size) * 2);
	}
}

#Header {
	@extend %-row;
	@include utils.text-reset;
	@include controls.button;
	@include table.header-row;

	inset-block-start: 0;
	position: sticky;
}

#Details {
	@extend %-row;
	@include table.row;

	border: none;
}
