@use "shared++/utils";

#HardwareSurveyDialog {
	.DialogButton.Primary {
		// Undo ._DialogColLayout > ._DialogLayout
		flex: unset;
		width: 148px;
	}
}

#HardwareSurveySection {
	&,
	h3 {
		@include utils.text-reset;
	}

	h3 {
		font-size: var(--text-size-header);
	}
}

#HardwareSurveySections {
	--inset: 46px 11px 58px 11px;

	@include utils.content-container-alt;

	padding: 2px 10px;
	border: none;
	box-shadow: none;

	overflow: auto;

	// Fullscreen
	.PopupFullWindow:only-child & {
		--inset: 73px 11px 39px 11px;
	}
}
