@use "shared++/utils";
@use "steam/shared";

#HardwareSurveyDialog {
	.DialogButton.Primary {
		// Undo ._DialogColLayout > ._DialogLayout
		flex: unset;
		min-width: 148px;
	}
}

#HardwareSurveySection {
	&,
	h3 {
		@include utils.text-reset;
	}

	h3 {
		font-size: var(--text-header-size);
	}
}

#HardwareSurveySections {
	@include utils.content-container-alt;
	@include shared.generic-dialog-content-container-offset;

	padding: 2px 10px;
	border: none;
	box-shadow: none;

	overflow: auto;
}
