@use "shared++/utils";

#HardwareSurveyDialog {
	.DialogButton.Primary {
		// Undo ._DialogColLayout > ._DialogLayout
		flex: unset;
		min-width: 148px;
	}
}

#HardwareSurveySection {
	&,
	h3 {
		@include utils.text-reset;
	}

	h3 {
		font-size: var(--text-size-header);
	}
}

#HardwareSurveySections {
	--inset-inline: calc(var(--border-size) + 9px);
	--inset: calc(1lh + 32px) var(--inset-inline)
		calc(2lh + var(--border-size) * 2 + 37px) var(--inset-inline);

	@include utils.content-container-alt;

	padding: 2px 10px;
	border: none;
	box-shadow: none;

	overflow: auto;

	// Fullscreen
	.PopupFullWindow:only-child & {
		--inset: 73px 11px 39px 11px;
	}
}
