@use "shared/controls";
@use "shared/table";
@use "shared/window";
@use "shared++/utils";
@use "steam/shared";

#AvatarAndName {
	color: inherit;
	gap: var(--text-spacing);
}

#ColumnResizer {
	--separator-size: 13px;

	margin-inline-end: calc(var(--separator-size) / -2);
	opacity: 0;
	padding: 0;
	width: var(--separator-size);
}

#Empty {
	@include utils.text-reset;
}

#OverlayPlayersDialog,
#PlayersDialog .DialogBody {
	padding: 0;
}

#PlayersList {
	@include window.content-container;

	border: none;
	margin: 0;
}

#PlayersListBody {
	background-color: transparent;
	overflow: auto;
	padding: 0;

	[role="cell"] {
		@include utils.text-reset;
	}
}

#PlayersListHeaderCell {
	@include controls.button;
	@include table.button;
	@include shared.table-button-arrows;

	// "Add Friend" column
	&:last-of-type {
		height: 17px;
	}

	svg {
		display: none;
	}
}

#PlayersListHeaderColumn {
	color: inherit;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

#PlayersListHeaderCtr {
	background-color: transparent;
	padding: 0;
}
