@use "shared/controls";
@use "shared/table";
@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";
@use "steam/shared";

#AddFavoriteButton {
	&::before {
		content: attr(title);

		position: unset;
	}
}

#BottomControlsRow {
	gap: var(--dialog-button-spacing);
	padding-top: var(--dialog-button-spacing);

	position: absolute;
	right: var(--dialog-spacing);
	bottom: calc(1lh + 1px + var(--pos));
	left: var(--dialog-spacing);
	height: unset;

	.DialogFooter {
		gap: var(--dialog-button-spacing);
		padding: 0;
	}
}

#ColumnResizer {
	--separator-size: 13px;

	opacity: 0;
	padding: 0;

	width: var(--separator-size);
	margin-right: calc(var(--separator-size) / -2);
}

#DialogBody {
	--combobox-width: 200px;
	--dialog-body-spacing: calc(var(--dialog-button-spacing) + 22px);
	--label-gap: 8px;
	--pos: calc(var(--main-window-border-spacing) + var(--dialog-spacing));

	box-shadow: none;
	padding: 0;
	margin: var(--dialog-body-spacing) 0;
	gap: 0;

	svg {
		display: none;
	}
}

#DropdownLabel {
	font: var(--text-ui);
	margin-bottom: var(--text-spacing);

	display: block;
}

#FilterOptionsCheckboxesCtr {
	align-self: start;
}

#FilterOptionsCtr {
	padding: 0;
	padding-top: var(--text-spacing);
	margin-bottom: var(--tabpanel-spacing);

	&:not(#Collapsed) {
		gap: var(--label-gap);

		height: unset;
	}

	&#Collapsed {
		display: none;
	}

	& > :not(:last-child) {
		gap: var(--label-gap);

		display: flex;
		flex-direction: column;
	}

	.DialogInput {
		width: 100%;
	}
}

#RadioButtonColumn {
	display: none;
}

#PasswordColumn,
#SecureColumn {
	min-width: calc(7px * 2 + 20px);

	&:not(:empty) {
		#ServerRow &::before {
			--button-img: icon("checkmark", "mono");
			--button-img-size: 7px;
			@include utils.pseudo-icon;

			background-color: currentColor;
		}

		&::before {
			content: var(--text);
		}
	}
}

#PasswordColumn {
	--text: "P/W";
}

#SecureColumn {
	--text: "VAC";
}

#SearchButton {
	--button-img: icon("reload");
	@include controls.button;
	@include controls.icon-button;

	position: fixed;
	position-anchor: --dropdown;
	top: anchor(top);
	left: calc(anchor(right) + var(--toolbar-spacing));

	&#SearchActive {
		--button-img: icon("clear");
	}
}

#ServerTabPane {
	@include tabs.content;
	@include tabs.content($compact: true);
}

#ServerList {
	@include window.content-container;

	border: none;
	margin: 0;

	[role="rowgroup"] {
		overflow: auto;

		// No servers
		& > div {
			padding: 4px;
		}
	}
}

#ServerListHeaderCtr {
	background-color: transparent;
	padding: 0;
}

#ServerListHeaderRow {
	gap: 0;
}

#SelectColumnsButton,
:where(#ServerListHeaderCell) {
	@include controls.button;
	@include table.button;
	@include shared.table-button-arrows;

	min-width: unset;
	height: 17px;
}

#SwitchTabButton {
	@include tabs.tab($selected-sel: "&#Selected");

	width: unset;

	// TODO: reuse for more <button> tabs
	&:active,
	&:focus {
		outline: none;
		color: var(--color-button-text);
		text-shadow: none;
		box-shadow:
			1px 0 var(--color-button-shadow-dark),
			1px 1px var(--color-tab-border);
	}
}

#ServerListHeaderSort {
	color: inherit;
	font: var(--text-ui);
	text-transform: unset;

	justify-content: space-between;
}

#SelectColumnsButton {
	text-overflow: unset;

	width: 21px;
}

#ServerRow {
	gap: 0;

	&:hover {
		background-color: transparent;
	}

	&#SelectedRow {
		--color-window-text: var(--color-highlight-text);
		background: var(--color-highlight);
		color: var(--color-highlight-text);
	}

	[role="cell"] {
		// 4px to make #PasswordColumn checkmark visible
		padding: 4px 7px;

		// Make text overflow work
		display: block;
	}
}

#ToggleShowFilterDetailsButton {
	min-width: 111px;

	&#Selected {
		@include controls.button-active;
		@include controls.button-active;
	}
}

#TopControlsCtr {
	@include tabs.container;

	gap: 0;

	.DialogDropDown {
		position: fixed;
		anchor-name: --dropdown;
		top: var(--dialog-body-spacing);
		width: var(--combobox-width);
	}
}
