@use "shared/window";
@use "shared++/utils";

#SteamRuntimeSystemInfoContainer {
	@include window.content-container;

	margin-top: var(--text-spacing);
}

#SteamRuntimeSystemInfoDialogContent {
	.DialogBody {
		box-shadow: none;
		padding: 0;
	}

	.DialogBodyText {
		margin-bottom: calc(var(--dialog-button-spacing) + 6px);
	}
}

#Text {
	@include utils.text-reset;

	font-family: var(--text-font-monospace);
}

#TextContainer {
	background-color: transparent;
	box-shadow: none;
}
