@use "steam/shared";

#SystemReportContainer {
	margin-block-start: calc(var(--text-spacing) + var(--border-size));
}

#SystemReportDialog {
	.DialogBody {
		gap: calc(
			6px + var(--dialog-button-spacing) + var(--dialog-spacing) +
				var(--window-gap)
		);
		// Restore .DialogContent padding
		padding: var(--dialog-spacing);
		padding-bottom: calc(
			var(--statusbar-height) + var(--window-gap) + var(--dialog-spacing)
		);
	}
}

#Text {
	color: inherit;
	font: var(--text-monospace);
}

#TextContainer {
	@include shared.generic-dialog-content-container-offset;

	box-shadow: none;
}
