:root {
  --color-button-text: #000 !important;
  --color-button-face: #c0c0c0 !important;
  --color-button-highlight: #fff !important;
  --color-button-shadow: #808080 !important;
  --color-button-shadow-dark: #000 !important;
  --color-button-checked: #dfdfdf !important;
  --color-window-text: #000 !important;
  --color-window: #fff !important;
  --color-active-caption-text: #fff !important;
  --color-active-caption: #000080 !important;
  --color-info-background: #ffffc0 !important;
  --color-tree-border: #87888f !important;
  --color-highlight-text: #fff !important;
  --color-highlight: #000080 !important;
  --color-gray-text: #808080 !important;
  --color-gray-text-dark: #404040 !important;
  --color-link: #00f !important;
  --color-hover: #dfdfff !important;
  --font-family: 'MS Sans Serif', 'MS Reference Sans Serif', 'Liberation Sans', Tahoma, sans-serif !important;
  --font-family-monospace: 'Fixedsys Excelsior 3.01', 'MS Gothic', 'MS Mincho', 'MS PGothic', 'MS PMincho', monospace !important;
  --font-size: 11px !important;
  --font-size-text: 14px !important;
  --font-size-bigger: 13px !important;
  --font-size-header: 14px !important;
  --font-line: 1.2 !important;
  --font-line-text: 1.2 !important;
  --font: var(--font-size)/var(--font-line) var(--font-family) !important;
  --font-monospace: var(--font-size)/var(--font-line) var(--font-family-monospace) !important;
  --font-text: var(--font-size-text)/var(--font-line-text) var(--font-family) !important;
  --font-header: var(--font-size-header)/var(--font-line) var(--font-family) !important;
  --button-3d-border-color-exact: var(--color-button-face) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-face) !important;
  --button-3d-box-shadow-exact: 0 -1px 0 0 var(--color-button-highlight), -1px 0 0 0 var(--color-button-highlight), -1px -1px 0 0 var(--color-button-highlight), -1px 1px 0 0 var(--color-button-shadow-dark), 1px 0 0 0 var(--color-button-shadow-dark), 1px 1px 0 0 var(--color-button-shadow-dark) !important;
  --button-3d-border-color: var(--color-button-highlight) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-highlight) !important;
  --button-3d-border-color-inverted: var(--color-button-shadow) var(--color-button-highlight) var(--color-button-highlight) var(--color-button-shadow) !important;
  --button-3d-box-shadow: 1px 0 0 var(--color-button-shadow-dark), 0 1px 0 var(--color-button-shadow-dark), 1px 1px 0 var(--color-button-shadow-dark) !important;
  --box-3d-border-color: var(--color-button-shadow-dark) var(--color-button-face) var(--color-button-face) var(--color-button-shadow-dark) !important;
  --box-3d-box-shadow: 0 -1px 0 0 var(--color-button-shadow), -1px 0 0 0 var(--color-button-shadow), -1px -1px 0 0 var(--color-button-shadow), -1px 1px 0 0 var(--color-button-highlight), 1px 0 0 0 var(--color-button-highlight), 1px 1px 0 0 var(--color-button-highlight) !important;
  --group-3d-border-color: var(--color-button-highlight) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-highlight) !important;
  --group-3d-box-shadow: 0 -1px 0 0 var(--color-button-shadow), -1px 0 0 0 var(--color-button-shadow), -1px -1px 0 0 var(--color-button-shadow), -1px 1px 0 0 var(--color-button-highlight), 1px 0 0 0 var(--color-button-highlight), 1px 1px 0 0 var(--color-button-highlight) !important;
  --window-3d-box-shadow: 0 -1px 0 0 var(--color-button-face), -1px 0 0 0 var(--color-button-face), -1px -1px 0 0 var(--color-button-face), -1px 1px 0 0 var(--color-button-shadow-dark), 1px 0 0 0 var(--color-button-shadow-dark), 1px 1px 0 0 var(--color-button-shadow-dark) !important;
}
* {
  transition: none !important;
}
body {
  background-color: var(--color-button-face) !important;
  font: var(--font) !important;
  image-rendering: pixelated !important;
}
a,
[class*="appproperties_SteamInputLink_"] {
  color: var(--color-link) !important;
  text-decoration: none !important;
}
a:hover,
[class*="appproperties_SteamInputLink_"]:hover {
  color: var(--color-link) !important;
  text-decoration: underline !important;
}
::selection {
  background-color: var(--color-highlight) !important;
  color: var(--color-highlight-text) !important;
}
::placeholder {
  color: var(--color-gray-text) !important;
  font-style: normal !important;
}
code,
pre,
kbd {
  font: var(--font-monospace) !important;
}
table,
[class*="appproperties_WorkshopGrid_"],
[class*="gamelist_Container_"] {
  border-spacing: 4px !important;
}
td {
  font: var(--font) !important;
}
hr,
[class*="steamdesktop_TitleBar_"]::before {
  border-bottom: 1px solid var(--color-button-highlight) !important;
  box-shadow: 0 -1px 0 0 var(--color-button-shadow) !important;
  margin-top: 4px !important;
  margin-bottom: 5px !important;
}
fieldset,
[class*="appfilterpane_FilterBucket_"] {
  border-color: var(--group-3d-border-color) !important;
  border-radius: 0 !important;
  box-shadow: var(--group-3d-box-shadow) !important;
  padding: 12px 8px 4px 8px !important;
  margin: 0 0 8px 0 !important;
  position: relative !important;
}
legend {
  background-color: var(--color-button-face) !important;
  font-weight: normal !important;
}
table,
[class*="appproperties_WorkshopGrid_"],
[class*="gamelist_Container_"] {
  background: var(--color-window) !important;
  border: 1px solid !important;
  border-color: var(--box-3d-border-color) !important;
  box-shadow: var(--box-3d-box-shadow) !important;
}
input,
button,
select,
textarea,
::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb,
.title-area-icon,
[class*="titlebarcontrols_Button_"],
.DialogDropDown,
.DialogCheckbox,
[class*="gamepaddialog_Toggle_"],
[class*="appproperties_WorkshopHeader_"],
[class*="gamelistbar_GameListHomeAndSearch_"] a,
[class*="gamelistdropdown_MenuHeader_"],
[class*="gamelistdropdown_CheckboxWithImage_"],
[class*="gamelistsearchbar_AdvancedSearchContainer_"],
[class*="bottombar_AddGameButton_"],
[class*="bottombar_DownloadStatusContent_"],
[class*="bottombar_FriendsButton_"] {
  appearance: none !important;
  filter: none !important;
  box-sizing: border-box !important;
  font: var(--font) !important;
  border: 1px solid !important;
  border-radius: 0 !important;
  height: 19px !important;
}
input:disabled,
button:disabled,
select:disabled,
textarea:disabled,
::-webkit-scrollbar-button:disabled,
::-webkit-scrollbar-thumb:disabled,
.title-area-icon:disabled,
[class*="titlebarcontrols_Button_"]:disabled,
.DialogDropDown:disabled,
.DialogCheckbox:disabled,
[class*="gamepaddialog_Toggle_"]:disabled,
[class*="appproperties_WorkshopHeader_"]:disabled,
[class*="gamelistbar_GameListHomeAndSearch_"] a:disabled,
[class*="gamelistdropdown_MenuHeader_"]:disabled,
[class*="gamelistdropdown_CheckboxWithImage_"]:disabled,
[class*="gamelistsearchbar_AdvancedSearchContainer_"]:disabled,
[class*="bottombar_AddGameButton_"]:disabled,
[class*="bottombar_DownloadStatusContent_"]:disabled,
[class*="bottombar_FriendsButton_"]:disabled {
  background-color: var(--color-button-face) !important;
  color: var(--color-gray-text) !important;
}
.field,
select,
textarea,
input:not([type]),
.DialogCheckbox:not([type]),
[class*="gamepaddialog_Toggle_"]:not([type]),
input[type="url"],
.DialogCheckbox[type="url"],
[class*="gamepaddialog_Toggle_"][type="url"],
input[type="text"],
.DialogCheckbox[type="text"],
[class*="gamepaddialog_Toggle_"][type="text"],
input[type="number"],
.DialogCheckbox[type="number"],
[class*="gamepaddialog_Toggle_"][type="number"],
input[type="search"],
.DialogCheckbox[type="search"],
[class*="gamepaddialog_Toggle_"][type="search"],
input[type="password"],
.DialogCheckbox[type="password"],
[class*="gamepaddialog_Toggle_"][type="password"],
.DialogDropDown,
[class*="gamelistdropdown_MenuHeader_"] {
  background-color: var(--color-window) !important;
  color: var(--color-window-text) !important;
  outline: none !important;
  box-shadow: var(--box-3d-box-shadow) !important;
  padding: 2px !important;
  margin: 0 2px !important;
}
.field,
select,
textarea,
input:not([type]),
.DialogCheckbox:not([type]),
[class*="gamepaddialog_Toggle_"]:not([type]),
input[type="url"],
.DialogCheckbox[type="url"],
[class*="gamepaddialog_Toggle_"][type="url"],
input[type="text"],
.DialogCheckbox[type="text"],
[class*="gamepaddialog_Toggle_"][type="text"],
input[type="number"],
.DialogCheckbox[type="number"],
[class*="gamepaddialog_Toggle_"][type="number"],
input[type="search"],
.DialogCheckbox[type="search"],
[class*="gamepaddialog_Toggle_"][type="search"],
input[type="password"],
.DialogCheckbox[type="password"],
[class*="gamepaddialog_Toggle_"][type="password"],
.DialogDropDown,
[class*="gamelistdropdown_MenuHeader_"],
.field:focus,
select:focus,
textarea:focus,
input:not([type]):focus,
.DialogCheckbox:not([type]):focus,
[class*="gamepaddialog_Toggle_"]:not([type]):focus,
input[type="url"]:focus,
.DialogCheckbox[type="url"]:focus,
[class*="gamepaddialog_Toggle_"][type="url"]:focus,
input[type="text"]:focus,
.DialogCheckbox[type="text"]:focus,
[class*="gamepaddialog_Toggle_"][type="text"]:focus,
input[type="number"]:focus,
.DialogCheckbox[type="number"]:focus,
[class*="gamepaddialog_Toggle_"][type="number"]:focus,
input[type="search"]:focus,
.DialogCheckbox[type="search"]:focus,
[class*="gamepaddialog_Toggle_"][type="search"]:focus,
input[type="password"]:focus,
.DialogCheckbox[type="password"]:focus,
[class*="gamepaddialog_Toggle_"][type="password"]:focus,
.DialogDropDown:focus,
[class*="gamelistdropdown_MenuHeader_"]:focus {
  border-color: var(--box-3d-border-color) !important;
}
button,
input[type="button"],
.DialogCheckbox[type="button"],
[class*="gamepaddialog_Toggle_"][type="button"],
input[type="submit"],
.DialogCheckbox[type="submit"],
[class*="gamepaddialog_Toggle_"][type="submit"],
::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb,
.title-area-icon,
[class*="titlebarcontrols_Button_"],
[class*="appproperties_WorkshopHeader_"],
[class*="gamelistbar_GameListHomeAndSearch_"] a,
[class*="gamelistdropdown_CheckboxWithImage_"],
[class*="gamelistsearchbar_AdvancedSearchContainer_"],
[class*="bottombar_AddGameButton_"],
[class*="bottombar_DownloadStatusContent_"],
[class*="bottombar_FriendsButton_"] {
  background: var(--button-img, none) var(--color-button-face) no-repeat center !important;
  color: var(--color-button-text) !important;
  border-color: var(--button-3d-border-color-exact) !important;
  box-shadow: var(--button-3d-box-shadow-exact) !important;
  padding: 3px 0 !important;
  margin: 0 6px !important;
  width: 74px !important;
  height: unset !important;
}
button:active,
input[type="button"]:active,
.DialogCheckbox[type="button"]:active,
[class*="gamepaddialog_Toggle_"][type="button"]:active,
input[type="submit"]:active,
.DialogCheckbox[type="submit"]:active,
[class*="gamepaddialog_Toggle_"][type="submit"]:active,
::-webkit-scrollbar-button:active,
::-webkit-scrollbar-thumb:active,
.title-area-icon:active,
[class*="titlebarcontrols_Button_"]:active,
[class*="appproperties_WorkshopHeader_"]:active,
[class*="gamelistbar_GameListHomeAndSearch_"] a:active,
[class*="gamelistdropdown_CheckboxWithImage_"]:active,
[class*="gamelistsearchbar_AdvancedSearchContainer_"]:active,
[class*="bottombar_AddGameButton_"]:active,
[class*="bottombar_DownloadStatusContent_"]:active,
[class*="bottombar_FriendsButton_"]:active,
[class*="gamelistbar_GameListHomeAndSearch_"] a[aria-current],
[class*="gamelistdropdown_CheckboxWithImage_"][class*="Active"] {
  border-color: var(--color-button-shadow) !important;
  box-shadow: 0 0 0 1px var(--color-button-shadow-dark) !important;
}
input[type="checkbox"],
.DialogCheckbox[type="checkbox"],
[class*="gamepaddialog_Toggle_"][type="checkbox"],
input[type="radio"],
.DialogCheckbox[type="radio"],
[class*="gamepaddialog_Toggle_"][type="radio"],
.DialogCheckbox,
[class*="gamepaddialog_Toggle_"],
[class*="radio_Button_"]::before {
  background: var(--control-img) no-repeat center !important;
  outline: none !important;
  margin: 0 !important;
}
input[type="checkbox"],
.DialogCheckbox[type="checkbox"],
[class*="gamepaddialog_Toggle_"][type="checkbox"],
.DialogCheckbox,
[class*="gamepaddialog_Toggle_"] {
  background-color: var(--color-window) !important;
  border-color: var(--box-3d-border-color) !important;
  box-shadow: var(--box-3d-box-shadow) !important;
  width: 11px !important;
  height: 11px !important;
}
input[type="checkbox"]:active,
.DialogCheckbox[type="checkbox"]:active,
[class*="gamepaddialog_Toggle_"][type="checkbox"]:active,
.DialogCheckbox:active,
[class*="gamepaddialog_Toggle_"]:active {
  background-color: var(--color-button-face) !important;
}
input[type="checkbox"]:checked,
.DialogCheckbox[type="checkbox"]:checked,
[class*="gamepaddialog_Toggle_"][type="checkbox"]:checked,
.DialogCheckbox:checked,
[class*="gamepaddialog_Toggle_"]:checked,
[class*="rootmenu_Icon_"]:not(:empty),
.DialogCheckbox.Active,
[class*="gamepaddialog_Toggle_"][class*="On_"] {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAGUExURf///wAAAFXC034AAAABdFJOUwBA5thmAAAAFklEQVQIHWNgYmBj6GO4w/CDoYBBAQARtAL73JP0cgAAAABJRU5ErkJggg==") !important;
}
input[type="radio"],
.DialogCheckbox[type="radio"],
[class*="gamepaddialog_Toggle_"][type="radio"],
[class*="radio_Button_"]::before {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAALElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPP/f0bBIDGF/zwM/AwfGBj+MwAA5NMUe8YWpVIAAAAASUVORK5CYII=") !important;
  border: none !important;
  width: 12px !important;
  height: 12px !important;
}
input[type="radio"]:active,
.DialogCheckbox[type="radio"]:active,
[class*="gamepaddialog_Toggle_"][type="radio"]:active,
[class*="radio_Button_"]::before:active {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAOElEQVQI12NgYFBSYgACJUFBIM0kaGws6MDAJGxsbODAoGgMBCzYKagSJgZjYwYHBgYXMAISQBIAZBYIx/Jku34AAAAASUVORK5CYII=") !important;
}
input[type="radio"]:checked,
.DialogCheckbox[type="radio"]:checked,
[class*="gamepaddialog_Toggle_"][type="radio"]:checked,
[class*="radio_Button_"]::before:checked {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAAMElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPOvf2aYHwrFQDZITOE/DwM/wwcGhv8MAL1zEtdwC089AAAAAElFTkSuQmCC") !important;
}
input[type="radio"]:checked:active,
.DialogCheckbox[type="radio"]:checked:active,
[class*="gamepaddialog_Toggle_"][type="radio"]:checked:active,
[class*="radio_Button_"]::before:checked:active {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAPklEQVQI102KwQmAQBADh8UGwlXgVqCkgX3Yf02Gw4chzEAI0E3SUlyyNdSyr+H0vXxE0l97/C6FzcCzG4QvQrwH+/BK284AAAAASUVORK5CYII=") !important;
}
input[type="number"],
.DialogCheckbox[type="number"],
[class*="gamepaddialog_Toggle_"][type="number"] {
  padding: 0 !important;
  padding-left: 1px !important;
pseudoelement(moz-number-spin-up, moz-number-spin-down, webkit-inner-spin-button)
}
input[type="range"],
.DialogCheckbox[type="range"],
[class*="gamepaddialog_Toggle_"][type="range"],
[class*="gamepadslider_SliderControl_"] {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 8px 4px 12px 4px !important;
  margin: -4px !important;
  height: 31px !important;
}
@supports (-moz-appearance: none) {
  input[type="range"],
  .DialogCheckbox[type="range"],
  [class*="gamepaddialog_Toggle_"][type="range"],
  [class*="gamepadslider_SliderControl_"] {
    height: unset !important;
    padding-bottom: 8px !important;
  }
}
input[type="range"]::-webkit-slider-runnable-track,
.DialogCheckbox[type="range"]::-webkit-slider-runnable-track,
[class*="gamepaddialog_Toggle_"][type="range"]::-webkit-slider-runnable-track,
[class*="gamepadslider_SliderControl_"]::-webkit-slider-runnable-track,
[class*="gamepadslider_SliderTrack_"] {
  border: 1px solid !important;
  border-color: var(--box-3d-border-color) !important;
  box-shadow: var(--box-3d-box-shadow) !important;
  margin: 4px !important;
  height: 0 !important;
}
input[type="range"]::-webkit-slider-thumb,
.DialogCheckbox[type="range"]::-webkit-slider-thumb,
[class*="gamepaddialog_Toggle_"][type="range"]::-webkit-slider-thumb,
[class*="gamepadslider_SliderControl_"]::-webkit-slider-thumb,
[class*="gamepadslider_SliderHandle_"] {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAVBAMAAABiXgn+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAKklEQVQI12NwAQEBBmdjY2MjelAsQEqRgQHIBXIYgFwQh4HBSQBMMQIxAL3XFEiuWtpeAAAAAElFTkSuQmCC") !important;
  appearance: none !important;
  background: var(--control-img) !important;
  border: none !important;
  border-radius: 0 !important;
  margin: -4px !important;
  margin-top: -9px !important;
  width: 11px !important;
  height: 21px !important;
}
input[type="range"]::-webkit-slider-thumb:active,
.DialogCheckbox[type="range"]::-webkit-slider-thumb:active,
[class*="gamepaddialog_Toggle_"][type="range"]::-webkit-slider-thumb:active,
[class*="gamepadslider_SliderControl_"]::-webkit-slider-thumb:active,
[class*="gamepadslider_SliderHandle_"]:active {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAVBAMAAABiXgn+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAANElEQVQI12NwAQEBBmdjY2MjIAUETkDKxMSERjwWY2dnRQYGIBfIYQByQRwGBicBMMUIxABhtBY+Cv3r7wAAAABJRU5ErkJggg==") !important;
}
select,
.DialogDropDown,
[class*="gamelistdropdown_MenuHeader_"] {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURQAAAIeIj8DHyP///zDHlOAAAAAxSURBVAjXY1i1atUKhv3//39h2LVq1RIMgoEJSDRwAYkFWkBiBRYlcGJqaGgIAwgAAFaAKE0Wbou6AAAAAElFTkSuQmCC") !important;
  background: var(--control-img) var(--color-window) no-repeat 100% !important;
  padding: 0 !important;
  padding-right: 18px !important;
}
@supports not (-moz-appearance: none) {
  select,
  .DialogDropDown,
  [class*="gamelistdropdown_MenuHeader_"] {
    padding-left: 1px !important;
  }
}
select:focus,
.DialogDropDown:focus,
[class*="gamelistdropdown_MenuHeader_"]:focus {
  outline: none !important;
}
select:active,
.DialogDropDown:active,
[class*="gamelistdropdown_MenuHeader_"]:active {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAJUExURQAAAIeIj8DHyDTRDdUAAAAjSURBVAjXYwgFAoasVatW4iEaGIDEAiYgsYILJKaFRzHIPAD7uSQKZIptlQAAAABJRU5ErkJggg==") !important;
}
select:disabled,
.DialogDropDown:disabled,
[class*="gamelistdropdown_MenuHeader_"]:disabled {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURQAAAIeIj8DHyP///zDHlOAAAAA0SURBVAjXY1i1atUKhv3//39h2LVq1RIMIjQMSEyNBxJL64DEyl8giVdLsCqeGhoawgACAK8JKkoQnva4AAAAAElFTkSuQmCC") !important;
}
label {
  text-decoration: none !important;
  display: inline-flex !important;
  align-items: center !important;
  gap: 7px !important;
  position: relative !important;
  cursor: default !important;
}
label:has(:focus)::before {
  content: '' !important;
  position: absolute !important;
  left: 17px !important;
  right: -3px !important;
  height: 100% !important;
  outline: dotted 1px var(--color-button-text) !important;
}
::-webkit-scrollbar {
  background: repeating-conic-gradient(#c0c7c8 0% 25%, var(--color-window) 0% 50%) !important;
  background-size: 2px 2px !important;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
  border-color: var(--color-button-face) var(--color-button-shadow-dark) var(--color-button-shadow-dark) var(--color-button-face) !important;
  box-shadow: inset 1px 1px 0 var(--color-button-highlight), inset -1px -1px 0 var(--color-button-shadow) !important;
}
::-webkit-scrollbar-button {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAtSURBVBhXY/z//z8DDDAygrj/GaFcBiYoDZZApkEALIksAAJwhUCMIoEADAwA3ckMC4nTcHYAAAAASUVORK5CYII=") !important;
  display: flex !important;
}
::-webkit-scrollbar,
::-webkit-scrollbar-button {
  width: 16px !important;
  height: 16px !important;
}
::-webkit-scrollbar-button:increment {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAArSURBVBhXY2RgYPgPxFgB0////0EKMABInAnGAItAAYwPlgQBmABCIQMDAIflEvtEtJMHAAAAAElFTkSuQmCC") !important;
}
::-webkit-scrollbar-button:horizontal {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAySURBVBhXTYwBCgAwCAK1///ZZa22gygPkpIwkFTcu4J3iQmGOe8nieywXOrll1vaEjisghAJeJVSAgAAAABJRU5ErkJggg==") !important;
}
::-webkit-scrollbar-button:horizontal:increment {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAySURBVBhXRY3JDQAwCMOS7r8zxZEAPzgsDkuqhhwewXalayJgZFYohp0Abq2YwxH3RfqHzhAHIWlRxQAAAABJRU5ErkJggg==") !important;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-resize {
  background-color: #c0c7c8 !important;
}
[class*="contextmenu_contextMenu_"] {
  background: var(--color-button-face) !important;
  border: 1px solid !important;
  border-color: var(--button-3d-border-color) !important;
  box-shadow: var(--window-3d-box-shadow) !important;
  padding: 1px !important;
  min-width: unset !important;
}
[class*="contextmenu_contextMenuContents_"] {
  background: var(--color-button-face) !important;
}
[class*="contextmenu_contextMenuItem_"] {
  font: var(--font) !important;
  color: var(--color-button-text) !important;
  padding: 1px 20px !important;
  border: none !important;
}
[class*="contextmenu_contextMenuItem_"]:hover,
[class*="contextmenu_contextMenuItem_"][class*="active"] {
  background-color: var(--color-active-caption) !important;
  color: var(--color-active-caption-text) !important;
}
[class*="rootmenu_Icon_"] {
  background-image: var(--control-img);
  position: absolute;
  left: 6px;
  width: 7px !important;
  height: 7px !important;
}
:hover > [class*="rootmenu_Icon_"] {
  filter: invert();
}
[class*="rootmenu_Icon_"] > svg {
  display: none;
}
[class*="titlebarcontrols_LogoutButton_"] {
  white-space: pre;
  gap: 0 !important;
}
[class*="titlebarcontrols_AccountName_"],
[class*="titlebarcontrols_WalletBalance_"] {
  color: inherit !important;
}
[class*="titlebarcontrols_NotificationsMenu_"] {
  color: var(--color-button-text);
  padding: 0 !important;
  border: none;
  box-shadow: none;
  width: unset;
}
[class*="titlebarcontrols_NotificationHeader_"] {
  padding: 8px;
  padding-right: 2px;
}
[class*="titlebarcontrols_AllNotificationsTitle_"] {
  font: var(--font) !important;
}
[class*="titlebarcontrols_EmptyNotificationsCtn_"] {
  background-color: var(--color-window);
  border-color: var(--box-3d-border-color);
  box-shadow: var(--box-3d-box-shadow);
  padding: 8px;
  margin: 8px;
}
[class*="titlebarcontrols_EmptyNotificationsBody_"] {
  color: inherit !important;
}
.PopupFullWindow:not(:only-child) .ModalPosition {
  height: calc(100% - var(--font-size) * var(--font-line) - 6px) !important;
}
[class*="bottombar_BottomBarContainer_"] {
  padding-bottom: calc(var(--font-size) * var(--font-line) + 4px);
}
.PopupFullWindow:not(:only-child)::after,
[class*="bottombar_BottomBarContainer_"]::after {
  content: '';
  position: fixed;
  left: 4px;
  right: 4px;
  bottom: 4px;
  height: calc(var(--font-size) * var(--font-line));
  background-color: var(--color-button-face);
  padding: 1px 15px 1px 2px;
  border: 1px solid var(--button-3d-border-color-inverted);
  margin: 1px;
  box-shadow: var(--box-3d-box-shadow);
}
.window_resize_grip {
  opacity: 1 !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANAgMAAAAPhQzvAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAMUExURf///8DHyIeIjwAAAPjD55kAAAAEdFJOU////wBAKqn0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAANElEQVQI1xXIMQ0AAAgDMPxgAhO45EIGcrhJxvb0qAEXBqwY4eSKbJPROe+Kt80bnesyMx6fbh/W8xR1uwAAAABJRU5ErkJggg==");
  background-size: unset !important;
  background-position: unset !important;
  width: 14px !important;
  height: 14px !important;
  right: 3px;
  bottom: 3px;
}
.title-area-icon,
[class*="titlebarcontrols_Button_"] {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 2px !important;
  width: 14px !important;
  height: 12px !important;
}
.title-area-icon.minimizeButton,
[class*="titlebarcontrols_Button_"].minimizeButton {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAIAAAD0PzoJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAANSURBVBhXYyACMDAAAAAmAAEq5K9KAAAAAElFTkSuQmCC");
  background-position: 2px 7px !important;
}
.title-area-icon.maximizeButton,
[class*="titlebarcontrols_Button_"].maximizeButton {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAiSURBVChTY2RgYPgPxHgBE5QmCAiZ9J8okwajIiLCiYEBAE+8BAuR7uviAAAAAElFTkSuQmCC");
  background-position: 1px 0 !important;
}
.title-area-icon.restoreButton,
[class*="titlebarcontrols_Button_"].restoreButton {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA1SURBVChTY2RAgP9QGgUwQWmiADYT/oOswGo0EIDlCFoBMwHZsSCAYipWu6E0YV8QcCQDAwDdNwoEoDtCnwAAAABJRU5ErkJggg==");
  background-position: 1px 0 !important;
}
.title-area-icon.closeButton,
[class*="titlebarcontrols_Button_"].closeButton {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHAQMAAAAPl54dAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAGUExURf///wAAAFXC034AAAABdFJOUwBA5thmAAAAFElEQVQI12M4zJDGYMMgAcRpDIcBFDwC4+02LWIAAAAASUVORK5CYII=");
  background-position-y: 1px !important;
  margin-left: 4px !important;
}
.title-area-icon > svg,
[class*="titlebarcontrols_Button_"] > svg {
  display: none;
}
.title-area {
  background-color: var(--color-gray-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: unset !important;
  max-height: 17px;
}
.WindowFocus .title-area {
  background-color: var(--color-active-caption);
}
#SteamDesktop .title-area {
  --window-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURQAAAAAAAKVnuc8AAAACdFJOU/8A5bcwSgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAADdJREFUCNdj+CHP8ICd4cBvhoZOhsa1DIwlDIwqDMxzGM5/YPh8gKGWgWEvI8MkRoY7zCBlP+QBgSAPR9M4h8IAAAAASUVORK5CYII=");
  -webkit-app-region: no-drag;
}
.ModalDialogBody .title-area {
  --window-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEUAAABmZgCZmZn/+/Dn59aZmQD//5kzMwAcHBzAwMDMzGZNTU0AAADq6upmZmYzAACtqZA/egufAAAAAXRSTlMAQObYZgAAAHJJREFUGNNNzVESgyAMRVEu8QVLBdz/aosU1DvDzyGThPgURtG22XfBZ9/3uJU3mMU18QC8oC/EjBvOlE5cBGleoegCGQvEBWhCcneycDcGkPAM2cUETG6eZceAgolmudElhForJOBooPCP1F//XLBw9APHJgNeldevuwAAAABJRU5ErkJggg==");
}
.title-area::before {
  content: '';
  position: fixed;
  left: 6px;
  top: 6px;
  width: 16px !important;
  height: 16px !important;
  background-image: var(--window-img);
}
.WindowFocus #SteamDesktop .title-area::before {
  filter: invert();
}
#SteamDesktop .title-area::after {
  content: 'Steam';
  position: fixed;
  left: 26px;
  top: 4px;
  right: 108px;
  height: 18px;
  color: var(--color-button-face);
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
}
.WindowFocus #SteamDesktop .title-area::after {
  color: var(--color-active-caption-text);
}
.title-area-icon-inner {
  display: none !important;
}
.title-bar-actions {
  position: fixed !important;
  top: 7px !important;
  right: 7px !important;
}
[class*="titlebarcontrols_TitleBarControls_"] {
  position: absolute;
  top: 2px;
  right: 55px;
  z-index: 1;
}
[class*="titlebarcontrols_TitleBarControls_"] > :nth-child(3) > div {
  position: fixed;
  top: 20px;
  right: 2px;
  height: 33px;
  margin: 0 !important;
  display: flex;
  align-items: center;
}
[class*="titlebarcontrols_TitleBarControls_"] > :nth-child(4) {
  margin-right: 2px;
  order: -1;
}
[class*="titlebarcontrols_Button_"] {
  background-position-x: 2px !important;
  min-width: unset;
  min-height: unset;
  cursor: default;
}
[class*="titlebarcontrols_AnnouncementsButton_"] {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAtSURBVChTY2RAgP9QGgPAJJAVwMWYoAycAGQFSDWMxgqwWQED/6lnAg7AwAAATOYP+fpPtrkAAAAASUVORK5CYII=");
}
[class*="titlebarcontrols_NotificationButtonContainer_"] {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAwSURBVChTY0AD/6EYDhihNAigSAABWI4JzMQDKFcAcwO6/TDACFKASxIrQPMmAwMAgi8HBW4J8QQAAAAASUVORK5CYII=");
  margin: 0 !important;
}
[class*="titlebarcontrols_GamepadUIToggle_"] {
  --button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAoSURBVChTY2RgYPgPxHgBPgX/maAMnIByBQQdCVIAArgUMRIwgYEBAGefBgb8inyEAAAAAElFTkSuQmCC");
}
.DialogHeader {
  color: var(--color-button-face);
  font: var(--font) !important;
  text-transform: unset;
  padding: 0;
  margin: 0 !important;
  position: fixed;
  left: 23px;
  top: 6px;
}
.WindowFocus .DialogHeader {
  color: var(--color-active-caption-text);
}
.DialogHeader svg {
  display: none;
}
[class*="tooltip_TextToolTip_"] {
  background-color: var(--color-info-background);
  border: 1px solid var(--color-button-shadow-dark);
  box-shadow: inset 0 0 0 1px #c0c7c8;
  color: var(--color-button-text);
  font: var(--font);
  padding: 8px 16px;
  margin: 0;
}
.DesktopUI,
.DialogMenuPosition ._DialogInputContainer,
[class*="gamelistsearchbar_AdvancedSearchPane_"] {
  border: 1px solid !important;
  border-color: var(--button-3d-border-color) !important;
  box-shadow: var(--window-3d-box-shadow) !important;
  padding: 2px !important;
  margin: 1px !important;
  width: unset !important;
  height: -webkit-fill-available !important;
}
.ModalDialogPopup .ModalDialogBody {
  min-height: unset;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.ModalPosition {
  background-image: none !important;
}
.ModalPosition_TopBar {
  display: none !important;
}
.ModalPosition_Content {
  color: var(--color-button-text);
  box-shadow: none;
}
.DialogInput {
  background-image: none !important;
}
.DialogButton {
  text-align: center !important;
}
[class*="FieldChildren_"] .DialogButton {
  padding: 3px 6px !important;
  margin: 0 !important;
  width: unset !important;
}
.DialogButton::before {
  display: none !important;
}
.DialogDropDown {
  align-items: center;
}
.DialogDropDown_CurrentDisplay {
  padding: 0 !important;
  padding-left: 1px !important;
}
.DialogDropDown_Arrow {
  display: none !important;
}
.DialogMenuPosition ._DialogInputContainer {
  background-color: var(--color-window);
  padding: 1px !important;
  border-radius: 0;
}
.DialogCheckbox > svg {
  display: none !important;
}
.DialogCheckbox_Container {
  background-color: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  align-items: center;
}
.DialogToggle_Label {
  font: var(--font) !important;
  color: var(--color-button-text) !important;
  margin-left: 6px;
}
.DialogContent {
  background: transparent !important;
}
.DialogContentTransition {
  background: transparent !important;
  border-top: 1px solid;
  border-color: var(--button-3d-border-color);
  margin-top: -1px;
  width: unset !important;
  max-width: unset !important;
}
.DialogContentTransition > .DialogContent {
  padding: 0 !important;
  left: -1px !important;
  right: -1px !important;
  bottom: 18px !important;
}
.DialogBody {
  font: var(--font) !important;
  padding: 14px !important;
  margin: 1px !important;
  margin-top: 0 !important;
  border: 1px solid;
  border-top: none;
  border-color: var(--button-3d-border-color);
  box-shadow: var(--window-3d-box-shadow);
  gap: 12px;
  -webkit-mask-image: none !important;
  overflow-y: auto !important;
}
.DialogControlsSection,
div:not([class]) > [class*="gamepaddialog_Field_"],
[class*="appproperties_SectionTopLine_"] {
  border: 1px solid !important;
  border-color: var(--group-3d-border-color) !important;
  box-shadow: var(--group-3d-box-shadow) !important;
  padding: 12px 8px 4px 8px !important;
  margin: 1px !important;
  position: relative !important;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
[class*="gamepaddialog_Field_"] {
  --field-row-children-spacing: 4px !important;
  padding: 0 !important;
}
.DialogControlsSectionHeader,
.DialogSubHeader,
.DialogBodyText,
[class*="remoteplaysettings_TableHeader_"] > :first-child,
[class*="appfilterpane_FilterBucketLabel_"] {
  position: absolute;
  top: -8px;
  background-color: var(--color-button-face);
  font: var(--font) !important;
  text-transform: unset !important;
  letter-spacing: unset !important;
  color: var(--color-button-text) !important;
  padding: 0 2px;
  margin: 0 !important;
}
[class*="gamepaddialog_Field_"]::after {
  display: none !important;
}
[class*="gamepaddialog_FieldChildren_"] {
  gap: 4px;
}
[class*="gamepaddialog_FieldLabel_"] {
  font: var(--font) !important;
  color: var(--color-window-text);
}
[class*="gamepaddialog_FieldLabel_"] > :not([class]) {
  display: flex;
  align-items: center;
  gap: 1ch;
}
[class*="gamepaddialog_FieldLabelRow_"] {
  flex-direction: row-reverse;
}
[class*="WithDescription_"] > [class*="Row"] + [class*="gamepaddialog_FieldDescription_"] {
  color: var(--color-gray-text) !important;
  margin-left: 20px !important;
}
[class*="gamepaddialog_ControlsListOuterPanel_"] {
  --controls-list-spacing: 6px !important;
  flex: unset !important;
  gap: 0 !important;
}
[class*="gamepaddialog_ControlsListChild_"] {
  max-width: unset !important;
}
[class*="gamepaddialog_ToggleRail_"],
[class*="gamepaddialog_ToggleSwitch_"] {
  display: none;
}
[class*="dropdown_DialogDropDownMenu_Item_"] {
  padding: 1px;
}
[class*="dropdownlabel_DropDownLabelTitle_"] {
  font: var(--font) !important;
  color: inherit;
}
.DialogDropDown [class*="dropdownlabel_DropDownLabelDescription_"] {
  display: none;
}
[class*="radio_Group_"],
[class*="radio_Button_"] {
  background-color: transparent !important;
  padding: 0;
}
[class*="radio_Group_"] {
  box-shadow: none;
  gap: 4px;
  flex-direction: column;
}
[class*="radio_Button_"] {
  font: var(--font);
  color: var(--color-button-text) !important;
  text-align: left;
  flex-direction: row;
  justify-content: left;
  gap: 6px;
}
[class*="radio_Button_"]::before {
  content: '';
}
[class*="radio_Button_"]:active::before {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAOElEQVQI12NgYFBSYgACJUFBIM0kaGws6MDAJGxsbODAoGgMBCzYKagSJgZjYwYHBgYXMAISQBIAZBYIx/Jku34AAAAASUVORK5CYII=") !important;
}
[class*="radio_Button_"][class*="Active"]::before {
  --control-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAAMElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPOvf2aYHwrFQDZITOE/DwM/wwcGhv8MAL1zEtdwC089AAAAAElFTkSuQmCC") !important;
}
[class*="radio_Button_"] > span::before {
  content: '(';
}
[class*="radio_Button_"] > span::after {
  content: ')';
}
[class*="gamepadslider_SliderControl_"] {
  margin: 0 !important;
  height: unset !important;
}
[class*="gamepadslider_SliderTrack_"] {
  margin: 0 !important;
}
[class*="gamepadslider_SliderHandle_"] {
  margin: 0 !important;
  margin-top: -8px !important;
  box-shadow: none;
}
[class*="gamepadslider_SliderHandleContainer_"] {
  transform: translateX(calc(-100% * var(--inverse-normalized-value) + 7px * var(--inverse-normalized-value)));
}
[class*="appproperties_Title_"] {
  background-color: var(--color-button-face);
  font: var(--font);
  text-transform: unset !important;
  padding: 0 2px;
  margin-top: -19px;
  width: fit-content;
}
[class*="FieldDescription_"],
[class*="appproperties_Detail_"] {
  font: var(--font) !important;
  color: var(--color-button-text) !important;
  margin: 4px 0 !important;
}
[class*="appproperties_TopGap_"] {
  margin-top: 4px !important;
}
[class*="appproperties_ViewMore_"] {
  flex: unset !important;
}
[class*="appproperties_WorkshopGrid_"] {
  padding-top: 1px;
  margin: 0 !important;
  width: unset !important;
  height: unset !important;
}
[class*="appproperties_WorkshopHeader_"] {
  padding: 3px !important;
  margin: 0 1px !important;
  width: unset !important;
  height: unset !important;
}
[class*="appproperties_Install_"],
[class*="appproperties_"] [class*="appproperties_Name_"],
[class*="appproperties_"] [class*="appproperties_SizeDisk_"] {
  margin: 3px !important;
}
[class*="appproperties_Name_"] {
  color: var(--color-button-text) !important;
}
[class*="appproperties_BrowseDiskRow_"] > .DialogButton {
  order: -1;
}
[class*="appproperties_BrowseDiskSize_"] {
  margin-left: 1ch !important;
}
.ModalPosition_Content > [class*="pagedsettings_PagedSettingsDialog_"] {
  margin: 8px;
  min-width: unset !important;
  min-height: unset !important;
  flex-direction: column;
}
[class*="pagedsettings_PagedSettingsDialog_PageList_"] {
  line-height: var(--font-line);
  padding-left: 2px;
  padding-top: 2px;
  flex-direction: row;
  overflow-y: hidden;
}
[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] {
  background-color: transparent;
  padding: 0;
  max-width: unset;
  flex-grow: 0;
}
[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] {
  --color-tab-border: var(--color-button-highlight);
  background-color: var(--color-button-face) !important;
  color: var(--color-button-text) !important;
  font-size: var(--font-size);
  font-weight: normal;
  text-decoration: none !important;
  border: 1px solid;
  border-bottom: none;
  border-color: var(--button-3d-border-color);
  border-radius: 2px 2px 0 0;
  box-shadow: 1px 0 var(--color-button-shadow-dark), 1px 1px var(--color-tab-border);
  margin: 0 1px -1px 0 !important;
  padding: 2px 6px;
  align-items: unset;
  cursor: default;
}
[class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="Active"] {
  --color-tab-border: var(--color-button-face);
  margin: -2px 0 0 -2px !important;
  padding: 3px 6px;
  z-index: 1;
}
[class*="pagedsettings_PagedSettingsDialog_Title_"],
[class*="pagedsettings_PageListSeparator_"],
[class*="pagedsettings_PageListItem_Icon_"] {
  display: none;
}
[class*="accountpanel_FatButton_"] svg,
[class*="accountpanel_Details_"] {
  display: none;
}
[class*="accountpanel_Label_"] {
  color: var(--color-window-text) !important;
  font: var(--font) !important;
}
[class*="friendssettings_FakeFriend_"] {
  margin: 0;
}
[class*="desktopsecuritysettings_EntryLabel_"],
[class*="accountsettings_EntryLabel_"] {
  padding: 0;
}
[class*="desktopsecuritysettings_EntryValue_"],
[class*="accountsettings_EntryValue_"] {
  font: var(--font);
  color: var(--color-button-text);
}
[class*="desktopsecuritysettings_EntryValue_"]::before,
[class*="accountsettings_EntryValue_"]::before {
  content: ': ';
}
[class*="desktopsecuritysettings_SteamGuardIcon_"] {
  color: #f00;
}
[class*="desktopsecuritysettings_SteamGuardIcon_"][class*="Enabled"] {
  color: #008000;
}
[class*="librarysettings_ActionSection_"] {
  flex-direction: row !important;
  gap: 0 !important;
}
[class*="voicesettings_MicrophoneTest_"] {
  gap: 4px;
  flex-direction: row-reverse;
}
[class*="remoteplaysettings_TableHeader_"],
[class*="notificationssettings_ToggleHeader_"] {
  color: var(--color-button-text) !important;
  font: var(--font) !important;
  letter-spacing: unset !important;
  text-transform: unset !important;
}
[class*="notificationssettings_NotificationGroup_"] {
  background-color: transparent;
  border-bottom: none;
  margin: 0;
}
[class*="notificationssettings_NotificationSection_"] {
  align-items: center;
}
[class*="notificationssettings_NotificationFeedToggle_"] {
  margin-right: 0 !important;
}
[class*="notificationssettings_NotificationDescription_"] {
  font: var(--font);
  color: inherit;
  margin: 0;
}
[class*="notificationssettings_NotificationPrefDetails_"] {
  background-color: transparent;
  padding: 0;
  padding-left: 23px;
  box-shadow: none;
  flex-direction: column;
}
[class*="notificationssettings_NotificationPrefDetails_"] .DialogCheckbox_Container {
  margin: 0;
}
[class*="notificationssettings_PrefDetailsToggle_"] svg {
  margin: 0;
  height: var(--font-size);
}
[class*="notificationssettings_Toggles_"].Panel {
  gap: 106px;
}
[class*="library_LibraryWindowDivider_"] {
  background-color: transparent !important;
  width: 8px;
}
[class*="library_AppDetailsTransitionGroup_"] {
  border: 1px solid !important;
  border-color: var(--box-3d-border-color) !important;
  box-shadow: var(--box-3d-box-shadow) !important;
  margin: 1px !important;
  margin-top: 3px !important;
  width: calc(100% - 4px);
}
[class*="gamelistbar_Container_"] {
  background-image: none;
}
[class*="gamelistbar_GameListHomeAndSearch_"] {
  background-color: transparent;
  padding: 0;
  margin: 3px 0;
  margin-right: -1px;
  box-shadow: none;
  height: unset;
}
[class*="gamelistbar_GameListHomeAndSearch_"] > :first-child {
  margin-top: -1px;
  margin-bottom: 1px;
}
[class*="gamelistbar_GameListHomeAndSearch_"] > :first-child > a {
  margin: 1px !important;
}
[class*="gamelistbar_GameListHomeAndSearch_"] a {
  cursor: default;
}
[class*="gamelistbar_GameListHomeAndSearch_"] a:hover {
  text-decoration: none !important;
}
[class*="gamelisthome_Label_"] {
  color: var(--color-button-text) !important;
  font: var(--font);
  text-transform: unset;
  margin: auto;
}
[class*="gamelisthome_CollectionButton_"] {
  letter-spacing: 0 !important;
}
[class*="gamelisthome_CollectionButton_"]::before {
  content: 'Collections';
  text-align: center;
  width: 100%;
}
[class*="gamelisthome_CollectionIcon_"] {
  display: none;
}
[class*="gamelistdropdown_Bar_"] {
  padding: 0;
  margin: 0 -1px;
}
[class*="gamelistdropdown_Bar_"] circle {
  stroke: var(--color-button-text) !important;
}
[class*="gamelistdropdown_Bar_"] svg {
  fill: var(--color-button-text) !important;
  width: var(--font-size) !important;
  height: var(--font-size) !important;
}
[class*="gamelistdropdown_SearchBar_"] {
  align-items: center;
}
[class*="gamelistdropdown_MenuHeader_"] {
  font: var(--font) !important;
  text-transform: unset !important;
  cursor: default !important;
}
[class*="gamelistdropdown_ScrollToTop_"],
[class*="gamelistdropdown_Arrow_"] {
  display: none;
}
[class*="gamelistdropdown_ViewFiltersBar_"] {
  margin: 0 !important;
  margin-right: 3px !important;
}
[class*="gamelistdropdown_CheckboxWithImage_"] {
  margin: 0 3px !important;
  width: 20px !important;
  cursor: default !important;
}
[class*="gamelistsearchbar_Container_"] {
  padding: 0;
  margin: 4px -1px;
}
[class*="gamelistsearchbar_FilterTag_"] {
  padding: 2px !important;
  border-radius: 0 !important;
  margin: 0 !important;
}
[class*="gamelistsearchbar_SearchInput_"] {
  border-radius: 0 !important;
  margin-bottom: -1px;
  min-height: unset !important;
}
[class*="gamelistsearchbar_SearchFilterInput_"] {
  color: var(--color-button-text);
  align-items: center;
}
[class*="gamelistsearchbar_SearchFilterInputClear_"] {
  position: unset !important;
}
[class*="gamelistsearchbar_SearchByTypePrompt_"] {
  font: var(--font) !important;
  padding: 0 18px !important;
}
[class*="gamelistsearchbar_AdvancedSearchContainer_"] {
  height: fit-content !important;
  justify-content: center;
}
[class*="gamelistsearchbar_AdvancedSearchContainer_"] > .Focusable > div {
  cursor: default !important;
}
[class*="gamelistsearchbar_AdvancedSearchContainer_"] > .Focusable > div::before {
  content: 'Search...';
}
[class*="gamelistsearchbar_AdvancedSearchContainer_"] svg {
  display: none !important;
}
[class*="gamelistsearchbar_AdvancedSearchPane_"] {
  background-color: var(--color-button-face) !important;
  border-radius: 0 !important;
}
[class*="gamelistsearchbar_AdvancedSearchPane_"]::before {
  display: none;
}
[class*="gamelist_Container_"] {
  padding-right: 2px;
  margin-left: 1px;
  margin-bottom: 1px;
  width: calc(100% - 8px);
  box-sizing: content-box;
}
[class*="gamelistentry_Container_"] {
  font: var(--font);
  box-shadow: none !important;
}
[class*="gamelistentry_Container_"][class*="Running"] {
  color: #008000 !important;
}
[class*="gamelistentry_Container_"][class*="Installed"] {
  color: var(--color-button-text) !important;
}
[class*="gamelistentry_Container_"][class*="Uninstalled"] {
  color: var(--color-gray-text) !important;
}
[class*="gamelistentry_Container_"][class*="Updating"],
[class*="gamelistentry_Container_"][class*="Synchronizing"],
[class*="gamelistentry_Container_"][class*="Cloud"] {
  color: var(--color-active-caption) !important;
}
[class*="gamelistentry_Container_"]:hover,
[class*="gamelistentry_Container_"][class*="HoverOverlay_"],
[class*="gamelistentry_Container_"][class*="Selected"] {
  background-color: var(--color-active-caption) !important;
  color: var(--color-active-caption-text) !important;
}
[class*="gamelistentry_Container_"] circle,
[class*="gamelistentry_Container_"] path {
  fill: currentColor !important;
}
[class*="gamelistsectionheader_Container_"] {
  background: none !important;
  color: var(--color-button-text);
  box-shadow: none !important;
}
[class*="gamelistsectionheader_Container_"],
[class*="gamelistsectionheader_Container_"] > div {
  color: var(--color-button-text) !important;
  stroke: currentColor !important;
}
[class*="gamelistsectionheader_SectionName_"] {
  font: var(--font);
  letter-spacing: 0;
}
[class*="gamelistsectionheader_SectionCount_"] {
  color: var(--color-gray-text);
  font: var(--font);
}
[class*="appfilterpane_Container_"] {
  padding: 8px;
}
[class*="appfilterpane_FilterArea_"] {
  gap: 6px 8px !important;
}
[class*="appfilterpane_FilterBucket_"] {
  border: 1px solid;
}
[class*="appfilterpane_FilterBucket_"] .DialogInput_Wrapper {
  margin: 0;
}
[class*="appfilterpane_FilterBucketBoxes_"] {
  padding: 0;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
[class*="appfilterpane_ExtraTall_"] {
  grid-row-end: span 2 !important;
}
[class*="appfilterpane_Default_"] {
  font-style: normal !important;
}
[class*="appfilterpane_Buttons_"] {
  margin: 0;
  gap: 4px;
}
[class*="appfilterpane_Buttons_"] svg {
  display: none;
}
[class*="appdetails_PlayBar_"] {
  width: calc(100% - 16px);
}
[class*="steamdesktop_Wrapper_"] {
  background-color: transparent;
  border: none;
}
[class*="steamdesktop_FocusBar_"],
[class*="steamdesktop_URLBarReplacement_"] {
  display: none !important;
}
[class*="steamdesktop_TopBar_"] {
  background: transparent;
  box-shadow: none;
}
[class*="steamdesktop_TitleBar_"] {
  flex-direction: column-reverse;
  height: unset;
  -webkit-app-region: no-drag;
}
[class*="steamdesktop_TitleBar_"]::before {
  content: '';
  width: 100%;
}
[class*="steamdesktop_WindowControls_"],
[class*="steamdesktop_RootMenuBar_"] {
  flex: initial !important;
  cursor: default !important;
}
[class*="steamdesktop_RootMenuBar_"] {
  gap: 0;
  padding: 0 !important;
}
[class*="steamdesktop_SuperNavBar_"] {
  -webkit-app-region: no-drag;
}
[class*="titlebarcontrols_GamepadUIToggle_"] > svg {
  position: unset !important;
}
[class*="rootmenu_RootMenuButton_"] {
  color: var(--color-button-text) !important;
  font: var(--font);
  padding: 3px 6px 2px 6px;
}
[class*="rootmenu_RootMenuButton_"]:active,
[class*="rootmenu_RootMenuButton_"][class*="Open"] {
  background-color: var(--color-active-caption);
  color: var(--color-active-caption-text) !important;
}
[class*="rootmenu_RootMenuButton_"] svg {
  display: none;
}
[class*="rootmenu_SteamButton_"] {
  padding: 0;
}
[class*="supernav_SuperNavMenu_"] [class*="supernav_MenuButton_"] {
  color: var(--color-button-text);
}
[class*="bottombar_BottomBar_"] {
  background: transparent;
  box-shadow: none;
  padding: 8px;
  flex: unset;
}
[class*="bottombar_AddGameButton_"],
[class*="bottombar_DownloadStatusContent_"],
[class*="bottombar_FriendsButton_"] {
  padding: 3px 6px !important;
  width: unset !important;
}
[class*="bottombar_Icon_"],
[class*="bottombar_Text_"],
[class*="bottombar_Queue_"] {
  color: var(--color-button-text) !important;
}
