.Modal {
	&DialogBody {
		border: 1px solid $i;
		border-color: var(--button-3d-border-color) $i;
		box-shadow: var(--window-3d-box-shadow) $i;
		padding: 2px $i;
		margin: 1px $i;
	}
	&DialogPopup &DialogBody {
		max-height: 98% $i; // lol
		min-height: calc(100% - 8px) $i;
	}
	&Position {
		background-image: none $i;

		&_TopBar {
			display: none $i;
		}
		&_Content {
			color: var(--color-button-text);
			box-shadow: none;
		}
	}
}

.Dialog {
	&Input {
		background-image: none $i;
	}
	&Button {
		text-align: center $i; // library fix

		[class*="FieldChildren_"] & {
			padding: 3px 6px $i;
			margin: 0 $i;
			width: unset $i;
		}

		&::before { // lol
			display: none $i;
		}
	}
	&DropDown {
		@extend select;
		align-items: center;

		&_Arrow {
			display: none $i;
		}
	}
	&MenuPosition ._DialogInputContainer {
		@extend .ModalDialogBody;
		background-color: var(--color-window);
		padding: 1px $i;
		border-radius: 0;
	}
	&Checkbox {
		@extend input;
		@extend input[type="checkbox"];

		&.Active {
			@extend input[type="checkbox"]:checked;
		}

		& > svg {
			display: none $i;
		}

		&_Container {
			background-color: transparent $i;
			padding: 0 $i;
			box-shadow: none $i;
			align-items: center;
		}
	}
	&Toggle_Label {
		font: var(--font) $i;
		color: var(--color-button-text) $i;
		margin-left: 6px;
	}

	&Header {
		display: none $i;
	}
	&Body {
		font: var(--font) $i;
		padding: 0 $i;
		padding-top: 4px $i;
		margin: 0 $i;
		gap: 12px;
		-webkit-mask-image: none $i; // client settings
		overflow-y: auto $i;
	}
	&Content {
		background: transparent $i;
		padding: 14px $i;
		margin-top: -1px;
		border: 1px solid;
		border-color: var(--button-3d-border-color);
		box-shadow: var(--window-3d-box-shadow);
		bottom: 18px $i;

		&Transition {
			background: transparent $i;
			width: unset $i;
			max-width: unset $i;
		}
	}
	&ControlsSection {
		border: 1px solid $i;
		border-color: var(--group-3d-border-color) $i;
		box-shadow: var(--group-3d-box-shadow) $i;
		padding: 12px 8px 4px 8px $i;
		margin: 1px $i;
		position: relative $i;
	}
}

[class*="dropdown_DialogDropDownMenu_"] {
	/{attr(Item)} {
		padding: 1px;
	}
}
[class*="dropdownlabel_"] {
	/{attr(DropDownLabelTitle)} {
		font: var(--font) $i;
		color: inherit;
	}
	/.DialogDropDown {attr(DropDownLabelDescription)} {
		display: none;
	}
}

[class*="radio_"] {
	/{attr(Group)},
	/{attr(Button)} {
		background-color: transparent $i;
		padding: 0;
	}

	/{attr(Group)} {
		box-shadow: none;
		gap: 4px;
		flex-direction: column;
	}
	/{attr(Button)} {
		font: var(--font);
		color: var(--color-button-text) $i;
		text-align: left;
		flex-direction: row;
		justify-content: left;
		gap: 6px;

		&::before {
			content: '';
			@extend input[type="radio"];
		}
		&:active::before {
			--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAOElEQVQI12NgYFBSYgACJUFBIM0kaGws6MDAJGxsbODAoGgMBCzYKagSJgZjYwYHBgYXMAISQBIAZBYIx/Jku34AAAAASUVORK5CYII=') $i;
		}
		&[class*="Active"]::before {
			--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAAMElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPOvf2aYHwrFQDZITOE/DwM/wwcGhv8MAL1zEtdwC089AAAAAElFTkSuQmCC') $i;
		}

		& > span {
			&::before {
				content: '(';
			}
			&::after {
				content: ')';
			}
		}
	}
}

[class*="gamepadslider_"] {
	/{attr(SliderControl)} {
		@extend input[type="range"];
		margin: 0 $i;
		height: unset $i;
	}
	/{attr(SliderTrack)} {
		@extend input[type="range"]::-webkit-slider-runnable-track;
		margin: 0 $i;
	}
	/{attr(SliderHandle)} {
		@extend input[type="range"]::-webkit-slider-thumb;
		margin: 0 $i;
		margin-top: -8px $i;
		box-shadow: none;
	}
	/{attr(SliderHandleContainer)} {
		transform: translateX(calc(-100% * var(--inverse-normalized-value) + 7px * var(--inverse-normalized-value)));
	}
}

[class*="gamepaddialog_"] {
	/{attr(Field)} {
		--field-row-children-spacing: 4px $i;
		padding: 0 $i;

		div:not([class]) > & {
			@extend .DialogControlsSection;

			/.DialogSubHeader,
			/.DialogBodyText,
			[class*="FieldLabel_"],
			/[class*="remoteplaysettings_TableHeader_"] > :first-child {
				position: absolute;
				top: -8px;
				background-color: var(--color-button-face);
				font: var(--font) $i;
				text-transform: unset;
				letter-spacing: unset $i;
				color: var(--color-button-text) $i;
				padding: 0 2px;
				margin: 0 $i;
			}
		}

		&[class*="WithBottomSeparator"] {
			margin-bottom: 4px;
		}

		&::after { // lol
			display: none $i;
		}
	}
	/{attr(FieldChildren)} {
		gap: 4px;
	}
	/{attr(FieldLabel)} {
		font: var(--font) $i;
		color: unset;

		& > :not([class]) { // has something else
			display: flex;
			align-items: center;
			gap: 1ch;
		}
	}
	/{attr(FieldLabelRow)} {
		flex-direction: row-reverse;
	}
	/{attr(FieldDescription)} {
		order: -1;

		[class*="WithDescription_"] > [class*="Row"] + & {
			color: var(--color-gray-text) $i;
			margin-left: 22px $i;
		}
	}

	/{attr(ControlsListOuterPanel)} {
		--controls-list-spacing: 6px $i;
		flex: unset $i;
	}
	/{attr(ControlsListChild)} {
		max-width: unset $i;
	}

	/{attr(Toggle)} {
		@extend input;
		@extend input[type="checkbox"];

		&[class*="On_"] {
			@extend input[type="checkbox"]:checked;
		}
	}
	/{attr(ToggleRail)},
	/{attr(ToggleSwitch)} {
		display: none;
	}
}

[class*="pagedsettings_PagedSettingsDialog_"] {
	.ModalPosition_Content > & {
		margin: 8px;
		flex-direction: column;
	}

	/{attr(Title)} {
		color: var(--color-button-face);
		font: var(--font);
		text-transform: unset;
		padding: 0;
		position: fixed;
		left: 23px;
		top: 6px;

		.WindowFocus & {
			color: var(--color-active-caption-text);
		}

		&::before {
			content: 'Properties - ';
		}
	}

	/{attr(PageList)} {
		line-height: var(--font-line);
		padding-left: 2px;
		padding-top: 2px;
		flex-direction: row;
		overflow-y: hidden;
	}
	/{attr(PageListColumn)} {
		background-color: transparent;
		padding: 0;
		max-width: unset;
		flex-grow: 0;
	}

	/{attr(PageListItem)} {
		--color-tab-border: var(--color-button-highlight);
		background-color: var(--color-button-face) $i;
		color: var(--color-button-text) $i;
		font-size: var(--font-size);
		font-weight: normal;
		text-decoration: none $i;
		border: 1px solid;
		border-bottom: none;
		border-color: var(--button-3d-border-color);
		border-radius: 2px 2px 0 0;
		box-shadow:
			1px 0 var(--color-button-shadow-dark),
			1px 1px var(--color-tab-border);
		// TODO: the text moves left/right for some reason
		margin: 0 1px -1px 0 $i;
		padding: 2px 6px;
		align-items: unset;
		cursor: default;

		&[class*="Active"] {
			--color-tab-border: var(--color-button-face);
			margin: -2px 0 0 -2px $i;
			padding: 3px 6px;
			z-index: 1;
		}
	}
}
[class*="pagedsettings_"] {
	/{attr(PageListSeparator)},
	/{attr(PageListItem_Icon)} {
		display: none;
	}
}

[class*="appproperties_"] {
	/{attr(Title)} {
		background-color: var(--color-button-face);
		font: var(--font);
		text-transform: unset $i;
		padding: 0 2px;
		margin-top: -19px;
		width: fit-content;
	}
	// note?
	/[class*="FieldDescription_"],
	/{attr(Detail)} {
		font: var(--font) $i;
		color: var(--color-button-text) $i;
		margin: 4px 0 $i;
	}

	/{attr(SectionTopLine)} {
		@extend .DialogControlsSection;

		/*&::before {
			content: 'Family Sharing';
			position: absolute;
			top: -8px;
			background-color: var(--color-button-face);
			padding: 0 2px;
		}*/
	}
	/{attr(TopGap)} {
		margin-top: 4px $i;
	}

	/{attr(BrowseDiskRow)} > .DialogButton {
		order: -1;
	}
	/{attr(BrowseDiskSize)} {
		margin-left: 1ch $i;
	}
	/{attr(SteamInputLink)} {
		@extend a;
	}
}

[class*="friendssettings_"] {
	/{attr(FakeFriend)} {
		margin: 0;
	}
}
[class*="desktopsecuritysettings_"],
[class*="accountsettings_"] {
	/{attr(EntryLabel)} {
		padding: 0;
	}
	/{attr(EntryValue)} {
		font: var(--font);
		color: var(--color-button-text);

		&::before {
			content: ': ';
		}
	}
}
[class*="desktopsecuritysettings_"] {
	/{attr(SteamGuardIcon)} {
		color: red;

		&[class*="Enabled"] {
			color: green;
		}
	}
}
[class*="voicesettings_"] {
	/{attr(MicrophoneTest)} {
		gap: 4px;
		flex-direction: row-reverse;
	}
}
[class*="remoteplaysettings_TableHeader_"],
[class*="notificationssettings_ToggleHeader_"] {
	color: var(--color-button-text) $i;
	font: var(--font) $i;
	letter-spacing: unset $i;
	text-transform: unset $i;
}
