@use "shared/controls";
@use "steam/shared";

#CollectionName {
	font: inherit;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}

#Container {
	color: var(--color-window-text);
}

#DynamicCollectionLabel {
	all: unset;

	margin-block-start: calc(var(--text-offset) * -1);

	svg {
		display: none;
	}
}

#DynamicCollectionLabelAndButton {
	@include controls.button;

	// oh my god bruh
	--text-offset: 2px;

	order: 1;
	padding-block: calc(var(--button-spacing) - var(--text-offset));

	// different oh my god bruh
	#Header:has(+ div #FreezeButton) & {
		// TODO(controls): icon-button-active
		--offset: 1px;

		background: var(--checkerboard);
		box-shadow: var(--border-button-sunken);
		color: transparent;
		text-shadow: 1px 1px var(--color-button-text);
	}

	&:active {
		--offset: 1px;
	}

	&::after {
		background-image: icon("settings");
		content: "";
		margin-inline-start: var(--text-spacing);
		height: var(--icon-size);
		inset-block-start: var(--offset);
		inset-inline-start: var(--offset);
		position: relative;
		width: var(--icon-size);
	}

	#EditButton {
		display: none;
	}
}

#EditButton {
	--button-img: icon("edit");
	@include controls.button;
	@include controls.icon-button($selected-sel: "&#Close");

	align-self: unset;
}

#Header {
	@include shared.library_in-toolbar;

	gap: var(--toolbar-spacing);
	height: calc(2rlh - 2px);
	// Give space to the snapshot button
	inset-inline-end: calc(anchor(right) + var(--icon-button-width));
	inset-inline-start: anchor(left);
	text-transform: none;

	.DialogInput_Wrapper {
		margin: 0;
		width: 200px;
	}

	& > #EditButton,
	& > .tool-tip-source {
		order: 1;
	}
}

#OuterContainer {
	background: none;
}

#RightSideButtons {
	@include shared.library_in-toolbar;

	align-items: center;
	display: flex;
	height: calc(2rlh - 2px);
	inset-inline-end: anchor(right);
	padding: 0;

	#FreezeButton {
		@include controls.button;

		text-align: center;
		text-transform: none;
	}
}

#Rule {
	display: none;
}

#SectionCount {
	color: var(--color-gray-text);
	margin: 0;
}
