@use "shared/controls";

#AllChatsMenu {
	height: unset;
	overflow-y: auto;

	input {
		@include controls.text-field;

		margin-block-end: 2px;
	}
}

#AllChatsIcon,
#ChatLabel,
#SectionTitle,
#ShareMenuButton svg {
	display: none;
}

#AllChats,
#Chat {
	flex-direction: row;
	gap: 0;
	max-width: unset;

	// "Share -> All chats" divider
	&::before {
		display: none;
	}

	.avatarHolder {
		inset-block-start: 0;
		inset-inline-start: 0;
		position: absolute;
	}

	#Name {
		font: inherit;
		padding: 0;
		text-align: start;
	}
}

#ChatDivider {
	@include controls.separator;

	margin-inline: 0;
}

#ChatRow {
	flex-direction: column;
	margin: 0;
}

#ShareMenuLabel {
	margin: 0;
}
