@use "shared/controls";
@use "shared/menu";

#AppCount {
	opacity: 1;
	color: var(--color-gray-text);
	padding-left: var(--text-spacing);
}

#Row {
	@include menu.item($selected-sel: "&.hack");

	margin: 0;

	&:has(> .DialogCheckbox.Active) {
		@include menu.item-check;
	}

	.DialogCheckbox {
		display: none;
	}
}

#Rule {
	@include controls.separator;

	margin-inline: 0;
}
