@use "shared/controls";

#AllChatsMenu {
	overflow-y: auto;
	height: unset;

	input {
		@include controls.text-field;

		margin-bottom: 2px;
	}
}

#AllChatsIcon,
#ChatLabel,
#SectionTitle,
#ShareMenuButton svg {
	display: none;
}

#AllChats,
#Chat {
	gap: 0;

	flex-direction: row;
	max-width: unset;

	// "Share -> All chats" divider
	&::before {
		display: none;
	}

	#Name {
		font: inherit;
		text-align: start;
		padding: 0;
	}
}

#ChatDivider {
	@include controls.separator;

	margin-inline: 0;
}

#ChatRow {
	margin: 0;

	flex-direction: column;
}

#ShareMenuLabel {
	margin: 0;
}
