@use "shared/controls";
@use "shared/listbox";

// !important
#CollectionDropDownContainer#CollectionDropDownContainer {
	.DesktopUI & ._DialogInputContainer {
		@include listbox.container;

		box-shadow: none;
	}
}

#DropDownItems {
	font: var(--text-ui);
	margin: 0;

	&#OptionsRule {
		border-color: var(--color-window-text);
	}
}
