#CurrentTrackContainer {
	gap: 0;

	#Details {
		gap: var(--text-spacing);
	}
}

#SoundtrackName {
	font: var(--text-ui);
	font-weight: bold;
}

#TrackName {
	color: var(--color-gray-text);
	opacity: 1;
	font: var(--text-ui);
}
