/* ==UserScript==
// @name           Windows 95 (global)
// @description    All the stuff used in both browser and content.
// @include        *
// @stylemode      author_sheet
// ==/UserScript== */

@use "shared++/global";

@use "global/controls/html";
@use "global/controls/xul";
@use "global/dialog";
@use "global/variables";

@import "colors/hotdogstand.css" -moz-pref("win95.colors", "hotdogstand");
@import "colors/vgui.css" -moz-pref("win95.colors", "vgui");
@import "colors/win2000.css" -moz-pref("win95.colors", "win2000");
