@use "shared/controls";

// TODO: go away
@mixin -overflow-icon {
	mask-image: icon("overflow");
	mask-size: 8px 5px;
	mask-position: center 2px;
	mask-repeat: no-repeat;
}

@mixin overflow-button {
	width: 16px;

	& > .toolbarbutton-icon {
		@include -overflow-icon;

		background-color: var(--color-button-text);

		display: flex;
	}
}

@mixin toolbar-button {
	gap: var(--text-spacing);
	padding: 2px 5px;

	&[disabled] {
		color: var(--color-button-shadow);
		text-shadow: 1px 1px var(--color-button-highlight);

		pointer-events: none;
	}

	&:where(:hover, :focus-visible) {
		box-shadow: var(--border-tab-button-raised);
	}

	&:where(:active, [checked], [open]) {
		--offset: 1px;
		color: transparent;
		text-shadow: 1px 1px var(--color-button-text);
		box-shadow:
			inset -1px -1px var(--color-button-highlight),
			inset 1px 1px var(--color-button-shadow);
	}
}
