#AchievementIconWrapper {
	height: var(--achievementiconbase_size);
	width: var(--achievementiconbase_size);
}

#HiddenLabel {
	align-items: center;
	display: flex;
	height: var(--achievementiconbase_size);
	justify-content: center;
	margin: 0;
	width: var(--achievementiconbase_size);
}

#Icon {
	box-shadow: none;
}

#RareAchievementIconGlowContainerRoot {
	display: none;
}
