:root {
	--achievementiconbase_size: 48px;
}

#AchievementIconWrapper {
	width: var(--achievementiconbase_size);
	height: var(--achievementiconbase_size);
}

#Icon {
	box-shadow: none;
}

#RareAchievementIconGlowContainerRoot {
	display: none;
}
