@use "shared/controls";
@use "shared++/extends";

// fucking hell
%-reset-icon-color {
	color: inherit;
	fill: inherit;
	stroke: inherit;
}

#ButtonSpacer {
	display: none;
}

#LikeButton,
#CommentButton,
#Reactions {
	@include controls.button;
}

#LikeCount,
#CommentCount,
#ReactionCount {
	@include extends.text-reset;
}

#LikeIcon,
#CommentIcon,
#RatingIcon,
#ReactionIcon {
	@extend %-reset-icon-color;

	width: var(--icon-size);
	height: var(--icon-size);

	path {
		@extend %-reset-icon-color;
	}
}

#RatingBar {
	opacity: 1;
	font: var(--text-ui);
}
