@use "shared/controls";
@use "shared++/utils";

// fucking hell
%-reset-icon-color {
	color: var(--color-button-text);
	fill: var(--color-button-text);
	stroke: var(--color-button-text);
}

#ActivityCommentThread {
	background: var(--color-button-face);
	border: 1px solid var(--color-button-shadow);
	margin-inline-start: var(--library_section-spacing);
	padding: var(--library_section-spacing);

	#ActorName {
		margin-inline-start: var(--text-spacing);
	}

	#Comment {
		color: inherit;
	}

	#CommentBody {
		margin: var(--text-spacing);
	}

	#CommenterandTime {
		align-items: center;
		height: var(--steamavatar_size);
		margin: 0;
	}

	#CommentText {
		font: inherit;
	}

	#CommentTime {
		color: var(--color-gray-text);
		font: inherit;
		margin-inline-start: var(--text-spacing);
	}
}

#ActivityCommentThreadMinimized {
	opacity: 1;
	padding-block-start: var(--dialog-button-spacing);
}

#ButtonSpacer {
	display: none;
}

#CommentButton,
#LikeButton,
#Reactions {
	@include controls.button;

	gap: var(--text-spacing);
}

#CommentCount,
#LikeCount,
#ReactionCount {
	@include utils.text-reset;
}

#CommentIcon,
#LikeIcon,
#RatingIcon,
#ReactionIcon {
	@extend %-reset-icon-color;

	height: var(--icon-size);
	width: var(--icon-size);

	svg,
	path {
		@extend %-reset-icon-color;
	}
}

#RatingBar {
	display: var(--commentthread_display);
	gap: var(--dialog-button-spacing);
	font: var(--text-ui);
	margin-block-start: var(--dialog-button-spacing);
	opacity: 1;
}

#RatingDetails {
	color: inherit;
	font: inherit;
}
