@use "shared/controls";
@use "shared++/utils";

#ControlsListChild {
	margin: 0;
	max-width: unset;
}

#ControlsListOuterPanel {
	--controls-list-spacing: var(--label-spacing);

	flex: unset;
	gap: var(--dialog-button-spacing);
	margin: 0;
}

#Field {
	background-color: transparent;
	flex-direction: row-reverse;
	gap: var(--label-spacing);
	margin: 0;
	padding: 0;
	padding-inline-start: calc(
		(var(--sel-button-size) + var(--label-spacing)) * var(--indent-level)
	);

	div:not([class]) > & {
		@include controls.groupbox;

		display: flex;
		flex-direction: column;
		gap: var(--text-spacing);
	}

	&::after {
		// lol
		display: none;
	}
}

#FieldChildrenInner {
	.MillenniumThemes_AccentColorField[data-default-color="false"] & {
		flex-direction: row-reverse;
	}
}

#FieldDescription {
	@include utils.text-reset;

	color: var(--color-gray-text);
	margin-block-start: var(--text-spacing);
}

#FieldIcon {
	display: none;
}

#FieldLabel {
	color: var(--color-button-text);
	font: var(--text-ui);

	& > :not([class]) {
		align-items: center;
		display: flex;
		// has something else
		gap: 1ch;
	}
}

#LabelFieldValue {
	color: inherit;
}

#StandaloneFieldSeparator {
	display: none;
}

#Toggle {
	@include controls.checkbox($checked-sel: "&#On");

	margin: 0;
}

#ToggleRail,
#ToggleSwitch {
	display: none;
}
