@use "shared/controls";
@use "shared++/icons";
@use "shared++/utils";
@use "steam/shared";

#PageableContainer {
	@include controls.groupbox;

	svg {
		color: inherit;
	}

	polyline {
		stroke: var(--color-window-text);
	}
}

#PageClickContainer {
	background-color: var(--color-window);
	padding-right: 2px;

	position: absolute;
	top: -7px;
	right: 8px;
}

// TODO(build): optimize with private @extend
#PageLeft,
#PageRight {
	@include shared.pageable-container-button;
}

#PageLeft {
	@include icons.icon-big-arrow-left;
}

#PageRight {
	@include icons.icon-big-arrow-right;
}

#HeaderPageControls {
	@include utils.text-reset;

	& > div:not([class]) {
		@include utils.legend-as-div;

		background-color: var(--color-window);

		top: -7px;
		right: calc(var(--icon-button-width) * 2 + 6px + 2px);
	}
}

#Name {
	@include utils.text-reset;
	@include utils.legend-as-div;

	background-color: var(--color-window);
}
