@use "shared++/utils";

#playerName {
	@include utils.text-reset;

	font-weight: bold;
	margin-bottom: -2px;
}

#richPresenceLabel {
	@include utils.text-reset;

	color: var(--color-gray-text);
	margin-top: -2px;
}

#statusAndName {
	gap: var(--text-spacing);
	margin-top: 1px;
	margin-bottom: 0;
}
