@use "shared++/utils";

#playerName {
	// Declared in src/steam/global.scss
	color: var(--status-color);
	font: var(--text-ui);
	font-weight: bold;
	padding: 0;
	margin: 0;
}

#richPresenceLabel {
	@include utils.text-reset;

	color: var(--color-gray-text);
	// Make it fit for 32px avatars
	margin-top: -2px;
}

#statusAndName {
	gap: var(--text-spacing);
	margin: 0;
}
