:root {
	--steamavatar_size: 32px;
}

#avatar {
	border: none;
	box-shadow: none;

	width: 100%;
	height: 100%;
}

#avatarHolder {
	transform: none;

	width: var(--steamavatar_size);
	height: var(--steamavatar_size);

	&.X-Small {
		--steamavatar_size: 16px;
	}

	&.Medium {
		--steamavatar_size: 24px;
	}

	&.X-Large {
		--steamavatar_size: 64px;
	}
}
