#avatar {
	border: none;
	box-shadow: none;

	width: 100%;
	height: 100%;
}

#avatarHolder {
	transform: none;

	position: relative;
	width: var(--steamavatar_size);
	height: var(--steamavatar_size);

	&:where(.X-Small) {
		--steamavatar_size: 16px;
	}

	&:where(.Medium) {
		// Usually accompanied by text
		--steamavatar_size: max(24px, 2rlh);
	}

	&:where(.X-Large) {
		--steamavatar_size: 64px;
	}
}

#avatarStatus {
	background: var(--status-color);

	// for mask
	.awayOrSnooze & {
		opacity: 1;
	}
}
