@use "shared/controls";
@use "shared++/utils";

#ButtonText {
	margin: 0;
}

#CompactThumbButton {
	@include controls.button;

	margin-inline-start: var(--dialog-button-spacing);
}

#DescribeGame,
#OptionsContainer {
	margin-block: var(--text-spacing);

	&::before {
		@include utils.pseudo-separator;
	}
}

#FreeCheckbox {
	// #partnereventshared_HelperTooltip
	.HelperTooltip {
		display: none;
	}
}

#Header {
	color: inherit;
	font-size: var(--text-header-size);
}

#LeftContainer {
	@include utils.text-reset;
}

#OptionButton {
	background: none;
	width: unset;
}

#OptionDesc {
	padding: 0;
	margin-block-start: var(--text-spacing);
	text-align: start;
}

#OptionsContainer {
	background-color: transparent;
	padding: 0;

	& > div {
		border: none;
		padding: 0;
	}
}

#OptionSvg {
	display: none;
}

#Playtime,
#RecommendGame {
	color: inherit;
}

#RatingContainer {
	align-items: center;
	background-color: transparent;
	margin: var(--text-spacing) 0;
	padding: 0;
}

#ReviewTextArea {
	@include controls.text-field;
}

#ReviewThumbButton {
	@include controls.button;

	background-image: none;

	&#Selected {
		@include controls.button-active;
	}

	span {
		padding-inline-start: 10px;
	}
}

#ReviewSettingsChecks {
	margin: 0;
}

#ReviewSettingsContainer {
	margin-block-start: var(--text-spacing);
}

#ReviewSettingsRow {
	align-items: center;

	& > span {
		margin-inline-end: var(--text-spacing);
	}
}

#ThumbIcon {
	fill: inherit;
	height: var(--icon-size);
	inset-inline-start: var(--icon-size);
	width: var(--icon-size);

	&#Down {
		inset-block-start: 3px;
	}
}

#WriteReviewContainer {
	font-size: var(--text-ui-size);
}
