#GameName {
	color: var(--color-button-text);
	font: var(--text-ui);
}

#Launching {
	color: var(--color-button-text);
	font: var(--text-ui);
	font-weight: bold;
	margin-bottom: var(--text-spacing);
}

#Layout {
	gap: var(--messagebox-content-spacing);
	margin: 0;
}

#OpenSteamButton {
	margin-top: var(--messagebox-content-spacing);

	width: fit-content;
}

#RightColumn {
	padding: 0;
}

#StatusWrapper {
	margin-top: var(--messagebox-content-spacing);
}

