@use 'shared/controls';
@use 'shared++/extends';
@use '../shared';

// .DialogLabel in ../other/dialog-shared.scss
div#AppNameHeader {
	@include shared.dialog-title;
}

#ButtonContainer {
	gap: var(--dialog-button-spacing);
	margin-top: var(--dialog-button-spacing);
	// TODO: weird as hell - goes out of bounds for no reason
	margin-bottom: calc(8px + var(--dialog-spacing));

	& > div {
		@include controls.button;
	}
}

#LaunchOptionDialog {
	background: none;
	color: inherit;
	padding: var(--dialog-spacing);
}

#ListContainer {
	background-color: transparent;
	border: none;
	box-shadow: none;
	gap: var(--text-spacing);
	padding: 0;

	overflow: auto;
}

// Actually .DialogBodyText
#ListHeader {
	@include extends.text-reset;

	margin-bottom: var(--text-spacing);
}

#ListItem {
	background-color: transparent;
	padding: 0;
	margin: 0;

	label {
		font: var(--text-ui);
		padding-left: var(--label-spacing);
	}
}

#OptionList {
	padding: 0;
}

