@use 'shared/controls';
@use 'shared/window';
@use 'shared++/extends';
@use '../shared';

@mixin -replace-text($token) {
	&::before {
		content: var(--#{$token});
	}

	svg {
		display: none;
	}
}

#Bullet {
	@include extends.text-reset;
}

#ButtonBox:not(#Combobox, #Dropdown) {
	@include controls.button;

	opacity: 1;

	&#Disabled {
		@include controls.input-disabled;
	}
}

#ButtonGroup {
	gap: var(--dialog-button-spacing);

	#ButtonBox {
		margin: 0;
	}

	// Top
	&:first-child {
		& > #ButtonBox {
			max-width: unset;
		}
	}

	// List/grid buttons
	&:last-child {
		gap: 0;

		flex-direction: row-reverse;

		& > :nth-child(1) {
			--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAYAAAB2HjRBAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABFSURBVDhPY2BgWPEfgnEB3PJMIOL//3AgCVcAomEYDHDJgzUzMq4EUTDAiITBgJD8gADcAQIBuOVHAwwrwC0/UAHGwAgAao9By4PPZU8AAAAASUVORK5CYIIK');
		}

		& > :nth-child(2) {
			--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABcSURBVChTrZCLCsAgCEVdP1mf2F86bsmyZa+tA6EEV/FclIicKwjyN8ZJJWYvnR7S5wmCEp5TBXcwbgRrd34Ck3sy1NbWOm5EY72Kt/UtOdr6X6szDlpfSRrWiW4Icxa56YPnXwAAAABJRU5ErkJgggo=');
		}

		#ButtonBox {
			@include controls.icon-button;

			&:has(> #Active) {
				@include controls.button-active;
			}

			svg {
				display: none;
			}
		}
	}
}

#CaptionField {
	margin: 0;

	height: calc(var(--text-full) * 3 + var(--border-size) * 2 + var(--input-spacing) * 2);
}

#CloudStorageImpact {
	@include extends.text-reset;
}

#ComboboxSelector {
	padding: 0;
}

#ComboboxSelectorContextMenu {
	@include window.container($child: true);
}

#Combobox,
#Dropdown {
	@include controls.combobox;

	svg {
		display: none;
	}
}

#Explainer,
#Details > div {
	color: inherit;
	text-align: start;
	gap: var(--text-spacing);
	padding: 4px;

	align-items: start;
}

#ExplainerBox,
#FocusedScreenshots {
	@include window.content-container;

	height: 100%;

	#ButtonBox {
		width: 148px;
	}
}

#Details {
	flex: unset;
	align-items: start;
}

#FocusedContainer {
	overflow: auto;
}

#Header {
	@include extends.text-reset;
}

#HeaderPaddingTop {
	transform: unset;
}

#IconButton {
	#ButtonGroup:nth-child(2) & {
		@include -replace-text('ScreenshotUploader_Settings');
	}

	#ButtonGroup:nth-child(1) &,
	#ScreenshotFormActions > :nth-last-child(3) > & {
		@include -replace-text('ScreenshotUploader_ShowOnDisk');
	}

	#ScreenshotFormActions > :nth-last-child(2):first-child > & {
		@include -replace-text('ScreenshotUploader_CopyURL');
	}

	#FocusedScreenshots #ScreenshotFormActions > :first-child > &,
	&:has([d="M4.66675 9.33325H19.3334L18.0001 21.3333H6.00008L4.66675 9.33325ZM16.0001 3.99992L14.6667 1.33325H9.33342L8.00008 3.99992H2.66675V6.66659H21.3334V3.99992H16.0001Z"]) {
		@include -replace-text('Generic_Delete');
	}
}

#KeyboardKey {
	@include extends.text-reset;

	border: none;
	padding: 0;
	margin: 0;

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}
}

#Label {
	@include extends.text-reset;
}

#Line {
	@include controls.separator;

	background-color: transparent;

	height: unset;
}

#Metadata {
	@include extends.text-reset;

	margin-top: var(--text-spacing);
}

#Option {
	margin: 0;
}

#OverlayScreenshotManagerContainer {
	padding: 0;

	height: calc(100% - 17px);
	flex-grow: 1;
}

#ScreenshotForm {
	gap: var(--text-spacing);

	align-items: start;
}

#ScreenshotFormActions {
	gap: 0;

	// "Copy link to screenshot"
	& > :nth-last-child(2):first-child > #IconButton {
		width: 148px;
	}
}

#ScreenshotFormRow {
	gap: var(--text-spacing);

	width: 100%;
	flex-direction: column;
	align-items: start;
}

#ScreenshotList {
	--inset: 91px 11px 60px 11px;

	@include shared.content-container-alt;

	// Fullscreen
	.PopupFullWindow:only-child & {
		--pos-bottom: 50px;
	}

	&::before {
		width: 300px;
	}
}

#ScreenshotListItem {
	&#Selected,
	&:hover {
		filter: none;
		border-color: var(--color-highlight);
		box-shadow: none;

		transform: none;
	}
}

#ScreenshotListItemRow {
	gap: 0;
}

#ScreenshotStack {
	display: none;
}

#SectionHeading {
	@include extends.text-reset;

	padding: 0 4px;
}

#Text {
	color: inherit;
}

#SpoilerField,
#VisibilityField {
	gap: var(--text-spacing);
}

#SpoilerField {
	flex-direction: row-reverse;
}

#Warning {
	font-weight: bold;
}

#Narrow {
	display: none;
}
#Wide {
	display: flex;
}

