@use 'shared/controls';
@use 'shared/window';
@use 'shared++/extends';
@use '../shared';

// The browser view is above everything else
#Browser {
	margin-left: 2px;
	margin-top: 2px;

	position: relative;
	width: calc(100% - 4px);

	&::before {
		content: '';

		position: absolute;
		inset: -2px -2px -3px -2px;

		@include window.content-container;
	}
}

#BrowserWrapper {
	height: calc(100% - 3px);
}

#FocusBar,
#URLBarReplacement {
	display: none;
}

#LockIcon {
	@include extends.text-reset;

	padding-bottom: 1px;
}

#OuterFrame {
	gap: var(--window-gap);
}

#ReloadButton {
	@include controls.button;

	min-width: 21px;
	height: 21px;

	svg {
		padding: 0;
	}
}

#RootMenuBar {
	gap: 0;
	padding: 0;
}

#SuperNavBar {
	padding: 0;

	height: unset;
	min-height: unset;
	flex-direction: column;

	-webkit-app-region: no-drag;

	&::after {
		content: '';
		display: block;

		@include controls.separator;

		margin-bottom: 0;
	}
}

#TitleBar {
	flex-direction: column-reverse;
	height: unset;

	-webkit-app-region: unset;

	&::before {
		content: '';

		@include controls.separator;

		margin-top: 2px;

		width: 100%;
	}
}

#TopBar {
	background: transparent;
	box-shadow: none;
}

#URL {
	@include extends.text-reset;
}

#URLBar {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-bottom: 3px;
}

#URLBarText {
	@include controls.combobox;

	width: 100%;
}

#RootMenuBar,
#WindowControls {
	flex: initial;
	cursor: default;
}

#WindowControls {
	-webkit-app-region: drag;

	&::after {
		content: 'Steam';

		@include shared.dialog-title;
	}
}

#Wrapper {
	background-color: transparent;
	border: none;
}

