@use "shared/scrollbar";
@use "shared++/utils";

#PlayHeadAnnotation {
	@include utils.arrow("bottom");

	svg {
		display: none;
	}
}

// TODO: wtf is this
#RangeAnnotation {
	opacity: 1;
}

#ScrollbarAndSiblings {
	padding-block-start: 4px;
}

#ScrollThumb {
	@include scrollbar.thumb;

	border: none;
	filter: none;
	height: calc(100% - var(--border-size) * 2);
	inset-block-start: var(--border-size);
	opacity: 1;
}

#ScrollTrack {
	background: var(--checkerboard);
	box-shadow: var(--border-field);
	height: 12px;
	padding: var(--border-size);
}
