@use "shared/controls";
@use "shared/generatedassets";

#PlayHead {
	display: none;
}

#PlayHeadContainer {
	--color-to-change: var(--color-button-face);
	bottom: 12px;
}

#PlayHeadContent {
	@include generatedassets.slider;
	@include controls.slider-thumb;

	filter: none;
}
