#Container {
	background: transparent;
}

#InnerContainer {
	// for toolbar... ty valve
	transform: unset;
}

#LibraryHome,
#UpdatesContainer {
	background: none;
	color: var(--color-window-text);
	padding: 0;

	height: unset;
}
