@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

#EventOptions {
	inset-inline-end: 0;
	opacity: 1;
	padding-block-start: var(--text-spacing);
	padding-inline-end: var(--text-spacing);

	& > div {
		@include controls.button;
		@include window.titlebar-button;

		--button-img: icon("arrow-bottom", "mono");
		--button-img-size: 7px 4px;
		--button-img-pos: 4px center;

		background-image: none;
	}
}

#EventRowCarousel {
	margin: var(--library_section-spacing);
}

#EventTime {
	font: var(--text-ui);
	color: inherit;
	padding-block-end: var(--text-spacing);
}

#GameIcon {
	filter: none;
	height: var(--icon-size);
	margin-inline-end: var(--text-spacing);
	width: var(--icon-size);
}

#GameIconAndName {
	@include controls.button;

	align-items: center;
	justify-content: center;
	min-width: 100%;
}

#GameName {
	color: inherit;
}

#PartnerEventRowCapsule_TextCtn {
	@include utils.text-reset;

	padding: 0;
	padding-block-start: var(--text-spacing);
}

#PartnerEventRowCapsule_TextTitle {
	@include utils.text-reset;

	min-height: 40px;
}

#SettingsButton {
	--button-img: icon("settings");
	@include controls.button;
	@include controls.icon-button;

	svg {
		display: none;
	}
}
