@use "shared/window";

// Various elements added by the userscript.

#window-resize-handle {
	@include window.resize-handle;

	// ??? wtf
	right: 0;
	bottom: 0;
	z-index: var(--browser-area-z-index-tabbox);

	:root:is([inFullscreen], [sizemode="maximized"]) & {
		display: none;
	}
}
