#main-window {
	// Browser
	--tabpanel-background-color: var(--color-window);

	--toolbarbutton-opacity-disabled: 1;
	--toolbarbutton-background-color-hover: transparent;
	--toolbarbutton-background-color-active: transparent;
	--toolbarbutton-padding-inner: 0px;

	--toolbar-background-color: var(--color-button-face);
	--toolbar-text-color: var(--color-button-text);

	--toolbox-background-color: var(--color-button-face);
	--toolbox-background-color-inactive: var(--color-button-face);
	--toolbox-text-color: var(--color-button-text);
	--toolbox-text-color-inactive: var(--color-button-text);

	// Tabs
	--tab-background-color-hover: transparent;
	--tab-close-button-padding: 0px;
	--tab-height-with-margin-padding: calc(
		var(--tab-min-height) + 2 * var(--tab-block-margin)
	);
	--tab-icon-margin-inline-end: var(--text-spacing);
	--tab-label-line-height: var(--text-line);
	--tab-margin-block: 0px;
	--tab-margin-inline-pinned-expanded: var(--toolbar-container-spacing);
	--tab-min-height: 24px;

	&[orient="horizontal"] {
		--tab-padding-inline: calc(var(--text-spacing) * 2);
	}
}
