#main-window {
	--tabpanel-background-color: var(--color-window);

	--toolbarbutton-disabled-opacity: 1;
	--toolbarbutton-hover-background: transparent;
	--toolbarbutton-active-background: transparent;
	--toolbarbutton-inner-padding: 0px;

	--toolbar-bgcolor: var(--color-button-face);
	--toolbar-color: var(--color-button-text);
}

#tabbrowser-tabs {
	--tab-block-margin: 0px;
	--tab-close-button-padding: 0px;
	--tab-hover-background-color: transparent;
	--tab-icon-end-margin: var(--text-spacing);
	--tab-label-line-height: var(--text-line);
	--tab-min-height: 24px;

	&[orient="horizontal"] {
		--tab-inline-padding: calc(var(--text-spacing) * 2);
	}
}
