// Stylus thinks [class*="yep"]-smthelse is valid
$title-area-icon {
	@extend button;
	padding: 0 $i;
	margin: 0 $i;
	margin-left: 2px $i;
	box(14px, 12px);

	&.minimizeButton {
		--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAIAAAD0PzoJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAANSURBVBhXYyACMDAAAAAmAAEq5K9KAAAAAElFTkSuQmCC');
		background-position: 2px 7px $i;
	}
	&.maximizeButton {
		--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAiSURBVChTY2RgYPgPxHgBE5QmCAiZ9J8okwajIiLCiYEBAE+8BAuR7uviAAAAAElFTkSuQmCC');
		background-position: 1px 0 $i;
	}
	&.restoreButton {
		--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA1SURBVChTY2RAgP9QGgUwQWmiADYT/oOswGo0EIDlCFoBMwHZsSCAYipWu6E0YV8QcCQDAwDdNwoEoDtCnwAAAABJRU5ErkJggg==');
		background-position: 1px 0 $i;
	}
	&.closeButton {
		--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHAQMAAAAPl54dAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAGUExURf///wAAAFXC034AAAABdFJOUwBA5thmAAAAFElEQVQI12M4zJDGYMMgAcRpDIcBFDwC4+02LWIAAAAASUVORK5CYII=')
		background-position-y: 1px $i;
		margin-left: 4px $i;
	}

	& > svg {
		display: none;
	}
}

.title-area {
	background-color: var(--color-gray-text);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: unset $i;
	max-height: 17px;

	.WindowFocus & {
		background-color: var(--color-active-caption);
	}

	#SteamDesktop & {
		--window-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURQAAAAAAAKVnuc8AAAACdFJOU/8A5bcwSgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAADdJREFUCNdj+CHP8ICd4cBvhoZOhsa1DIwlDIwqDMxzGM5/YPh8gKGWgWEvI8MkRoY7zCBlP+QBgSAPR9M4h8IAAAAASUVORK5CYII=');

		// Remove dragging to let the other buttons be clickable
		// #SteamDesktop .title-area::after will take that role
		-webkit-app-region: no-drag;
	}
	.ModalDialogBody & {
		--window-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEUAAABmZgCZmZn/+/Dn59aZmQD//5kzMwAcHBzAwMDMzGZNTU0AAADq6upmZmYzAACtqZA/egufAAAAAXRSTlMAQObYZgAAAHJJREFUGNNNzVESgyAMRVEu8QVLBdz/aosU1DvDzyGThPgURtG22XfBZ9/3uJU3mMU18QC8oC/EjBvOlE5cBGleoegCGQvEBWhCcneycDcGkPAM2cUETG6eZceAgolmudElhForJOBooPCP1F//XLBw9APHJgNeldevuwAAAABJRU5ErkJggg==');
	}

	&::before {
		content: '';
		position: fixed;
		left: 6px;
		top: 6px;
		box(16px);
		background-image: var(--window-img);

		.WindowFocus #SteamDesktop & {
			filter: invert();
		}
	}
	#SteamDesktop &::after {
		content: 'Steam';
		position: fixed;
		left: 26px;
		top: 4px;
		right: 108px;
		height: 18px;
		color: var(--color-button-face);
		display: flex;
		align-items: center;
		-webkit-app-region: drag;

		.WindowFocus & {
			color: var(--color-active-caption-text);
		}
	}

	&-icon {
		@extend $title-area-icon;

		&-inner {
			display: none $i;
		}
	}
}
.title-bar-actions {
	position: fixed $i;
	top: 7px $i;
	right: 7px $i;
}

[class*="titlebarcontrols_"] {
	/{attr(TitleBarControls)} {
		position: absolute;
		top: 2px;
		right: 55px;
		z-index: 1;

		& > :nth-child(3) > div {
			position: fixed;
			top: 20px;
			right: 2px;
			height: 33px;
			margin: 0 $i;
			display: flex;
			align-items: center;
		}
		& > :nth-child(4) {
			margin-right: 2px;
			order: -1;
		}
	}
	/{attr(Button)} {
		@extend $title-area-icon;
		background-position-x: 2px $i;
		min-width: unset;
		min-height: unset;
		cursor: default;
	}

	/{attr(AnnouncementsButton)} {
		--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAtSURBVChTY2RAgP9QGgPAJJAVwMWYoAycAGQFSDWMxgqwWQED/6lnAg7AwAAATOYP+fpPtrkAAAAASUVORK5CYII=');
	}
	/{attr(NotificationButtonContainer)} {
		--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAwSURBVChTY0AD/6EYDhihNAigSAABWI4JzMQDKFcAcwO6/TDACFKASxIrQPMmAwMAgi8HBW4J8QQAAAAASUVORK5CYII=');
		margin: 0 $i;
	}
	/{attr(GamepadUIToggle)} {
		--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAoSURBVChTY2RgYPgPxHgBPgX/maAMnIByBQQdCVIAArgUMRIwgYEBAGefBgb8inyEAAAAAElFTkSuQmCC');
	}
}

.DialogHeader {
	color: var(--color-button-face);
	font: var(--font) $i;
	text-transform: unset;
	padding: 0;
	margin: 0 $i;
	position: fixed;
	left: 23px;
	top: 6px;

	.WindowFocus & {
		color: var(--color-active-caption-text);
	}

	// About Steam dialog
	svg {
		display: none;
	}
}
