[class*="library_"] {
	/{attr(LibraryWindowDivider)} {
		background-color: transparent;
		width: 8px;
	}

	/{attr(MainPanel)} {
		--tab-height: 18px;
		margin-top: var(--tab-height);
	}

	/{attr(AppDetailsTransitionGroup)} {
		@extend [role="tabpanel"];
	}

	/{attr(AppDetailsMain)} {
		@extend table;

		padding: 2px;

		top: 3px;
		right: 4px;
		bottom: 4px;
		left: 3px;
	}
}

[class*="gamelistbar_"] {
	/{attr(Container)} {
		background-image: none;
	}

	/{attr(GameListHomeAndSearch)} {
		background-color: transparent;
		box-shadow: none;

		padding: 0;
		padding-left: 10px;
		margin-left: 269px;
		margin-top: -1px;

		position: fixed;
		height: unset;
		z-index: 1;

		a {
			@extend [role="tab"];

			margin-top: 2px;

			height: unset;

			&:hover {
				text-decoration: none;
			}

			&[aria-current] {
				@extend [role="tab"][aria-selected="true"];
			}
		}
	}

	/{attr(HomeBox)} {
		overflow: visible;

		flex: unset;
	}
}

[class*="gamelisthome_"] {
	/{attr(Bar)} {
		border-radius: 0;
	}

	/{attr(Label)} {
		color: var(--color-button-text);
		font: var(--text-ui);
		text-transform: unset;

		margin: auto;
	}

	/{attr(CollectionButton)} {
		font: var(--text);
		letter-spacing: 0;
	}

	/{attr(CollectionIcon)} {
		padding: 0;

		box(unset);
		display: block;

		&::before {
			content: 'Collections';

			text-align: center;
			width: 100%;
		}
	}

	/{attr(CollectionIconBox)} {
		display: none;
	}
}

[class*="gamelistdropdown_"] {
	/{attr(Bar)} {
		padding: 0;

		circle {
			stroke: var(--color-button-text);
		}

		svg {
			fill: var(--color-button-text);
		}
	}

	/{attr(MenuHeader)} {
		@extend select;

		cursor: default;
	}

	/{attr(ScrollToTop)},
	/{attr(Arrow)} {
		display: none;
	}

	/{attr(ViewFiltersBar)} {
		margin: 0;
		margin-right: 3px;
	}

	/{attr(CheckboxWithImage)} {
		@extend $small-button;

		&::before,
		&::after {
			display: none;
		}

		&[class*="Active"] {
			@extend button:active;
		}
	}
}

[class*="gamelistsearchbar_"] {
	/{attr(Container)} {
		background-color: transparent;

		margin: 4px 0;
	}

	/{attr(FilterTag)} {
		padding: 2px;
		border-radius: 0;
		margin: 0;
	}

	/{attr(SearchInput)} {
		min-height: unset;
	}

	/{attr(SearchFilterInput)} {
		color: var(--color-button-text);
		align-items: center;
	}

	/{attr(SearchFilterInputClear)} {
		position: unset;
	}

	/{attr(SearchByTypePrompt)} {
		font: var(--text-ui);
		padding: 0 18px;
	}

	/{attr(AdvancedSearchContainer)} {
		@extend button;

		justify-content: center;

		& > .Focusable > div {
			cursor: default;

			&::before {
				content: 'Search...';
			}
		}

		svg {
			display: none;
		}
	}

	/{attr(AdvancedSearchPane)} {
		@extend body;

		border-radius: 0;

		&::before {
			display: none;
		}
	}
}

[class*="gamelist_"] {
	/{attr(Container)} {
		@extend table;

		padding-right: 2px;
		margin-left: 2px;
		margin-bottom: 1px;

		width: calc(100% - 8px);
		box-sizing: content-box; // for the scrollbar
	}
}

[class*="gamelistentry_"] {
	/{attr(Container)} {
		font: var(--text-ui);
		box-shadow: none;

		&[class*="Running"] {
			color: green;
		}

		&[class*="Installed"] {
			color: var(--color-button-text);
		}

		&[class*="Uninstalled"] {
			color: var(--color-gray-text);
		}

		&[class*="Updating"],
		&[class*="Synchronizing"],
		&[class*="Cloud"] {
			color: var(--color-highlight);
		}

		&:hover,
		&[class*="HoverOverlay_"]
		&[class*="Selected"] {
			background-color: var(--color-highligh);
			color: var(--color-highlight-text);
		}

		circle,
		path {
			fill: currentColor;
		}
	}
}

[class*="gamelistsectionheader_"] {
	/{attr(Container)} {
		background: none;
		color: var(--color-window-text);
		box-shadow: none;

		&,
		& > div {
			color: var(--color-window-text);
			stroke: currentColor;
		}
	}

	/{attr(SectionName)} {
		font: var(--text-ui);
		letter-spacing: 0;
	}

	/{attr(SectionCount)} {
		color: var(--color-gray-text);
		font: var(--text-ui);
	}
}

[class*="appfilterpane_"] {
	/{attr(Container)} {
		padding: 8px;
	}

	/{attr(FilterArea)} {
		gap: 6px 8px;
	}

	/{attr(FilterBucket)} {
		@extend fieldset;

		.DialogInput_Wrapper {
			margin: 0;
		}
	}

	/{attr(FilterBucketLabel)} {
		@extend $legend-as-div;

		font();
		color: var(--color-button-text);
		text-transform: unset;
	}

	/{attr(FilterBucketBoxes)} {
		padding: 0;
		gap: 4px;

		display: flex;
		flex-direction: column;
	}

	/{attr(ExtraTall)} {
		grid-row-end: span 2;
	}

	/{attr(Default)} {
		font-style: normal;
	}

	/{attr(Buttons)} {
		margin: 0;
		gap: 4px;

		svg {
			display: none;
		}
	}
}

[class*="appdetails_"] {
	/{attr(PlayBar)} {
		width: calc(100% - 16px);
	}
}
