[class*="library_"] {
	/{attr(LibraryWindowDivider)} {
		background-color: transparent $i;
		width: 8px;
	}

	/{attr(AppDetailsTransitionGroup)} {
		@extend table;
	}
}

[class*="gamelistbar_"] {
	/{attr(Container)} {
		background-image: none;
	}

	/{attr(GameListHomeAndSearch)} {
		background-color: transparent;
		box-shadow: none;

		padding: 0;
		margin: 3px 0;

		height: unset;

		a {
			@extend button;

			&:hover {
				text-decoration: none $i;
			}

			&[aria-current] {
				@extend button:active;
			}
		}
	}
}

[class*="gamelisthome_"] {
	/{attr(Label)} {
		color: var(--color-button-text) $i;
		font: var(--text-ui);
		text-transform: unset;

		margin: auto;
	}

	/{attr(CollectionButton)} {
		letter-spacing: 0 $i;

		&::before {
			content: 'Collections';

			text-align: center;
			width: 100%;
		}
	}

	/{attr(CollectionIcon)} {
		display: none;
	}
}

[class*="gamelistdropdown_"] {
	/{attr(Bar)} {
		padding: 0;

		circle {
			stroke: var(--color-button-text) $i;
		}

		svg {
			fill: var(--color-button-text) $i;
		}
	}

	/{attr(SearchBar)} {
		align-items: center;
	}

	/{attr(MenuHeader)} {
		@extend select;
		font: var(--text-ui) $i;
		text-transform: unset $i;
		cursor: default $i;
	}

	/{attr(ScrollToTop)},
	/{attr(Arrow)} {
		display: none;
	}

	/{attr(ViewFiltersBar)} {
		margin: 0 $i;
		margin-right: 3px $i;
	}

	/{attr(CheckboxWithImage)} {
		@extend $small-button;

		&::before,
		&::after {
			display: none $i;
		}

		&[class*="Active"] {
			@extend button:active;
		}
	}
}

[class*="gamelistsearchbar_"] {
	/{attr(Container)} {
		padding: 4px 0;
	}

	/{attr(FilterTag)} {
		padding: 2px $i;
		border-radius: 0 $i;
		margin: 0 $i;
	}

	/{attr(SearchInput)} {
		border-radius: 0 $i;
		margin-bottom: -1px;
		min-height: unset $i;
	}

	/{attr(SearchFilterInput)} {
		color: var(--color-button-text);
		align-items: center;
	}

	/{attr(SearchFilterInputClear)} {
		position: unset $i;
	}

	/{attr(SearchByTypePrompt)} {
		font: var(--text-ui) $i;
		padding: 0 18px $i;
	}

	/{attr(AdvancedSearchContainer)} {
		@extend button;

		justify-content: center;

		& > .Focusable > div {
			cursor: default $i;

			&::before {
				content: 'Search...';
			}
		}

		svg {
			display: none $i;
		}
	}

	/{attr(AdvancedSearchPane)} {
		@extend body;

		border-radius: 0 $i;

		&::before {
			display: none;
		}
	}
}

[class*="gamelist_"] {
	/{attr(Container)} {
		@extend table;

		padding-right: 2px;
		margin-left: 2px;
		margin-bottom: 1px;

		width: calc(100% - 8px);
		box-sizing: content-box; // for the scrollbar
	}
}

[class*="gamelistentry_"] {
	/{attr(Container)} {
		font: var(--text-ui);
		box-shadow: none $i;

		&[class*="Running"] {
			color: green $i;
		}

		&[class*="Installed"] {
			color: var(--color-button-text) $i;
		}

		&[class*="Uninstalled"] {
			color: var(--color-gray-text) $i;
		}

		&[class*="Updating"],
		&[class*="Synchronizing"],
		&[class*="Cloud"] {
			color: var(--color-highlight) $i;
		}

		&:hover,
		&[class*="HoverOverlay_"]
		&[class*="Selected"] {
			background-color: var(--color-highligh) $i;
			color: var(--color-highlight-text) $i;
		}

		circle,
		path {
			fill: currentColor $i;
		}
	}
}

[class*="gamelistsectionheader_"] {
	/{attr(Container)} {
		background: none $i;
		color: var(--color-window-text);
		box-shadow: none $i;

		&,
		& > div {
			color: var(--color-window-text) $i;
			stroke: currentColor $i;
		}
	}

	/{attr(SectionName)} {
		font: var(--text-ui);
		letter-spacing: 0;
	}

	/{attr(SectionCount)} {
		color: var(--color-gray-text);
		font: var(--text-ui);
	}
}

[class*="appfilterpane_"] {
	/{attr(Container)} {
		padding: 8px;
	}

	/{attr(FilterArea)} {
		gap: 6px 8px $i;
	}

	/{attr(FilterBucket)} {
		@extend fieldset;

		.DialogInput_Wrapper {
			margin: 0 $i;
		}
	}

	/{attr(FilterBucketLabel)} {
		@extend $legend-as-div;

		font();
		color: var(--color-button-text) $i;
		text-transform: unset $i;
	}

	/{attr(FilterBucketBoxes)} {
		padding: 0;
		gap: 4px;

		display: flex;
		flex-direction: column;
	}

	/{attr(ExtraTall)} {
		grid-row-end: span 2 $i;
	}

	/{attr(Default)} {
		font-style: normal $i;
	}

	/{attr(Buttons)} {
		margin: 0;
		gap: 4px;

		svg {
			display: none;
		}
	}
}

[class*="appdetails_"] {
	/{attr(PlayBar)} {
		width: calc(100% - 16px);
	}
}
