[class*="steamdesktop_"] {
	/{attr(Wrapper)} {
		background-color: transparent;
		border: none;
	}

	/{attr(FocusBar)},
	/{attr(URLBarReplacement)} {
		display: none;
	}

	/{attr(TopBar)} {
		background: transparent;
		box-shadow: none;
	}

	/{attr(TitleBar)} {
		flex-direction: column-reverse;
		height: unset;
		-webkit-app-region: no-drag;

		&::before {
			content: '';

			@extend hr;

			margin-top: 2px;

			width: 100%;
		}
	}

	/{attr(WindowControls)},
	/{attr(RootMenuBar)} {
		flex: initial;
		cursor: default;
	}

	/{attr(RootMenuBar)} {
		gap: 0;
		padding: 0;
	}

	/{attr(SuperNavBar)} {
		-webkit-app-region: no-drag;
	}
}

[class*="rootmenu_"] {
	/{attr(RootMenuButton)} {
		color: var(--color-button-text);
		font: var(--text-ui);
		padding: 3px 6px;

		&:active,
		&[class*="Open"] {
			background-color: var(--color-highlight);
			color: var(--color-highlight-text);
		}

		svg {
			display: none;
		}
	}
}

[class*="supernav_"] {
	/{attr(SuperNavMenu)} {attr(MenuButton)} {
		color: var(--color-button-text);
	}
}

[class*="bottombar_"] {
	/{attr(BottomBar)} {
		background: transparent;
		box-shadow: none;

		padding: 8px;

		flex: unset;
	}

	/{attr(AddGameButton)},
	/{attr(DownloadStatusContent)},
	/{attr(FriendsButton)} {
		@extend button;

		width: unset;
		display: flex;
	}

	/{attr(Icon)},
	/{attr(Text)},
	/{attr(Queue)} {
		color: var(--color-button-text);
	}
}
