@mixin codicon() {
	font-family: codicon;
	font-size: 11px;
}

@mixin replace-icon($w, $h: $w) {
	&::before {
		content: "";

		width: #{$w};
		height: #{$h};
		display: block;

		mask: var(--icon-img) no-repeat;
		mask-size: #{$w} #{$h};
		mask-position: var(--icon-img-pos, center);
		background-color: var(--color-button-text);
	}
}
