@mixin replace-icon($w, $h: $w) {
	&::before {
		content: "";

		width: #{$w};
		height: #{$h};
		display: block;

		mask: var(--icon-img) no-repeat;
		mask-size: #{$w} #{$h};
		mask-position: var(--icon-img-pos, center);
		background-color: var(--color-button-text);
	}
}

@mixin title-toolbar {
	--offset: calc(var(--icon-button-height) - var(--tabs-height));

	padding: 0;
	margin-top: calc(var(--offset) * -1);

	position: relative;
	bottom: var(--offset);
}
