@use "shared/controls";

%-toolbar-button {
	gap: var(--text-spacing);
	padding: 2px 5px;

	&[disabled] {
		color: var(--color-button-shadow);
		text-shadow: 1px 1px var(--color-button-highlight);

		pointer-events: none;
	}

	&:where(:hover, :focus-visible) {
		box-shadow: var(--border-tab-button-raised);
	}

	&:where(:active, [checked], [open]) {
		--offset: 1px;
		color: transparent;
		text-shadow: 1px 1px var(--color-button-text);
		box-shadow:
			inset -1px -1px var(--color-button-highlight),
			inset 1px 1px var(--color-button-shadow);
	}

	&:where([delegatesanchor]:not([widget-type="button"]))::after {
		content: "";

		top: var(--offset);
		left: var(--offset);
		width: 7px;
		height: 4px;

		background-color: var(--color-button-text);
		mask: var(--icon-arrow-bottom);
	}
}

// The rest don't make sense for this theme, so no
$-icons: (
	"back": "go-back",
	"downloads": "download",
	"forward": "go-forward",
	"reload": "reload",
	// TODO: redo? idk
	"sidebar": "sidebar",
	"stop": "stop",
	"unified-extensions": "extensions",
);

@each $id, $icon in $-icons {
	##{$id}-button {
		list-style-image: icon(#{$icon});
	}
}

// what is this
#downloads-indicator-anchor {
	list-style-image: inherit;
}

#nav-bar {
	background-color: var(--color-button-face);
	color: var(--color-button-text);
	border: none;
	margin-inline: var(--toolbar-container-spacing);

	.toolbarbutton-1 {
		@extend %-toolbar-button;
	}

	.toolbarbutton-icon {
		position: relative;
		top: var(--offset);
		left: var(--offset);
	}

	.toolbaritem-combined-buttons {
		margin: 0;
	}
}

#nav-bar-overflow-button {
	width: 16px;

	&::after {
		display: none;
	}

	& > .toolbarbutton-icon {
		background-color: var(--color-button-text);
		mask-image: icon("overflow");
		mask-size: 8px 5px;
		mask-position: center 2px;
		mask-repeat: no-repeat;
	}
}

#navigator-toolbox {
	background-color: var(--color-button-face);

	&::after {
		content: "";

		width: 100%;

		@include controls.separator;
	}
}

#PanelUI-menu-button {
	list-style-image: url("chrome://branding/content/about-logo.svg");
}

toolbarpaletteitem {
	&[removable="false"] {
		opacity: 1;
	}
}

toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"],
toolbarspring {
	margin-inline: var(--toolbar-spacing);

	flex: unset;
	min-width: unset;
}
