@use "shared/controls";
@use "firefox/shared";

// The rest don't make sense for this theme, so no
$-icons: (
	"back": "go-back",
	"downloads": "download",
	"forward": "go-forward",
	"reload": "reload",
	// TODO: redo? idk
	"sidebar": "sidebar",
	"stop": "stop",
	"unified-extensions": "extensions",
);

@each $id, $icon in $-icons {
	##{$id}-button {
		list-style-image: icon(#{$icon});
	}
}

// what is this
#downloads-indicator-anchor {
	list-style-image: inherit;
}

#nav-bar {
	background-color: var(--color-button-face);
	color: var(--color-button-text);
	border: none;
	margin-inline: var(--toolbar-container-spacing);

	.toolbarbutton-1 {
		@include shared.toolbar-button;

		&[delegatesanchor]:not([widget-type="button"])::after {
			content: "";

			position: relative;
			top: var(--offset);
			left: var(--offset);
			width: 7px;
			height: 4px;

			background-color: var(--color-button-text);
			mask: var(--icon-arrow-bottom);
		}
	}

	.toolbarbutton-icon {
		display: flex;
	}
}

#nav-bar-overflow-button {
	@include shared.overflow-button;

	&::after {
		display: none;
	}
}

#navigator-toolbox {
	background-color: var(--color-button-face);
}

#PanelUI-menu-button {
	list-style-image: url("chrome://branding/content/about-logo.svg");
}

toolbarpaletteitem {
	&[removable="false"] {
		opacity: 1;
	}
}

toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"],
toolbarspring {
	margin-inline: var(--toolbar-spacing);

	flex: unset;
	min-width: unset;
}
