@use "shared/controls";
@use "shared/window";

$-icons: (
	"viewBookmarksSidebar": "favorites",
	"viewCustomizeSidebar": "settings",
	// IDK what icon, and I doubt someone's actually using this anyway
	//"viewGenaiChatSidebar": "debug-32",
	"viewHistorySidebar": "history",
	"viewTabsSidebar": "list",
);

.actions-list {
	gap: 0;
	padding-inline: var(--toolbar-container-spacing);
	padding-block-start: var(--toolbar-container-spacing);

	order: -1;
	height: unset;

	& > moz-button {
		@each $view, $icon in $-icons {
			&[view="#{$view}"] {
				--button-img: icon(#{$icon});
			}
		}
	}
}

// ty mozilla for not including the orient attribute
#sidebar-launcher-splitter {
	width: 3px;
}

#sidebar-main {
	background-color: var(--color-button-face);
}

#sidebar-tools-and-extensions-splitter {
	display: none;
}

#tabbrowser-arrowscrollbox[orient="vertical"] {
	@include window.content-container;
}

#tabbrowser-tabs[orient="vertical"] {
	gap: 0;

	// separator
	&::after {
		display: none;
	}
}
