@use "shared/controls";
@use "shared++/icons";

// TODO: actually use it somewhere
@mixin tab-button($selected-sel) {
	&:where(#{$selected-sel}) {
		background: var(--checkerboard);
		box-shadow: var(--border-tab-button-sunken);
		font-weight: bold;

		inset: 1px;
	}

	&:not(#{$selected-sel}):hover {
		box-shadow: var(--border-tab-button-raised);
	}
}

.tab-audio-button {
	&[soundplaying] {
		--button-img: icon("sound");
	}

	&[muted] {
		--button-img: icon("sound-muted");
	}
}

.tab-close-button {
	list-style-image: var(--icon-close);
	padding: 3.5px 4px;
	margin: 0;

	width: var(--icon-size);
	height: var(--icon-size);

	#tabbrowser-arrowscrollbox[orient="vertical"] & {
		display: flex;
	}
}

.tab-label-container {
	height: unset;
}

#tabbrowser-arrowscrollbox {
	&::part(overflow-start-indicator),
	&::part(overflow-end-indicator) {
		display: none;
	}

	// TODO(build): optimize
	&::part(scrollbutton-up),
	&::part(scrollbutton-down) {
		@include controls.button;
		@include controls.icon-button;

		border-radius: 0;
	}

	&::part(scrollbutton-up) {
		@include icons.icon-big-arrow-left;
	}

	&::part(scrollbutton-diwn) {
		@include icons.icon-big-arrow-right;
	}
}

.tabbrowser-tab {
	&:where([selected], [multiselected]) {
		.tab-background {
			background: var(--checkerboard);
			box-shadow: var(--border-tab-button-sunken);
		}

		.tab-content {
			font-weight: bold;

			inset: 1px;
		}
	}

	&:not([selected], [multiselected]):hover {
		.tab-background {
			box-shadow: var(--border-tab-button-raised);
		}
	}
}

#TabsToolbar {
	order: 1;
}

// gg mozilla
#tabs-newtab-button,
#vertical-tabs-newtab-button,
#TabsToolbar #new-tab-button {
	@include controls.button;
	@include controls.icon-button;
	@include icons.icon-plus;

	list-style-image: none;
	margin-inline-start: calc(var(--tab-overflow-clip-margin) * 2);

	// TODO(icons): fix whatever this is
	&::before {
		background-size: 16px !important;
		--button-img-pos: center;
	}
}
