@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

$-icons: (
	"chrome://browser/skin/customize.svg": "window",
	"chrome://global/skin/icons/settings.svg": "settings",
	"chrome://mozapps/skin/extensions/extension.svg": "extensions",
);

/// An icon-button replacement because of the shadow DOM usage, ty mozilla
@mixin -arrowscrollbox-button {
	@include controls.button;

	min-width: var(--tab-button-height);
	height: var(--tab-button-height);
}

%-horizontal-tabs-button {
	// Match the tabs' height (and also width)
	--icon-button-width: var(--tab-button-height);
	--icon-button-height: var(--tab-button-height);
}

#pinned-tabs-container[orient="vertical"] {
	margin-top: var(--toolbar-container-spacing);

	// Undo the scrolling
	height: unset;

	&::part(scrollbox) {
		padding-bottom: var(--border-size);

		overflow: hidden;
	}

	.tabbrowser-tab {
		@include controls.button(
			$active-sel: ":where([selected], [multiselected])"
		);

		padding: 0;

		min-width: unset;
	}
}

.tab-audio-button {
	&[soundplaying] {
		--button-img: icon("sound");
	}

	&[muted] {
		--button-img: icon("sound-muted");
	}
}

.tab-background {
	background: inherit;
	box-shadow: inherit;
}

.tab-close-button {
	list-style-image: icon("close", "mono");
	padding: 4.5px 4px;
	margin: 0;

	width: var(--icon-size);
	height: var(--icon-size);

	#tabbrowser-arrowscrollbox[orient="vertical"] & {
		display: flex;
	}
}

.tab-content {
	&[pinned] {
		padding-inline: var(--tab-button-spacing);
	}
}

.tab-icon-image {
	@each $url, $icon in $-icons {
		&[src="#{$url}"] {
			content: icon(#{$icon});
		}
	}

	&:not([src]),
	&:-moz-broken {
		content: icon("url");
	}
}

.tab-label-container {
	height: unset;
}

.tab-note-icon {
	list-style-image: icon("file");
	padding-block: 2px;
	margin: 0;
}

.tab-throbber {
	opacity: 1;
	background-image: icon("hourglass");
}

#tabbrowser-arrowscrollbox {
	&[orient="vertical"] {
		@include window.content-container;
	}

	&::part(overflow-start-indicator),
	&::part(overflow-end-indicator) {
		display: none;
	}

	&::part(scrollbox) {
		padding-inline: var(--tab-button-spacing-x05);
	}

	&[orient="vertical"]::part(scrollbox) {
		padding-block: var(--tab-button-spacing-x05);
		padding-inline: var(--tab-button-spacing);
	}

	&::part(scrollbutton-up) {
		@include -arrowscrollbox-button;
		--button-img: icon("arrow-big-left", "mono");
	}

	&::part(scrollbutton-down) {
		@include -arrowscrollbox-button;
		--button-img: icon("arrow-big-right", "mono");
	}
}

#tabbrowser-tabs {
	--tab-inline-padding: var(--tab-button-spacing);
	// own
	--tab-button-spacing-x05: calc(var(--tab-button-spacing) / 2);

	&[orient="vertical"] {
		gap: var(--toolbar-container-spacing);

		&[expanded] tab-group {
			& > .tab-group-label-container,
			& > .tab-group-overflow-count-container {
				margin-inline-start: 0;
			}

			.tab-group-line {
				margin-inline-start: calc(var(--space-medium) * -1);
			}

			.tabbrowser-tab {
				overflow: visible;
			}
		}

		// separator
		&::after {
			display: none;
		}
	}
}

// https://github.com/w3c/csswg-drafts/issues/3431 ?
#scrollbutton-up,
#scrollbutton-down {
	@extend %-horizontal-tabs-button;

	// The following rules are stolen from controls.icon-button because of
	// shadow DOM usage, ty mozilla
	&::before,
	&::after {
		@include utils.pseudo-icon;

		margin-top: 1px;
		margin-left: 1px;
	}

	&::before {
		z-index: 1;

		background-color: var(--color-button-text);
	}

	&:active {
		background: var(--checkerboard);
		box-shadow: var(--border-button-sunken);

		&::before {
			top: 1px;
			left: 1px;
		}
	}

	&[disabled] {
		pointer-events: none;

		&::before {
			background-color: var(--color-gray-text);
		}

		&::after {
			top: 1px;
			left: 1px;

			background-color: var(--color-button-highlight);
		}
	}
}

.tabbrowser-tab {
	@include controls.tab-button(
		$selected-sel: "&:is([selected], [multiselected])"
	);

	padding: 0;

	inset: 0;

	#tabbrowser-tabs[orient="horizontal"] & {
		margin-inline: var(--tab-button-spacing-x05);

		&:not([pinned]) {
			top: 1px;

			// Restore the original value
			&[fadein] {
				min-width: var(--tab-min-width-pref, var(--tab-min-width));
			}
		}
	}

	#tabbrowser-tabs[orient="vertical"] & {
		color: var(--color-window-text);
		margin-block: var(--tab-button-spacing-x05);
	}
}

#TabsToolbar {
	flex-direction: column;
	order: 1;
}

// gg mozilla
#tabs-newtab-button,
#vertical-tabs-newtab-button,
#TabsToolbar #new-tab-button {
	--button-img: icon("plus", "mono");
	@include controls.button;
	@include controls.icon-button;
	@extend %-horizontal-tabs-button;

	list-style-image: none;
	margin-inline: var(--tab-button-spacing);
}
