// Context menu window
.ContextMenuPopupBody {
	@extend .menu;

	[class*="contextmenu_"] {
		/{attr(contextMenu)} {
			box-shadow: none;

			padding: 0;

			width: 100%; 
			min-width: unset;
		}
	}
}
