// Context menu window
.ContextMenuPopupBody {
	box-shadow: none;
	padding: 0;
}

// "Do Not Disturb"
.contextMenuSectionContent {
	&:last-child::before,
	&:not(:last-child)::after {
		content: '';

		@include controls.separator;
	}
}

.personaContextMenuItem {
	&.menuChecked {
		@extend [role="menuitemradio"][aria-checked="true"];
	}

	.DialogCheckbox {
		display: none;

		&_Container {
			margin: 0;
		}
	}
}

.persona_menu_descriptor,
.persona_menu_dnd_descriptor {
	font: var(--text-ui);
	color: var(--color-gray-text);
	padding: 0;
	margin-top: 2px;
}

// Friend
.contextMenuGameTitle,
.contextMenuGameOptions svg {
	display: none;
}

.contextMenuGameOptions,
.contextMenuUnselectable {
	background-color: transparent;
}

