::placeholder {
	font: var(--text-ui);
}

.Modal {
	&Overlay {
		&Background {
			display: none;
		}
	}

	&Position {
		background-image: none;

		&_TopBar {
			display: none;
		}

		&_Content {
			@extend $text-reset;

			box-shadow: none;
		}

		&_Dismiss {
			top: 5px;
			right: 5px;

			.closeButton {
				@extend button;
				@extend .titlebar-button;
				@extend $titlebar-button-close;
			}

			svg {
				display: none;
			}
		}
	}
}

.Dialog {
	&Button {
		background-image: none;

		&.Disabled {
			@extend button:disabled;
		}

		&.Primary {
			min-width: 111px;
		}

		&::before {
			opacity: 1;
			box-shadow: none;
		}
	}

	&DropDown {
		@extend select;

		display: flex;
		align-items: center;

		&_Arrow {
			display: none;
		}

		&_CurrentDisplay {
			background-color: transparent;
			padding: 0;
		}
	}

	// TODO: :read-only in win95-shared
	&Input {
		// It's an <input>, but overlay browser has type="input"
		background: var(--color-window);
		color: var(--color-window-text);
		box-shadow: none;

		&LabelGroup {
			margin: 0;
		}
	}

	&MenuPosition ._DialogInputContainer {
		@extend .window;
		@extend .window.child;

		font: var(--text-ui);
	}

	&Checkbox {
		@extend input;
		@extend input[type="checkbox"];

		margin: 0;

		flex-shrink: 0;

		&.Active {
			@extend input[type="checkbox"]:checked;
		}

		&.Disabled {
			@extend input[type="checkbox"]:disabled;

			opacity: 1;
			filter: none;
		}

		& > svg {
			display: none;
		}

		&_Container {
			@extend label;

			background-color: transparent;
			box-shadow: none;
			padding: 0;
			margin-bottom: var(--text-spacing);
		}
	}

	&TextInputBase {
		box-shadow: none;
	}

	&Toggle_Label {
		font: var(--text-ui);
		color: var(--color-button-text);
	}

	&Label {
		font: var(--text-ui);
		color: inherit;
		text-transform: unset;
	}

	&Header {
		font-size: var(--text-ui-size);
		font-weight: bold;
		text-transform: unset;
		padding: 0;
		margin: 0;

		.PopupFullWindow > :last-child & {
			@extend $dialog-title;
		}

		// Only used in "Invite to group chat" dialog
		&Subtitle {
			quotes();
			color: inherit;
			letter-spacing: 0;
			font: inherit;
			margin-left: var(--text-spacing);
		}

		// About Steam dialog
		svg {
			display: none;
		}
	}

	&Content {
		background: transparent;
		padding: var(--dialog-spacing);
		padding-bottom: calc(var(--text-full) + 3px + var(--window-gap) + var(--dialog-spacing));

		&Transition {
			background: transparent;

			width: unset;
			max-width: unset;
		}

		&Transition > & {
			--dialog-spacing: 0px;
		}
	}

	&Body {
		@extend [role="tabpanel"];

		-webkit-mask-image: none; // client settings
		font: var(--text-ui);
		margin: 0;
		gap: var(--text-spacing);

		overflow: auto;

		&Text {
			@extend $text-reset;

			padding: 0;
			margin-bottom: var(--text-spacing);
		}

		// "In Game" settings tab
		& > .DialogSubHeader {
			position: unset;
		}

		a {
			@extend $link;
		}
	}

	&InnerBody {
		padding: 0;

		overflow: visible;
	}

	&Footer {
		padding-top: var(--dialog-button-spacing);
	}

	&ControlsSection {
		@extend fieldset;

		gap: var(--text-spacing);

		display: flex;
		flex-direction: column;

		&Header {
			@extend $text-reset;
			@extend $legend-as-div;
		}

		& > .DialogBodyText {
			@extend $legend-as-div;
		}
	}

	&SubHeader {
		@extend $text-reset;
		@extend $legend-as-div;
	}
}

._Dialog {
	&ColLayout {
		gap: var(--dialog-button-spacing);

		justify-content: end;
	}

	&ColLayout > &Layout {
		flex: 0;
	}
}

.GenericConfirmDialog {
	padding: 0;

	justify-content: start;

	.DialogBody {
		box-shadow: none;
		gap: var(--messagebox-content-spacing);
		padding: var(--messagebox-spacing);

		&Text {
			margin-bottom: 0;
		}
	}
}

// In-client/page dialog
.FullModalOverlay .Dialog {
	&Body {
		box-shadow: none;
	}

	&Content {
		@extend .window;
		@extend .window.child;
	}

	&Header {
		@extend .titlebar;
		@extend :root[focused] .titlebar;

		// "Mark as Private" dialog
		div:not(.DialogHeader) {
			display: none;
		}
	}
}

