.Modal {
	&Overlay {
		&Background {
			display: none;
		}
	}

	&Position {
		background-image: none;

		&_TopBar {
			display: none;
		}

		&_Content {
			@extend $text-reset;

			box-shadow: none;
		}

		&_Dismiss {
			top: 5px;
			right: 5px;

			.closeButton {
				@extend button;
				@extend .titlebar-button;

				--button-img: var(--icon-close);
				--button-img-size: 8px 7px;
				--button-img-pos: 4px 3px;
			}

			svg {
				display: none;
			}
		}
	}
}

.Dialog {
	&Button {
		background-image: none;

		&.Disabled {
			@extend button:disabled;
		}

		&::before {
			opacity: 1;

			// There is a shadow if there are no icons.
			display: none;
		}
	}

	&DropDown {
		@extend select;

		display: flex;
		align-items: center;

		&_Arrow {
			display: none;
		}

		&_CurrentDisplay {
			background-color: transparent;
			padding: 0;
		}
	}

	&Input {
		// It's an <input>, but overlay browser has type="input"
		background: var(--color-window);
		color: var(--color-window-text);
		box-shadow: none;

		&LabelGroup {
			margin: 0;
		}

		&Placeholder {
			font-style: normal;
		}
	}

	&MenuPosition ._DialogInputContainer {
		@extend .window;
		@extend .window.child;

		font: var(--text-ui);
	}

	&Checkbox {
		@extend input;
		@extend input[type="checkbox"];

		margin: 0;

		flex-shrink: 0;

		&.Active {
			@extend input[type="checkbox"]:checked;
		}

		& > svg {
			display: none;
		}

		&_Container {
			@extend label;

			background-color: transparent;
			box-shadow: none;
			padding: 0;
			margin-bottom: var(--text-spacing);
		}
	}

	&Toggle_Label {
		font: var(--text-ui);
		color: var(--color-button-text);
	}

	&Label {
		font();
		color: inherit;
		text-transform: unset;
	}

	.PopupFullWindow > :last-child &Header {
		color: var(--color-button-face);
		font: var(--text-ui);
		font-weight: bold;
		text-transform: unset;
		padding: 0;
		margin: 0;

		position: fixed;
		left: 23px;
		top: 6px;

		.WindowFocus & {
			color: var(--color-active-caption-text);
		}

		// About Steam dialog
		svg {
			display: none;
		}
	}

	&Content {
		background: transparent;
		padding: var(--dialog-spacing);
		padding-bottom: calc(var(--text-full) + 3px + var(--window-gap) + var(--dialog-spacing));

		&Transition {
			background: transparent;

			width: unset;
			max-width: unset;
		}

		&Transition > & {
			padding: 0;

			bottom: 53px;

			// Steam settings
			[class*="settings_SettingsModal_"] > & {
				bottom: 18px;
			}
		}
	}

	&Body {
		@extend [role="tabpanel"];

		-webkit-mask-image: none; // client settings
		font: var(--text-ui);
		margin: 0;
		gap: var(--text-spacing);

		overflow: auto;

		&Text {
			@extend $text-reset;

			padding: 0;
			margin-bottom: var(--text-spacing);
		}

		a {
			@extend $link;
		}
	}

	&Footer {
		padding-top: var(--dialog-button-spacing);
	}

	&ControlsSection {
		@extend fieldset;

		gap: var(--text-spacing);

		display: flex;
		flex-direction: column;
	}
}

._Dialog {
	&ColLayout {
		gap: var(--dialog-button-spacing);
	}
}

// In-client/page dialog
.FullModalOverlay .Dialog {
	&Body {
		box-shadow: none;
	}

	&Button {
		&.Primary {
			width: 111px;
		}
	}

	&Content {
		@extend .window;
		@extend .window.child;
	}

	&Header {
		@extend .titlebar;
		@extend :root[focused] .titlebar;
		@extend .titlebar-name;

		font-size: var(--text-ui-size);
		margin: 0;

		// "Mark as Private" dialog
		div:not(.DialogHeader) {
			display: none;
		}
	}
}

/.DialogControlsSectionHeader,
/.DialogSubHeader,
/[class*="appproperties_Title_"],
/[class*="librarysettings_DescriptionText_"],
/[class*="settings_SettingsDialogBodyText"],
/[class*="remoteplaysettings_TableHeader_"] > :first-child {
	@extend $text-reset;
	@extend $legend-as-div;
}
