.Modal {
	&Position {
		background-image: none;

		&_TopBar {
			display: none;
		}

		&_Content {
			color: var(--color-button-text);
			box-shadow: none;
		}
	}
}

.Dialog {
	&Button {
		background-image: none;

		min-width: unset;

		&.Disabled {
			@extend button:disabled;
		}

		&::before {
			opacity: 1;

			// There is a shadow if there are no icons.
			display: none;
		}
	}

	&DropDown {
		@extend select;

		align-items: center;

		&_Arrow {
			display: none;
		}
	}

	&InputPlaceholder {
		font-style: normal;
	}

	&MenuPosition ._DialogInputContainer {
		@extend .menu;

		font: var(--text-ui);

		border-radius: 0;
	}

	&Checkbox {
		@extend input[type="checkbox"];

		border-radius: 0;

		&.Active {
			@extend input[type="checkbox"]:checked;
		}

		& > svg {
			display: none;
		}

		&_Container {
			background-color: transparent;
			box-shadow: none;

			padding: 0;

			align-items: center;
		}
	}

	&Toggle_Label {
		font: var(--text-ui);
		color: var(--color-button-text);

		margin-left: 6px;
	}

	&Label {
		font();
		color: inherit;
		text-transform: unset;
	}

	&Header {
		color: var(--color-button-face);
		font: var(--text-ui);
		font-weight: bold;
		text-transform: unset;

		padding: 0;
		margin: 0;

		position: fixed;
		left: 23px;
		top: 6px;

		.WindowFocus & {
			color: var(--color-active-caption-text);
		}

		// About Steam dialog
		svg {
			display: none;
		}
	}

	&Content {
		background: transparent;

		padding: 7px;
		padding-bottom: 24px;

		&Transition {
			background: transparent;

			margin-top: -1px;

			width: unset;
			max-width: unset;
		}

		&Transition > & {
			padding: 0;

			bottom: 6px;
		}
	}

	&Body {
		@extend [role="tabpanel"];

		overflow: auto;
		-webkit-mask-image: none; // client settings
		font: var(--text-ui);

		padding: 14px;
		margin: 1px;
		margin-top: 0;
		gap: 8px;

		a {
			color: var(--color-link);
		}
	}

	&Footer {
		padding-top: 6px;
	}

	&ControlsSection {
		@extend fieldset;

		gap: 4px;

		display: flex;
		flex-direction: column;
	}
}

._Dialog {
	&ColLayout {
		gap: 0;
	}
}

/.DialogControlsSectionHeader,
/.DialogSubHeader,
/.DialogBodyText,
/[class*="appproperties_Title_"],
/[class*="librarysettings_DescriptionText_"],
/[class*="remoteplaysettings_TableHeader_"] > :first-child {
	@extend $legend-as-div;

	color: var(--color-button-text);
	text-transform: unset;
	letter-spacing: unset;

	margin: 0;
}
