[class*="pageablecontainer_"],
[class*="libraryhomeshowcases_"] {
	&[class*="PageLeft"],
	&[class*="PageRight"] {
		@extend button;
		@extend .titlebar-button;

		--button-img-size: 4px 7px;
		--button-img-pos: center;

		opacity: 1;

		width: unset;

		&[class*="Disabled"] {
			@extend .titlebar-button:disabled;
		}

		svg {
			display: none;
		}
	}

	&[class*="PageLeft"] {
		--button-img: var(--icon-arrow-left);
	}

	&[class*="PageRight"] {
		--button-img: var(--icon-arrow-right);
	}
}
