.PopupFullWindow:not(:only-child) {
	.ModalPosition {
		height: calc(100% - var(--text-size) * var(--text-line) - 6px);
	}

	/[class*="bottombar_BottomBarContainer_"] {
		padding-bottom: calc(var(--text-size) * var(--text-line) + 4px);
	}

	/[class*="bottombar_AddGameButton_"] {
		~/, & {
			&::after {
				content: '';

				position: fixed;
				left: 4px;
				right: 4px;
				bottom: 4px;
				height: calc(var(--text-size) * var(--text-line));

				background-color: var(--color-button-face);
				box-shadow: var(--border-statusbar);

				padding: 1px 15px 1px 2px;
				margin: 1px;
			}
		}
	}
}

.window_resize_grip {
	@extend .window-resize-handle;

	opacity: 1;
}
