.minimizeButton {
	--button-img: var(--icon-minimize);
	--button-img-size: 6px 2px;
	--button-img-pos: 4px 9px;
}

.maximizeButton {
	--button-img: var(--icon-maximize);
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

.restoreButton {
	--button-img: var(--icon-restore);
	--button-img-size: 10px 9px;
	--button-img-pos: 2px 2px;
}

.closeButton {
	--button-img: var(--icon-close);
	--button-img-size: 8px 7px;
	--button-img-pos: 4px 3px;

	margin-left: 2px;
}

.title-area {
	--window-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURQAAAAAAAKVnuc8AAAACdFJOU/8A5bcwSgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAADdJREFUCNdj+CHP8ICd4cBvhoZOhsa1DIwlDIwqDMxzGM5/YPh8gKGWgWEvI8MkRoY7zCBlP+QBgSAPR9M4h8IAAAAASUVORK5CYII=');

	background-color: var(--color-inactive-caption);
	padding-right: 2px;

	position: unset;
	min-height: var(--titlebar-height);
	max-height: var(--titlebar-height);

	display: flex;
	align-items: center;
	justify-content: space-between;

	.WindowFocus & {
		background-color: var(--color-active-caption);
	}

	&::before {
		content: '';

		position: fixed;
		left: 6px;
		top: 6px;
		width: var(--icon-size);
		height: var(--icon-size);

		background-image: var(--window-img);

		.WindowFocus #SteamDesktop & {
			filter: invert();
		}
	}

	#SteamDesktop &::after {
		content: 'Steam';

		position: fixed;
		left: calc(6px + var(--titlebar-spacing) + var(--icon-size));
		height: var(--titlebar-spacing);
		display: flex;
		align-items: center;

		color: var(--color-inactive-caption-text);
		font-weight: bold;

		.WindowFocus & {
			color: var(--color-active-caption-text);
		}
	}

	// Used only in overlay browser ?
	&-children {
		@extend .titlebar-name;

		font-size: var(--font-ui-size);
		color: var(--color-inactive-caption-text);
		padding-left: calc(var(--icon-size) + var(--titlebar-spacing));

		.WindowFocus & {
			color: var(--color-active-caption-text);
		}
	}

	&-icon {
		@extend button;
		@extend .titlebar-button;

		width: unset;

		&-inner {
			display: none;
		}
	}

	&-highlight {
		display: none;
	}
}

#SteamDesktop {
	&::before {
		content: '';

		position: fixed;
		top: calc(var(--border-size) + var(--window-spacing));
		left: calc(var(--border-size) + var(--window-spacing));
		width: calc(100% - var(--titlebar-spacing) * 2 - var(--icon-size) - 88px);
		height: var(--titlebar-height);

		app-region: drag;
	}
}

.singleWindowFocusBar {
	display: none;
}

