@use "shared/listbox";

.autocomplete__13533 {
	@include listbox.container;

	inset-inline-end: var(--border-size);
	inset-inline-start: calc(8px + var(--border-size));

	.base__13533 {
		background-color: transparent;
		padding: 0;
	}

	svg {
		display: initial;
	}
}

.autocompleteRow__13533 {
	@include listbox.item($selected-sel: "&[aria-selected='true']");
}

.autocompleteRowContent__13533 {
	color: inherit;
	min-height: unset;

	& > * {
		margin: 0;
		text-align: start;
	}

	.avatar__44b0c,
	.wrapper__44b0c {
		height: var(--icon-size);
		width: var(--icon-size);
	}
}

.autocompleteRowContentPrimary__13533,
.autocompleteRowContentSecondary__13533 {
	width: 50%;
}

.autocompleteRowContentPrimary__13533 {
	&:first-child {
		margin-inline-start: var(--icon-size);
	}
}

.scroller__6b0e0 {
	padding: 0;

	// Header
	& > .base__13533,
		// Separator
		.dividerContainer__13533 {
		display: none;
	}
}
