@use "shared/listbox";

._13533e3c5791980f-autocomplete {
	@include listbox.container;

	left: calc(8px + var(--border-size));
	right: var(--border-size);

	._13533e3c5791980f-base {
		background-color: transparent;
		padding: 0;
	}

	svg {
		display: initial;
	}
}

._13533e3c5791980f-autocompleteRow {
	@include listbox.item($selected-sel: "&[aria-selected='true']");
}

._13533e3c5791980f-autocompleteRowContent {
	color: inherit;

	min-height: unset;

	& > * {
		text-align: start;
		margin: 0;
	}

	._44b0c28be7879b7b-avatar,
	._44b0c28be7879b7b-wrapper {
		width: var(--icon-size);
		height: var(--icon-size);
	}
}

._13533e3c5791980f-autocompleteRowContentPrimary,
._13533e3c5791980f-autocompleteRowContentSecondary {
	width: 50%;
}

._13533e3c5791980f-autocompleteRowContentPrimary {
	&:first-child {
		margin-left: var(--icon-size);
	}
}

._6b0e07cbaf13ec4e-scroller {
	padding: 0;

	// Header
	& > ._13533e3c5791980f-base,
		// Separator
		._13533e3c5791980f-dividerContainer {
		display: none;
	}
}
