@use "shared/controls";
@use "shared/table";
@use "shared/window";
@use "shared++/utils";
@use "shared++/icons";

// GIF picker
.container_fed6d3 {
	--offset: 6px;

	.backButton_fed6d3 {
		@include controls.button;
		// TODO: idk
		@include window.titlebar-button;
		@include icons.icon-big-arrow-left;

		min-width: 23px;
		height: 22px;

		// TODO: unify
		svg {
			display: none;
		}
	}

	.content_fed6d3 {
		@include window.content-container;

		& > div {
			top: var(--offset);
			left: var(--offset);
		}
	}

	.header_fed6d3 {
		background-color: transparent;
		border: none;
		padding: 0;
	}

	.result__2dc39 {
		&:hover::after {
			inset: calc(var(--offset) * -1);
			z-index: -1;

			background-color: var(--color-highlight);
			border-radius: 0;
			box-shadow: none;

			transition: none;
		}
	}

	.searchHeader_fed6d3 {
		@include utils.text-reset;
	}
}

// TODO: it's supposed to be resizable or something. Not my problem !
.drawerSizingWrapper__08434 {
	position: unset;
	width: 100%;
	height: calc(100% - var(--titlebar-height) - var(--window-gap));

	.contentWrapper__08434 {
		background-color: transparent;
		border: none;
		gap: 0;
		padding: var(--dialog-spacing);

		grid-template-rows: auto;
	}

	.nav__08434 {
		display: none;
	}

	// Not needed anymore
	.resizeHandle__08434 {
		display: none;
	}
}

.expressionPickerPositionLayer__74017 {
	--custom-emoji-picker-constants-diversity-emoji-size: 16px;

	left: unset;
	width: 610px; // 3 gifs in a row
}

// Emoji picker
.wrapper_c0e32c {
	box-shadow: none;
	padding: 0;

	.categoryList_c0e32c {
		@include window.content-container;

		top: calc(21px + var(--window-gap));
		left: 0;
		width: calc(48px + var(--scrollbar-size));
	}

	// TODO: content
	.emojiItem_fc7141 {
		min-width: var(--custom-emoji-picker-constants-emoji-size-large);
		height: 56px;
	}

	[role="button"][aria-haspopup] {
		@include controls.combobox;
	}

	[role="none presentation"] {
		inset: 0;
	}

	.emojiPicker_c0e32c {
		gap: var(--window-gap);

		flex-grow: 1;
		grid-template-columns: calc(48px + var(--scrollbar-size)) auto;
	}

	.emojiPickerListWrapper_c0e32c {
		@include window.content-container;

		& > div {
			inset: var(--border-size);
		}

		ul {
			padding: 0;
		}
	}

	.header_c0e32c {
		border: none;
		padding: 0;
	}

	.header__08434 {
		--button-img: icon("arrow-bottom", "mono");
		--button-img-width: 7px;
		--button-img-height: 4px;

		background-color: transparent;
		font: var(--text-ui);
		box-shadow: none;
		gap: var(--window-gap);
		padding: 0;

		&[aria-expanded="false"] {
			--button-img: icon("arrow-right", "mono");
			--button-img-width: 4px;
			--button-img-height: 7px;
		}
	}

	.header_c656ac,
	.packHeader_e94b8c {
		@include table.header-row;

		height: unset;
	}

	.headerCollapseIcon__14245,
	.headerIcon__14245 {
		display: none;
	}

	.headerLabel__14245 {
		text-transform: none;
		gap: var(--text-spacing);
		margin: 0;

		display: flex;
		align-items: center;

		&::after {
			content: "";

			width: var(--button-img-width);
			height: var(--button-img-height);

			background-color: var(--color-button-text);
			mask: var(--button-img);
		}
	}

	.inspector_c0e32c {
		@include window.content-container;

		border: none;
	}

	.unicodeShortcut_b9ee0c {
		@include controls.button;

		margin: var(--border-size);

		// TODO: icon
		position: absolute;
		width: 48px;
		min-width: unset;
		height: 32px;
	}
}
