@use "shared/controls";
@use "shared/table";
@use "shared/window";
@use "shared++/utils";

// GIF picker
.fed6d32841cc2da2-container {
	--offset: 6px;

	.fed6d32841cc2da2-backButton {
		--button-img: icon("arrow-big-left", "mono");
		@include controls.button;
		// TODO: idk
		@include window.titlebar-button;

		min-width: 23px;
		height: 22px;

		// TODO: unify
		svg {
			display: none;
		}
	}

	.fed6d32841cc2da2-content {
		@include window.content-container;

		& > div {
			top: var(--offset);
			left: var(--offset);
		}
	}

	.fed6d32841cc2da2-header {
		background-color: transparent;
		border: none;
		padding: 0;
	}

	._2dc39186a9b98da4-result {
		&:hover::after {
			inset: calc(var(--offset) * -1);
			z-index: -1;

			background-color: var(--color-highlight);
			border-radius: 0;
			box-shadow: none;

			transition: none;
		}
	}

	.fed6d32841cc2da2-searchHeader {
		@include utils.text-reset;
	}
}

// TODO: it's supposed to be resizable or something. Not my problem !
._084343c4f11eaaab-drawerSizingWrapper {
	position: unset;
	width: 100%;
	height: calc(100% - var(--titlebar-height) - var(--window-gap));

	._084343c4f11eaaab-contentWrapper {
		background-color: transparent;
		border: none;
		gap: 0;
		padding: var(--dialog-spacing);

		grid-template-rows: auto;
	}

	._084343c4f11eaaab-nav {
		display: none;
	}

	// Not needed anymore
	._084343c4f11eaaab-resizeHandle {
		display: none;
	}
}

._740174f3d6a2c8fe-expressionPickerPositionLayer {
	--custom-emoji-picker-constants-diversity-emoji-size: 16px;

	left: unset;
	width: 610px; // 3 gifs in a row
}

// Emoji picker
.c0e32c5cffed3d9f-wrapper {
	box-shadow: none;
	padding: 0;

	.c0e32c5cffed3d9f-categoryList {
		@include window.content-container;

		top: calc(var(--combobox-button-height) + var(--window-gap));
		left: 0;
		width: calc(48px + var(--scrollbar-size));
	}

	// TODO: content
	.fc7141859aaa98b7-emojiItem {
		min-width: var(--custom-emoji-picker-constants-emoji-size-large);
		height: 56px;
	}

	[role="button"][aria-haspopup] {
		@include controls.combobox-icon-button(
			$active-sel: "&[aria-expanded='true']"
		);

		height: var(--combobox-button-height);

		&::before {
			margin: 0;
		}
	}

	[role="none presentation"] {
		inset: 0;
	}

	.c0e32c5cffed3d9f-emojiPicker {
		gap: var(--window-gap);

		flex-grow: 1;
		grid-template-columns: calc(48px + var(--scrollbar-size)) auto;
	}

	.c0e32c5cffed3d9f-emojiPickerListWrapper {
		@include window.content-container;

		& > div {
			inset: var(--border-size);
		}

		ul {
			padding: 0;
		}
	}

	.c0e32c5cffed3d9f-header {
		border: none;
		padding: 0;
	}

	.c656aca9a3db31a9-header {
		--button-img: icon("arrow-bottom", "mono");
		--button-img-width: 7px;
		--button-img-height: 4px;

		background-color: transparent;
		font: var(--text-ui);
		box-shadow: none;
		gap: var(--window-gap);
		padding: 0;

		&[aria-expanded="false"] {
			--button-img: icon("arrow-right", "mono");
			--button-img-width: 4px;
			--button-img-height: 7px;
		}
	}

	.c656aca9a3db31a9-header,
	.e94b8cb2ff7b5c8d-packHeader {
		@include table.header-row;

		height: unset;
	}

	._14245bb948377a25-headerCollapseIcon,
	._14245bb948377a25-headerIcon {
		display: none;
	}

	._14245bb948377a25-headerLabel {
		text-transform: none;
		gap: var(--text-spacing);
		margin: 0;

		display: flex;
		align-items: center;

		&::after {
			content: "";

			width: var(--button-img-width);
			height: var(--button-img-height);

			background-color: var(--color-button-text);
			mask: var(--button-img);
		}
	}

	.c0e32c5cffed3d9f-inspector {
		@include window.content-container;

		border: none;
	}

	.b9ee0c229bc0b6bb-unicodeShortcut {
		--button-img: icon("emoji");
		--icon-button-width: calc(48px - var(--border-size) * 2);
		--icon-button-height: 32px;
		@include controls.button;
		@include controls.icon-button;

		margin: var(--border-size);

		position: absolute;
		width: var(--icon-button-width);

		svg {
			display: none;
		}
	}
}
