@use "shared/controls";
@use "shared/table";
@use "shared/window";
@use "shared++/utils";

// GIF picker
.container_fed6d3 {
	--offset: 6px;

	.backButton_fed6d3 {
		--button-img: icon("arrow-big-left", "mono");
		@include controls.button;
		@include controls.icon-button;

		// TODO: unify
		svg {
			display: none;
		}
	}

	.content_fed6d3 {
		@include window.content-container;

		& > div {
			inset-block-start: var(--offset);
			inset-inline-start: var(--offset);
		}
	}

	.header_fed6d3 {
		background-color: transparent;
		border: none;
		padding: 0;
	}

	.result__2dc39 {
		&:hover::after {
			background-color: var(--color-highlight);
			border-radius: 0;
			box-shadow: none;
			inset: calc(var(--offset) * -1);
			transition: none;
			z-index: -1;
		}
	}

	.searchHeader_fed6d3 {
		@include utils.text-reset;
	}
}

// TODO: it's supposed to be resizable or something. Not my problem !
.drawerSizingWrapper__08434 {
	height: calc(100% - var(--titlebar-height) - var(--window-gap));
	position: unset;
	width: 100%;

	.contentWrapper__08434 {
		background-color: transparent;
		border: none;
		gap: 0;
		grid-template-rows: auto;
		padding: var(--dialog-spacing);
	}

	.nav__08434 {
		display: none;
	}

	// Not needed anymore
	.resizeHandle__08434 {
		display: none;
	}
}

.expressionPickerPositionLayer__74017 {
	--custom-emoji-picker-constants-diversity-emoji-size: 16px;

	inset-inline-start: unset;
	width: 610px; // 3 gifs in a row
}

// Emoji picker
.wrapper_c0e32c {
	box-shadow: none;
	padding: 0;

	.categoryList_c0e32c {
		@include window.content-container;

		inset-block-start: calc(var(--combobox-button-height) + var(--window-gap));
		inset-inline-start: 0;
		width: calc(48px + var(--scrollbar-size));
	}

	[role="button"][aria-haspopup] {
		@include controls.combobox-icon-button(
			$active-sel: "&[aria-expanded='true']"
		);

		height: var(--combobox-button-height);

		&::before {
			margin: 0;
		}
	}

	.emojiPicker_c0e32c {
		flex-grow: 1;
		gap: var(--window-gap);
		grid-template-columns: calc(48px + var(--scrollbar-size)) auto;
	}

	.emojiPickerListWrapper_c0e32c {
		@include window.content-container;

		& > div {
			inset: var(--border-size);
		}

		ul {
			padding: 0;
		}
	}

	.header_c0e32c {
		border: none;
		padding: 0;
	}

	.header_c656ac {
		--button-img: icon("arrow-bottom", "mono");
		--button-img-height: 4px;
		--button-img-width: 7px;

		background-color: transparent;
		box-shadow: none;
		font: var(--text-ui);
		gap: var(--window-gap);
		padding: 0;

		&[aria-expanded="false"] {
			--button-img: icon("arrow-right", "mono");
			--button-img-height: 7px;
			--button-img-width: 4px;
		}
	}

	.header_c656ac,
	.packHeader_e94b8c {
		@include table.header-row;

		height: unset;
	}

	.headerCollapseIcon__14245,
	.headerIcon__14245 {
		display: none;
	}

	.headerLabel__14245 {
		align-items: center;
		display: flex;
		gap: var(--text-spacing);
		margin: 0;
		text-transform: none;

		&::after {
			background-color: var(--color-button-text);
			content: "";
			height: var(--button-img-height);
			mask: var(--button-img);
			width: var(--button-img-width);
		}
	}

	.inspector_c0e32c {
		@include window.content-container;

		border: none;
	}

	.unicodeShortcut_b9ee0c {
		--button-img: icon("emoji");
		--icon-button-height: 32px;
		--icon-button-width: calc(48px - var(--border-size) * 2);
		@include controls.button;
		@include controls.icon-button;

		margin: var(--border-size);
		position: absolute;
		width: var(--icon-button-width);

		svg {
			display: none;
		}
	}
}
