@use "shared/controls";
@use "shared/tabs";
@use "shared/window";

.fc561d3c125f6a2f-container {
	@include window.container($child: true);
}

.ab66419eae73260f-controls {
	gap: 0;
}

.ab66419eae73260f-header {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: var(--dialog-spacing);
	margin-bottom: 0;

	span > [role="button"] {
		@include controls.button;
		@include controls.icon-button;
	}
}

.ab66419eae73260f-headerTabs {
	margin: 0;
}

.ab66419eae73260f-inboxIcon,
.ab66419eae73260f-inboxTitle {
	display: none;
}

._957962c2bd49881b-recentMentionsPopout {
	width: calc(100% - var(--dialog-spacing) * 2);
	min-width: unset;

	&.e8b59c4b335dd2fc-messagesPopoutWrap {
		@include tabs.content($compact: true);

		margin-top: 0;

		&::before {
			content: "";

			position: absolute;
			inset: calc(var(--border-size) + var(--tabpanel-spacing));

			box-shadow: var(--border-field);
		}
	}

	._35a7ecf3aba351b2-channelHeader {
		display: none;
	}
}
