@use "shared/controls";

.header_ab6641 {
	border: none;
	padding: 0;

	height: unset;
	min-height: unset;

	[role="button"] {
		@include controls.button;
		@include controls.icon-button;
	}
}

.inboxIcon_ab6641 {
	display: none;
}

.recentMentionsPopout__95796 {
	margin: var(--dialog-spacing);

	.channelHeader__35a7e {
		display: none;
	}

	.scroller__95796 {
		&::before {
			content: "";

			position: absolute;
			inset: 0;

			box-shadow: var(--border-button-raised);
		}
	}
}
