@use "shared/controls";
@use "shared/tabs";

.container_fc561d {
	background-color: transparent;
}

.controls_ab6641 {
	gap: 0;
}

.header_ab6641 {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: var(--dialog-spacing);
	margin-bottom: 0;

	span > [role="button"] {
		@include controls.button;
		@include controls.icon-button;
	}
}

.headerTabs_ab6641 {
	margin: 0;
}

.inboxIcon_ab6641,
.inboxTitle_ab6641 {
	display: none;
}

.recentMentionsPopout__95796 {
	width: calc(100% - var(--dialog-spacing) * 2);
	min-width: unset;

	&.messagesPopoutWrap__45690 {
		@include tabs.content($compact: true);

		margin-top: 0;

		&::before {
			content: "";

			position: absolute;
			inset: calc(var(--border-size) + var(--tabpanel-spacing));

			box-shadow: var(--border-field);
		}
	}

	.channelHeader__35a7e {
		display: none;
	}
}
