.e8b59c4b335dd2fc-messageGroupWrapper {
	border: none;
	margin: 0;
}

.e8b59c4b335dd2fc-messagesPopout {
	padding: 0;
	margin: var(--border-size);
}

// :not(._957962c2bd49881b-recentMentionsPopout)
.e8b59c4b335dd2fc-messagesPopoutWrap {
	margin: var(--dialog-spacing);

	max-height: 400px;
}
