.messageGroupWrapper__432f4 {
	border: none;
	margin: 0;
}

.messagesPopout__432f4 {
	padding: 0;
	margin: var(--border-size);
}

// :not(.recentMentionsPopout__95796)
.messagesPopoutWrap__432f4 {
	margin: var(--dialog-spacing);

	max-height: 400px;
}
