.messageGroupWrapper__45690 {
	border: none;
	margin: 0;
}

.messagesPopout__45690 {
	padding: 0;
	margin: var(--border-size);
}

// :not(.recentMentionsPopout__95796)
.messagesPopoutWrap__45690 {
	margin: var(--dialog-spacing);

	max-height: 400px;
}
