.messageGroupWrapper_e8b59c {
	border: none;
	margin: 0;
}

.messagesPopout_e8b59c {
	padding: 0;
	margin: var(--border-size);
}

// :not(.recentMentionsPopout__95796)
.messagesPopoutWrap_e8b59c {
	margin: var(--dialog-spacing);

	max-height: 400px;
}
