@use "shared/listbox";

.listBox__2e223 {
	padding: 0;
}

.listBoxItemContent__2e223 {
	@include listbox.item($selected-sel: "&:focus:not([aria-disabled])");

	color: inherit;

	min-height: unset;

	// what? why?
	&.inInput__2e223 {
		padding: 0;
	}

	.iconAccessory_ec77f2,
	.leading_ec77f2 {
		padding: 0;
		margin: 0;

		width: unset;
		height: unset;
	}
}

.selectDropdown__5fa2f {
	@include listbox.container;

	box-shadow: none;
	margin-top: -4px;

	.content_d125d2,
	.scrollerBase_d125d2 {
		height: unset;
	}
}

.selectedIcon__2e223 {
	display: none;
}
