@use "shared/listbox";

.listBox__2e223 {
	padding: 0;
}

.listBoxItemContent__2e223 {
	@include listbox.item($selected-sel: "&:focus:not([aria-disabled])");

	color: inherit;
	min-height: unset;

	// what? why?
	&.inInput__2e223 {
		padding: 0;
	}

	.iconAccessory__56a50,
	.leading__56a50 {
		height: unset;
		margin: 0;
		padding: 0;
		width: unset;
	}
}

.selectDropdown__0edde {
	@include listbox.container;

	box-shadow: none;
	margin-block-start: -4px;

	.content_d125d2,
	.scrollerBase_d125d2 {
		height: unset;
	}
}

.selectedIcon__2e223 {
	display: none;
}
