@use "shared/listbox";

.container__16eb0 {
	@include listbox.container;

	padding: 0;

	overflow: auto;

	.wrapper__44b0c {
		position: absolute;
		inset-inline-start: 0;
	}

	[data-text-variant] {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.channelNameIcon__971b5,
.groupHeader__971b5,
.itemIcon__971b5:where(svg) {
	display: none;
}

.divider__971b5 {
	--border-subtle: currentColor;
	margin: 0;
}

.filterSublabelTextContainer__971b5,
.labelWithElements__971b5 {
	flex-grow: 1;
}

.groupWrapper__971b5 {
	gap: 0;
}

.item__971b5 {
	--avatar-size: 20px;

	padding: 0;
	padding-inline-start: calc(var(--avatar-size) + var(--text-spacing));

	// for avatars
	position: relative;
	min-height: var(--avatar-size);

	& > .labelWithElements__971b5,
	& > :not([class]) {
		gap: var(--text-spacing);

		flex-grow: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}

	* {
		color: inherit;
	}
}

.itemContainer__971b5 {
	@include listbox.item($selected-sel: "&:active, &[aria-selected='true']");
}
