@use "shared/controls";
@use "shared/menu";
@use "shared/window";

._55c999adcf6db265-container {
	border: none;

	&:not(:empty) {
		@include window.container($child: true);
	}
}

._56fec8e8b8048fe0-displayedNick {
	font-weight: bold;
	margin: 0 var(--text-spacing);
}

._56fec8e8b8048fe0-header,
._56fec8e8b8048fe0-plusIcon,
._56fec8e8b8048fe0-searchClearHistory,
._56fec8e8b8048fe0-searchLearnMore {
	display: none;
}

._56fec8e8b8048fe0-option {
	@include menu.item($selected-sel: "&[aria-selected='true']");

	font-size: var(--text-ui-size);
	box-shadow: none;
	margin: 0;

	// Align with avatars
	height: 24px;

	&::before,
	&::after {
		display: none;
	}

	* {
		color: inherit;
	}
}

._56fec8e8b8048fe0-resultsGroup {
	padding: 0;
	margin: 0;

	&:first-of-type::before {
		display: none;
	}

	&::before {
		@include controls.separator;

		top: 0;

		margin-inline: 0;
	}
}
