@use "shared/controls";
@use "shared/menu";
@use "shared/window";

.container__55c99 {
	border: none;

	&:not(:empty) {
		@include window.container($child: true);
	}
}

.displayedNick__56fec {
	font-weight: bold;
	margin: 0 var(--text-spacing);
}

.header__56fec,
.plusIcon__56fec,
.searchClearHistory__56fec,
.searchLearnMore__56fec {
	display: none;
}

.option__56fec {
	@include menu.item($selected-sel: "&[aria-selected='true']");

	font-size: var(--text-ui-size);
	box-shadow: none;
	margin: 0;

	// Align with avatars
	height: 24px;

	&::before,
	&::after {
		display: none;
	}

	* {
		color: inherit;
	}
}

.resultsGroup__56fec {
	padding: 0;
	margin: 0;

	&:first-of-type::before {
		display: none;
	}

	&::before {
		@include controls.separator;

		top: 0;

		margin-inline: 0;
	}
}
