@use "shared/listbox";

.f1c5c9823fbd3ef8-container {
	@include listbox.container;

	padding: 0;

	overflow: auto;

	._44b0c28be7879b7b-wrapper {
		position: absolute;
		inset-inline-start: 0;
	}

	[data-text-variant] {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

._1bb324526a52affb-channelNameIcon,
._1bb324526a52affb-groupHeader,
._1bb324526a52affb-itemIcon:where(svg) {
	display: none;
}

._1bb324526a52affb-divider {
	--border-subtle: currentColor;
	margin: 0;
}

._1bb324526a52affb-filterSublabelTextContainer,
._1bb324526a52affb-labelWithElements {
	flex-grow: 1;
}

._1bb324526a52affb-groupWrapper {
	gap: 0;
}

._1bb324526a52affb-item {
	--avatar-size: 20px;

	padding: 0;
	padding-inline-start: calc(var(--avatar-size) + var(--text-spacing));

	// for avatars
	position: relative;
	min-height: var(--avatar-size);

	& > ._1bb324526a52affb-labelWithElements,
	& > :not([class]) {
		gap: var(--text-spacing);

		flex-grow: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}

	* {
		color: inherit;
	}
}

._1bb324526a52affb-itemContainer {
	@include listbox.item($selected-sel: "&:active, &[aria-selected='true']");
}
