@use "shared/controls";
@use "shared/menu";
@use "shared/window";
@use "shared++/utils";

._5808f3d86030cee1-container {
	@include window.container($child: true);

	border: none;

	width: auto;
	display: flex;
	flex-direction: column-reverse;

	._7a01bdafdcb0e727-textButton {
		@include menu.item($selected-sel: "&.hack");

		width: 100%;

		[data-text-variant] {
			color: inherit;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

._5808f3d86030cee1-header {
	display: none;
}

._5808f3d86030cee1-separator {
	@include controls.separator;

	margin-inline: 0;
}

._5808f3d86030cee1-tag {
	@include menu.item($selected-sel: "&.hack");

	background-color: transparent;
	border: none;

	width: 100%;
	height: unset;

	&[aria-pressed="true"] {
		@include menu.item-check;
	}

	[data-text-variant] {
		font-weight: normal;
	}
}

._5808f3d86030cee1-tagContainer {
	gap: 0;
	padding: 0;

	flex-direction: column;
}
