@use "shared/controls";
@use "shared/menu";
@use "shared++/utils";

.clear__5808f {
	@include menu.item($selected-sel: "&.hack");

	text-align: start;
	box-shadow: none;

	[data-text-variant] {
		color: inherit;
		font-weight: bold;
	}
}

.container__5808f {
	border: none;

	width: auto;
	display: flex;
	flex-direction: column-reverse;

	// Titlebar
	&::before {
		display: none;
	}
}

.header__5808f {
	display: none;
}

.separator__5808f {
	@include controls.separator;

	margin-inline: 0;
}

.tag__5808f {
	@include menu.item($selected-sel: "&.hack");

	background-color: transparent;
	border: none;

	width: 100%;
	height: unset;

	&[aria-pressed="true"] {
		@include menu.item-check;
	}

	[data-text-variant] {
		font-weight: normal;
	}
}

.tagContainer__5808f {
	gap: 0;
	padding: 0;

	flex-direction: column;
}
