@use "shared/controls";
@use "shared/menu";
@use "shared/window";
@use "shared++/utils";

.container__5808f {
	@include window.container($child: true);

	border: none;

	width: auto;
	display: flex;
	flex-direction: column-reverse;

	.textButton__7a01b {
		@include menu.item($selected-sel: "&.hack");

		width: 100%;

		[data-text-variant] {
			color: inherit;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.header__5808f {
	display: none;
}

.separator__5808f {
	@include controls.separator;

	margin-inline: 0;
}

.tag__5808f {
	@include menu.item($selected-sel: "&.hack");

	background-color: transparent;
	border: none;

	width: 100%;
	height: unset;

	&[aria-pressed="true"] {
		@include menu.item-check;
	}

	[data-text-variant] {
		font-weight: normal;
	}
}

.tagContainer__5808f {
	gap: 0;
	padding: 0;

	flex-direction: column;
}
