@use "shared/window";
@use "shared++/utils";

._9c3bea41fd465666-profileBody,
._5be3ef42f92174b2-body {
	gap: 0;
	padding: 0 8px;

	overflow: visible;
	position: unset;
	z-index: 2;

	& > ::after {
		@include utils.pseudo-separator;

		display: inline-block;
		width: 100%;
	}
}

.c0bea05627c5dc35-inner {
	--pos: calc(var(--border-size) + var(--window-spacing) + 8px);

	background-color: transparent;
	gap: 0;
	padding: 0;

	.dfa8b6b94cddb191-role {
		@include window.statusbar-item;

		background-color: transparent;
		border: none;
	}

	// Tags list
	.fccfdf3cfff21921-root {
		@include window.statusbar;
	}
}

._9c3bea41fd465666-profile {
	background-color: var(--color-button-face);
}

.c0bea05627c5dc35-outer {
	@include window.container($child: true);
}

._63ed30c16c7151f2-userTag {
	font: var(--text-ui);
}
