@use "shared/controls";

.footer__5be3e {
	padding: 0 8px 8px;
}

.header__5be3e {
	.avatar__75742 {
		left: 14px;
	}

	circle {
		cx: 54;
	}
}

// top right buttons
.wrapper__4106a {
	gap: var(--toolbar-spacing);

	.bannerButton_fb7f94 {
		@include controls.button;
		@include controls.icon-button;
	}
}
