@use "shared/menu";
@use "shared++/utils";

.popoutContainer_ce8328:has(> .user-profile-popout) {
	left: 0;

	&::before {
		display: none;
	}

	.body_ce8328 {
		padding: 0;

		overflow: auto;

		& > :not(.menus_ce8328) {
			display: none;
		}
	}

	.header__5be3e {
		display: none;
	}

	.outer_c0bea0 {
		width: unset;
	}
}

.menuItem_ce8328 {
	&::after {
		display: none;
	}
}

.menuItemContent_ce8328 {
	@include menu.item($selected-sel: "&.hack");

	&[aria-expanded] {
		@include menu.item-parent;
	}
}

.menuItemIcon_ce8328 {
	display: none;
}

.menuItemInner_ce8328 {
	padding: 0;
}

.menuOverlay_ce8328 {
	background-color: var(--color-button-face);
	border: none;
	padding: 0;

	&:not(:last-child)::after {
		@include utils.pseudo-separator;
	}
}

.menus_ce8328 {
	gap: 0;
}

.submenuIconWrapper_ce8328 {
	display: none;
}

.submenuPaddingContainer_ce8328 {
	padding: 0;
}
