// right side
.container__37bfc {
	padding: 0;
	margin: 8px;

	height: calc(100% - var(--tabs-height) - 8px);

	.tabListScroller__37bfc {
		padding: 0;
		margin: 0;
		// invisible scroller component element
		margin-block-end: -1px;

		overflow: visible;
	}
}

.profileButtons__9c3be {
	&::after {
		display: none;
	}
}

.profileNote__9c3be {
	margin: 0;
}
