@use "shared/controls";
@use "shared/window";

.body__5be3e > * {
	&::after {
		content: "";

		@include controls.separator;

		display: inline-block;
		width: 100%;
	}
}

.inner_c0bea0 {
	--pos: calc(var(--border-size) + var(--window-spacing) + 8px);

	background-color: transparent;
	gap: 0;
	padding: 0;

	.role_dfa8b6 {
		@include window.statusbar-item;

		background-color: transparent;
		border: none;
	}

	// Tags list
	.root_fccfdf {
		@include window.statusbar;
	}
}

// Action buttons
.wrapper_da5890 {
	gap: 0;
	padding: 0;

	right: var(--pos);
}
