// right side
._37bfcf3d457db7a9-container {
	padding: 0;
	margin: 8px;

	height: calc(100% - var(--tabs-height) - 8px);

	._37bfcf3d457db7a9-tabListScroller {
		padding: 0;
		margin: 0;
		// invisible scroller component element
		margin-block-end: -1px;

		overflow: visible;
	}
}

._9c3bea41fd465666-profileButtons {
	&::after {
		display: none;
	}
}

._9c3bea41fd465666-profileNote {
	margin: 0;
}
