@use "shared/controls";

.body__5be3e {
	gap: 0;
	padding: 0 8px;

	overflow: visible;
	position: unset;
	z-index: 2;
}

.footer__5be3e {
	padding: 0 8px 8px;
}

.header__5be3e {
	.avatar__75742 {
		left: 14px;
	}

	circle {
		cx: 54;
	}
}
