@use "shared/menu";
@use "shared++/utils";

.ce832809562bf737-popoutContainer {
	left: 0;

	&::before {
		display: none;
	}

	.ce832809562bf737-body {
		padding: 0;

		overflow: auto;

		& > :not(.ce832809562bf737-menus) {
			display: none;
		}
	}

	._5be3ef42f92174b2-header {
		display: none;
	}

	.c0bea05627c5dc35-outer {
		width: unset;
	}
}

.ce832809562bf737-menuItem {
	&::after {
		display: none;
	}
}

.ce832809562bf737-menuItemContent {
	@include menu.item($selected-sel: "&.hack");

	&[aria-expanded] {
		@include menu.item-parent;
	}
}

.ce832809562bf737-menuItemIcon {
	display: none;
}

.ce832809562bf737-menuItemInner {
	padding: 0;
}

.ce832809562bf737-menuOverlay {
	background-color: var(--color-button-face);
	border: none;
	padding: 0;

	&:not(:last-child)::after {
		@include utils.pseudo-separator;
	}
}

.ce832809562bf737-menus {
	gap: 0;
}

.ce832809562bf737-submenuIconWrapper {
	display: none;
}

.ce832809562bf737-submenuPaddingContainer {
	padding: 0;
}
