.userPopoutInner,
.userProfileModalInner {
	--pos: calc(var(--border-size) + var(--window-spacing) + 8px);

	background-color: transparent;
	gap: 0;
	padding: 0;

	[role="list"] {
		@extend .statusbar;
	}

	.tags > [role="group"],
	[role="listitem"] {
		@extend .statusbar-item;

		background-color: transparent;
		border: none;

		&:last-child {
			flex-grow: 0;
		}
	}

	.biteSize,
	.fullSize {
		button {
			@extend .icon-button;
		}
	}

	.container {
		margin: 0;
	}

	& > .container {
		margin: 16px;
	}

	& > .wrapper {
		gap: 0;
		padding: 0;

		right: var(--pos);
	}
}

.userPopoutInner > .body,
.fullSizeOverlayBackground .scrollerBase {
	& > * {
		&::after {
			content: '';

			@extend hr;

			display: inline-block;
			width: 100%;
		}
	}
}

