@use "shared/controls";

._5be3ef42f92174b2-footer {
	padding: 0 8px 8px;
}

._5be3ef42f92174b2-header {
	._75742e4cc9019aeb-avatar {
		left: 14px;
	}

	circle {
		cx: 54;
	}
}

// top right buttons
._4106ae7c1472c1de-wrapper {
	gap: var(--toolbar-spacing);

	.button_fb7f94,
	.de800837163648e8-bannerButton {
		@include controls.button;
		@include controls.icon-button;
	}
}
