@use "shared/window";
@use "shared++/utils";

.profileBody__9c3be,
.body__5be3e {
	gap: 0;
	padding: 0 8px;

	overflow: visible;
	position: unset;
	z-index: 2;

	& > ::after {
		@include utils.pseudo-separator;

		display: inline-block;
		width: 100%;
	}
}

.inner_c0bea0 {
	--pos: calc(var(--border-size) + var(--window-spacing) + 8px);

	background-color: transparent;
	gap: 0;
	padding: 0;

	.role_dfa8b6 {
		@include window.statusbar-item;

		background-color: transparent;
		border: none;
	}

	// Tags list
	.root_fccfdf {
		@include window.statusbar;
	}
}

.profile__9c3be,
.outer_c0bea0 {
	background-color: var(--color-button-face);
}

.userTag__63ed3 {
	font: var(--text-ui);
}
