.connectedAccountContainer {
	border: none;
	box-shadow: var(--border-statusbar);
	padding: 8px;

	position: relative;

	a {
		position: absolute;
		inset: 0;
	}

	// TODO: unify
	svg {
		display: none;
	}
}

.fullSizeOverlayBackground {
	background-color: transparent;
	border: none;

	.container {
		height: 100%;
	}

	.scrollerBase {
		@include tabs.content;

		gap: 0;

		overflow: auto;
	}
}

