@use "shared++/utils";

// Just use the menubar
#AddGameButton,
// ^
#FriendsButton,
#Icon,
#IconBevel,
// I am not styling your 10th progress bar
#ProgressBar {
	display: none;
}

#BottomBar {
	background: transparent;
	box-shadow: var(--border-statusbar);
	padding-bottom: var(--statusbar-height);

	flex-basis: unset;

	-webkit-app-region: no-drag;
}

#DownloadStatusContent {
	color: var(--color-button-text);
	padding: 0;
}

#DetailedDownloadProgress,
#DownloadStatus {
	// 1px = statusbar border
	--offset: calc(var(--main-window-border-spacing) + 1px);

	position: fixed;
	left: calc(var(--offset) + 4px);
	bottom: calc(var(--offset) + 2px);
	width: unset;
	justify-content: center;
}

#DetailedDownloadProgress {
	gap: var(--text-spacing);

	#Icon {
		box-shadow: none;

		width: var(--icon-size);
		height: var(--icon-size);
		display: block;
	}
}

#Percentage {
	@include utils.parentheses;
}

#StatusLine {
	color: var(--color-button-text);
	gap: var(--text-spacing);
}

#Status,
#Text,
#Queue {
	@include utils.text-reset;
}
