@use "shared++/utils";

// Just use the menubar
#AddGameButton,
// ^
#FriendsButton,
#Icon,
#IconBevel,
// I am not styling your 10th progress bar
#ProgressBar {
	display: none;
}

#BottomBar {
	--statusbar-height: calc(1lh + 2px);

	background: transparent;
	box-shadow: var(--border-statusbar);
	padding-bottom: calc(var(--statusbar-height) + var(--window-gap));

	flex-basis: unset;

	-webkit-app-region: no-drag;
}

#BottomBarContainer {
	margin-top: var(--window-gap);
}

#DownloadStatusContent {
	color: var(--color-button-text);
	padding: 0;

	// Empty div without a class
	// TODO: not there anymore in beta ?
	& > :empty {
		display: none;
	}
}

#DetailedDownloadProgress,
#DownloadStatus {
	--offset: calc(var(--border-size) + var(--window-spacing));

	position: fixed;
	left: calc(var(--offset) + 4px);
	bottom: calc(var(--offset) + 2px);
	width: unset;
	justify-content: center;
}

#DetailedDownloadProgress {
	gap: var(--text-spacing);

	#Icon {
		box-shadow: none;

		width: var(--icon-size);
		height: var(--icon-size);
		display: block;
	}
}

#Percentage {
	@include utils.parentheses;
}

#StatusLine {
	color: var(--color-button-text);
	gap: var(--text-spacing);
}

#Status,
#Text,
#Queue {
	@include utils.text-reset;
}
