@use "shared/listbox";
@use "shared++/utils";

#Console {
	background-color: transparent;
	font-family: var(--text-monospace-font);

	pre {
		// Its height is 17px anyway
		font-size: 12pt;
		color: var(--color-window-text);
	}
}

#ConsoleInput {
	padding: 0;

	.DialogInput {
		margin-top: var(--window-gap);
	}
}

#ConsoleInner {
	// TODO: for now
	--statusbar-height: calc(1rlh + 2px);
	--text-field-height: calc(
		1rlh + var(--input-spacing) * 2 + var(--border-size) * 2
	);
	--window-offset: calc(var(--window-spacing) + var(--border-size));

	--inset-inline: var(--window-offset);
	// 13px = separators with their margins
	--inset-block-start: calc(
		var(--window-offset) + var(--titlebar-height) + var(--menubar-height) +
			var(--window-gap) * 2 + var(--combobox-button-height) +
			var(--border-size) + 13px
	);
	--inset-block-end: calc(
		var(--window-offset) + var(--statusbar-height) + var(--text-field-height) +
			var(--window-gap) * 2 + 2px
	);
	--inset: var(--inset-block-start) var(--inset-inline) var(--inset-block-end)
		var(--inset-inline);

	@include utils.content-container-alt;
}

// Console colors
#Assert,
#Error {
	color: #800;
}

#Warning {
	color: #880;
}

#Input {
	color: #008;
}

// Suggestions
#Suggestion {
	@include listbox.item($selected-sel: "&.hack");

	background-color: transparent;

	height: unset;
}

#Suggestions {
	@include listbox.container;

	gap: 0;
	padding: 0;

	flex-direction: column;
	height: unset;
}

#Timestamp {
	&::before {
		content: "[";
	}

	&::after {
		content: "]";
	}
}
