@use "shared/controls";

#GraphAndStats {
	height: unset;
}

#SettingsButton {
	#Button {
		--button-img: icon("settings");
		@include controls.button;
		@include controls.icon-button;

		svg {
			display: none;
		}
	}
}
