@use "shared/controls";
@use "shared++/utils";
@use "steam/shared";

#AutoUpdateHours {
	@include utils.text-reset;
}

#AutoUpdateSettings {
	@include utils.text-reset;
	@include controls.button;

	width: 111px;

	&::after {
		content: "...";
	}
}

#Bottom {
	overflow: visible;
}

#Button {
	@include controls.icon-button;

	// Assume download as this doesn't have a distinguishing class name lol
	--button-img: icon("download");

	&#RemoveFromQueue {
		--button-img: icon("clear");
		@include controls.icon-button;

		opacity: 1;

		&::after {
			background-color: var(--color-button-text);
		}
	}

	#Bottom & {
		--button-img: icon("clear");
	}

	svg {
		display: none;
	}
}

#Buttons {
	gap: var(--toolbar-spacing);
}

#ButtonWrapper {
	margin: 0;

	width: unset;
	height: unset;
}

#ContentTypes {
	background-image: icon("question");

	width: var(--icon-size);
	height: var(--icon-size);

	#Icon {
		display: none;
	}
}

#Count {
	@include utils.text-reset;

	color: var(--color-gray-text);
	margin: 0;
}

#DetailsAndType {
	height: unset;

	#ProgressDetails {
		@include utils.text-reset;
	}
}

#DownloadsPage {
	background: none;
}

#DownloadTimeRemaining {
	color: inherit;
	font: inherit;
}

#DragHandle {
	@include shared.library_drag-handle;
}

#InProgress {
	color: inherit;
}

#ItemLists {
	overflow: auto;
}

#LabelRow {
	gap: var(--text-spacing);
	margin-bottom: var(--text-spacing);

	#Progress {
		@include utils.parentheses;

		color: var(--color-gray-text);

		flex-grow: 0;
	}
}

#Name {
	color: inherit;
	font: inherit;
	font-weight: bold;
	margin-bottom: var(--text-spacing);
}

#Rule {
	display: none;
}

#Section {
	padding: 0;
	margin: 0;

	&:not(#Active) {
		@include shared.library_section;

		#EmptyTransfers {
			padding: var(--appdetails_container-spacing-y)
				var(--appdetails_container-spacing-x);
		}
	}

	&#Active {
		&#Empty {
			background-color: light-dark(#bbe5f3, #001e33);
		}

		#DragHandle {
			top: var(--appdetails_container-spacing-y);
			left: calc(var(--appdetails_container-spacing-x) + 55%);
		}

		#SectionList {
			padding: 0;
		}
	}
}

#SectionItem {
	background-color: transparent;
	padding: var(--appdetails_container-spacing-y)
		var(--appdetails_container-spacing-x);

	// A constant scrollbar appears for an OOB #DragHandle
	overflow: hidden;
}

#SectionItemCenter,
#SectionItemContent {
	gap: 8px;
}

#SectionItemColumn {
	// Progress
	&:first-child {
		flex-basis: 67%;
	}
}

#SectionItemStatus {
	@include utils.text-reset;

	flex-basis: 33%;
}

#SectionList {
	@include shared.library_section-content;

	border: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	position: relative;
}

#SectionTitle {
	@include utils.text-reset;
	@include shared.library_section-header;

	gap: var(--text-spacing);

	align-items: start;
	flex-direction: column;
}

#Status {
	gap: var(--text-spacing);
	margin-bottom: var(--text-spacing);

	#Label {
		color: inherit;

		flex-grow: 0;
	}

	#ProgressDetails {
		@include utils.parentheses;
		@include utils.text-reset;

		color: var(--color-gray-text);

		// #Icon parent lmao
		#Label {
			display: none;
		}
	}

	& > :not([class]) {
		@include utils.parentheses;

		color: var(--color-gray-text);
	}
}

#Text {
	height: unset;
}

#Title {
	color: inherit;
}

#Throttle {
	@include utils.text-reset;
}

#ThrottleValue {
	color: var(--color-gray-text);
}

#TopBar {
	display: none;
}

#Value {
	@include utils.text-reset;
}
