@use "shared/controls";
@use "shared++/utils";

#AutoUpdateHours {
	@include utils.text-reset;

	@include utils.parentheses;
}

#AutoUpdateSettings {
	@include utils.text-reset;
	@include controls.button;

	width: 111px;

	&::after {
		content: "...";
	}
}

#Button {
	// Assume download as this doesn't have a distinguishing class name lol
	--button-img: icon("download");
}

#ButtonWrapper {
	margin: 0;

	width: unset;
	height: unset;
}

#Count {
	@include utils.text-reset;

	margin: 0;
}

#DownloadsPage {
	background: none;
}

#EmptyTransfers {
	padding: 0;
}

#ItemLists {
	padding: calc(var(--border-size) + var(--tabpanel-spacing));

	overflow: auto;
}

#Name {
	@include utils.text-reset;

	margin-bottom: var(--text-spacing);
}

#ProgressDetails {
	@include utils.text-reset;
}

#RemoveFromQueue {
	--button-img: icon("clear");
	@include controls.icon-button;

	opacity: 1;

	&::after {
		background-color: var(--color-button-text);
	}

	svg {
		display: none;
	}
}

#Rule {
	margin: 0 var(--text-spacing);

	height: 0;
}

#Section {
	@include controls.groupbox;

	margin-bottom: 16px;
}

#SectionItem {
	background-color: transparent;

	padding: 0;
}

#SectionItemCenter,
#SectionItemContent {
	gap: 8px;
}

#SectionItemColumn {
	// Progress
	&:first-child {
		flex-basis: 75%;
	}
}

#SectionItemStatus {
	@include utils.text-reset;
}

#SectionList {
	border: none;
	gap: 8px;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
}

#SectionTitle {
	@include utils.text-reset;
	@include utils.legend-as-div;

	background-color: var(--color-window);

	// Adjust for "Clear all" button
	&:has(.DialogButton) {
		top: -12px;
	}
}

#Text {
	height: unset;
}

#Title {
	color: inherit;
}

#TopBar {
	display: none;
}

#Value {
	@include utils.text-reset;
}
