@use "shared/controls";
@use "shared/window";
@use "shared++/utils";
@use "steam/shared";

#Browser {
	@include shared.browser-view-host;
}

#BrowserWrapper {
	height: calc(100% - var(--border-size));
}

#ContentFrame {
	margin-block-end: var(--window-gap);
}

#FocusBar,
#URLBarReplacement {
	display: none;
}

#LockIcon {
	background-image: icon("url");
	height: var(--icon-size);
	margin-inline-end: var(--text-spacing);
	width: var(--icon-size);
}

#ReloadButton {
	--button-img: icon("reload");
	@include controls.button;
	@include controls.icon-button;
}

#RootMenuBar {
	@include window.menubar;

	flex: initial;
	gap: 0;
	margin: 0;
	max-width: 100%;
	padding: 0;
}

#SuperNavBar {
	anchor-name: --supernavbar;
	flex-direction: column;
	height: unset;
	min-height: unset;
	padding: 0;
	-webkit-app-region: no-drag;

	&::after {
		@include utils.pseudo-separator;
	}
}

#TitleBar {
	flex-direction: column-reverse;
	height: unset;
	-webkit-app-region: unset;

	&::before {
		@include utils.pseudo-separator;

		margin-block-start: var(--window-gap);
	}
}

#TopBar {
	background: transparent;
	box-shadow: none;
}

#URL {
	@include utils.text-reset;
}

#URLBar {
	background-color: transparent;
	box-shadow: none;
	gap: var(--toolbar-spacing);
	padding: 0 var(--toolbar-container-spacing);
	margin-block-end: var(--window-gap);

	svg {
		display: none;
	}
}

#URLBarText {
	@include controls.text-field;

	width: 100%;
}

#WindowControls {
	cursor: default;
	flex: initial;
	margin-block-end: var(--window-gap);
	-webkit-app-region: drag;

	html[browsertype="DirectHWND"] & {
		display: none;
	}

	.title-area-children::after {
		content: "Steam";
	}
}

#Wrapper {
	background-color: transparent;
	border: none;
}
