@use "shared/controls";
@use "shared++/utils";

$-sel-arrow-back: "> :nth-child(3)";
$-sel-arrow-forward: "> :nth-child(4)";

%-arrow {
	position: initial;

	&::before,
	&::after {
		@include utils.pseudo-icon;

		height: var(--icon-height);
		inset-block-start: 0;
		pointer-events: none;
		width: var(--icon-width);
	}

	&::before {
		background-color: var(--color-button-text);
		z-index: 1;
	}
}

%-arrow-disabled {
	&::before {
		background-color: var(--color-gray-text);
	}

	&::after {
		background-color: var(--color-button-highlight);
		inset-block-start: var(--icon-disabled-offset);
	}
}

#Arrow {
	--icon-button-width: var(--icon-width);
	--icon-button-height: var(--icon-height);
	@include controls.button($disabled-sel: "&#Disabled");
	@include controls.icon-button;

	transform: none;

	&#Disabled {
		pointer-events: none;
	}

	& > path {
		display: none;
	}
}

#MenuButton {
	color: inherit;
	font: inherit;
	text-align: center;
	text-shadow: inherit;

	&::after {
		display: none;
	}
}

#SuperNav {
	--icon-width: var(--steamdesktop_icon-button-size);
	--icon-height: var(--steamdesktop_icon-button-size);
	--icon-disabled-offset: 1px;

	margin: 0 var(--toolbar-container-spacing);
	padding-block-end: 2px;
	position: relative;

	// Use other buttons as icons, as svgs can not have pseudo-elements
	#{$-sel-arrow-back} {
		@extend %-arrow;
		--button-img: icon("arrow-big-left", "mono");

		&::before,
		&::after {
			inset-inline-start: 0;
		}
	}

	#{$-sel-arrow-forward} {
		@extend %-arrow;
		--button-img: icon("arrow-big-right", "mono");

		&::before,
		&::after {
			inset-inline-start: var(--icon-width);
		}
	}

	&:has(> #Disabled:nth-child(1)) #{$-sel-arrow-back} {
		@extend %-arrow-disabled;

		&::after {
			inset-inline-start: var(--icon-disabled-offset);
		}
	}

	&:has(> #Disabled:nth-child(2)) #{$-sel-arrow-forward} {
		@extend %-arrow-disabled;

		&::after {
			inset-inline-start: calc(var(--icon-width) + var(--icon-disabled-offset));
		}
	}
}

#SuperNavMenu {
	@include controls.button;

	height: var(--steamdesktop_icon-button-size);
	text-transform: unset;

	&:active,
	&#Selected {
		// controls.button-active + active tab-button state
		background: var(--checkerboard);
		box-shadow: var(--border-tab-button-sunken);
		color: transparent;
		font-weight: bold;
		text-shadow: 1px 1px var(--color-button-text);
	}

	&:where(:nth-child(-n + 1 of &)),
	&:where(:nth-last-child(-n + 1 of &)) {
		margin-inline-start: var(--toolbar-spacing);
	}
}
