@use "shared/controls";
@use "shared++/utils";

#AccountMenu {
	@include controls.combobox;
}

#AnnouncementsButton {
	--button-img: icon("newspaper");
}

#Button {
	// Align with the left side
	--icon-buton-height: 23px;

	@include controls.button;
	@include controls.icon-button;

	width: unset;
	min-height: unset;

	cursor: default;
}

#GamepadUIToggle {
	--button-img: icon("computer");
}

#NotificationButtonContainer {
	margin-right: var(--toolbar-spacing);
}

#NotificationsButton {
	--button-img: icon("mail-read");

	&#HasNew {
		--button-img: icon("mail");
	}
}

#TitleBarControls {
	margin: 0;

	position: fixed;
	position-anchor: --supernavbar;
	top: anchor(top);
	right: calc(anchor(right) + var(--toolbar-container-spacing));
	z-index: 1;

	// Big Picture Mode
	& > :nth-child(4) {
		margin-right: var(--toolbar-spacing);

		order: -1;
	}

	svg {
		display: none;
	}
}

#WalletBalance {
	@include utils.parentheses;

	color: var(--color-gray-text);
}
