@use "shared/controls";
@use "shared++/utils";

#AccountMenu {
	@include controls.combobox-button;
}

#AnnouncementsButton {
	--button-img: icon("newspaper");
}

#Button {
	@include controls.button;
	@include controls.icon-button;

	// Align with the left side
	width: var(--steamdesktop_icon-button-size);
	min-height: var(--steamdesktop_icon-button-size);

	cursor: default;
}

#GamepadUIToggle {
	--button-img: icon("computer");
}

#NotificationButtonContainer {
	margin-right: var(--toolbar-spacing);
}

#NotificationsButton {
	--button-img: icon("mail-read");

	&#HasNew {
		--button-img: icon("mail");
	}
}

#SoundtrackControls {
	--button-img: icon("sound");
}

#TitleBarControls {
	margin: 0;

	position: fixed;
	position-anchor: --supernavbar;
	top: anchor(top);
	right: calc(anchor(right) + var(--toolbar-container-spacing));
	z-index: 1;

	& > :has(#AccountMenu) {
		margin-right: var(--toolbar-spacing);

		order: -1;
	}

	svg {
		display: none;
	}
}

#WalletBalance {
	@include utils.parentheses;

	color: var(--color-gray-text);
}
