.AssignCategoriesDialog {
	.DialogBody > .DialogTwoColLayout {
		justify-content: start;
	}
}

.AssignCategoriesDialog_AddNewButton {
	--pos: calc(
		var(--border-size) + var(--window-spacing) + var(--dialog-spacing)
	);

	position: fixed;
	width: min-content;

	bottom: calc(var(--pos) - 32px);
	left: var(--pos);

	& > button {
		min-width: max-content;
	}
}

.AssignCategoriesDialog_Friend {
	background-color: transparent;
}
