.AssignCategoriesDialog {
	.DialogBody > .DialogTwoColLayout {
		justify-content: start;
	}
}

.AssignCategoriesDialog_AddNewButton {
	--pos: calc(var(--main-window-border-spacing) + var(--dialog-spacing));

	inset-block-end: calc(var(--pos) - 32px);
	inset-inline-start: var(--pos);
	position: fixed;
	width: min-content;

	& > button {
		min-width: max-content;
	}
}

.AssignCategoriesDialog_Friend {
	background-color: transparent;
}
