@use "shared/table";
@use "shared/window";
@use "shared++/utils";

.FriendNotificationsDialog .SettingsGroup {
	@include window.content-container;
}

.FriendsSettingsNotificationRow {
	background-color: transparent;
	color: var(--color-window-text);
	display: flex;
	font-size: var(--text-ui-size);
	margin: 0;
	padding: 0;
}

.FriendsSettingsNotificationRow_Header {
	& > div {
		@include table.header-row;
	}
}

.FriendsSettingsNotificationRow_Checkbox,
.FriendsSettingsNotificationRow_Label {
	@include utils.text-reset;

	padding: 2px 5px;
	text-align: start;
}
