@use "shared/controls";
@use "shared++/utils";

.AssignCategoriesDialog,
.ChatRoomNotificationSettingsDialog,
.FriendNotificationsDialog,
.NicknameDialog {
	.DialogBody {
		box-shadow: none;
		padding: 0;
	}

	.friend {
		color: var(--color-button-text);
		margin: 0;
		padding: 0;

		&::before {
			display: none;
		}
	}
}

.DialogHBar,
.HBar {
	@include controls.separator;
}

.expireLinkInContainer {
	gap: var(--text-spacing);
	justify-content: start;
	margin-block-start: var(--text-spacing);
}

.inviteLinkContainer .DialogInput_Wrapper {
	background-color: transparent;
	flex-grow: 1;
	gap: var(--dialog-button-spacing);
	padding: 0;

	.displayRow {
		flex-grow: 0;
	}
}

.OrSeparator {
	margin: 0;
}

.OrSeparatorLabel {
	@include utils.text-reset;
}
