@use "shared/controls";
@use "shared/text";
@use "shared++/extends";
@use "shared++/icons";

$-icons: (
	//"chrome://global/skin/icons/more.svg": ,
	"chrome://global/skin/icons/close.svg": "clear"
);

input:where(
	[type="email"],
	[type="tel"],
	[type="text"],
	[type="password"],
	[type="url"],
	[type="number"]
),
textarea {
	@include controls.text-field;

	min-height: unset;
}

moz-button {
	@include controls.button;

	//min-height: unset;

	@each $url, $icon in $-icons {
		&[iconsrc="#{$url}"] {
			--button-img: icon(#{$icon});
		}
	}

	&[iconsrc='chrome://global/skin/icons/more.svg']
	{
		@include icons.icon-more;
	}

	&[type~="icon"] {
		--button-size-icon: 0px;
		--icon-size: 0px;

		@include controls.icon-button($selected-sel: "[aria-pressed='true']");

		padding: 0;
	}

	&::part(button) {
		background-color: transparent;

		width: unset;
	}
}

moz-button-group {
	// Remove the gap
	--space-small: 0px;
}

moz-checkbox,
moz-radio {
	--input-width: var(--sel-button-size);
	--input-height: var(--sel-button-size);
}

// moz-input-common
#input {
	appearance: none;
	margin-block: var(--input-margin-block-adjust);
	margin-inline: var(--input-margin-inline-start-adjust) var(--space-small);

	&[type="checkbox"] {
		@include controls.checkbox($checked-sel: "&:checked");
	}

	&[type="radio"] {
		@include controls.radio($checked-sel: "&:checked");
	}

	&[type="search"] {
		@include controls.text-field;

		width: 100%;
		// TODO(shared/controls): remove height maybe
		height: unset;
	}
}

moz-toggle {
	--input-width: var(--sel-button-size);
	--input-height: var(--sel-button-size);
	--toggle-dot-margin: 0px;
	--toggle-dot-transform-x: unset;

	&::part(button) {
		all: unset;

		// Restore some props
		// TODO: not centered anyway
		margin-block: var(--input-margin-block-adjust);
		margin-inline: var(--input-margin-inline-start-adjust) var(--space-small);

		@include controls.checkbox($checked-sel: ".hack");

		&::before {
			background-color: transparent;
			border-radius: 0;
		}
	}

	// TODO: doesn't work no matter what I do
	&[pressed]::part(button) {
		@include controls.checkbox-radio-checked;
	}

	&:is(:active, [disabled])::part(button) {
		@include controls.checkbox-radio-inactive;
	}
}
