@use "shared/controls";
@use "shared/text";
@use "shared/window";

checkbox:not([hidden]) {
	@include text.input-label;
}

.checkbox-check {
	@include controls.checkbox(
		$checked-sel: "&[checked]",
		$disabled-sel: "&[disabled]"
	);

	appearance: none;
	margin: 0;

	&[checked] {
		list-style-image: var(--icon-checkmark);
		padding: var(--control-img-pos);
	}
}

splitter {
	background-color: var(--color-button-face);

	&[orient="horizontal"] {
		width: var(--size);
	}

	&[orient="vertical"] {
		height: var(--size);
	}
}

toolbarbutton {
	// TODO(icons): fix whatever this is
	&::before {
		background-position: var(--button-img-pos);
	}
}

.toolbarbutton-icon {
	position: relative;
	top: var(--offset);
	left: var(--offset);
}

.toolbaritem-combined-buttons {
	margin: 0;
}
