#AboutSteamDialog {
	.DialogContent_InnerWidth {
		height: 100%;
	}
}

#DialogBodyLabel {
	@extend $text-reset;
}

.PopupFullWindow > .ModalPosition #DialogBodyText {
	position: initial;
	flex-grow: 1;
}

