#DragHandle {
	// Extend the separator to the right
	position: absolute;
	right: 0;
}

#HeaderContainer {
	padding: 0;
}

#Label {
	@include extends.text-reset;
}

#List {
	--inset: 34px 14px 10px 14px;

	@extend $content-container-alt;

	// This has no effect anyway !
	gap: 0;

	overflow: auto;
	height: 100%;
}

#SortableUserAchievementInner {
	background-color: transparent;
}

