#AddNonSteamGameDialog {
	min-width: unset;

	.DialogInput,
	.DialogButton {
		margin: 0;
	}
}

#AppName {
	justify-content: space-between;
}

#AppName,
#ExePath {
	@extend $text-reset;

	opacity: 1;
	// Seems like V*lve forgot about this one
	text-overflow: ellipsis;

	padding: 2px 7px;
}

#Footer {
	gap: 6px;
	padding-top: 6px;

	& > .DialogButton.Primary {
		width: 148px;
	}
}

#GameList {
	--inset: 73px 11px 58px 11px;

	@extend $content-container-alt;

	overflow: auto;
	border: none;
	box-shadow: none;

	// For #Header
	margin-top: 0;

	// Fullscreen
	.PopupFullWindow:only-child & {
		--inset: 73px 11px 39px 11px;
	}
}

#GameRow {
	background-color: transparent;

	padding: 0;

	#Checkbox {
		padding: 2px 8px;
	}
}

#Header {
	border: none;

	padding: 0;
	margin: 0 2px;
	margin-top: 8px;

	& > div {
		@extend $text-reset;
		@extend button;
		@extend .table-button;
	}

	btns = 5% 6% 32% 62%;

	for btn, i in btns {
		& > :nth-child({i + 1}) {
			min-width: btn;
		}
	}
}

#IconContainer {
	margin: 0;

	justify-content: center;

	img {
		width: 16px;
		height: 16px;
	}
}
