// Purpose:
// Emotes popup

#Content {
	@extend [role="tabpanel"];
}

#FilterInputContainer {
	padding: 0;
	// TODO: --window-gap is too small
	margin-bottom: 8px;

	order: -1;

	// !important
	#FilterInput:hover {
		background-color: var(--color-window);
	}
}

#Picker {
	margin: var(--dialog-spacing);
}

#Tab {
	@extend [role="tab"];

	&#Active {
		@extend [role="tab"][aria-selected="true"];
	}
}

#TabContent {
	opacity: 1;
	background-color: transparent;
	color: var(--color-button-text);
	padding: 0;

	width: var(--icon-size);
	height: var(--icon-size);
}

#Tabs {
	@extend [role="tablist"];

	border: none;

	justify-content: unset;
}

