#AppActivityDate,
#PartnerEventFeaturedHeader {
	@extend $legend-as-div;
	@extend $text-reset;

	background: var(--color-window);
}

#AppActivityDay,
#PartnerEvent {
	@extend fieldset;

	background: none;
}

#EventBody {
	box-shadow: none;
	margin: 0;
}

#PartnerEventMediumImage_Container {
	background: none;
}

#PartnerEventMediumImage_Contents {
	padding: 0;
}

#PartnerEventMediumImage_Summary {
	font: var(--text-ui);
	text-shadow: none;
	color: inherit;
}

#PartnerEventMediumImage_TextColumn {
	text-shadow: none;
	padding: 0;
}

#PartnerEventMediumImage_Title {
	@extend $text-reset;
}

#PartnerEventTextOnly_Container {
	padding: 0;
}

#PartnerEventTextOnly_Icon {
	width: 32px;
	height: 32px;
}

#PartnerEventTextOnly_Title {
	@extend $text-reset;
}

#PartnerEventType {
	@extend $text-reset;

	color: var(--color-gray-text);
}
