#DetailsProgressContainer {
	@extend progress;
}

#DetailsProgressBar {
	@extend progress::-webkit-progress-value;
}

#PlayBarDetailLabel,
#LastPlayedInfo {
	color: var(--color-button-text);
}

#PlayBar {
	opacity: 1;
	background-image: none;

	margin: 0;
}

#StickyHeader:not(#PlayBar) {
	display: none;
}
