#Container {
	@extend fieldset;
	@extend $text-reset;

	background-color: transparent;
}

#Date,
#Name,
#Label {
	@extend $text-reset;
}

#GameDescription {
	@extend $text-reset;

	padding: 0;
}

#InnerContainer {
	padding: 0;
}
