#Links {
	height: unset;
}

#LinksSection {
	& > div {
		border: none;
	}
}

#Link {
	background-color: transparent;

	&:hover {
		text-decoration: underline;
	}
}

#LinkInner {
	font: var(--text-ui);

	padding-top: 0;
	margin-right: 12px;
}

#Text {
	@extend $link;
}

#MenuButton {
	@extend button;
	@extend .titlebar-button;

	--button-img: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDIiPjxzdHlsZT5yZWN0e3dpZHRoOjJweDtoZWlnaHQ6MnB4fTwvc3R5bGU+PHJlY3QgeD0iMCIvPjxyZWN0IHg9IjMiLz48cmVjdCB4PSI2Ii8+PC9zdmc+Cg==');
	--button-img-size: 8px auto;
}
