#DetailsProgressContainer {
	@extend progress;
}

#DetailsProgressBar {
	@extend progress::-webkit-progress-value;
}

#DetailsSection {
	padding: 0;
}

#PlayBarDetailLabel,
#LastPlayedInfo {
	color: var(--color-button-text);
	font-size: var(--text-ui-size);
}

#PlayBar {
	opacity: 1;
	background-image: none;
	margin: 0;
}

#PlayBarLabel {
	@extend %text-reset;

	font-weight: bold;
	margin-bottom: var(--text-spacing);
}

#StickyHeader:not(#PlayBar) {
	display: none;
}
