#AppDetailsSection {
	color: inherit;
	margin: 0;
}

// !important
div#AppDetailsSectionContainer {
	background: none;
	color: var(--color-window-text);
	margin-top: 0;
}

#Body {
	padding: 0;
}

#LinksSectionBody {
	padding: 0;
}

#RightColumnSection {
	@extend fieldset;
}
