#Links {
	height: unset;
}

#LinksSection {
	& > div {
		border: none;
	}
}

#Link {
	background-color: transparent;

	&:hover {
		text-decoration: underline;
	}
}

#LinkInner {
	font: var(--text-ui);
	padding-top: 0;
	margin-right: 12px;
}

#Text {
	@extend $link;
}

#MenuButton {
	@extend button;
	@extend .titlebar-button;
	@extend $icon-more;
}
