#Container {
	padding: var(--dialog-spacing);
}

#FilterArea {
	gap: 6px 8px;
}

#FilterBucket {
	@extend fieldset;

	.DialogInput_Wrapper {
		margin: 0;
	}
}

#FilterBucketLabel {
	@extend $legend-as-div;

	font();
	color: var(--color-button-text);
	text-transform: unset;
}

#FilterBucketBoxes {
	padding: 0;
}

#ExtraTall {
	grid-row-end: span 2;
}

#Default {
	font-style: normal;
}

#Buttons {
	margin: 0;
	gap: var(--dialog-button-spacing);

	svg {
		display: none;
	}
}
