#SortingDropDownContainer {
	// ANOTHER fucking context menu, AND it has an !important
	.DesktopUI & > div {
		@extend .menu;
	}
}

#SortingDropDownItems {
	@extend $text-reset;

	margin: 0;
}

#SortingDropDownLabel {
	font: var(--text-ui);
	color: inherit;
	text-transform: unset;
	letter-spacing: 0;

	margin: 0;

	&::after {
		content: ': ';
	}
}
