#AppProperties {
	height: calc(100% - var(--text-full) - var(--tabs-height));
}

#AsyncBackedInputChildren {
	margin: 0;
}

#BetaAccessCodeRow {
	gap: var(--label-spacing);
	margin: 0;
}

#BetaLabel {
	color: inherit;
}

#BetaLabel {
	font: var(--text-header);
}

#BlueHighlight {
	@extend $text-reset;
}

#BuildInfo {
	@extend $text-reset;
}

#Detail {
	@extend $text-reset;

	margin: 0;
}

#SectionTopLine {
	@extend fieldset;
}

#TopGap {
	margin-top: var(--text-spacing);
}

#TopGapSmall {
	margin: 0;
}

// DLC
#DlcGrid {
	--inset: 88px 25px 65px 25px;

	@extend $content-container-alt;

	font-size: var(--text-ui-size);
	border: none;
	box-shadow: none;
}

#DlcHeader {
	@extend button;
	@extend .table-button;
	@extend .table-button[sort];

	text-transform: unset;

	&:has(> #TriangleHide)::after {
		display: none;
	}

	&:has(> #TriangleUp) {
		@extend .table-button[sort="descending"];
	}

	&:has(> #TriangleDown) {
		@extend .table-button[sort="ascending"];
	}

	& > div {
		display: none;
	}
}

#DlcTopRow > .DialogInput_Wrapper {
	margin-left: var(--text-spacing);
}

#Name {
	@extend $text-reset;
}

// Workshop
#WorkshopItemsRowsScrollable {
	@extend .content-container;

	font: var(--text-ui);
	margin: 0;
}

#WorkshopItemRowsScroll {
	border: none;
	box-shadow: none;
}

#WorkshopItemRow {
	filter: none;
	background-color: var(--color-window);
	box-shadow: none;

	&#IsDragging {
		background-color: var(--color-highlight);
		--color-window-text: var(--color-highlight-text);
	}
}

#LoadOrder,
#SortedColumn {
	font: var(--text-ui);
	color: var(--color-window-text);
}

#Details {
	& > :first-child {
		width: 88px;

		display: flex;
		justify-content: center;
	}
}

#TextDetails {
	background-color: transparent;
	color: var(--color-window-text);
}

#Title {
	@extend $text-reset;
	@extend $legend-as-div;
}

#WorkshopItemDependencies,
#WorkshopItemTagsContainer {
	background-color: transparent;
	font: var(--text-ui);
	color: var(--color-gray-text);
}

#DragHandle {
	opacity: 1;
	color: var(--color-window-text);

	left: 80%;
}

#Controls {
	& > .DialogButton {
		@extend .titlebar-button;
		@extend $icon-trash;

		svg {
			display: none;
		}
	}
}

// etc.
#BrowseDiskRow {
	gap: var(--text-spacing);

	& > .DialogButton {
		order: -1;
	}
}

#BrowseDiskSize {
	margin-left: 0;
}

#SteamCloudSection {
	gap: var(--text-spacing);
}

#SteamCloudUsage {
	align-self: start;
}

#SteamInputLink {
	@extend $link;
}

#ViewMore {
	@extend $link;

	padding: 0;

	flex: 0 0 auto;

	&,
	&:focus {
		box-shadow: none;
	}
}
