#BetaLabel {
	@extend $text-reset;
	@extend $legend-as-div;
}

#BuildInfo {
	@extend $text-reset;
}

// note?
[class*="FieldDescription_"],
#Detail {
	font: var(--text-ui);
	color: var(--color-button-text);
	margin: 4px 0;
}

#SectionTopLine {
	@extend fieldset;
}

#TopGap {
	margin-top: 4px;
}

// Workshop
#WorkshopItemsRowsScrollable {
	@extend .content-container;

	font: var(--text-ui);

	padding: 2px;
	margin: 0;
}

#WorkshopItemRowsScroll {
	border: none;
	box-shadow: none;
}

#WorkshopItemRow {
	filter: none;
	background-color: var(--color-window);
	box-shadow: none;

	&#IsDragging_ {
		background-color: var(--color-highlight);
		--color-window-text: var(--color-highlight-text);
	}
}

#LoadOrder,
#SortedColumn {
	font: var(--text-ui);
	color: var(--color-window-text);
}

#Details {
	& > :first-child {
		width: 88px;

		display: flex;
		justify-content: center;
	}
}

#TextDetails {
	background-color: transparent;
	color: var(--color-window-text);
}

#WorkshopItemDependencies,
#WorkshopItemTagsContainer {
	background-color: transparent;
	font: var(--text-ui);
	color: var(--color-gray-text);
}

#DragHandle {
	opacity: 1;
	color: var(--color-window-text);

	left: 80%;
}

#Controls {
	& > .DialogButton {
		@extend .titlebar-button;

		--button-img: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI5IiBoZWlnaHQ9IjEiIHk9IjIiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIyIiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iMSIgeD0iMyIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjYiIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI1IiB4PSIxIiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeD0iMyIgeT0iNCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHg9IjUiIHk9IjQiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI1IiB4PSI3IiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjUiIGhlaWdodD0iMSIgeD0iMiIgeT0iOCIvPjwvc3ZnPgo=');
		--button-img-size: 9px;
		--button-img-pos: 3px 2px;

		svg {
			display: none;
		}
	}
}

// etc.
#BrowseDiskRow > .DialogButton {
	order: -1;
}

#BrowseDiskSize {
	margin-left: 1ch;
}

#SteamInputLink {
	@extend $link;
}

#ViewMore {
	@extend $link;

	padding: 0;

	flex: 0 0 auto;

	&,
	&:focus {
		box-shadow: none;
	}
}
