#AppStatus,
#AppTitle,
#PlaytimeDetails {
	@include extends.text-reset;

	padding: 0;
	margin: 0;
}

#AppPortraitHover {
	@extend .tooltip;

	box-shadow: none;
}

#AppTitleContainer {
	padding: 0;
}

#CapsuleBackgroundContainer {
	display: none;
}

