#BottomBar {
	background: transparent;
	box-shadow: none;

	padding: 8px;

	flex: unset;
}

#AddGameButton,
#DownloadStatusContent,
#FriendsButton {
	@extend button;

	width: unset;
	display: flex;
}

#Icon,
#Text,
#Queue {
	color: var(--color-button-text);
}
