#AddGameButton {
	@extend select;
}

#BottomBar {
	background: transparent;
	box-shadow: none;

	padding: 8px;

	position: fixed;
	top: 41px;
	right: -5px;

	flex: unset;
}

#DownloadStatusContent,
#FriendsButton {
	@extend button;

	// Empty div without a class
	& > :empty {
		display: none;
	}
}

#DetailedDownloadProgress {
	width: unset;

	justify-content: center;

	&::before {
		content: var(--BottomBar_Manage);
	}

	#Icon {
		box-shadow: none;

		box(16px);

		position: fixed;
		left: 8px;
		bottom: 5px;
		display: block;
	}
}

#Percentage {
	parentheses();
}

#ProgressBar {
	// I am not styling your 10th progress bar
	display: none;
}

#ProgressBarWrapper {
	flex-grow: 0;

	position: fixed;
	left: 28px;
	bottom: 7px;
}

#FriendsButton {
	#Text::after {
		content: '...';
	}
}

#Icon,
#IconBevel {
	display: none;
}

#StatusLine {
	color: inherit;

	gap: 4px;
}

#Status,
#Text,
#Queue {
	@extend $text-reset;
}
