#ChatTab {
	--height: 22px;

	@extend [role="tab"];

	width: unset;
	height: calc(var(--height) + 4px);

	&#Active {
		@extend [role="tab"][aria-selected="true"];

		height: calc(var(--height) + 7px);
		z-index: 4;
	}
}

#ChatTabContent_ChatRoomName {
	@extend %text-reset;

	-webkit-mask: none;
	// Make it consistent with friends
	font-weight: bold;
}

#ChatTabTransitionGroup {
	@extend [role="tablist"];

	border: none;
	//padding-left: 3px;
}

#CloseButton {
	@extend .titlebar-button;
	@extend %titlebar-button-close;

	position: relative;

	// TODO: unify when adding icons
	svg {
		display: none;
	}
}

