#Popup {
	.DialogButton {
		height: unset;
	}
}

#ChoiceNote {
	margin-top: var(--messagebox-content-spacing);
}

#ConflictChoiceIcon {
	display: none;
}

#ConflictChoiceText {
	gap: var(--text-spacing);
	margin-left: var(--label-spacing);
}

#DialogChoiceButton {
	padding: 0;
	margin-bottom: var(--text-spacing);

	width: 100%;

	&,
	&:active,
	&:focus {
		color: var(--color-button-text);
		outline: none;
		box-shadow: none;
	}
}

#DialogChoiceRow {
	height: unset;
}

#FooterNote,
#Title {
	margin: 0;
}

#RadioButton {
	// TODO(port): ?
	@extend input;
	@extend input[type="radio"];

	box-shadow: none;

	align-self: start;

	#Active & {
		@extend input[type="radio"]:checked;
	}

	#DialogChoiceButton:active & {
		@extend input[type="radio"]:active;
	}
}

#TitleWarning {
	font: var(--text-ui);
	font-weight: bold;
}

