#Container {
	--icon: var(--tree-icon-expanded);

	@extend .tree-entry-icon;

	padding: 0;
	margin-right: 6px;

	box-sizing: border-box;

	&::after {
		top: -19px;
		height: 22px;
	}

	&#Collapsed {
		--icon: var(--tree-icon-collapsed);
	}

	svg {
		display: none;
	}
}
