#Console {
	background-color: transparent;
	font-family: var(--text-monospace-font);

	pre {
		// Its height is 17px anyway
		font-size: 12pt;
		color: var(--color-window-text);
	}
}

#ConsoleInput {
	padding: 0;

	.DialogInput {
		margin-top: var(--window-gap);
	}
}

#ConsoleInner {
	--inset: 82px 4px 46px 4px;

	@extend $content-container-alt;
}

// Console colors
#Assert,
#Error {
	color: #800;
}

#Warning {
	color: #880;
}

#Input {
	color: #008;
}

// Suggestions
#Suggestion {
	@extend [role="option"];

	background-color: transparent;

	height: unset;
}

#Suggestions {
	@extend [role="listbox"];

	gap: 0;
	padding: 0;

	flex-direction: column;
	height: unset;
}

#Timestamp {
	&::before {
		content: '[';
	}

	&::after {
		content: ']';
	}
}
