#Arrow {
	display: none;
}

#contextMenu {
	@extend .window;
	@extend .window.child;

	background-image: none;
}

#contextMenuContents {
	background: var(--color-button-face);

	padding: 0;
}

#contextMenuItem {
	@extend [role="menu"] [role="menuitem"];

	font-size: var(--text-ui-size);
	color: var(--color-button-text);
	border: none;

	/&:has(.SVGIcon_Check),
	/&:has(.DialogCheckbox.Active) {
		@extend [role="menuitemcheckbox"][aria-checked="true"];
	}

	&.disabled {
		@extend [role="menu"] [role="menuitem"][aria-disabled="true"];
	}

	&:hover,
	&#active {
		@extend [role="menu"] [role="menuitem"]:hover;

		--color-gray-text: var(--color-highlight-text);
	}

	.SVGIcon_Button {
		fill: var(--color-button-text);
		margin: 0;

		position: absolute;
		left: 4px;
		width: var(--text-ui-size);
		height: var(--text-ui-size);
	}
}

#ContextMenuSeparator {
	@extend hr;
}

// checkbox ?
#IconContainer {
	display: none;
}

#SubMenu {
	@extend [role="menu"] [role="menuitem"][aria-haspopup];
}
