#Label {
	color: var(--color-button-text);
	font: var(--text-ui);
	text-transform: unset;
	margin: auto;
}

#CollectionButton {
	font: var(--text);
	letter-spacing: 0;
}

#CollectionIcon {
	padding: 0;

	width: unset;
	height: unset;
	display: block;

	&::before {
		content: 'Collections';

		text-align: center;
		width: 100%;
	}
}

#CollectionIconBox {
	display: none;
}
