#Container {
	background: none;
	color: var(--color-window-text);
	box-shadow: none;

	&,
	& > div {
		color: var(--color-window-text);
		stroke: currentColor;
	}
}

#SectionName {
	font: var(--text-ui);
	letter-spacing: 0;
}

#SectionCount {
	color: var(--color-gray-text);
	font: var(--text-ui);
}
