#Container {
	background-color: transparent;

	gap: var(--spacing-toolbar);
	margin: 0;
}

#FilterTag {
	padding: 2px;
	border-radius: 0;
	margin: 0;
}

#SearchInput {
	border-radius: 0;

	min-height: unset;

	.DialogTextInputBase {
		background-image: none;

		margin: 0;
	}
}

#SearchFilterInput {
	color: var(--color-button-text);
	align-items: center;
}

#SearchFilterInputClear {
	position: unset;
}

#SearchByTypePrompt {
	font: var(--text-ui);
	padding: 0 18px;
}

#AdvancedSearchContainer {
	@extend button;

	margin-right: 0;

	height: unset;
	justify-content: center;

	& > .Focusable > div {
		cursor: default;

		&::before {
			content: 'Search...';
		}
	}

	svg {
		display: none;
	}
}

#AdvancedSearchPane {
	@extend body;

	border-radius: 0;

	&::before {
		display: none;
	}
}
