#Container {
	background-image: none;
	gap: var(--window-gap);
}

#GameListHomeAndSearch {
	background-color: transparent;
	box-shadow: none;
	gap: var(--dialog-button-spacing);
	padding: 0;
	padding-bottom: 2px;

	height: unset;
	z-index: 1;

	a {
		@extend button;

		height: unset;

		&[aria-current] {
			@extend .icon-button, :active;
		}
	}
}
