#Bar {
	padding: 0;
	margin-bottom: 2px;

	circle {
		stroke: var(--color-button-text);
	}

	svg {
		fill: var(--color-button-text);
	}
}

#MenuHeader {
	@extend select;

	margin: 0;

	cursor: default;
}

#ScrollToTop,
#Arrow {
	display: none;
}

#ViewFiltersBar {
	margin: 0;
	margin-left: 3px;
}

#CheckboxWithImage {
	@extend $small-button;

	&::before,
	&::after {
		display: none;
	}

	&#Active {
		@extend button:active;
	}
}
