div#DialogBody {
	gap: 0;

	.DialogBodyText {
		padding: 0;

		position: unset;
		top: unset;

		display: flex;
		flex-direction: column;
	}

	[class*="gamepaddialog_FieldLabelRow"] {
		gap: 0;

		// Align with the "IP Address" copy button.
		height: 22px;

		display: grid;
		grid-template-columns: 25% 75%;
	}

	.DialogFooter {
		svg {
			display: none;
		}
	}
}

#PlayersList {
	@extend .content-container;

	margin-top: 0;
	margin-bottom: 8px;

	order: -1;
}

#Header {
	@extend $text-reset;
	@extend button;
	@extend .table-button;
}

#Details {
	border: none;
}
