[class*="gamelistdropdown_"] {
	/{attr(Bar)} {
		padding: 0;

		circle {
			stroke: var(--color-button-text);
		}

		svg {
			fill: var(--color-button-text);
		}
	}

	/{attr(MenuHeader)} {
		@extend select;

		cursor: default;
	}

	/{attr(ScrollToTop)},
	/{attr(Arrow)} {
		display: none;
	}

	/{attr(ViewFiltersBar)} {
		margin: 0;
		margin-right: 3px;
	}

	/{attr(CheckboxWithImage)} {
		@extend $small-button;

		&::before,
		&::after {
			display: none;
		}

		&[class*="Active"] {
			@extend button:active;
		}
	}
}
