#Container {
	@extend .tree-item
	@extend .tree-item[open];
	@extend $text-reset;

	overflow: visible;
	background-color: transparent;
	box-shadow: none;

	padding: 3px 0;

	&::before {
		left: 8px;
		top: -11px;
		width: 18px;
		height: 24px;
	}

	&::after {
		left: -9px;
		top: -10px;
		height: calc(100% - 1px);
	}

	&#Selected {
		@extend .list-item[selected] > .list-item-name-container > .list-item-name;
	}

	circle {
		fill: currentColor;
	}
	path {
		fill: currentColor;
	}
}

#FriendIsPlaying {
	left: unset;
	right: 0;
}

#GameIcon {
	margin-right: 7px;

	box(var(--icon-size));
}

#GameListEntryContainer {
	background-color: transparent;

	align-items: center;

	&::before {
		left: 7px;
		top: -14px;
		width: 8px;
		height: 24px;
	}
}
