#Container {
	background-image: none;
	gap: var(--window-gap);
}

#GameListHomeAndSearch {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	padding-left: 10px;
	margin-left: 269px;
	margin-top: -2px;

	position: fixed;
	height: unset;
	z-index: 1;

	a {
		@extend [role="tab"];

		margin-top: 2px;

		height: unset;

		&:hover {
			text-decoration: none;
		}

		&[aria-current] {
			@extend [role="tab"][aria-selected="true"];
		}
	}
}

#HomeBox {
	overflow: visible;

	flex: unset;
}
