#SliderControl {
	@extend input[type="range"];

	height: unset;
}

#SliderTrack {
	@extend input[type="range"]::-webkit-slider-runnable-track;

	&::before {
		display: none;
	}
}

#SliderHandle {
	@extend input[type="range"]::-webkit-slider-thumb;

	box-shadow: none;
}

#SliderHandleContainer {
	transform: translateX(calc(-100% * var(--inverse-normalized-value) + 11px * var(--inverse-normalized-value)));
}
