#SliderControl {
	--slider-handle-width: 11px;

	@extend input[type="range"];

	height: unset;
}

#SliderHandle {
	@extend input[type="range"]::-webkit-slider-thumb;

	box-shadow: none;
}

#SliderTrack {
	@extend input[type="range"]::-webkit-slider-runnable-track;

	background-color: transparent;

	&::before {
		display: none;
	}
}
