#ControlsListChild {
	max-width: unset;
}

#ControlsListOuterPanel {
	--controls-list-spacing: var(--label-spacing);

	gap: var(--dialog-button-spacing);

	flex: unset;
}

#Field {
	--field-row-children-spacing: var(--label-spacing);

	background-color: transparent;
	padding: 0;

	div:not([class]) > & {
		@extend fieldset;

		gap: var(--text-spacing);

		display: flex;
		flex-direction: column;
	}

	&::after { // lol
		display: none;
	}
}

#FieldDescription {
	@extend $text-reset;

	margin-top: var(--text-spacing);

	#WithDescription > div + & {
		color: var(--color-gray-text);
		margin-left: calc(var(--sel-button-size) + var(--label-spacing));
	}
}

#FieldIcon {
	display: none;
}

#FieldLabel {
	font: var(--text-ui);
	color: var(--color-button-text);

	& > :not([class]) { // has something else
		gap: 1ch;

		display: flex;
		align-items: center;
	}
}

#FieldLabelRow {
	flex-direction: row-reverse;
}

#StandaloneFieldSeparator {
	display: none;
}

#Toggle {
	@extend input;
	@extend input[type="checkbox"];

	&#On {
		@extend input[type="checkbox"]:checked;
	}
}

#ToggleRail,
#ToggleSwitch {
	display: none;
}
