// .DialogLabel in ../other/dialog-shared.styl
div#AppNameHeader {
	@extend $dialog-title;
}

#ButtonContainer {
	gap: 6px;
	margin-top: 6px
	// TODO: weird as hell - goes out of bounds for no reason
	margin-bottom: calc(8px + var(--dialog-spacing));

	& > div {
		@extend button;
	}
}

#LaunchOptionDialog {
	background: none;
	color: inherit;
	padding: var(--dialog-spacing);
}

#ListContainer {
	background-color: transparent;
	border: none;
	box-shadow: none;
	gap: var(--text-spacing);
	padding: 0;

	overflow: auto;
}

// Actually .DialogBodyText
#ListHeader {
	@extend $text-reset;

	margin-bottom: var(--text-spacing);
}

#ListItem {
	background-color: transparent;
	padding: 0;
	margin: 0;

	label {
		font: var(--text-ui);
		padding-left: var(--spacing-label);
	}
}

#OptionList {
	padding: 0;
}

