[class*="libraryhome_"] {
	/{attr(Container)} {
		background: transparent;
	}

	/{attr(UpdatesContainer)},
	/{attr(LibraryHome)} {
		background: none;
		color: var(--color-window-text);

		height: unset;
	}
}
