#LibraryWindowDivider {
	background-color: transparent;

	width: 8px;
}

#MainPanel {
	--tab-height: 18px;
	margin-top: var(--tab-height);
	margin-bottom: 2px;
}

#AppDetailsTransitionGroup {
	@extend [role="tabpanel"];
}

#AppDetailsMain {
	@extend table;

	padding: 2px;

	inset: 3px 4px 4px 3px;
}
