#AppDetailsMain {
	@extend .content-container;

	border: none;
}

#ContextMenuAction {
	@extend .menu-item[primary];

	background-image: none;
	text-transform: unset;
	letter-spacing: 0;
}

#LibraryWindowDivider {
	background-color: transparent;

	width: 3px;
}
