#SettingsButton {
	@extend button;
	@extend .titlebar-button;
	@extend $icon-settings;

	&::before {
		height: 13px;
	}

	svg {
		display: none;
	}
}

#EventRowCarousel {
	margin: 0;
}

#EventTime {
	font: var(--text-ui);
	color: inherit;
	padding-top: 4px;
}

#EventOptions {
	opacity: 1;
	padding-top: 4px;
	padding-right: 4px;

	right: 0;

	& > div {
		@extend button;
		@extend .titlebar-button;

		--button-img: var(--icon-arrow-bottom);
		--button-img-size: 7px 4px;
		--button-img-pos: 4px center;

		background-image: none;
	}
}

#PartnerEventRowCapsule_TextCtn {
	@extend $text-reset;

	padding: 0;
	padding-top: 4px;
}

#PartnerEventRowCapsule_TextTitle {
	@extend $text-reset;

	min-height: 40px;
}

#GameIconAndName {
	@extend button;

	min-width: 100%;
	align-items: center;
	justify-content: center;
}

#GameIcon {
	filter: none;
	margin-right: 4px;

	box(16px);
}

#GameName {
	color: inherit;
}
