#Container {
	background: transparent;
}

#LibraryHome,
#UpdatesContainer {
	background: none;
	color: var(--color-window-text);
	padding: 8px 8px 0;

	height: unset;
}

#LibraryHome {
	position: relative;
}
