#ContextMenuAction {
	@extend .menu-item[primary];

	background-image: none;
	text-transform: unset;
	letter-spacing: 0;
}

#LibraryWindowDivider {
	background-color: transparent;

	width: 8px;
}

#AppDetailsTransitionGroup {
	@extend [role="tabpanel"];
}

#AppDetailsMain {
	@extend .content-container;

	inset: 3px 4px 4px 3px;
}
