#CachedAccountName,
#CachedName {
	@extend $text-reset;

	opacity: 1;
	padding: 0;

	position: unset;
}

#CachedUserList {
	flex-direction: column;
}

#LoginCachedAvatar {
	gap: 8px;

	display: grid;
	grid-template-columns: 100px 200px;

	#CachedName {
		font-weight: bold;

		align-self: end;
	}
}

#LoginCachedAvatarImage {
	background-image: none;
	border: none;
	box-shadow: none;
	margin: 0;

	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;

	transform: unset;

	& > img {
		box-shadow: var(--border-field);
		padding: var(--border-size);
	}
}

#MoreMenuButton {
	@extend .titlebar-button;
	@extend $icon-more;

	opacity: 1;

	position: absolute;
	bottom: 50%;
	right: calc(100% + 8px);
	width: unset;

	// TODO: remove box-shadow only
	&::before {
		display: initial;
	}
}

#NewLogin {
	@extend button;

	flex-basis: unset;
}

#NewLoginIcon {
	display: none;
}

