#NotificationGroup {
	background-color: transparent;
	border-bottom: none;
	margin: 0;
}

#NotificationSection {
	align-items: center;
}

#NotificationFeedToggle {
	margin-right: 0;
}

#NotificationDescription {
	font: var(--text-ui);
	color: inherit;
	margin: 0;
}

#NotificationPrefDetails {
	background-color: transparent;
	padding: 0;
	padding-left: 23px;
	box-shadow: none;
	flex-direction: column;

	.DialogCheckbox_Container {
		margin: 0;
	}
}

#PrefDetailsToggle svg {
	margin: 0;
	height: var(--text-ui-size);
	display: block;
}

#Toggles.Panel {
	gap: 106px;
}
