// Purpose:
// Used in group chat settings (and possibly other older dialogs)

#Container {
	// for bottom buttons
	--pos: calc(var(--border-size) + var(--window-spacing) + var(--dialog-spacing));

	margin: var(--dialog-spacing);
	margin-bottom: calc(var(--dialog-spacing) + var(--dialog-button-spacing) + var(--tabs-height) + 21px);

	width: unset;
	height: unset; // ?
	flex-direction: column;
}

#Content {
	background: none;
}

#Nav {
	@extend [role="tablist"];

	background-color: unset;
	padding: 0;

	min-width: unset;
	max-width: unset;
}

#NavItem {
	@include extends.text-reset;
	@extend [role="tab"];

	&#Active {
		@extend [role="tab"][aria-selected="true"];
	}
}

#NavItems {
	flex-direction: row;
}

#NavTitle {
	@extend $dialog-title;

	text-transform: unset;
}

