#PageableContainer {
	@extend fieldset;

	svg {
		color: inherit;
	}

	polyline {
		stroke: var(--color-window-text);
	}
}

#PageClickContainer {
	background-color: var(--color-window);

	padding-right: 2px;

	position: absolute;
	top: -8px;
	right: 8px;
}

#HeaderPageControls {
	@extend $text-reset;

	& > div:not([class]) {
		background-color: var(--color-window);

		padding: 0 2px;

		position: absolute;
		top: -8px;
		right: 42px;
	}
}

#Name {
	@extend $text-reset;
	@extend $legend-as-div;

	background-color: var(--color-window);
}
