#PageableContainer {
	@extend fieldset;

	svg {
		color: inherit;
	}

	polyline {
		stroke: var(--color-window-text);
	}
}

#PageClickContainer {
	background-color: var(--color-window);
	padding-right: 2px;

	position: absolute;
	top: -7px;
	right: 8px;
}

#PageLeft,
#PageRight {
	@extend $pageable-container-button;

	&#Disabled {
		@extend button:disabled;
		@extend .titlebar-button:disabled;
	}
}

#PageLeft {
	--button-img: var(--icon-arrow-left);
}

#PageRight {
	--button-img: var(--icon-arrow-right);
}

#HeaderPageControls {
	@extend $text-reset;

	& > div:not([class]) {
		@extend $legend-as-div;

		background-color: var(--color-window);

		top: -7px;
		right: calc(10px + 16px * 2);
	}
}

#Name {
	@extend $text-reset;
	@extend $legend-as-div;

	background-color: var(--color-window);
}
