#PageListSeparator,
#PageListItem_Icon {
	display: none;
}

#PagedSettingsDialog {
	margin: var(--dialog-spacing);

	min-width: unset;
	min-height: unset;
	flex-direction: column;

	.DialogDropDown {
		min-width: 75px;
	}

	.DialogHeader {
		display: none;
	}
}

#PagedSettingsDialog_PageList {
	@extend [role="tablist"];

	padding: 0;

	overflow: visible;
	flex-grow: 0;
	flex-direction: row;
}

#PagedSettingsDialog_PageListColumn {
	background-color: transparent;
	padding: 0;

	max-width: unset;
	min-height: unset;
	flex-grow: 0;
}

#PagedSettingsDialog_PageListItem {
	@extend [role="tab"];

	font: var(--text-ui);

	cursor: default;

	&#Active {
		@extend [role="tab"][aria-selected="true"];
	}
}

#PagedSettingsDialog_Title {
	@extend %dialog-title;

	text-transform: unset;
	padding: 0;
}

