#AvatarAndName {
	color: inherit;

	gap: 4px;
}

#ColumnResizer {
	--separator-size: 13px;

	opacity: 0;

	padding: 0;

	width: var(--separator-size);
	margin-right: calc(var(--separator-size) / -2);
}

#Empty {
	@extend $text-reset;
}

#OverlayPlayersDialog,
#PlayersDialog .DialogBody {
	padding: 0;
}

#PlayersList {
	@extend .content-container;

	border: none;
	margin: 0;
}

#PlayersListBody {
	overflow: auto;
	background-color: transparent;

	padding: 0;

	[role="cell"] {
		@extend $text-reset;
	}
}

#PlayersListHeaderCtr {
	background-color: transparent;

	padding: 0;
}

#PlayersListHeaderCell {
	@extend button;
	@extend .table-button;

	// "Add Friend" column
	&:last-of-type {
		height: 17px;
	}
}

#PlayersListHeaderColumn {
	color: inherit;

	padding: 0;

	display: flex;
	justify-content: space-between;
}

