#CommandButton {
	// TODO: icons
	min-width: 32px;
	height: 32px;

	&:active,
	&#Toggled {
		@include controls.icon-button:active;
	}

	.SVGIcon_Button {
		opacity: 1;
		fill: var(--color-button-text);
		padding: 0;
		margin: 0;
	}

	path {
		fill: var(--color-button-text);
	}
}

#Gap {
	width: var(--toolbar-spacing);
}

#ToolbarRow {
	margin-top: 0;
	margin-bottom: var(--toolbar-spacing);
}

