#Box {
	background-color: transparent;

	& > button {
		@extend .titlebar-button;
		@extend $icon-refresh;

		& > svg {
			display: none;
		}
	}
}

#Column {
	box-shadow: var(--border-field);
	padding: var(--border-size);
}

#LoginQR {
	background-color: var(--color-window);
	border-color: var(--color-window);

	&#Blur {
		filter: none;

		& > * {
			display: none;
		}
	}
}

