// It could be a radio button,
// but there is no indication of that.
#Icon {
	background-image: var(--control-img);

	position: absolute;
	left: 6px;
	width: 7px;
	height: 7px;

	:hover > & {
		filter: string.unquote("invert()");
	}

	&:not(:empty) {
		--control-img: var(--icon-checkmark);

		@extend input, [type="checkbox"], :checked;
	}

	& > svg {
		display: none;
	}
}

#RootMenuButton {
	@extend [role="menubar"] > [role="menuitem"];

	color: var(--color-menubar-text);
	font-size: var(--text-ui-size);

	&:active {
		@extend [role="menubar"] > [role="menuitem"]:active;
	}

	svg {
		display: none;
	}
}
