// TODO radio ?
#Icon {
	background-image: var(--control-img);

	position: absolute;
	left: 6px;
	box(7px);

	:hover > & {
		filter: invert();
	}

	&:not(:empty) {
		--control-img: var(--icon-checkmark);

		@extend input[type="checkbox"]:checked;
	}

	& > svg {
		display: none;
	}
}

#RootMenuButton {
	@extend $text-reset;
	@extend .menubar-item;

	&:active,
	&[class*="Open"] {
		@extend .menubar-item:active;
	}

	svg {
		display: none;
	}
}
