// TODO radio ?
#Icon {
	background-image: var(--control-img);

	position: absolute;
	left: 6px;
	box(7px);

	:hover > & {
		filter: invert();
	}

	&:not(:empty) {
		@extend input[type="checkbox"]:checked;
	}

	& > svg {
		display: none;
	}
}

#RootMenuButton {
	color: var(--color-button-text);
	font: var(--text-ui);
	padding: 3px 6px;

	&:active,
	&[class*="Open"] {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}

	svg {
		display: none;
	}
}
