#TitleBar {
	& ~ :last-child .DialogContent {
		padding: 7px;
		padding-bottom: 25px;
	}
}

#DialogBody {
	box-shadow: none;

	padding: 0;
	gap: 0;

	.DialogButton svg {
		color: inherit;
	}
}

#TopControlsCtr {
	gap: 0;
	margin-left: 4px;
	margin-bottom: 1px;

	.DialogDropDown {
		right: calc(var(--search-button-width) + var(--right-offset) * 2);
		width: 33vw;
	}
}

#TopControlsCtr .DialogDropDown,
#SearchButton {
	--search-button-width: calc(2ex + 5px * 2);
	--right-offset: 6px;

	position: absolute;
	top: 2px;
}

#SearchButton {
	right: var(--right-offset);
	width: var(--search-button-width);
}

#SwitchTabButton {
	@extend [role="tab"];

	margin-top: 2px;

	width: unset;

	&#Selected {
		@extend [role="tab"][aria-selected="true"];
	}

	&::before {
		display: block;
	}

	svg {
		display: none;
	}
}

#ServerTabPane {
	@extend [role="tabpanel"];
}

#ServerList {
	@extend table;

	margin: 0;
	padding: 2px;

	div[role="rowgroup"] {
		overflow: auto;
	}
}

#ServerListHeaderCtr {
	background-color: transparent;

	padding: 0;
}

#ServerListHeaderRow {
	gap: 0;
}

#RadioButtonColumn {
	display: none;
}

#SelectColumnsButton,
#ServerListHeaderCell {
	@extend button;
	@extend .table-button;

	height: 17px;
}

#ServerListHeaderSort {
	color: inherit;
	font: var(--text-ui);
	text-transform: unset;

	justify-content: space-between;

	svg {
		box(calc(var(--text-size) * var(--text-line)));
	}
}

#ColumnResizer {
	--separator-size: 13px;

	opacity: 0;

	padding: 0;

	width: var(--separator-size);
	margin-right: calc(var(--separator-size) / -2);
}

#SelectColumnsButton {
	text-overflow: unset;

	width: 21px;
}

#ServerRow {
	&:hover {
		background-color: transparent;
	}

	&#Selected {
		background: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}

#FilterOptionsCtr {
	padding: 0;

	&:not(#Collapsed) {
		gap: 0;

		height: unset;
	}

	&#Collapsed {
		display: none;
	}

	.DialogInput {
		width: 100%;
	}
}

#DropdownLabel {
	font: var(--text-ui);

	margin-bottom: 4px;

	display: block;
}

#BottomControlsRow {
	padding: 4px 0;

	height: unset;

	.DialogTwoColLayout {
		gap: 0;

		& > .DialogButton {
			min-width: unset;
		}
	}

	.DialogFooter {
		padding: 0;
	}
}

#ToggleShowFilterDetailsButton {
	width: 111px;

	&#Selected {
		@extend button:active;
	}

	svg {
		display: none;
	}
}

