#EventDaySeparator {
	// TODO: vertical separators
	margin: 0 16px;
}

#EventHeaderBlock {
	@extend %text-reset;
}

#GamePlaySummaryHeader {
	@extend %legend-as-div;
	@extend %text-reset;

	background-color: var(--color-window);
}

#SummaryCarouselContainer {
	background: none;
	padding: 0;

	&::after {
		display: none;
	}
}

#SummaryContainer {
	margin: 0;
}

#SummaryScreenshot {
	box-shadow: none;
}
