// GAME OVERVIEW START (here in preparation for beta restructure)
// TODO: clearly this needs a better icon
#DragHandle {
	padding: 0;
}

#GameOverview {
	background: none;
	padding: 0;

	// TODO: does this ever need scrolling ?
	overflow: visible;
}

#GameOverviewSection {
	@extend fieldset;

	background-color: transparent;
}

#GameOverviewSectionChildren {
	padding: 0;
}

#GameOverviewSectionHeader {
	@extend $text-reset;
	@extend $legend-as-div;

	background-color: transparent;

	svg {
		color: inherit;
		margin: 0;
	}
}

#GameOverviewSectionTitle {
	gap: var(--text-spacing);
}

#GuideListItem {
	background-color: transparent;
	color: inherit;
	padding: 0;
	margin-top: var(--text-spacing);
}

#GuideTitle {
	@extend $text-reset;
	@extend $link;
}

#OverviewTitle {
	@extend $dialog-title;
}

#Playtime {
	@extend $text-reset;

	gap: var(--text-spacing);
}
// END

#OverlayPopup {
	background: none;
	padding: var(--dialog-spacing);

	height: calc(100% - 19px);
}

#WindowControls {
	margin: calc(var(--dialog-spacing) * -1);
	margin-bottom: var(--dialog-spacing);

	height: unset;
}

#Wrapper {
	/{s('body:has(> #%s > %s)', popup_target, unquote(selector()))} {
		background-color: transparent;
		box-shadow: none;

		padding: 0;
	}
}

