#Wrapper {
	background-color: transparent;
	border: none;
}

#FocusBar,
#URLBarReplacement {
	display: none;
}

#TopBar {
	background: transparent;
	box-shadow: none;
}

#TitleBar {
	flex-direction: column-reverse;
	height: unset;
	-webkit-app-region: no-drag;

	&::before {
		content: '';

		@extend hr;

		margin-top: 2px;

		width: 100%;
	}
}

#WindowControls,
#RootMenuBar {
	flex: initial;
	cursor: default;
}

#RootMenuBar {
	gap: 0;
	padding: 0;
}

#SuperNavBar {
	padding: 0;

	height: unset;
	min-height: unset;
	flex-direction: column;

	-webkit-app-region: no-drag;

	&::after {
		content: '';
		display: block;

		@extend hr;

		margin-bottom: 2px;
	}
}

// The browser view is above everything else
#Browser {
	margin-left: 2px;
	margin-top: 2px;

	position: relative;
	width: calc(100% - 4px);

	&::before {
		content: '';

		position: absolute;
		left: -2px;
		top: -2px;
		right: -2px;
		bottom: -3px;

		@extend table;
	}
}

#BrowserWrapper {
	height: calc(100% - 5px);
}

#LockIcon {
	@extend $text-reset;

	padding-bottom: 1px;
}

#ReloadButton {
	@extend button;

	margin: 0;

	box(21px);

	svg {
		padding: 0;
	}
}

#URL {
	@extend $text-reset;
}

#URLBar {
	background-color: transparent;
	box-shadow: none;

	padding: 0;
	margin-bottom: 3px;
}

#URLBarText {
	@extend select;

	width: 100%;
}
