#Wrapper {
	background-color: transparent;
	border: none;
}

#FocusBar,
#URLBarReplacement {
	display: none;
}

#TopBar {
	background: transparent;
	box-shadow: none;
}

#TitleBar {
	flex-direction: column-reverse;
	height: unset;
	-webkit-app-region: no-drag;

	&::before {
		content: '';

		@extend hr;

		margin-top: 2px;

		width: 100%;
	}
}

#WindowControls,
#RootMenuBar {
	flex: initial;
	cursor: default;
}

#RootMenuBar {
	gap: 0;
	padding: 0;
}

#SuperNavBar {
	-webkit-app-region: no-drag;
}
