// GAME OVERVIEW START (here in preparation for beta restructure)
// TODO: clearly this needs a better icon
#DragHandle {
	padding: 0;
}

#GameOverview {
	background: none;
	padding: 0;

	// TODO: does this ever need scrolling ?
	overflow: visible;
}

#GameOverviewSection {
	@extend fieldset;

	background-color: transparent;
}

#GameOverviewSectionChildren {
	padding: 0;
}

#GameOverviewSectionHeader {
	@extend $text-reset;
	@extend $legend-as-div;

	background-color: transparent;

	svg {
		color: inherit;
		margin: 0;
	}
}

#GameOverviewSectionTitle {
	gap: var(--text-spacing);
}

#GuideListItem {
	background-color: transparent;
	color: inherit;
	padding: 0;
	margin-top: var(--text-spacing);
}

#GuideTitle {
	@extend $text-reset;
	@extend $link;
}

#OverviewTitle {
	@extend $dialog-title;
}

#Playtime {
	@extend $text-reset;

	gap: var(--text-spacing);
}
// END

#BackToGame {
	gap: var(--text-spacing);
}

#BackToGameBtn {
	@extend .titlebar-button;
	@extend $titlebar-button-close;

	width: unset;

	&::before {
		display: initial;
	}

	svg {
		display: none;
	}
}

#ExitGameBtn {
	text-transform: unset;
	margin-top: var(--text-spacing);
}

#CurrentTime,
#GameName {
	font: var(--text-header);
}

#CurrentDate,
#KBShortcut,
#PlaytimeCurrentSession {
	font: var(--text-ui);
}

#OverlayPopup {
	background: none;
	padding: var(--dialog-spacing);

	height: calc(100% - 19px);
}

#TextContainer {
	max-width: unset;
}

#TopSection,
#ToolbarMaxWidthContainer {
	padding: 0;
}

#Toolbar {
	opacity: 1;
}

#ToolbarButton {
	gap: var(--text-spacing);

	height: unset;
	display: flex;
	align-items: center;

	svg {
		margin: 0;

		width: var(--icon-size);
		height: var(--icon-size);
	}
}

#ToolbarContainer {
	transform: none;

	left: 0;

	&#LocationBottom {
		.DialogButton {
			width: calc(16px + var(--button-spacing) * 2);
			min-width: var(--icon-size);
		}
	}
}

#ToolbarToolTip {
	@extend $text-reset;

	text-align: start;
	padding: 0;

	flex-grow: 1;

	// The *actual* tooltip
	[class*="hoverposition_"] > & {
		@extend .tooltip;
	}
}

#WindowControls {
	margin: calc(var(--dialog-spacing) * -1);
	margin-bottom: var(--dialog-spacing);

	height: unset;
}

#Wrapper {
	gap: 16px;
	padding: 32px;

	/{s('body:has(> #%s > %s)', popup_target, unquote(selector()))} {
		background-color: transparent;
		box-shadow: none;
		padding: 0;
	}
}

