#Arrow {
	@extend button;

	transform: none;

	min-width: var(--icon-width);
	height: var(--icon-height);

	&#Disabled {
		pointer-events: none;
	}

	& > path {
		display: none;
	}
}

#MenuButton {
	@extend $text-reset;

	&::after {
		display: none;
	}
}

#SuperNav {
	--icon-width: 25px;
	--icon-height: 23px;

	padding-bottom: 2px;

	position: relative;

	// Use empty divs as icons, as svgs can not have pseudo-elements
	& > :nth-child(4),
	& > :nth-child(6) {
		--button-img-pos: center;

		position: absolute;
		width: var(--icon-width);
		height: var(--icon-height);

		pointer-events: none;

		&:active {
			@extend .icon-button:active;
		}

		&::before,
		&::after {
			content: '';

			position: absolute;
			inset: 0;

			-webkit-mask: var(--button-img) no-repeat;
			-webkit-mask-size: var(--button-img-size);
			-webkit-mask-position: var(--button-img-pos, center);
		}

		&::before {
			background-color: var(--color-button-text);

			z-index: 1;
		}
	}

	& > :nth-child(4) {
		@extend $icon-big-arrow-left;
	}

	& > :nth-child(6) {
		@extend $icon-big-arrow-right;

		left: var(--icon-width);
	}

	&:has(> #Disabled:nth-child(1)) > :nth-child(4),
	&:has(> #Disabled:nth-child(2)) > :nth-child(6) {
		&::before {
			background-color: var(--color-gray-text);
		}

		&::after {
			background-color: var(--color-button-highlight);

			top: 2px;
			left: 1px;
		}
	}
}

#SuperNavMenu {
	@extend button;

	text-transform: unset;

	&#Selected {
		@extend .icon-button:active;
	}

	&:nth-of-type(1),
	&:nth-of-type(9) {
		margin-left: var(--dialog-button-spacing);
	}
}
