$sel-arrow-back = '> :nth-child(3)';
$sel-arrow-forward = '> :nth-child(4)';

#Arrow {
	@extend button;
	@extend .icon-button;

	transform: none;

	min-width: var(--icon-width);
	height: var(--icon-height);

	&#Disabled {
		pointer-events: none;
	}

	& > path {
		display: none;
	}
}

#MenuButton {
	color: inherit;
	text-shadow: inherit;

	&::after {
		display: none;
	}
}

#SuperNav {
	--icon-width: 25px;
	--icon-height: 23px;
	// The buttons are bigger, hence the offset
	--icon-offset: 2px;
	--icon-disabled-offset: 1px;

	padding-bottom: 2px;
	margin: 0 var(--toolbar-container-spacing);

	position: relative;

	// Use other buttons as icons, as svgs can not have pseudo-elements
	{$sel-arrow-back},
	{$sel-arrow-forward} {
		position: initial;

		&::before,
		&::after {
			content: '';

			position: absolute;
			top: 0;
			width: var(--icon-width);
			height: var(--icon-height);

			-webkit-mask: var(--button-img) no-repeat;
			-webkit-mask-size: var(--button-img-size);
			-webkit-mask-position: var(--button-img-pos, center);

			pointer-events: none;
		}

		&::before {
			background-color: var(--color-button-text);

			z-index: 1;
		}
	}

	{$sel-arrow-back} {
		@extend %icon-big-arrow-left;

		&::before,
		&::after {
			left: var(--icon-offset);
		}
	}

	{$sel-arrow-forward} {
		@extend %icon-big-arrow-right;

		&::before,
		&::after {
			left: calc(var(--icon-offset) + var(--icon-width));
		}
	}

	&:has(> #Disabled:nth-child(1)) {$sel-arrow-back},
	&:has(> #Disabled:nth-child(2)) {$sel-arrow-forward} {
		&::before {
			background-color: var(--color-gray-text);
		}

		&::after {
			background-color: var(--color-button-highlight);

			top: var(--icon-disabled-offset);
		}
	}

	&:has(> #Disabled:nth-child(1)) {$sel-arrow-back}::after {
		left: calc(var(--icon-offset) + var(--icon-disabled-offset));
	}

	&:has(> #Disabled:nth-child(2)) {$sel-arrow-forward}::after {
		left: calc(var(--icon-offset) + var(--icon-width) + var(--icon-disabled-offset));
	}
}

#SuperNavMenu {
	@extend button;

	text-transform: unset;

	&#Selected {
		@extend .icon-button, :active;
	}

	div#{&}#Selected:hover:not(:active) {
		color: var(--color-button-text);
	}

	&:nth-of-type(1),
	&:nth-of-type(5) {
		margin-left: var(--toolbar-spacing);
	}
}
