#SteamRuntimeSystemInfoDialogContent {
	.DialogBody {
		box-shadow: none;
		padding: 0;
	}
}

#SteamRuntimeSystemInfoContainer {
	@extend .content-container;

	margin-top: var(--text-spacing);
}

#Text {
	@extend $text-reset;

	font-family: var(--text-font-monospace);
}

#TextContainer {
	background-color: transparent;
	box-shadow: none;
}

