// Title bar
#TitleBarControls {
	position: absolute;
	top: 1px;
	right: 46px;
	z-index: 1;

	& > :nth-child(3) > div {
		margin: 0;

		position: fixed;
		top: 20px;
		right: 2px;
		height: 33px;
		display: flex;
		align-items: center;
	}

	& > :nth-child(4) {
		margin-right: 2px;

		order: -1;
	}

	svg {
		display: none;
	}
}

#AccountMenu {
	@extend select;

	margin-top: -8px;

	.avatar {
		border: none;
		box-shadow: none;

		box(100%);

		&Holder {
			box(16px);
			transform: none;
		}
	}
}

#Button {
	@extend button;
	@extend .titlebar-button;

	--button-img-pos: 3px 2px;

	width: unset;
	min-height: unset;

	cursor: default;
}

#AnnouncementsButton {
	@extend $icon-newspaper;
}

#NotificationButtonContainer {
	@extend $icon-bell;
}

#GamepadUIToggle {
	@extend $icon-computer;
}

// Notifications / menu
#LogoutButton {
	white-space: pre;
	gap: 0;
}

#AccountName,
#WalletBalance {
	color: inherit;
}

#NotificationsMenu {
	color: var(--color-button-text);
	border: none;
	box-shadow: none;
	padding: 0;

	width: unset;
}

#NotificationHeader {
	padding: 8px;
	padding-right: 2px;
}

#AllNotificationsTitle {
	font: var(--text-ui);
}

#EmptyNotificationsCtn {
	@extend .window;
	@extend .window.child;
}

#EmptyNotificationsBody {
	color: inherit;
}
