[class*="tooltip_"] {
	/{attr(TextToolTip)} {
		background-color: var(--color-tooltip);
		color: var(--color-tooltip-text);
		font: var(--text-ui);
		border: 1px solid var(--color-button-shadow-dark);
		box-shadow: none;

		padding: 3px;
		margin: 0;
	}
}
