#LeftContainer {
	@extend $text-reset;
}

#Playtime,
#RecommendGame {
	color: inherit;
}

#RatingContainer {
	background-color: transparent;

	padding: 0;
}

#ReviewThumbButton:not(#NoIcon) {
	margin: 0;
}

#ThumbIcon {
	fill: inherit;

	left: 16px;
	width: 16px;
	height: 16px;
}
