@use "shared/controls";
@use "shared/text";

.attachWrapper__0923f {
	padding: 0;
	margin-inline-end: var(--toolbar-spacing);

	.attachButton__0923f {
		--button-img: icon("plus", "mono");
		@include controls.button;
		@include controls.icon-button;
	}
}

.channelTextArea_f75fb0 {
	--icon-button-height: var(--combobox-button-height);

	margin-bottom: var(--toolbar-container-spacing);

	.stackedBars__74017 {
		background-color: transparent;
		border: none;
	}
}

// Reply
.container__841c8 {
	gap: var(--toolbar-spacing);
	margin-right: var(--toolbar-container-spacing);
	margin-bottom: var(--toolbar-spacing);

	flex-direction: row;
	align-items: center;

	.closeButton_e876a8 {
		--button-img: icon("clear");
		@include controls.button;
		@include controls.icon-button;
	}

	.mentionButton__841c8 {
		@include controls.checkbox($checked-sel: "&[aria-checked='true']");

		font-size: 0;
		font-weight: normal;
		text-transform: none;
		padding: 0;
		margin-right: calc(36px + var(--label-spacing) + var(--toolbar-spacing));

		&::before {
			// TODO: localize
			content: "Mention";

			font-size: var(--text-ui-size);
			margin-left: calc(var(--sel-button-size) + var(--label-spacing));
		}
	}

	.name__841c8 {
		color: inherit;
	}

	.replyBar__841c8 {
		width: 100%;
	}

	.replyLabel__841c8 {
		@include text.link;
	}

	.separator__841c8 {
		display: none;
	}
}

.form_f75fb0 {
	background-color: var(--color-button-face);
	padding: 0;
	padding-top: var(--toolbar-container-spacing);
	margin: 0;

	&::before,
	&::after {
		display: none;
	}

	.button__24af7 {
		&.disabled__24af7 {
			opacity: 1;
		}

		.buttonWrapper__24af7 {
			display: none;
		}
	}

	.button_e6e74f {
		--button-img: icon("list");

		min-height: unset;
	}

	.buttonContainer_aa63ab {
		--button-img: icon("chat-bubble-alt");

		margin-inline-start: var(--toolbar-spacing);
	}

	.separator_aa63ab {
		display: none;
	}
}

.typing_b88801 {
	color: var(--color-button-text);
	font: var(--text-ui);
	padding: 0;

	position: fixed;
	top: unset;
	right: var(--window-pos);
	bottom: calc(var(--window-pos) + 1px);
	left: calc(
		var(--window-pos) + var(--window-gap) + var(--actual-sidebar-width)
	);
	height: unset;

	.cooldownWrapper_b21699 {
		padding: 0;
	}

	.ellipsis_b88801 {
		display: none;
	}

	.text_b88801,
	.typingDots_b88801 {
		margin: 0;
	}
}
