@use "shared/controls";
@use "shared/window";

// TODO: put them in toolbar
._0f481cbbd7530492-barBase {
	background-color: transparent;
	border: none;
	padding: 0;

	right: calc(var(--border-size) + var(--scrollbar-size));
	left: var(--border-size);
	height: unset;
	min-height: unset;

	&:first-child {
		top: var(--border-size);
	}

	&:last-child {
		bottom: var(--border-size);
	}

	// TODO: unify
	svg {
		display: none;
	}
}

._0f481cbbd7530492-barButtonBase {
	@include controls.button;

	text-align: center;
}

.f75fb00fb7356cbe-chat {
	gap: var(--window-gap);
	border: none;
}

[data-list-id="chat-messages"] {
	& > [role="separator"] {
		margin: 8px 16px;
	}
}

._36d072eab2b2e737-chatGradientBase {
	display: none;
}

._36d072eab2b2e737-messagesWrapper {
	@include window.content-container;

	mask: none;

	._36d072eab2b2e737-scroller {
		inset: var(--border-size);
	}
}

._36d072eab2b2e737-scrollerSpacer {
	height: var(--space-16);
}
