// TODO: put them in toolbar
.barBase {
	opacity: 1;
	background-color: transparent;
	padding: 0;

	right: calc(var(--border-size) + var(--scrollbar-size));
	left: var(--border-size);
	height: unset;
	min-height: unset;

	&:first-child {
		top: var(--border-size);
	}

	&:last-child {
		bottom: var(--border-size);
	}

	button {
		text-align: center;
	}

	// TODO: unify
	svg {
		display: none;
	}
}

.chat {
	background-color: var(--color-button-face);

	& > .content {
		gap: var(--window-gap);

		& > .container {
			@extend .content-container;
		}
	}
}

[data-list-id="chat-messages"] {
	& > [role="separator"] {
		margin: 8px 16px;
	}
}

.message {
	min-height: unset;

	&.compact {
		i {
			opacity: 1;

			position: unset;
			display: contents;
		}

		.timestamp {
			width: 3.5rem;
		}
	}

	&.cozy {
		.header {
			line-height: var(--text-line);
			margin-bottom: var(--text-spacing);

			min-height: unset;
		}
	}

	& > .buttonContainer [role="button"] {
		@extend button;
		@extend .icon-button;

		// TODO: remove when doing icons
		svg {
			width: 16px;
			height: 16px;
		}
	}

	.headerText {
		margin: 0;
	}

	.roleDot {
		margin-right: var(--text-spacing);
	}

	.markup {
		font-size: var(--text-ui-size);
		line-height: 1.5;
	}

	.username {
		font: var(--text-ui);
		font-weight: bold;
	}

	// server invite ?
	[id^="message-accessories-"] > .wrapper {
		background-color: pink;
	}
}

#messagesNavigationDescription + div {
	.buttonIcon,
	& > .emptyChannelIcon {
		display: none;
	}

	button > div > div {
		justify-content: center;
	}
}

.messagesWrapper {
	@extend .content-container;

	& > .scroller {
		inset: var(--border-size);
	}
}

.timestamp {
	font: var(--text-ui);

	height: unset;
}

