@use "shared/controls";
@use "shared/text";

._0923f156a0410684-attachWrapper {
	padding: 0;
	margin-inline-end: var(--toolbar-spacing);

	._0923f156a0410684-attachButton {
		--button-img: icon("plus", "mono");
		@include controls.button;
		@include controls.icon-button;
	}
}

.f75fb00fb7356cbe-channelTextArea {
	--icon-button-width: var(--combobox-button-height);
	--icon-button-height: var(--combobox-button-height);

	margin-bottom: var(--toolbar-container-spacing);

	._740174f3d6a2c8fe-stackedBars {
		background-color: transparent;
		border: none;
	}
}

// Reply
._841c8f861f7b2704-container {
	gap: var(--toolbar-spacing);
	margin-right: var(--toolbar-container-spacing);
	margin-bottom: var(--toolbar-spacing);

	flex-direction: row;
	align-items: center;

	.e876a81258d10c05-closeButton {
		--button-img: icon("clear");
		@include controls.button;
		@include controls.icon-button;
	}

	._841c8f861f7b2704-mentionButton {
		@include controls.checkbox($checked-sel: "&[aria-checked='true']");

		font-size: 0;
		font-weight: normal;
		text-transform: none;
		padding: 0;
		margin-right: calc(36px + var(--label-spacing) + var(--toolbar-spacing));

		&::before {
			// TODO: localize
			content: "Mention";

			font-size: var(--text-ui-size);
			margin-left: calc(var(--sel-button-size) + var(--label-spacing));
		}
	}

	._841c8f861f7b2704-name {
		color: inherit;
	}

	._841c8f861f7b2704-replyBar {
		width: 100%;
	}

	._841c8f861f7b2704-replyLabel {
		@include text.link;
	}

	._841c8f861f7b2704-separator {
		display: none;
	}
}

.f75fb00fb7356cbe-form {
	background-color: var(--color-button-face);
	padding: 0;
	padding-top: var(--toolbar-container-spacing);
	margin: 0;

	&::before,
	&::after {
		display: none;
	}

	._24af7f4d0326ba4f-button {
		&._24af7f4d0326ba4f-disabled {
			opacity: 1;
		}

		._24af7f4d0326ba4f-buttonWrapper {
			display: none;
		}
	}

	.e6e74fd4d1221f53-button {
		--button-img: icon("list");

		min-height: unset;
	}

	.aa63abf63dbd9cce-buttonContainer {
		--button-img: icon("chat-bubble-alt");

		margin-inline-start: var(--toolbar-spacing);
	}

	.aa63abf63dbd9cce-separator {
		display: none;
	}
}

.b8880176888cc928-typing {
	color: var(--color-button-text);
	font: var(--text-ui);
	padding: 0;

	position: fixed;
	top: unset;
	right: var(--main-window-border-spacing);
	bottom: calc(var(--main-window-border-spacing) + 1px);
	left: calc(
		var(--main-window-border-spacing) + var(--window-gap) +
			var(--actual-sidebar-width)
	);
	height: unset;

	.b216994de061a9e2-cooldownWrapper {
		padding: 0;
	}

	.b8880176888cc928-ellipsis {
		display: none;
	}

	.b8880176888cc928-text,
	.b8880176888cc928-typingDots {
		margin: 0;
	}
}
