@use "shared/controls";
@use "shared/text";

.attachWrapper__0923f {
	margin-inline-end: var(--toolbar-spacing);
	padding: 0;

	.attachButton__0923f {
		--button-img: icon("plus", "mono");
		@include controls.button;
		@include controls.icon-button;
	}
}

.channelTextArea_f75fb0 {
	--icon-button-height: var(--combobox-button-height);
	--icon-button-width: var(--combobox-button-height);

	margin-block-end: var(--toolbar-container-spacing);

	.stackedBars__74017 {
		background-color: transparent;
		border: none;
	}
}

// Reply
.container__841c8 {
	align-items: center;
	flex-direction: row;
	gap: var(--toolbar-spacing);
	margin-block-end: var(--toolbar-spacing);
	margin-inline-end: var(--toolbar-container-spacing);

	.closeButton_e876a8 {
		--button-img: icon("clear");
		@include controls.button;
		@include controls.icon-button;
	}

	.mentionButton__841c8 {
		@include controls.checkbox($checked-sel: "&[aria-checked='true']");

		font-size: 0;
		font-weight: normal;
		margin-inline-end: calc(
			36px + var(--label-spacing) + var(--toolbar-spacing)
		);
		padding: 0;
		text-transform: none;

		&::before {
			// TODO: localize
			content: "Mention";
			font-size: var(--text-ui-size);
			margin-inline-start: calc(var(--sel-button-size) + var(--label-spacing));
		}
	}

	.name__841c8 {
		color: inherit;
	}

	.replyBar__841c8 {
		width: 100%;
	}

	.replyLabel__841c8 {
		@include text.link;
	}

	.separator__841c8 {
		display: none;
	}
}

.form_f75fb0 {
	background-color: var(--color-button-face);
	margin: 0;
	padding: 0;
	padding-block-start: var(--toolbar-container-spacing);

	&::before,
	&::after {
		display: none;
	}

	.button__24af7 {
		&.disabled__24af7 {
			opacity: 1;
		}

		.buttonWrapper__24af7 {
			display: none;
		}
	}

	.button_e6e74f {
		--button-img: icon("list");

		min-height: unset;
	}

	.buttonContainer_aa63ab {
		--button-img: icon("chat-bubble-alt");

		margin-inline-start: var(--toolbar-spacing);
	}

	.separator_aa63ab {
		display: none;
	}
}

.typing_b88801 {
	color: var(--color-button-text);
	font: var(--text-ui);
	height: unset;
	inset-block-end: calc(var(--main-window-border-spacing) + 1px);
	inset-block-start: unset;
	inset-inline-end: var(--main-window-border-spacing);
	inset-inline-start: calc(
		var(--main-window-border-spacing) + var(--window-gap) +
			var(--actual-sidebar-width)
	);
	padding: 0;
	position: fixed;

	.cooldownWrapper_b21699 {
		padding: 0;
	}

	.ellipsis_b88801 {
		display: none;
	}

	.text_b88801,
	.typingDots_b88801 {
		margin: 0;
	}
}
