@use "shared/controls";
@use "shared/window";

// TODO: put them in toolbar
.barBase__0f481 {
	background-color: transparent;
	border: none;
	padding: 0;

	right: calc(var(--border-size) + var(--scrollbar-size));
	left: var(--border-size);
	height: unset;
	min-height: unset;

	&:first-child {
		top: var(--border-size);
	}

	&:last-child {
		bottom: var(--border-size);
	}

	// TODO: unify
	svg {
		display: none;
	}
}

.barButtonBase__0f481 {
	@include controls.button;

	text-align: center;
}

.chat_f75fb0 {
	gap: var(--window-gap);
	border: none;
}

[data-list-id="chat-messages"] {
	& > [role="separator"] {
		margin: 8px 16px;
	}
}

.chatGradientBase__36d07 {
	display: none;
}

.messagesWrapper__36d07 {
	@include window.content-container;

	mask: none;

	.scroller__36d07 {
		inset: var(--border-size);
	}
}

.scrollerSpacer__36d07 {
	height: var(--space-16);
}
