@use "shared/controls";
@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";

._133bf5eea8e33a34-container {
	border: none;

	._133bf5eea8e33a34-peopleColumn {
		box-shadow: none;
		padding: 0;
	}
}

._5ec2fb8b5de26b21-peopleList {
	@include window.content-container;
	@include utils.move-scrollbar;

	margin-top: var(--window-gap);

	.f8fa068db52f043f-actionButton {
		display: none;
	}

	._0a06ed6ea040aa1b-discriminator {
		@include utils.parentheses;
		@include utils.text-reset;

		visibility: visible;
	}

	._5ec2fb8b5de26b21-sectionTitle {
		display: none;
	}
}

.cc61794aab086a2e-peopleListItem {
	line-height: inherit;
	border: none;
	padding: 8px;
	margin: 0;

	height: unset;

	&:hover {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
		--header-primary: var(--color-highlight-text);
	}
}

._5ec2fb8b5de26b21-searchBar {
	margin: 0;
}

// Header
._133bf5eea8e33a34-tabBar {
	gap: var(--tab-button-spacing);
	margin: 0;

	._133bf5eea8e33a34-item {
		all: unset;
		box-sizing: border-box;

		@include controls.tab-button($selected-sel: "&[aria-selected='true']");

		font: var(--text-ui);
		text-align: center;

		&::before,
		&::after {
			display: none;
		}
	}
}

._133bf5eea8e33a34-tabBody {
	background-color: var(--color-button-face);
	padding: var(--dialog-spacing);
}
