@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";

.container__133bf {
	border: none;
}

.peopeColumn__133bf {
	@include tabs.content($compact: true);
}

.peopleList__5ec2f {
	@include window.content-container;
	@include utils.move-scrollbar;

	margin-top: var(--window-gap);

	.actionButton_f8fa06 {
		display: none;
	}

	.discriminator__0a06e {
		@include utils.parentheses;
		@include utils.text-reset;

		visibility: visible;
	}

	.sectionTitle__5ec2f {
		display: none;
	}
}

.peopleListItem_cc6179 {
	line-height: inherit;
	border: none;
	padding: 8px;
	margin: 0;

	height: unset;

	&:hover {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
		--header-primary: var(--color-highlight-text);
	}
}

.searchBar__5ec2f {
	margin: 0;
}

// Header
.tabBar__133bf {
	position: fixed;
	top: 66px;
	margin-left: 3px;
}

.tabBody__133bf {
	background-color: var(--color-button-face);
	padding: var(--dialog-spacing);
	// 9px = offset for default 32px icon size
	padding-top: calc(var(--dialog-spacing) + var(--tabs-height) - 9px);
}
