@use "shared/controls";
@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";

.container__133bf {
	border: none;

	.peopleColumn__133bf {
		box-shadow: none;
		padding: 0;
	}
}

.peopleList__5ec2f {
	@include window.content-container;
	@include utils.move-scrollbar;

	margin-top: var(--window-gap);

	.actionButton_f8fa06 {
		display: none;
	}

	.discriminator__0a06e {
		@include utils.parentheses;
		@include utils.text-reset;

		visibility: visible;
	}

	.sectionTitle__5ec2f {
		display: none;
	}
}

.peopleListItem_cc6179 {
	line-height: inherit;
	border: none;
	padding: 8px;
	margin: 0;

	height: unset;

	&:hover {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
		--header-primary: var(--color-highlight-text);
	}
}

.searchBar__5ec2f {
	margin: 0;
}

// Header
.tabBar__133bf {
	gap: var(--tab-button-spacing);
	margin: 0;

	.item__133bf {
		all: unset;
		box-sizing: border-box;

		@include controls.tab-button($selected-sel: "&[aria-selected='true']");

		font: var(--text-ui);
		text-align: center;

		&::before,
		&::after {
			display: none;
		}
	}
}

.tabBody__133bf {
	background-color: var(--color-button-face);
	padding: var(--dialog-spacing);
}
