@use "shared/controls";
@use "shared/window";

%-guilds-top-toolbar-button {
	--pos: calc(
		var(--main-window-border-spacing) + var(--toolbar-container-spacing)
	);

	position: fixed;
	top: calc(var(--titlebar-pos) + var(--pos));
	width: var(--icon-button-width);

	.listItem__650eb {
		width: var(--icon-button-width);
	}

	.pill__1f388 {
		display: none;
	}

	.wrapper_cc5dd2,
	.wrapper_cc5dd2 > foreignObject {
		width: var(--icon-button-width);
		height: var(--icon-button-height);
	}

	[role="treeitem"] {
		@include controls.button;
		@include controls.icon-button($selected-sel: "&[aria-selected='true']");

		width: var(--icon-button-width);
	}
}

.scroller_ef3116 {
	padding: 0;

	& > :nth-child(1) {
		--button-img: icon("home");
		@extend %-guilds-top-toolbar-button;

		left: var(--pos);

		.childWrapper__6e9f8 {
			display: none;
		}
	}

	& > :nth-last-child(2) {
		--button-img: icon("chat-room-list");
		@extend %-guilds-top-toolbar-button;

		left: calc(var(--pos) + var(--icon-button-width) * 2);
	}

	& > :nth-last-child(3) {
		--button-img: icon("room-enter");
		@extend %-guilds-top-toolbar-button;

		left: calc(var(--pos) + var(--icon-button-width));
	}

	.blobContainer_e5445c.selected_e5445c {
		&::before {
			content: "";

			position: absolute;
			inset-inline: 0;
			inset-block: calc(var(--space-xs) / -2);

			background-color: var(--color-highlight);
		}
	}

	// discovery/join server
	.circleIcon__5bc7e {
		display: none;
	}

	.guildSeparator__252b6 {
		display: none;
	}
}

.tree_ef3116 {
	@include window.content-container;

	mask {
		display: none;
	}
}

.wrapper_ef3116 {
	mask: none;
	margin: 0;
	margin-top: var(--toolbar-top-margin);
	margin-right: var(--window-gap);

	width: calc(var(--custom-guild-list-width) + var(--scrollbar-size));
}
