@use "shared/controls";
@use "shared/window";

%-guilds-top-toolbar-button {
	--pos: calc(
		var(--main-window-border-spacing) + var(--window-gap) +
			var(--toolbar-container-spacing)
	);

	position: fixed;
	top: calc(var(--titlebar-pos) + var(--pos));
	width: var(--icon-button-width);

	._650eb104245d257b-listItem {
		width: var(--icon-button-width);
	}

	._1f388bcaa446c0c8-pill {
		display: none;
	}

	.cc5dd25190031396-wrapper,
	.cc5dd25190031396-wrapper > foreignObject {
		width: var(--icon-button-width);
		height: var(--icon-button-height);
	}

	[role="treeitem"] {
		@include controls.button;
		@include controls.icon-button($selected-sel: "&[aria-selected='true']");

		width: var(--icon-button-width);
	}
}

.ef3116c2da186559-scroller {
	padding: 0;

	& > :nth-child(1) {
		--button-img: icon("home");
		@extend %-guilds-top-toolbar-button;

		left: var(--pos);

		._6e9f8dce4cc18de3-childWrapper {
			display: none;
		}
	}

	& > :nth-last-child(2) {
		--button-img: icon("chat-room-list");
		@extend %-guilds-top-toolbar-button;

		left: calc(var(--pos) + var(--icon-button-width) * 2);
	}

	& > :nth-last-child(3) {
		--button-img: icon("room-enter");
		@extend %-guilds-top-toolbar-button;

		left: calc(var(--pos) + var(--icon-button-width));
	}

	.e5445cbd3ad226f2-blobContainer.e5445cbd3ad226f2-selected {
		&::before {
			content: "";

			position: absolute;
			inset-inline: 0;
			inset-block: calc(var(--space-xs) / -2);

			background-color: var(--color-highlight);
		}
	}

	// discovery/join server
	._5bc7ed9d4097f6b5-circleIcon {
		display: none;
	}

	._252b6afd49fda06f-guildSeparator {
		display: none;
	}
}

.ef3116c2da186559-tree {
	@include window.content-container;

	mask {
		display: none;
	}
}

.ef3116c2da186559-wrapper {
	mask: none;
	margin: 0;
	margin-top: var(--toolbar-top-margin);
	margin-right: var(--window-gap);

	width: calc(var(--custom-guild-list-width) + var(--scrollbar-size));
}
