@use "shared/controls";
@use "shared/window";

%-guilds-top-toolbar-button {
	--pos: calc(
		var(--window-pos) + var(--window-gap) + var(--toolbar-container-spacing)
	);

	position: fixed;
	top: calc(var(--titlebar-pos) + var(--pos));
	width: var(--icon-button-width);

	.listItem__650eb {
		width: var(--icon-button-width);
	}

	.pill__1f388 {
		display: none;
	}

	// TODO: remove when addins icons
	[role="img"] {
		width: 16px;
		height: 16px;
	}

	[role="treeitem"] {
		@include controls.button;
		@include controls.icon-button($selected-sel: "&[aria-selected='true']");

		width: var(--icon-button-width);
	}
}

.scroller_ef3116 {
	padding: 0;

	& > :nth-child(1) {
		@extend %-guilds-top-toolbar-button;

		left: var(--pos);

		.childWrapper__6e9f8 {
			background-color: transparent;
			color: inherit;

			height: unset;
		}
	}

	& > :nth-last-child(3) {
		@extend %-guilds-top-toolbar-button;

		left: calc(var(--pos) + var(--icon-button-width));
	}
}

.tree_ef3116 {
	@include window.content-container;

	mask {
		display: none;
	}

	[role="treeitem"] {
		padding: 0;
		margin: 0;

		&::before {
			display: none;
		}
	}
}

.wrapper_ef3116 {
	mask: none;
	margin: 0;
	margin-top: calc(
		var(--toolbar-container-spacing) * 2 + var(--icon-button-height) +
			var(--window-gap)
	);
	margin-right: var(--window-gap);

	width: calc(var(--custom-guild-list-width) + var(--scrollbar-size));
}
