@use 'shared/window';

.fakeEdges {
	&::before,
	&::after {
		display: none;
	}
}

.mediaBarGrabber {
	background-color: var(--color-highlight);

	transform: unset;
}

.mediaBarInteractionVolume {
	// TODO
	@include window.container;

	margin: 0;

	width: 100px;
}

.mediaBarProgress {
	background-color: var(--color-highlight);
}

.mediaBarWrapperVolume {
	width: 100%;
}

