@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

.searchResultGroup_a7e67f {
	margin-block-end: 16px;

	.channelNameContainer_a7e67f {
		gap: var(--text-spacing);
		margin-block-end: var(--text-spacing);
	}

	.channelNameIcon_a7e67f,
	.parentChannelNameIcon_a7e67f {
		display: none;
	}

	.channelNameText_a7e67f {
		color: var(--color-button-text);
		font: inherit;
		font-weight: bold;
		text-decoration: underline;
	}

	.parentChannelNameText_a7e67f {
		@include utils.parentheses;
	}
}

.pageControlContainer_c15210 {
	&::before {
		@include utils.pseudo-separator;
	}

	.pageButton_c15210 {
		@include controls.button;
		@include controls.icon-button($selected-sel: "&[aria-current='page']");

		&.endButton_c15210 {
			margin-inline: 4px;
		}
	}
}

.searchHeader_ae7890 {
	border: none;
}

.searchModeAndFiltersContainer_ae7890 {
	gap: 0;
}

.container__80bf8 {
	.button__80bf8 {
		@include controls.button;
	}

	.searchResult__80bf8 {
		@include window.content-container;

		border: none;
		margin-block-end: 2px;
	}
}

.searchResultsWrap_a98f3b {
	border: none;

	.scroller_a98f3b {
		padding: 16px;
	}
}
