@use "shared/controls";
@use "shared/list";
@use "shared/tree";
@use "shared/window";
@use "shared++/utils";

.container__2637a {
	@include window.content-container;

	mask: none;
	margin-top: var(--toolbar-top-margin);
	margin-left: 0;

	.scroller__629e4 {
		padding: 0;
		margin: 0;
	}
}

.sidebar__5e434 {
	&::after {
		display: none;
	}
}

.sidebarList__5e434 {
	border: none;
	margin-right: var(--window-gap);
	margin-bottom: var(--custom-app-panels-height, 0);
}
