@use "shared/controls";
@use "shared/list";
@use "shared/tree";
@use "shared/window";
@use "shared++/utils";
@use "shared++/icons";

.container__2637a {
	@include window.content-container;

	mask: none;
	margin-top: var(--sidebar-top-margin);
	margin-left: 0;

	.scroller__629e4 {
		padding: 0;
		margin: 0;
	}
}

.sidebar__5e434 {
	--sidebar-top-margin: calc(
		var(--toolbar-container-spacing) * 2 + var(--icon-button-height) +
			var(--window-gap)
	);

	&::after {
		display: none;
	}
}

.sidebarList__5e434 {
	border: none;
	margin-right: var(--window-gap);
	margin-bottom: var(--custom-app-panels-height, 0);
}
