@use "shared/controls";
@use "shared/list";
@use "shared/tree";
@use "shared/window";
@use "shared++/utils";

._2637a2609f343032-container {
	@include window.content-container;

	mask: none;
	margin-top: var(--toolbar-top-margin);
	margin-left: 0;

	._629e4c86564a4ee7-scroller {
		padding: 0;
		margin: 0;
	}
}

._5e434347c823b592-sidebar {
	&::after {
		display: none;
	}
}

._5e434347c823b592-sidebarList {
	border: none;
	margin-right: var(--window-gap);
	margin-bottom: var(--custom-app-panels-height, 0);
}
