@use "shared/controls";
@use "shared/list";
@use "shared/tree";
@use "shared/window";
@use "shared++/utils";

.container__2637a {
	@include window.content-container;

	margin-block-start: var(--toolbar-top-margin);
	margin-inline-start: 0;
	mask: none;

	.scroller__629e4 {
		margin: 0;
		padding: 0;
	}
}

.sidebar__5e434 {
	&::after {
		display: none;
	}
}

.sidebarList__5e434 {
	border: none;
	margin-block-end: var(--custom-app-panels-height, 0);
	margin-inline-end: var(--window-gap);
}
