@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

.container_f369db {
	@include window.content-container;
}

.divider_f369db,
.tagList_f369db {
	display: none;
}

.formContainer_d9be46 {
	.prefixElement_d9be46 {
		display: none;
	}

	.titleContainer_d9be46 {
		gap: var(--toolbar-spacing);
	}

	.button_a22cb0:not(.hasText_a22cb0) {
		@include controls.button;
		@include utils.use-attr-text("aria-label");
	}
}

.mainCard_f369db {
	background-color: transparent;
	border: none;
}

.sortDropdown_f369db,
.tagsButton_f369db {
	@include controls.combobox-button;

	text-align: start;

	left: 0;

	svg {
		display: none;
	}
}

.sortDropdownInner_f369db,
.tagsButtonInner_f369db {
	color: inherit;
	padding: 0;

	justify-content: center;
}

.tagsContainer_f369db {
	gap: var(--toolbar-spacing);
	padding: 0;
	margin-left: calc(-24px + var(--toolbar-container-spacing));

	position: fixed;
	top: calc(
		var(--main-window-border-spacing) + var(--main-window-titlebar-height) +
			var(--window-gap) + var(--toolbar-container-spacing) + 1px
	);
	z-index: 100;
	height: unset;
}
