@use 'shared/controls';
@use '../shared';

[data-list-item-id$="forum-channel-header"] {
	button {
		height: unset;
	}

	svg {
		display: none;
	}

	[data-text-variant] {
		font-weight: normal;
	}

	.prefixElement {
		display: none;
	}

	.titleContainer {
		gap: var(--toolbar-spacing);
	}
}

.forumPostFormButton {
	@include controls.button;
	@include shared.use-aria-label;

	height: unset;

	&.forumPostFormButtonActive {
		@include controls.button-active;
	}
}

.mainCard {
	background-color: transparent;
	border: none;
}

.headerRow > .tagsContainer {
	gap: var(--toolbar-spacing);
	padding: 0;
	margin-left: calc(-24px + var(--toolbar-container-spacing));

	position: fixed;
	top: calc(var(--window-pos) + var(--titlebar-height) + var(--window-gap) + var(--toolbar-container-spacing) + 1px);
	z-index: 100;
	height: unset;

	& > button {
		@include shared.select-as-button;
		@include shared.use-aria-label;

		text-align: start;

		left: 0;
		min-width: 100px;
		justify-content: start;
	}

	& > .divider,
	& > .tagList {
		display: none;
	}
}

