@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

.f369dba7416c67f0-container {
	@include window.content-container;
}

.f369dba7416c67f0-divider,
.f369dba7416c67f0-tagList {
	display: none;
}

.d9be463a3c35b91e-formContainer {
	.d9be463a3c35b91e-prefixElement {
		display: none;
	}

	.d9be463a3c35b91e-titleContainer {
		gap: var(--toolbar-spacing);
	}

	.a22cb0c66246f5d3-button:not(.a22cb0c66246f5d3-hasText) {
		@include controls.button;
		@include utils.use-attr-text("aria-label");
	}
}

.f369dba7416c67f0-mainCard {
	background-color: transparent;
	border: none;
}

.f369dba7416c67f0-sortDropdown,
.f369dba7416c67f0-tagsButton {
	@include controls.combobox-button;

	text-align: start;

	left: 0;

	svg {
		display: none;
	}
}

.f369dba7416c67f0-sortDropdownInner,
.f369dba7416c67f0-tagsButtonInner {
	color: inherit;
	padding: 0;

	justify-content: center;
}

.f369dba7416c67f0-tagsContainer {
	gap: var(--toolbar-spacing);
	padding: 0;
	margin-left: calc(-24px + var(--toolbar-container-spacing));

	position: fixed;
	top: calc(
		var(--window-pos) + var(--titlebar-height) + var(--window-gap) +
			var(--toolbar-container-spacing) + 1px
	);
	z-index: 100;
	height: unset;
}
