@use "shared/controls";
@use "shared++/extends";
@use "discord/shared";

.channelIcon__9293f,
.divider__9293f,
.dot__9293f,
.titleWrapper__9293f {
	display: none;
}

.children__9293f {
	&::after {
		display: none;
	}

	.hoverableContainer__754bd {
		@include controls.button;
		@include shared.use-aria-label;

		justify-content: center;
		height: unset;
	}

	.topic__6ec1a {
		font: var(--text-ui);
		margin: 0;
	}
}

.container__9293f {
	--__header-bar-background: transparent;
	--custom-channel-header-height: unset;

	border: none;
	padding: var(--toolbar-container-spacing);

	height: unset;
	min-height: unset;
}

// TODO: remove when doing icons
.icon__9293f {
	margin-top: -2px;

	width: 16px;
	height: 16px;
}

.iconWrapper__9293f {
	@include controls.button;
	@include controls.icon-button($selected-sel: ".selected__9293f");

	width: unset;

	&[tabindex="-1"] {
		// disabled
		// TODO: lol what? when?
	}
}

.search__49676 {
	order: -1;

	.icon__97492 {
		--pos: calc(var(--input-spacing) * -1);
		--size: 18px;
		--button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAbUExURYeIjwAAAAD//////1eoqMDHyAAA/wAAqAAAAOUCGbgAAAAJdFJOU///////////AFNPeBIAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB5SURBVChTrZDBEoAgCEQXDfP/vzgQAzSPLZfmPdtR0DXQ0PicUQ6UqkPJCMeAOlcIJJyF8MBSNbF3z/EfkGtS0W/nl/s4Vs6BMw8h2Jek+yG6RojYt2f7pBFwZTQTxmfuVkozsfAkVh5i4y52/ooPN3HgKo5cXkP9Aen6CymrBsQ1AAAAAElFTkSuQmCC");

		@include controls.button;
		@include controls.icon-button;

		margin-top: var(--pos);
		margin-right: var(--pos);

		// Align with the textbox
		min-width: var(--size);
		width: var(--size);
		height: var(--size);

		&:has(> .iconContainer_a45028 > .clear_a45028.visible_a45028) {
			--button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURQAAAAAAAKVnuc8AAAACdFJOU/8A5bcwSgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAADlJREFUGFdFjoEJADAIw/T/p9eoYR1o0yKsolaAmJ13yMQMTnSxPWNb9sHvxnpnjhUspG2EiN+orgcmKwBw9dYmLQAAAABJRU5ErkJgggo=");
			--button-img-pos: 5px 4px;
		}

		// TODO: lol
		&::before {
			background-size: 12px;
		}
	}

	.iconContainer_a45028 {
		display: none;
	}

	.searchBar__97492 {
		@include controls.text-field;

		.DraftEditor-root {
			@include extends.text-reset;

			padding: 0;

			overflow: visible;
		}

		.public-DraftEditorPlaceholder-root,
		.public-DraftEditor-content {
			padding: 0;

			inset: 0;
		}
	}

	.searchToken_bd8186 {
		border: none;

		height: unset;
	}
}

.toolbar__9293f {
	gap: 0;
	margin-right: var(--icon-button-width);
}
