@use "shared/controls";
@use "shared++/utils";

.channelIcon__9293f,
.divider__9293f,
.dot__9293f,
.titleWrapper__9293f {
	display: none;
}

.children__9293f {
	&::after {
		display: none;
	}

	.hoverableContainer__754bd {
		@include controls.button;
		@include utils.use-attr-text("aria-label");

		justify-content: center;
		height: unset;
	}

	.topic__6ec1a {
		font: var(--text-ui);
		margin: 0;
	}
}

.container__9293f {
	--__header-bar-background: transparent;
	--custom-channel-header-height: unset;

	border: none;
	padding: var(--toolbar-container-spacing);

	height: unset;
	min-height: unset;
}

.icon__9293f,
.iconBadge__9293f {
	display: none;
}

.iconWrapper__9293f.clickable__9293f {
	width: unset;
	height: unset;

	&.iconDisabled__9293f {
		opacity: 1;
	}

	&:not([aria-expanded]) {
		--icon-button-height: var(--combobox-button-height);
		@include controls.button;
		@include controls.icon-button($selected-sel: "&.selected__9293f");

		order: -1;

		// last of selector
		&:where(:nth-last-child(-n + 1 of &)) {
			margin-inline-end: var(--toolbar-spacing);
		}
	}

	&[aria-expanded] {
		@include controls.combobox-icon-button(
			$active-sel: "&[aria-expanded='true']"
		);
	}
}

.search__49676 {
	margin-inline: var(--toolbar-spacing);

	order: -2;

	.icon__97492 {
		--button-img: icon("search");
		@include controls.button;
		@include controls.icon-button;

		&:has(> .iconContainer__0c4c4 > .clear__0c4c4.visible__0c4c4) {
			--button-img: icon("clear");
		}
	}

	.iconContainer__0c4c4 {
		display: none;
	}

	.searchBar__97492 {
		background-color: transparent;
		border: none;
		padding: 0;

		width: 200px;
		height: unset;

		.DraftEditor-editorContainer {
			height: unset;
		}

		.DraftEditor-root {
			@include controls.text-field;

			overflow: visible;
		}

		.public-DraftEditorPlaceholder-root,
		.public-DraftEditor-content {
			padding: 0;
		}
	}

	.searchToken_bd8186 {
		border: none;

		height: unset;
	}
}

.toolbar__9293f {
	gap: 0;
	margin-right: var(--combobox-icon-button-width);
}
