@use "shared/controls";
@use "shared++/utils";
@use "discord/shared";

.channelIcon__9293f,
.divider__9293f,
.dot__9293f,
.titleWrapper__9293f {
	display: none;
}

.children__9293f {
	&::after {
		display: none;
	}

	.hoverableContainer__754bd {
		@include controls.button;
		@include shared.use-aria-label;

		justify-content: center;
		height: unset;
	}

	.topic__6ec1a {
		font: var(--text-ui);
		margin: 0;
	}
}

.container__9293f {
	--__header-bar-background: transparent;
	--custom-channel-header-height: unset;

	border: none;
	padding: var(--toolbar-container-spacing);

	height: unset;
	min-height: unset;
}

// TODO: remove when doing icons
.icon__9293f {
	margin-top: -2px;

	width: 16px;
	height: 16px;
}

.iconWrapper__9293f {
	@include controls.button;
	@include controls.icon-button($selected-sel: ".selected__9293f");

	width: unset;

	&[tabindex="-1"] {
		// disabled
		// TODO: lol what? when?
	}
}

.search__49676 {
	margin-inline: var(--toolbar-spacing);

	order: -1;

	.icon__97492 {
		--size: 17px;
		--button-img: icon("search-24");

		@include controls.button;
		@include controls.icon-button;

		margin-top: 0;
		margin-right: calc(var(--input-spacing) * -1);

		// Align with the textbox
		min-width: var(--size);
		width: var(--size);
		height: var(--size);

		&:has(> .iconContainer__0c4c4 > .clear__0c4c4.visible__0c4c4) {
			--button-img: icon("clear");
			--button-img-pos: 5px 4px;
		}

		// TODO: lol
		&::before {
			background-size: 12px;
		}
	}

	.iconContainer__0c4c4 {
		display: none;
	}

	.searchBar__97492 {
		@include controls.text-field;

		width: 200px;

		.DraftEditor-root {
			@include utils.text-reset;

			padding: 0;

			overflow: visible;
		}

		.public-DraftEditorPlaceholder-root,
		.public-DraftEditor-content {
			padding: 0;

			inset: 0;
		}
	}

	.searchToken_bd8186 {
		border: none;

		height: unset;
	}
}

.toolbar__9293f {
	gap: 0;
	margin-right: var(--icon-button-width);
}
