@use "shared/controls";
@use "shared++/utils";

._9293f6b2fc12398a-channelIcon,
._9293f6b2fc12398a-dot,
._9293f6b2fc12398a-titleWrapper {
	display: none;
}

._9293f6b2fc12398a-children {
	&::after {
		display: none;
	}

	._754bde0f294a39cb-hoverableContainer {
		@include controls.button;
		@include utils.use-attr-text("aria-label");

		justify-content: center;
		height: unset;
	}

	._6ec1a06139ec3b27-topic {
		font: var(--text-ui);
		margin: 0;
	}
}

._9293f6b2fc12398a-container {
	--__header-bar-background: transparent;
	--custom-channel-header-height: unset;

	border: none;
	padding: var(--toolbar-container-spacing);

	height: unset;
	min-height: unset;
}

._9293f6b2fc12398a-icon,
._9293f6b2fc12398a-iconBadge {
	display: none;
}

._9293f6b2fc12398a-iconWrapper {
	width: unset;
	height: unset;

	&:not(._9293f6b2fc12398a-clickable) {
		display: none;
	}

	&._9293f6b2fc12398a-iconDisabled {
		opacity: 1;
	}

	&:not([aria-expanded]) {
		--icon-button-height: var(--combobox-button-height);
		@include controls.button;
		@include controls.icon-button(
			$selected-sel: "&._9293f6b2fc12398a-selected"
		);

		order: -1;

		// last of selector
		&:where(:nth-last-child(-n + 1 of &)) {
			margin-inline-end: var(--toolbar-spacing);
		}
	}

	&[aria-expanded] {
		@include controls.combobox-icon-button(
			$active-sel: "&[aria-expanded='true']"
		);
	}
}

._496769951eb140fe-search {
	margin-inline: var(--toolbar-spacing);

	order: -2;

	._974928fe84ca9647-icon {
		--button-img: icon("search");
		@include controls.button;
		@include controls.icon-button;

		&:has(
			> ._0c4c409e1915aba4-iconContainer
				> ._0c4c409e1915aba4-clear._0c4c409e1915aba4-visible
		) {
			--button-img: icon("clear");
		}
	}

	._0c4c409e1915aba4-iconContainer {
		display: none;
	}

	._974928fe84ca9647-searchBar {
		background-color: transparent;
		border: none;
		padding: 0;

		width: 200px;
		height: unset;

		.DraftEditor-editorContainer {
			height: unset;
		}

		.DraftEditor-root {
			@include controls.text-field;

			overflow: visible;
		}

		.public-DraftEditorPlaceholder-root,
		.public-DraftEditor-content {
			padding: 0;
		}
	}

	.bd818628221af7aa-searchToken {
		border: none;

		height: unset;
	}
}

._9293f6b2fc12398a-toolbar {
	gap: 0;
	margin-right: var(--combobox-icon-button-width);
}
