@use "shared/window";

:root {
	--main-window-border-spacing: 0px;
	--titlebar-pos: 0px;

	&.platform-win {
		--main-window-border-spacing: calc(
			var(--border-size) + var(--window-spacing)
		);
		--titlebar-pos: calc(
			var(--main-window-titlebar-height) + var(--window-gap)
		);

		@include window.container;
	}
}

.content__5e434 {
	margin-block-end: calc(var(--statusbar-height) + var(--window-gap));

	:root.platform-win & {
		margin-block-start: var(--window-gap);
	}
}

#app-mount {
	--actual-sidebar-width: calc(
		var(--custom-guild-sidebar-width) + var(--scrollbar-size) + 1px
	);
	// TODO: 1px?
	--sidebar-width: calc(
		var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)
	);
	--toolbar-top-margin: calc(
		var(--toolbar-container-spacing) * 2 + var(--combobox-button-height) +
			var(--window-gap)
	);

	height: calc(100% - var(--main-window-border-spacing) * 2);
	width: calc(100% - var(--main-window-border-spacing) * 2);

	&::before,
	&::after {
		box-shadow: var(--border-statusbar);
		content: "";
		height: var(--statusbar-height);
		inset-block-end: var(--main-window-border-spacing);
		pointer-events: none;
		position: fixed;
		z-index: 1;
	}

	&::before {
		width: var(--actual-sidebar-width);
	}

	&::after {
		--pos: calc(
			var(--actual-sidebar-width) + var(--main-window-border-spacing) +
				var(--window-gap)
		);

		inset-inline-start: var(--pos);
		width: calc(100% - var(--pos));
	}
}
