@use "shared/window";

:root {
	--titlebar-pos: 0px;
	--window-pos: 0px;

	&.platform-win {
		--titlebar-pos: calc(var(--titlebar-height) + var(--window-gap));
		--window-pos: calc(var(--border-size) + var(--window-spacing));

		@include window.container;
	}
}

._5e434347c823b592-content {
	margin-bottom: calc(var(--statusbar-height) + var(--window-gap));

	:root.platform-win & {
		margin-top: var(--window-gap);
	}
}

#app-mount {
	--sidebar-width: calc(
		var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)
	);
	// TODO: 1px?
	--actual-sidebar-width: calc(
		var(--custom-guild-sidebar-width) + var(--scrollbar-size) + 1px
	);
	--toolbar-top-margin: calc(
		var(--toolbar-container-spacing) * 2 + var(--combobox-button-height) +
			var(--window-gap)
	);

	width: calc(100% - var(--window-pos) * 2);
	height: calc(100% - var(--window-pos) * 2);

	&::before,
	&::after {
		content: "";

		position: fixed;
		bottom: var(--window-pos);
		height: var(--statusbar-height);
		z-index: 1;

		box-shadow: var(--border-statusbar);

		pointer-events: none;
	}

	&::before {
		width: var(--actual-sidebar-width);
	}

	&::after {
		--pos: calc(
			var(--actual-sidebar-width) + var(--window-pos) + var(--window-gap)
		);

		left: var(--pos);
		width: calc(100% - var(--pos) - var(--window-gap) * 2);
	}
}
