[class*="steamdesktop_"] {
	/{attr(Wrapper)} {
		@extend .ModalDialogBody;
		background-color: transparent;
		box(calc(100% - 2px));
	}

	/{attr(FocusBar)} {
		display: none $i;
	}
	/{attr(TitleBar)} {
		flex-direction: column-reverse;
		height: unset;
		-webkit-app-region: no-drag;

		&::before {
			content: '';
			width: 100%;
			@extend hr;
		}
	}
	/{attr(WindowControls)},
	/{attr(RootMenuBar)} {
		flex: initial $i;
		cursor: default $i;
	}

	/{attr(RootMenuBar)} {
		gap: 0;
		padding: 0 $i;
	}

	/{attr(SuperNavBar)} {
		-webkit-app-region: no-drag;
	}

	/{attr(URLBarReplacement)} {
		display: none;
	}
}

[class*="titlebarcontrols_"] {
	/{attr(GamepadUIToggle)} > svg {
		position: unset $i;
	}
}

[class*="rootmenu_"] {
	/{attr(RootMenuButton)} {
		color: var(--color-button-text) $i;
		font: var(--font);
		padding: 3px 6px 2px 6px;

		&:active,
		&[class*="Open"] {
			background-color: var(--color-active-caption);
			color: var(--color-active-caption-text) $i;
		}

		svg {
			display: none;
		}
	}
	/{attr(SteamButton)} {
		padding: 0;
	}
}

[class*="bottombar_"] {
	/{attr(BottomBar)} {
		flex: unset;
		padding: 8px;
	}
}
