#unified-extensions-panel {
	--uei-icon-size: var(--icon-size);

	.panel-header,
	.panel-header + toolbarseparator {
		display: none;
	}

	.toolbarbutton-badge {
		display: none;
	}

	.toolbarbutton-badge-stack {
		inset-block-start: 0;
		inset-inline-start: 2px;
		position: absolute;
	}

	.toolbarbutton-icon {
		display: flex;
	}

	// !important
	.unified-extensions-item {
		margin: 0;
	}

	// same selector in #nav-bar
	.unified-extensions-item-action-button {
		gap: var(--text-spacing);
		justify-content: space-between;

		&::after {
			color: var(--color-gray-text);
			content: attr(badge);
		}
	}
}

// useless duplicate info
.unified-extensions-item-menu-button,
.unified-extensions-item-message-deck {
	display: none;
}
