@use "shared/controls";
@use "shared/menu";
@use "shared/window";
@use "shared++/utils";

#appMenu-update-banner-description,
// lol
#appMenu-zoom-controls,
// Seen in "Main menu > More tools"
.subview-subheader {
	display: none;
}

panel {
	--arrowpanel-menuitem-margin: 0px;
	--arrowpanel-menuitem-margin-inline: 0px;
	--menu-panel-width-wide: initial;
	--panel-menuitem-margin: 0px;
	--panel-menuitem-margin-inline: 0px;
	--panel-subview-body-padding: 0px;
	font: var(--text-ui);

	&::part(content) {
		@include window.container($child: true);

		border: none;
		border-radius: 0;
	}

	toolbarseparator {
		@include controls.separator;

		padding: 0;

		&::before {
			display: none;
		}
	}
}

.appMenu-update-banner-text {
	padding: 0;
}

#appMenu-update-banner-title {
	margin: 0;
}

.panel-banner-item:not([hidden]) {
	background-color: transparent;
	border: none;
	margin: 0;
	margin-bottom: 9px;

	&::after {
		@include utils.pseudo-separator;

		position: absolute;
		inset-inline: 0;
		bottom: -8px;

		pointer-events: none;
	}
}

.subviewbutton {
	.toolbarbutton-text {
		padding: 0;
	}
}

// .subviewbutton-back can be seen in main menu's child panel views
.subviewbutton:not(.subviewbutton-back) {
	@include menu.item($selected-sel: "&:focus-visible");

	min-height: unset;

	&[checked] {
		@include menu.item-check;
	}

	&[disabled] {
		@include menu.item-disabled;
	}
}

.subviewbutton-nav {
	@include menu.item-parent;
}

#widget-overflow .toolbarbutton-icon {
	display: flex;
}
