@use "shared/controls";
@use "shared/tooltip";

#tab-preview-panel::part(content) {
	@include tooltip.container;

	box-shadow: none;
}

.tab-preview-text-container {
	padding: 0;
}

.tab-preview-thumbnail-container {
	border: none;

	width: auto;
	height: auto;

	&:not(:empty)::before {
		content: "";

		@include controls.separator;

		display: block;
	}

	& > canvas {
		// Distinguish the thumbnail from the tooltip bg a little bit
		border: 1px solid color-mix(in srgb, currentColor 25%, transparent);
	}
}
