@use "shared/controls";
@use "shared++/utils";

#tab-preview-panel::part(content) {
	@include controls.tooltip;

	box-shadow: none;
}

.tab-preview-text-container {
	padding: 0;
}

.tab-preview-thumbnail-container {
	border: none;

	width: auto;
	height: auto;

	&:not(:empty)::before {
		@include utils.pseudo-separator;
	}

	& > canvas {
		// Distinguish the thumbnail from the tooltip bg a little bit
		border: 1px solid var(--color-gray-text);
	}
}
