@use "shared/controls";
@use "shared++/utils";

#AchievementList {
	padding: 0;
}

#AchievementListItemBase {
	background-color: transparent;

	&::after {
		content: "";

		@include controls.separator;
	}
}

#AchievementDescription,
#AchievementGlobalPercentage,
#AchievementTitle,
#HeaderText,
#UnlockDate {
	@include utils.text-reset;
}
