@use "shared/controls";
@use "shared++/utils";
@use "steam/shared";

#AchievementSearchHeader {
	@include controls.groupbox;

	gap: var(--text-spacing);

	// Move out of content
	position: fixed;
	top: -52px;
	right: 0;
	left: 0;
}

#Label {
	@include utils.text-reset;
}

#ProgressLabel {
	@include utils.legend-as-div;

	gap: var(--text-spacing);
}

#StatsBlock {
	@include controls.groupbox;

	background-color: transparent;
}

#Title {
	@include shared.dialog-title;
}
