@use "shared/controls";
@use "shared++/utils";
@use "steam/shared";

#AchievementSearchHeader {
	gap: var(--text-spacing);

	// Move out of content
	position: fixed;
	top: calc((var(--steamavatar_size) + var(--text-spacing)) * -1);
	right: 0;
	left: 0;
}

#GameIcon {
	margin-right: var(--text-spacing);

	width: var(--icon-size);
	height: var(--icon-size);
}

#Label {
	@include utils.text-reset;
}

#Progress {
	margin-top: var(--text-spacing);
}

#StatsBlock {
	background-color: transparent;
	padding: 0;
	margin-bottom: var(--text-spacing);
}

#Title {
	@include shared.dialog-title;

	z-index: 2;

	body:not(.ModalDialogBody) & {
		color: var(--color-active-caption-text);

		left: calc(var(--offset) + 2px);
	}
}
