@use "shared/controls";
@use "shared++/extends";

#Back,
#LeaveButton {
	@include controls.button;

	text-transform: unset;

	position: fixed;
	bottom: var(--pos);

	svg {
		display: none;
	}
}

#Avatar {
	filter: unset;
	transform: unset;
	box-shadow: none;
	margin: 0;
}

#AvatarAndUser {
	@include controls.groupbox;

	.DialogLabel {
		@include extends.legend-as-div;
	}
}

#Back {
	right: var(--pos);
}

#ChannelsButtons {
	margin: 0;

	position: fixed;
	right: var(--pos);
	bottom: var(--pos);

	svg {
		display: none;
	}
}

#FixedRoleName,
#Notification {
	display: none;
}

#LeaveButton {
	left: var(--pos);
}

#PermissionsGroup {
	@include controls.groupbox;
}

#RoleNameHeader {
	margin-bottom: 8px;

	min-height: unset;

	svg {
		display: none;
	}
}
