@use "shared/controls";
@use "shared++/utils";

#Back,
#LeaveButton {
	@include controls.button;

	inset-block-end: var(--pos);
	position: fixed;
	text-transform: unset;

	svg {
		display: none;
	}
}

#Avatar {
	box-shadow: none;
	filter: unset;
	margin: 0;
	transform: unset;
}

#AvatarAndUser {
	@include controls.groupbox;

	.DialogLabel {
		@include utils.legend-as-div;
	}
}

#Back {
	inset-inline-end: var(--pos);
}

#ChannelsButtons {
	inset-block-end: var(--pos);
	inset-inline-end: var(--pos);
	margin: 0;
	position: fixed;

	svg {
		display: none;
	}
}

#FixedRoleName,
#Notification {
	display: none;
}

#LeaveButton {
	inset-inline-start: var(--pos);
}

#PermissionsGroup {
	@include controls.groupbox;
}

#RoleNameHeader {
	margin-block-end: 8px;
	min-height: unset;

	svg {
		display: none;
	}
}
