@use "shared/tabs";
@use "shared++/utils";
@use "steam/shared";

// Purpose:
// Used in group chat settings (and possibly other older dialogs)

#Container {
	// for bottom buttons
	--pos: calc(
		var(--border-size) + var(--window-spacing) + var(--dialog-spacing)
	);

	margin: var(--dialog-spacing);
	margin-bottom: calc(
		var(--dialog-spacing) + var(--dialog-button-spacing) + 1lh +
			var(--button-spacing) * 2
	);

	width: unset;
	flex-direction: column;
}

#Content {
	background: none;
}

#Nav {
	@include tabs.container;

	background-color: unset;
	padding: 0;

	min-width: unset;
	max-width: unset;
}

#NavItem {
	@include tabs.tab($selected-sel: "&#Active");
	@include utils.text-reset;
}

#NavItems {
	flex-direction: row;
}

#NavTitle {
	@include shared.dialog-title;

	text-transform: unset;
}
