@use 'shared/controls';
@use 'shared/window';
@use 'shared++/extends';
@use 'shared++/icons';

#AppActionBar {
	padding: 0;
	padding-top: var(--dialog-button-spacing);

	z-index: 1;
}

#AppActionBarButtons {
	gap: var(--dialog-button-spacing);
}

#AppActionSelected {
	@include extends.text-reset;

	position: fixed;
	left: 8px;
	bottom: 5px;
}

#AppBody {
	background-color: var(--color-window);
	color: var(--color-window-text);

	&:hover {
		--color-window: var(--color-highlight);
		--color-window-text: var(--color-highlight-text);
	}

	svg {
		display: none;
	}
}

#AppHeader {
	@include extends.text-reset;

	padding: 0;
}

#AppHeaderContainer {
	@include extends.legend-as-div;

	top: -9px;
}

#AppHeaderValue {
	@include extends.text-reset;

	margin-left: var(--text-spacing);

	display: flex;

	@include extends.parentheses;
}

#AppInfoItem {
	@include extends.text-reset;

	gap: var(--text-spacing);
}

#AppList {
	padding: 0;
}

#AppName {
	@include extends.text-reset;
}

#AppsGrid {
	@include controls.groupbox;

	margin-top: 20px;
	margin-bottom: 0;
}

#AppSize {
	@include extends.text-reset;
}

#AppUsageText,
#AppUsageValue {
	@include extends.text-reset;

	margin: 0;
}

// Redundant with the top <select>
#DriveUsage > #DriveName {
	display: none;
}

#DriveSettingsButton {
	@include controls.button;
	@include window.titlebar-button;
	@include icons.icon-more;

	width: unset;

	svg {
		display: none;
	}
}

#DriveUsageDot {
	background-color: var(--color-highlight);
}

#DriveUsageIndicator {
	@include controls.progress-bar($filled-sel: '#DriveUsageBar');

	background-color: transparent;
}

#DriveUsageNumber,
#DriveUsageText {
	@include extends.text-reset;
}

#AppUsageText,
#DriveUsageText {
	display: flex;

	&::after {
		content: ':';
	}
}

// Not alphabetical to sort colors
// Stylus also bails out with hex colors here, wtf lol
#DriveUsageWorkshop {
	--color-highlight: darkorange;
}
#DriveUsageShader {
	--color-highlight: darkmagenta;
}
#DriveUsageOther {
	--color-highlight: var(--color-gray-text);
}
#DriveUsageFreeSpace {
	--color-highlight: transparent;
}

#InstallDropdownOption {
	color: inherit;

	svg,
	#DriveName,
	#DriveSize {
		@include extends.text-reset;
	}
}

#LibraryContent,
#LibraryHeader {
	padding: 0;
}

#LibraryContent {
	// For <fieldset> & <progress> borders
	overflow: visible;
}

#LibraryHeader {
	gap: 11px;

	align-items: start;
}

#LibraryInventory {
	@include window.content-container;
}

#Rule {
	margin: 0 2px;

	height: 0;
}

