@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

#AppActionBar {
	padding: 0;
	padding-top: var(--dialog-button-spacing);

	z-index: 1;
}

#AppActionBarButtons {
	gap: var(--dialog-button-spacing);
}

#AppActionSelected {
	@include utils.text-reset;

	position: fixed;
	left: 8px;
	bottom: 5px;
}

#AppBody {
	background-color: var(--color-window);
	color: var(--color-window-text);

	&:hover {
		--color-window: var(--color-highlight);
		--color-window-text: var(--color-highlight-text);
	}

	svg {
		display: none;
	}
}

#AppHeader {
	@include utils.text-reset;

	padding: 0;
}

#AppHeaderContainer {
	@include utils.legend-as-div;

	top: -9px;
}

#AppHeaderValue {
	@include utils.text-reset;

	margin-left: var(--text-spacing);

	display: flex;

	@include utils.parentheses;
}

#AppInfoItem {
	@include utils.text-reset;

	gap: var(--text-spacing);
}

#AppList {
	padding: 0;
}

#AppName {
	@include utils.text-reset;
}

#AppsGrid {
	@include controls.groupbox;

	margin-top: 20px;
	margin-bottom: 0;
}

#AppSize {
	@include utils.text-reset;
}

#AppUsageText,
#AppUsageValue {
	@include utils.text-reset;

	margin: 0;
}

#DriveDropdownControl {
	margin: 0;

	svg {
		display: none;
	}
}

#DriveName {
	text-decoration: none;

	// Redundant with the top combobox
	#DriveUsage > & {
		display: none;
	}
}

#DriveSettingsButton {
	--button-img: icon("settings");
	@include controls.combobox-icon-button;

	svg {
		display: none;
	}
}

#DriveUsageDot {
	background-color: var(--color-highlight);
}

#DriveUsageIndicator {
	@include controls.progress-bar($filled-sel: "#DriveUsageBar");

	background-image: none;
}

#DriveUsageNumber,
#DriveUsageText {
	@include utils.text-reset;
}

#AppUsageText,
#DriveUsageText {
	display: flex;

	&::after {
		content: ":";
	}
}

$-colors: (
	Games: blue,
	Media: green,
	Other: yellow,
	Shader: magenta,
	Workshop: orange,
);

@each $k, $v in $-colors {
	#DriveUsage#{$k} {
		--color-highlight: #{$v};
	}
}

#DriveUsageFreeSpace {
	--color-highlight: transparent;
}

#DriveUsageOtherDot {
	--color-highlight: yellow;
}

#InstallDropdownOption {
	color: inherit;

	#DriveName,
	#DriveSize {
		@include utils.text-reset;
	}
}

#LibraryContent,
#LibraryHeader {
	padding: 0;
}

#LibraryContent {
	// For <fieldset> & <progress> borders
	overflow: visible;
}

#LibraryHeader {
	gap: 11px;

	align-items: start;
}

#LibraryInventory {
	@include window.content-container;

	margin-top: 4px;
}

#Rule {
	margin: 0 2px;

	height: 0;
}
