@use "shared++/utils";

#EntryLabel {
	padding-inline-end: var(--text-spacing);
}

#EntryValue {
	@include utils.text-reset;
}

#SteamGuardIcon {
	color: red;

	&#EnabledTwoFactor {
		color: green;
	}
}
