@use "shared/controls";
@use "shared++/utils";

#FriendsDescription,
#Subheader {
	@include utils.text-reset;
}

#NotificationDescription {
	font: var(--text-ui);
	color: inherit;
	margin: 0;
	margin-left: var(--label-spacing);
}

#NotificationFeedToggle {
	margin-right: 0;
}

#NotificationGroup {
	background-color: transparent;
	border-bottom: none;
	margin: 0;
}

#NotificationListSection {
	gap: var(--text-spacing);

	display: flex;
	flex-direction: column;
}

#NotificationPrefDetails {
	background-color: transparent;
	gap: var(--text-spacing);
	padding-top: var(--text-spacing);
	padding-left: calc(var(--sel-button-size) + var(--label-spacing));
	box-shadow: none;

	flex-direction: column;

	.DialogCheckbox_Container {
		margin: 0;
	}
}

#NotificationSection {
	align-items: center;
}

#PrefDetailsToggle {
	--button-img: icon("overflow", "mono");
	@include controls.button;
	@include controls.icon-button($selected-sel: "&#Selected");

	width: unset;

	svg {
		display: none;
	}
}

#ToggleHeader {
	@include utils.text-reset;
}

#Toggles.Panel {
	gap: 106px;
}
