@use "shared/controls";
@use "shared/table";
@use "shared++/utils";

#CheckboxColumn {
	color: inherit;
	font: inherit;
}

#CheckboxHeaders {
	font-weight: bold;
	padding: 0;
	position: unset;

	#NotifyViaHeader {
		color: var(--color-gray-text);
		font: inherit;
	}
}

#NotificationListSection {
	// #gamepaddialog_Field
	& > [style] {
		flex-direction: row;
	}
}

#Toggles {
	color: inherit;
	font: inherit;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;

	#Sound {
		inline-size: 88px;
	}
}
