table {
	background-color: var(--color-window) $i;
	border-spacing: 4px !important;
	border: none !important;
	box-shadow: var(--border-field) !important;
}

hr {
	border-top: 1px solid var(--color-button-highlight) !important;
	box-shadow: 0 -1px var(--color-button-shadow) !important;

	margin-top: 3px !important;
	margin-bottom: 4px !important;
}

fieldset {
	border: 1px solid $i;
	border-color: var(--border-groupbox-border) !important;
	border-radius: 0 !important;
	box-shadow: var(--border-groupbox-box-shadow) !important;

	padding: 12px 11px 11px 6px !important;
	margin: 0 0 8px 0 !important;

	position: relative !important;
}

input,
button,
select,
textarea {
	appearance: none !important;
	outline: none !important;
	font: var(--text) !important;
	border: none !important;
	border-radius: 0 !important;

	height: 21px !important;
	box-sizing: border-box !important;

	&:disabled {
		--color-window: var(--color-button-face) !important;
		--color-window-text: var(--color-gray-text) !important;
		--color-button-text: var(--color-button-shadow) !important;
		text-shadow: 1px 1px var(--color-button-highlight) !important;

		pointer-events: none !important;
	}

	&:focus {
		outline: dotted 1px var(--color-button-text) !important;
		outline-offset: -4px !important;
	}
}

select,
textarea,
input:is(
	:not([type]),
	[type="url"],
	[type="text"],
	[type="number"],
	[type="search"],
	[type="password"]
) {
	background-color: var(--color-window) !important;
	color: var(--color-window-text) !important;
	box-shadow: var(--border-field) !important;

	padding: 4px !important;
	margin: 0 2px !important;
}

button,
input:is([type="button"], [type="submit"]) {
	background-color: var(--color-button-face) !important;
	color: var(--color-button-text) !important;
	text-align: center !important;
	box-shadow: var(--border-button-raised) !important;

	padding: 5px !important;
	margin: 0 3px !important;

	position: relative !important;
	width: 74px !important;
	height: unset !important;

	display: block !important;

	&:active {
		box-shadow: var(--border-button-sunken) !important;
	}
}

input {
	&[type="checkbox"],
	&[type="radio"] {
		margin: 0 !important;

		position: relative !important;

		&:active,
		&:disabled {
			background-color: var(--color-button-face) !important;
		}
	}

	&[type="checkbox"] {
		background-color: var(--color-window) !important;
		box-shadow: var(--border-field) !important;

		width: 13px !important;
		height: 13px !important;

		&:checked {
			&::before {
				content: '';

				--control-img: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNyA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHg9IjYiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIzIiB4PSI1IiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeD0iNCIgeT0iMiIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHg9IjMiIHk9IjMiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIzIiB4PSIyIiB5PSI0Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeD0iMSIgeT0iMyIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHk9IjIiLz48L3N2Zz4K') !important;
				-webkit-mask: var(--control-img) no-repeat !important;
				-webkit-mask-size: 7px 7px !important;
				-webkit-mask-position: 3px 3px !important;
				background-color: var(--color-button-text) !important;

				position: absolute;
				inset: 0;
			}
		}
	}

	// TODO: no way of testing in vscode
	&[type="radio"] {
		background: var(--control-img) no-repeat center;
		--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAALElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPP/f0bBIDGF/zwM/AwfGBj+MwAA5NMUe8YWpVIAAAAASUVORK5CYII=') !important;

		width: 12px !important;
		height: 12px !important;

		&:active {
			--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAOElEQVQI12NgYFBSYgACJUFBIM0kaGws6MDAJGxsbODAoGgMBCzYKagSJgZjYwYHBgYXMAISQBIAZBYIx/Jku34AAAAASUVORK5CYII=') !important;
		}

		&:checked {
			--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAAMElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPOvf2aYHwrFQDZITOE/DwM/wwcGhv8MAL1zEtdwC089AAAAAElFTkSuQmCC') !important;

			&:active {
				--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAPklEQVQI102KwQmAQBADh8UGwlXgVqCkgX3Yf02Gw4chzEAI0E3SUlyyNdSyr+H0vXxE0l97/C6FzcCzG4QvQrwH+/BK284AAAAASUVORK5CYII=') !important;
			}
		}
	}

	&[type="number"] {
		padding: 0 !important;
		padding-left: 3px !important;

		&::-webkit-inner-spin-button {
			appearance: none !important;
			opacity: 1 !important;
			background: var(--button-img) !important;
			background-repeat: no-repeat !important;
			background-size: 1px 1px !important;

			margin-top: -1px !important;
			margin-right: 2px !important;

			width: 17px !important;
			height: 18px !important;
		}
	}

	// TODO: no way of testing in vscode
	&[type="range"] {
		background-color: transparent !important;

		padding: 8px 4px 12px 4px !important;
		margin: -4px !important;

		height: 31px !important;

		&::-webkit-slider-runnable-track {
			box-shadow: var(--border-field) !important;

			margin: 4px !important;

			height: 0 !important;
		}

		&::-webkit-slider-thumb {
			--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAVBAMAAABiXgn+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAKklEQVQI12NwAQEBBmdjY2MjelAsQEqRgQHIBXIYgFwQh4HBSQBMMQIxAL3XFEiuWtpeAAAAAElFTkSuQmCC') !important;
			appearance: none !important;
			background: var(--control-img) !important;
			border: none !important;
			border-radius: 0 !important;

			margin: -4px !important;

			width: 11px !important;
			height: 21px !important;

			&:active {
				--control-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAVBAMAAABiXgn+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAANElEQVQI12NwAQEBBmdjY2MjIAUETkDKxMSERjwWY2dnRQYGIBfIYQByQRwGBicBMMUIxABhtBY+Cv3r7wAAAABJRU5ErkJggg==') !important;
			}
		}

		&::-webkit-slider-thumb {
			margin-top: -9px !important;
		}
	}
}

select {
	background: var(--control-img) !important;
	background-color: var(--color-window) !important;
	background-repeat: no-repeat !important;
	background-size: 1px 1px !important;

	padding: 0 !important;
	padding-right: 20px !important;

	@supports not (-moz-appearance: none) {
		padding-left: 4px !important;
	}

	&:focus {
		outline: none !important; /* unable to do right side, as it conflicts with the button */
	}
}

$small-button {
	@extend button;

	padding: 0 $i;
	margin: 0 $i;

	width: 16px $i;
	height: 14px $i;

	&::before,
	&::after {
		content: '' !important;

		-webkit-mask: var(--button-img, none) no-repeat !important;
		-webkit-mask-size: var(--button-img-size, auto auto) !important;
		-webkit-mask-position: var(--button-img-pos, center) !important;

		position: absolute !important;
		inset: 0 !important;
		height: 100% !important;
		display: block !important;
	}

	&::before {
		background-color: var(--color-button-text) !important;

		z-index: 1 !important;
	}
}

$small-button-disabled {
	@extend button:disabled;

	&::after {
		background-color: var(--color-button-highlight) !important;

		left: 1px !important;
		top: 1px !important;
	}
}

::-webkit-scrollbar {
	background-image: repeating-conic-gradient(
		var(--color-scrollbar) 0% 25%,
		var(--color-window) 0% 50%
	) !important;
	background-size: 2px 2px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button {
	width: var(--scrollbar-size) !important;
	height: var(--scrollbar-size) !important;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	background-color: var(--color-button-face) !important;
	box-shadow: var(--border-scrollbar-button-raised) !important;

	&:active {
		box-shadow: var(--border-scrollbar-button-sunken) !important;
	}
}

::-webkit-scrollbar-button {
	background: var(--button-img) var(--color-button-face) !important;
	background-repeat: no-repeat !important;
	background-size: 1px 1px !important;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-resize {
	background-color: var(--color-scrollbar) !important;
}