@use "shared/generatedassets";

@mixin -checkbox-radio-common($checked-sel, $disabled-sel: "&:disabled") {
	--color-to-change: var(--color-window);

	@include -input-common;

	height: var(--sel-button-size);
	width: var(--sel-button-size);

	#{$checked-sel} {
		@include checkbox-radio-checked;
	}

	#{$disabled-sel},
	&:active {
		@include checkbox-radio-inactive;
	}
}

@mixin -input-common {
	appearance: none;
	border: none;
	font: var(--text-ui);
	margin: 0;
	outline: none;
	position: relative;
}

@mixin -input-common-disabled($disabled-sel) {
	#{$disabled-sel} {
		@include input-disabled;
	}
}

@mixin -text-field-common($disabled-sel: "&:where(:disabled, :read-only)") {
	@include -input-common-disabled($disabled-sel);
	@include -input-common;

	background-color: var(--color-window);
	box-shadow: var(--border-field);
	color: var(--color-window-text);
	// TODO: "padding-block: 0" if --text-ui-size > 11px
	// not there yet, see https://github.com/w3c/csswg-drafts/issues/8376
	// if it *is* there, have to wait for all apps to update to newest chromium
	padding: calc(var(--border-size) + var(--input-spacing));
}

@mixin input-disabled {
	--color-button-text: var(--color-button-shadow);
	--color-window: var(--color-button-face);
	--color-window-text: var(--color-gray-text);

	text-shadow: 1px 1px var(--color-button-highlight);
}

@mixin button(
	$disabled-sel: "&:disabled",
	$focus-sel: "&:focus",
	$active-sel: "&:active"
) {
	@include -input-common-disabled($disabled-sel);
	@include -input-common;

	background-color: var(--color-button-face);
	box-shadow: var(--border-button-raised);
	color: var(--color-button-text);
	min-width: var(--button-min-width);
	padding: var(--button-spacing);

	#{$focus-sel} {
		@include button-focus;
	}

	#{$active-sel} {
		@include button-active;
	}
}

@mixin button-active {
	box-shadow: var(--border-button-sunken);
	color: transparent;
	text-shadow: 1px 1px var(--color-button-text);
}

@mixin button-focus {
	box-shadow: var(--border-button-focused);
	outline: dotted 1px var(--color-button-text);
	outline-offset: calc(var(--button-spacing) * -1);
}

@mixin checkbox($checked-sel, $disabled-sel: "&:disabled") {
	@include -checkbox-radio-common($checked-sel, $disabled-sel);

	--control-img: icon("checkmark", "mono");
	--control-img-pos: 3px 3px;
	--control-img-size: 7px 7px;

	background-color: var(--color-to-change);
	box-shadow: var(--border-field);
}

@mixin checkbox-radio-checked {
	&::before {
		background-color: var(--color-window-text);
		content: "";
		inset: 0;
		mask: var(--control-img) no-repeat;
		mask-position: var(--control-img-pos);
		mask-size: var(--control-img-size);
		position: absolute;
	}
}

@mixin checkbox-radio-inactive {
	--color-to-change: var(--color-button-face);
	--color-window-text: var(--color-gray-text);
}

@mixin combobox($disabled-sel: "&:disabled") {
	@include -text-field-common($disabled-sel);
	@include generatedassets.combobox;

	// generatedassets.combobox doesn't change depending on its value
	--border-size: 2px;
	--color-arrow-shadow: var(--color-button-face);

	background: var(--control-img);
	background-color: var(--color-window);
	background-repeat: no-repeat;
	background-size: 1px 1px;
	opacity: 1;
	padding-inline-end: calc(
		var(--border-size) + var(--input-spacing) + var(--scrollbar-size)
	);

	#{$disabled-sel} {
		--color-arrow-shadow: var(--color-button-highlight);
	}
}

@mixin combobox-button($active-sel: "&:active") {
	--offset-click: 0px;

	// TODO: unify how it works with icon-button
	@include button($active-sel: "&:active, #{$active-sel}");

	align-items: center;
	display: flex;
	gap: var(--text-spacing);

	#{$active-sel},
	&:active {
		--offset-click: 1px;
	}

	&::before,
	&::after {
		content: "";
		inset-block-start: var(--offset-click);
		inset-inline-start: var(--offset-click);
		order: 1;
		position: relative;
	}

	&::before {
		@include separator-horizontal;

		height: calc(var(--combobox-button-height) - var(--button-spacing) * 2);
		margin: 0;
	}

	&::after {
		background-color: var(--color-button-text);
		height: 4px;
		mask: icon("arrow-bottom", "mono");
		margin-inline-end: calc(var(--button-spacing) / 2);
		width: 7px;
	}
}

/// An icon button connected to a dropdown.
@mixin combobox-icon-button($active-sel: "&:active") {
	@include combobox-button($active-sel);

	background-image: var(--button-img);
	background-position-x: calc(
		var(--button-img-pos-x, 0px) + var(--offset-click) + var(--button-spacing)
	);
	background-position-y: calc(
		var(--button-img-pos-y, 0px) + var(--offset-click) + var(--button-spacing) /
			2
	);
	background-repeat: no-repeat;
	background-size: var(--button-img-size);
	min-height: var(--icon-button-height);
	min-width: calc(
		var(--button-spacing) * 2 + var(--text-spacing) * 2 + var(--icon-size) +
			10px
	);

	&::before {
		margin-inline-start: calc(var(--icon-size) + var(--text-spacing));
	}
}

@mixin drag-handle {
	box-shadow: var(--border-tab-button-raised);
	height: 100%;
	// TODO: bruh just rename that shit
	width: 3px;
}

@mixin groupbox($disabled-sel: "&:disabled") {
	@include -input-common-disabled($disabled-sel);

	border: none;
	box-shadow: var(--border-groupbox);
	margin: 0;
	margin-block-end: 0.67rem;
	padding: 11px;
	padding-block-start: calc(1rem - 1px);
	position: relative;
}

// TODO(port): $selected-sel
@mixin icon-button($selected-sel: "&.hack") {
	--offset-click: 0px;

	height: var(--icon-button-height);
	min-width: var(--icon-button-width);

	#{$selected-sel},
	&:active {
		--offset-click: 1px;

		background: var(--checkerboard);
		box-shadow: var(--border-button-sunken);
	}

	&::before {
		background: var(--button-img) no-repeat;
		background-position: var(--button-img-pos, center);
		background-size: var(--button-img-size, auto);
		content: "";
		inset-block: 0 var(--offset-click);
		inset-inline: 0 var(--offset-click);
		position: absolute;
	}
}

@mixin progress-bar($filled-sel) {
	appearance: none;
	background-color: var(--color-button-face);
	box-shadow: var(--border-statusbar);
	height: 12px;
	padding: 1px;

	#{$filled-sel} {
		--block-width: 7px;

		background-color: transparent;
		background-image: repeating-linear-gradient(
			90deg,
			var(--color-highlight) 0 var(--block-width),
			transparent var(--block-width) calc(var(--block-width) + 2px)
		);
	}
}

@mixin radio($checked-sel, $disabled-sel: "&:disabled") {
	@include -checkbox-radio-common($checked-sel, $disabled-sel);
	@include generatedassets.radio;

	--control-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0IDQiPjxzdHlsZT5yZWN0e2hlaWdodDoxcHh9PC9zdHlsZT48cmVjdCB4PSIxIiB3aWR0aD0iMiIvPjxyZWN0IHk9IjEiIHdpZHRoPSI0Ii8+PHJlY3QgeT0iMiIgd2lkdGg9IjQiLz48cmVjdCB4PSIxIiB5PSIzIiB3aWR0aD0iMiIvPjwvc3ZnPgo=");
	--control-img-pos: 5px 5px;
	--control-img-size: 4px 4px;
}

@mixin separator {
	border: none;
	border-block-start: 1px solid var(--color-button-highlight);
	box-shadow: 0 -1px var(--color-button-shadow);
	margin-block-end: 4px;
	margin-block-start: 3px;
}

@mixin separator-horizontal {
	border-inline-start: 1px solid var(--color-button-highlight);
	box-shadow: -1px 0 var(--color-button-shadow);
	margin-inline: var(--toolbar-spacing);
}

@mixin slider($disabled-sel: "&:disabled", $thumb-sel, $track-sel) {
	@include -input-common;
	@include -input-common-disabled($disabled-sel);
	@include generatedassets.slider;

	--color-to-change: var(--color-button-face);

	background-color: transparent;

	&:active,
	&:disabled {
		--color-to-change: var(--color-button-highlight);
	}

	#{$track-sel} {
		height: calc(var(--border-size) * 2);
		box-shadow: var(--border-field);
	}

	#{$thumb-sel} {
		@include slider-thumb;
	}
}

@mixin slider-thumb {
	appearance: none;
	background: var(--control-img);
	background-repeat: no-repeat;
	background-size: 1px 1px;
	height: 21px;
	margin-block-start: calc(var(--border-size) * -2 - 3px);
	width: 11px;
}

@mixin slider-tick {
	background-color: var(--color-button-text);
	height: 3px;
	width: 1px;
}

@mixin tab-button($selected-sel) {
	color: var(--color-button-text);
	height: var(--tab-button-height);
	min-width: var(--button-min-width);
	padding: var(--tab-button-spacing);

	&:hover {
		box-shadow: var(--border-tab-button-raised);
	}

	#{$selected-sel},
	&:active {
		--offset-click: 1px;

		background: var(--checkerboard);
		box-shadow: var(--border-tab-button-sunken);
		font-weight: bold;

		& > * {
			inset-block-start: var(--offset-click);
			inset-inline-start: var(--offset-click);
			position: relative;
		}
	}
}

@mixin text-field($disabled-sel: "&:where(:disabled, :read-only)") {
	@include -text-field-common($disabled-sel);
}

@mixin text-field-number($disabled-sel: "&:where(:disabled, :read-only)") {
	@include text-field($disabled-sel);
	@include generatedassets.text-field-number;

	&::-webkit-inner-spin-button {
		appearance: none;
		background: var(--button-img);
		background-repeat: no-repeat;
		background-size: 1px 1px;
		height: 18px;
		margin-inline-end: calc(var(--border-size) * -1);
		opacity: 1;
		width: 17px;
	}
}

@mixin tooltip {
	background-color: var(--color-tooltip);
	border: 1px solid var(--color-button-shadow-dark);
	color: var(--color-tooltip-text);
	padding: 3px;
}
