:root {
	--icon-mono-arrow-bottom: file("arrow-bottom", "mono");
	--icon-mono-arrow-left: file("arrow-left", "mono");
	--icon-mono-arrow-right: file("arrow-right", "mono");
	--icon-mono-arrow-top: file("arrow-top", "mono");
	--icon-mono-checkmark: file("checkmark", "mono");
	--icon-mono-close: file("close", "mono");
	--icon-mono-maximize: file("maximize", "mono");
	--icon-mono-minimize: file("minimize", "mono");
	--icon-mono-next: file("next", "mono");
	--icon-mono-pause: file("pause", "mono");
	--icon-mono-play: file("play", "mono");
	--icon-mono-previous: file("previous", "mono");
	--icon-mono-repeat: file("repeat", "mono");
	--icon-mono-restore: file("restore", "mono");
	--icon-mono-shuffle: file("shuffle", "mono");
	--icon-normal-checkmark: file("checkmark", "normal");
	--icon-normal-clear: file("clear", "normal");
	--icon-normal-clock: file("clock", "normal");
	--icon-normal-computer: file("computer", "normal");
	--icon-normal-debug-32: file("debug-32", "normal");
	--icon-normal-debug: file("debug", "normal");
	--icon-normal-download: file("download", "normal");
	--icon-normal-earth: file("earth", "normal");
	--icon-normal-edit: file("edit", "normal");
	--icon-normal-error-32: file("error-32", "normal");
	--icon-normal-extensions-32: file("extensions-32", "normal");
	--icon-normal-extensions: file("extensions", "normal");
	--icon-normal-favorites: file("favorites", "normal");
	--icon-normal-file: file("file", "normal");
	--icon-normal-file-search: file("file-search", "normal");
	--icon-normal-folder-32: file("folder-32", "normal");
	--icon-normal-folder: file("folder", "normal");
	--icon-normal-go-back: file("go-back", "normal");
	--icon-normal-go-forward: file("go-forward", "normal");
	--icon-normal-grid: file("grid", "normal");
	--icon-normal-history: file("history", "normal");
	--icon-normal-home: file("home", "normal");
	--icon-normal-hourglass: file("hourglass", "normal");
	--icon-normal-list: file("list", "normal");
	--icon-normal-mail: file("mail", "normal");
	--icon-normal-mail-read: file("mail-read", "normal");
	--icon-normal-newspaper: file("newspaper", "normal");
	--icon-normal-overflow: file("overflow", "normal");
	--icon-normal-padlock: file("padlock", "normal");
	--icon-normal-question-32: file("question-32", "normal");
	--icon-normal-reload: file("reload", "normal");
	--icon-normal-search-24: file("search-24", "normal");
	--icon-normal-settings-24: file("settings-24", "normal");
	--icon-normal-settings: file("settings", "normal");
	--icon-normal-sidebar: file("sidebar", "normal");
	--icon-normal-sound-muted: file("sound-muted", "normal");
	--icon-normal-sound: file("sound", "normal");
	--icon-normal-source-control-32: file("source-control-32", "normal");
	--icon-normal-source-control: file("source-control", "normal");
	--icon-normal-steam: file("steam", "normal");
	--icon-normal-stop: file("stop", "normal");
	--icon-normal-url: file("url", "normal");
	--icon-normal-warning-32: file("warning-32", "normal");
	--icon-normal-window: file("window", "normal");
	--icon-normal-windows: file("windows", "normal");
}
