@mixin container {
	background-color: var(--color-window);
	border: 1px solid var(--color-window-text);
	color: var(--color-window-text);
}

@mixin item($selected-sel) {
	padding: 2px 3px;

	#{$selected-sel},
	&:hover {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}
