@mixin item {
	height: calc(1rlh + 3px);
	display: flex;
	align-items: center;
}

@mixin item-image {
	background: var(--list-icon) center no-repeat;

	min-width: var(--icon-size);
	min-height: var(--icon-size);
}

@mixin item-name-container {
	display: flex;
	align-items: center;
}

@mixin item-name {
	padding: 0 5px 0 1px;
}

@mixin item-name-selected {
	background-color: var(--color-highlight);
	color: var(--color-highlight-text);
	border: 1px dotted var(--color-highlight-border);
}
