@mixin -item-check {
	background-color: currentColor;
	content: "";
	inset-block-start: 5px;
	position: absolute;
}

@mixin item($selected-sel) {
	color: var(--color-button-text);
	line-height: 1.25;
	padding: 2px 20px;
	position: relative;

	#{$selected-sel},
	&:hover {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}

@mixin item-parent {
	&::after {
		background-color: currentColor;
		content: "";
		height: 7px;
		inset-block-start: 4px;
		inset-inline-end: 6px;
		mask: icon("arrow-right", "mono");
		position: absolute;
		width: 4px;
	}
}

@mixin item-primary {
	font-weight: bold;
}

@mixin item-check {
	&::before {
		@include -item-check;

		height: 7px;
		inset-inline-start: 6px;
		mask: icon("checkmark", "mono");
		width: 7px;
	}
}

@mixin item-disabled {
	--color-button-text: var(--color-button-shadow);

	pointer-events: none;
	text-shadow: 1px 1px var(--color-button-highlight);
}

@mixin item-radio {
	&::before {
		@include -item-check;

		height: 6px;
		inset-inline-start: 7px;
		mask: icon("radio", "mono");
		width: 6px;
	}
}
