@mixin -button-arrow {
	&::after {
		background-color: var(--color-button-text);
		content: "";
		height: 100%;
		inset-block-start: -1px;
		inset-inline-end: 7px;
		mask: var(--button-img, none) no-repeat;
		mask-position: center;
		mask-size: 7px 4px;
		position: absolute;
		width: 7px;
	}
}

@mixin button {
	padding: var(--table-row-spacing);
	text-align: start;

	&:active {
		box-shadow: var(--border-button-sunken-alt);
	}
}

@mixin button-arrow-ascending {
	@include -button-arrow;

	--button-img: icon("arrow-bottom", "mono");
}

@mixin button-arrow-descending {
	@include -button-arrow;

	--button-img: icon("arrow-top", "mono");
}

@mixin header-row {
	background-color: var(--color-button-face);
	box-shadow:
		inset -1px -1px var(--color-button-highlight),
		inset -2px -2px var(--color-button-shadow);
	padding: 2px 5px;
	padding-block-end: 3px;
}

@mixin row {
	padding: var(--table-row-spacing);
}
