@mixin item($expanded-sel, $child-sel: "") {
	--icon: var(--tree-icon-collapsed);

	padding: 0 4px;
	margin-left: var(--icon-size);

	position: relative;

	@if $child-sel != "" {
		#{$child-sel} {
			margin-left: 0;

			&::before {
				display: none;
			}
		}
	}

	&::before {
		content: "";

		position: absolute;
		left: -12px;
		top: -7px;
		width: 14px;
		height: 14px;

		border-left: 1px dotted var(--color-gray-text);
		border-bottom: 1px dotted var(--color-gray-text);
	}

	#{$expanded-sel} {
		--icon: var(--tree-icon-expanded);

		&::after {
			content: "";

			position: absolute;
			left: -12px;
			top: 9px;
			height: calc(100% - 17px);

			border-left: 1px dotted var(--color-gray-text);
		}
	}
}

@mixin item-icon {
	--icon-size: 9px;

	position: relative;
	width: var(--icon-size);
	height: var(--icon-size);

	&::before,
	&::after {
		content: "";

		position: absolute;
	}

	&::before {
		width: calc(var(--icon-size) - 2px);
		height: calc(var(--icon-size) - 2px);
		z-index: 1;

		background: var(--icon);
		background-color: var(--color-window);
		background-size: 1px 1px;
		background-repeat: no-repeat;
		border: 1px solid var(--color-gray-text);
	}

	&::after {
		left: 4px;
		top: -10px;
		width: 10px;
		height: 14px;

		border-left: 1px dotted var(--color-gray-text);
		border-bottom: 1px dotted var(--color-gray-text);
	}
}
