@mixin item($expanded-sel, $child-sel: "") {
	--icon: var(--tree-icon-collapsed);

	margin-inline-start: var(--icon-size);
	padding: 0 4px;
	position: relative;

	@if $child-sel != "" {
		#{$child-sel} {
			margin-inline-start: 0;

			&::before {
				display: none;
			}
		}
	}

	&::before {
		border-block-end: 1px dotted var(--color-gray-text);
		border-inline-start: 1px dotted var(--color-gray-text);
		content: "";
		height: 14px;
		inset-block-start: -7px;
		inset-inline-start: -12px;
		position: absolute;
		width: 14px;
	}

	#{$expanded-sel} {
		--icon: var(--tree-icon-expanded);

		&::after {
			border-inline-start: 1px dotted var(--color-gray-text);
			content: "";
			height: calc(100% - 17px);
			inset-block-start: 9px;
			inset-inline-start: -12px;
			position: absolute;
		}
	}
}

@mixin item-icon {
	--icon-size: 9px;

	height: var(--icon-size);
	width: var(--icon-size);
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;
	}

	&::before {
		background: var(--icon);
		background-color: var(--color-window);
		background-repeat: no-repeat;
		background-size: 1px 1px;
		border: 1px solid var(--color-gray-text);
		height: calc(var(--icon-size) - 2px);
		width: calc(var(--icon-size) - 2px);
		z-index: 1;
	}

	&::after {
		border-block-end: 1px dotted var(--color-gray-text);
		border-inline-start: 1px dotted var(--color-gray-text);
		height: 14px;
		inset-block-start: -10px;
		inset-inline-start: 4px;
		width: 10px;
	}
}
