body {
	background-color: var(--color-button-face) !important;
	color: var(--color-button-text) !important;
	font: var(--text-ui) !important;
	image-rendering: pixelated !important;
	box-shadow: var(--border-window) !important;

	padding: 4px !important;
	margin: 0 !important;

	box-sizing: border-box !important;
}
