@use "shared/generatedassets";
@use "shared++/utils";

@mixin content-container {
	background-color: var(--color-window);
	box-shadow: var(--border-field);
	color: var(--color-window-text);
	padding: var(--border-size);
}

@mixin container($child: false) {
	background-color: var(--color-button-face);
	box-shadow: var(--border-window);
	color: var(--color-button-text);

	@if $child {
		--window-spacing: 1px;

		padding: calc(var(--border-size) + var(--window-spacing));
	} @else {
		padding: var(--main-window-border-spacing);
	}
}

@mixin resize-handle {
	@include generatedassets.window-resize-handle;

	cursor: se-resize;
	height: 14px;
	inset-block-end: var(--main-window-border-spacing);
	inset-inline-end: var(--main-window-border-spacing);
	position: fixed;
	width: 14px;
}

@mixin menubar {
	background-color: var(--color-menubar);
	color: var(--color-menubar-text);
	display: flex;
}

@mixin menubar-item($selected-sel) {
	padding: 3px 5px 2px 7px;

	#{$selected-sel},
	&:active {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}

@mixin statusbar {
	display: flex;
	gap: 2px;
}

@mixin statusbar-item {
	box-shadow: var(--border-statusbar);
	padding: 3px 4px 2px 4px;
}

@mixin titlebar($focused-sel) {
	align-items: center;
	background-image: linear-gradient(
		90deg,
		var(--color-inactive-caption-bg-start),
		var(--color-inactive-caption-bg-end)
	);
	color: var(--color-inactive-caption-text);
	display: flex;
	gap: var(--titlebar-spacing);
	height: var(--titlebar-height);
	padding: 1px 2px;

	#{$focused-sel} {
		--color-inactive-caption-bg-start: var(--color-active-caption-bg-start);
		--color-inactive-caption-bg-end: var(--color-active-caption-bg-end);
		--color-inactive-caption-text: var(--color-active-caption-text);
	}
}

@mixin titlebar-name {
	font-weight: bold;
}

@mixin titlebar-button($disabled-sel: "&:disabled") {
	height: 14px;
	min-width: 16px;

	&::before,
	&::after {
		@include utils.pseudo-icon;
	}

	&::before {
		background-color: var(--color-button-text);
		z-index: 1;
	}

	&:active {
		&::before {
			inset: 1px;
		}
	}

	#{$disabled-sel} {
		&::after {
			background-color: var(--color-button-highlight);
			inset-block-start: 1px;
			inset-inline-start: 1px;
		}
	}
}

@mixin titlebar-button-minimize {
	--button-img: icon("minimize", "mono");
	--button-img-pos: 4px 9px;
	--button-img-size: 6px 2px;
}

@mixin titlebar-button-maximize {
	--button-img: icon("maximize", "mono");
	--button-img-pos: 3px 2px;
	--button-img-size: 9px;
}

@mixin titlebar-button-restore {
	--button-img: icon("restore", "mono");
	--button-img-pos: 3px 2px;
	--button-img-size: 8px 9px;
}

@mixin titlebar-button-close {
	--button-img: icon("close", "mono");
	--button-img-pos: 4px 3px;
	--button-img-size: 8px 7px;

	margin-inline-start: 2px;
}

@mixin toolbar {
	display: flex;
	gap: var(--toolbar-spacing);
	margin: 0 var(--toolbar-container-spacing);
}
