@use "shared/generatedassets";
@use "shared++/utils";

@mixin content-container {
	background-color: var(--color-window);
	box-shadow: var(--border-field);
	padding: var(--border-size);
}

@mixin container($child: false) {
	background-color: var(--color-button-face);
	color: var(--color-button-text);
	box-shadow: var(--border-window);
	padding: calc(var(--border-size) + var(--window-spacing));

	@if $child {
		--window-spacing: 1px;
	}
}

@mixin resize-handle {
	@include generatedassets.window-resize-handle;

	position: fixed;
	right: calc(var(--border-size) + var(--window-spacing));
	bottom: calc(var(--border-size) + var(--window-spacing));
	width: 14px;
	height: 14px;

	cursor: se-resize;
}

@mixin menubar {
	background-color: var(--color-menubar);
	color: var(--color-menubar-text);
	line-height: 1;

	display: flex;
}

@mixin menubar-item($selected-sel) {
	padding: 4px 5px 3px 7px;

	&:is(:active, #{$selected-sel}) {
		@include menubar-item-active;
	}
}

@mixin menubar-item-active {
	background-color: var(--color-highlight);
	color: var(--color-highlight-text);
}

@mixin statusbar {
	gap: 2px;

	display: flex;
}

@mixin statusbar-item {
	box-shadow: var(--border-statusbar);
	padding: 2px 4px 1px 4px;
}

@mixin titlebar($focused-sel) {
	background-color: var(--color-inactive-caption);
	color: var(--color-inactive-caption-text);
	padding: 1px 2px;
	gap: var(--titlebar-spacing);

	height: var(--titlebar-height);
	display: flex;
	align-items: center;

	#{$focused-sel} {
		--color-inactive-caption: var(--color-active-caption);
		--color-inactive-caption-text: var(--color-active-caption-text);
	}
}

@mixin titlebar-name {
	font-weight: bold;
}

@mixin titlebar-button($disabled-sel: ":disabled") {
	min-width: 16px;
	height: 14px;

	&::before,
	&::after {
		@include utils.pseudo-icon;
	}

	&::before {
		z-index: 1;

		background-color: var(--color-button-text);
	}

	&:active {
		&::before {
			inset: 1px;
		}
	}

	&#{$disabled-sel} {
		@include titlebar-button-disabled;
	}
}

@mixin titlebar-button-disabled {
	&::after {
		left: 1px;
		top: 1px;

		background-color: var(--color-button-highlight);
	}
}

@mixin titlebar-button-minimize {
	--button-img: icon("minimize", "mono");
	--button-img-size: 6px 2px;
	--button-img-pos: 4px 9px;
}

@mixin titlebar-button-maximize {
	--button-img: icon("maximize", "mono");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin titlebar-button-restore {
	--button-img: icon("restore", "mono");
	--button-img-size: 10px 9px;
	--button-img-pos: 2px 2px;
}

@mixin titlebar-button-close {
	--button-img: icon("close", "mono");
	--button-img-size: 8px 7px;
	--button-img-pos: 4px 3px;

	margin-left: 2px;
}

@mixin toolbar {
	gap: var(--toolbar-spacing);
	margin: 0 var(--toolbar-container-spacing);

	display: flex;
}
