@use "shared/controls";
@use "shared++/utils";

#ButtonChild {
	@include controls.button;

	background-image: none;

	svg {
		display: none;
	}
}

#ButtonText {
	@include utils.text-reset;
}

#PlayButtonContainer {
	min-width: unset;
	height: unset;
}

#StreamingSelector {
	--button-img: icon("arrow-big-bottom", "mono");
	--icon-button-height: 24px;
	@include controls.icon-button;
}
