@use "shared/controls";
@use "shared/text";
@use "shared++/utils";
@use "steam/shared";

#AppActivityDate {
	@include utils.legend-as-div;
	@include utils.text-reset;

	background: var(--color-window);
}

#AppActivityDay {
	@include controls.groupbox;

	background: none;
}

#Event {
	font: inherit;

	&:not(:first-child)::before {
		@include utils.pseudo-separator;
	}
}

#EventActorAvatar {
	height: unset;
}

#EventBody {
	background: none;
	box-shadow: none;
	margin: 0;
}

#EventHeadline {
	color: inherit;
	font: inherit;
	padding-block: var(--text-spacing);

	#SpanEvent {
		margin-inline: var(--text-spacing);
	}
}

#LeftSideMajorUpdateBar {
	display: none;
}

#MajorUpdateContentContainer {
	@include shared.library_section-content;
}

#MediumImageContainer {
	margin-inline-end: var(--library_section-spacing);
}

#PartnerEvent {
	background: none;
	border: none;
	box-shadow: none;
}

#PartnerEventFeatured {
	@include shared.library_section;

	margin-block-start: 1px;

	& > [role="button"] {
		@include shared.library_section-content;
	}
}

#PartnerEventFeaturedHeader {
	@include shared.library_section-header;
	@include utils.text-reset;

	background-image: none;
}

// lmao v*lve
#PartnerEventLargeImage,
#PartnerEventMediumImage,
#PartnerEventTextOnly {
	&_Container {
		background: none;
	}

	&_Summary {
		color: inherit;
		font: var(--text-ui);
		padding: 0;
		text-shadow: none;
	}

	&_TextColumn {
		gap: var(--text-spacing);
		// LargeImage
		margin: 0;
		padding: 0;
		text-shadow: none;
	}

	&_Title {
		color: inherit;
		font: var(--text-ui);
		font-weight: bold;
		// LargeImage
		text-shadow: none;
	}
}

#PartnerEventLargeImage,
#PartnerEventMediumImage {
	&_Contents {
		flex-direction: row;
		padding: 0;
	}
}

#PartnerEventLargeImage {
	&_Image#Blur {
		display: none;
	}

	&_TextColumn {
		display: flex;
		flex-direction: column;
	}
}

#PartnerEventLargeUpdate {
	background: none;
	border: none;
	box-shadow: none;
}

#PartnerEventTextOnly_Container {
	padding: 0;
}

#PartnerEventTextOnly_Icon {
	--size: 32px;

	height: var(--size);
	margin: 0;
	margin-inline-end: var(--library_section-spacing);
	width: var(--size);
}

#PartnerEventType {
	color: var(--color-gray-text);
	font: inherit;
	margin-block-start: var(--text-spacing);

	&#PartnerEventTypeUpdate {
		text-shadow: none;
	}

	div {
		color: var(--color-gray-text);
		font: var(--text-ui);
	}
}

#ReviewMetadata {
	#CommentsContainer {
		@include text.link;
	}

	#CommentCount {
		color: inherit;
		font: inherit;
	}

	#CommentIcon,
	#UpVotesIcon {
		display: none;
	}

	#CommentsLabel {
		color: inherit;
		font: inherit;
		font-weight: bold;
	}

	#PlayedForTime {
		color: inherit;
		font: inherit;
		padding: 0;
	}
}

#ReviewDescriptionRecommended {
	color: inherit;
	font: inherit;
	font-weight: bold;
	padding: 0;
}

#ReviewText {
	color: inherit;
	font: inherit;
}

#ScreenshotCarousel {
	#CarouselThumb {
		background-color: transparent;
		border: 2px solid transparent;
		margin: 0;
		opacity: 1;
		transform: none;

		&:hover,
		&#Active {
			border-color: var(--color-highlight);
		}
	}

	#CarouselThumbs {
		display: grid;
		// Give it at least something to distinguish it better
		border: 1px solid var(--color-button-shadow);
		// Make a better use of this space
		grid-template-columns: 1fr 1fr;
		overflow: auto;
	}

	#TimeStamp {
		color: inherit;
		font: inherit;
		margin: 0;
		margin-block-start: var(--text-spacing);
	}
}
