@use "shared/controls";
@use "shared++/utils";

#ButtonChild {
	@include controls.button;

	background-image: none;

	height: var(--combobox-button-height);

	svg {
		display: none;
	}
}

#ButtonText {
	@include utils.text-reset;
}

#PlayButtonContainer {
	min-width: unset;
	height: unset;
}

#StreamingSelector {
	--button-img: icon("arrow-big-bottom", "mono");
	--icon-button-width: 16px;
	--icon-button-height: var(--combobox-button-height);
	@include controls.icon-button;

	width: unset;
}
