@use "shared/controls";
@use "shared++/utils";
@use "shared++/icons";

#ButtonChild {
	@include controls.button;

	background-image: none;

	svg {
		display: none;
	}
}

#ButtonText {
	@include utils.text-reset;
}

#PlayButtonContainer {
	min-width: unset;
	height: unset;
}

#StreamingSelector {
	--icon-button-height: 24px;
	@include controls.icon-button;
	@include icons.icon-big-arrow-bottom;
}
