#Backdrop {
	display: none;
}

#Container {
	// for toolbar... ty valve
	transform-style: unset;
}

// Fix position: relative from <fieldset>
#RightColumn {
	position: relative;
	z-index: 999;
}

#SeekTarget {
	position: relative;
}
