@use "shared/controls";
@use "shared++/utils";

#Controls {
	gap: var(--dialog-button-spacing);

	max-height: unset;
}

#EmoticonButton {
	@include utils.use-attr-text("title");

	min-width: 111px;
	height: unset;

	&::before {
		color: inherit;
		text-shadow: inherit;
	}

	svg {
		display: none;
	}
}

#PostButton {
	@include controls.button;

	width: unset;

	#Label {
		color: inherit;
	}
}

#PostTextEntryArea {
	@include controls.text-field;

	width: 100%;
}
