:root {
	--appdetails_container-spacing-x: 10px;
	--appdetails_container-spacing-y: 4px;
	--appdetails_highlight-img-size: 80px;
}

#AppDetailsOverviewPanel,
#InnerContainer {
	// for toolbar... ty valve
	transform-style: unset;
}

#PlayBar {
	top: calc(var(--library_toolbar-top-offset) * -1);
	left: 0;
	width: 100%;
}

#ScrollContainer {
	// for toolbar... ty valve
	transform: none;
	background: none;
}
