@use "shared/controls";
@use "shared/tooltip";
@use "shared++/utils";

#Container {
	@include tooltip.container;
	@include utils.text-reset;

	background-color: transparent;
}

#DeckVerifiedInfo {
	background-color: transparent;
	color: inherit;
	gap: var(--text-spacing);
	padding: 0;
	margin-bottom: var(--text-spacing);

	&::before {
		@include utils.pseudo-separator;
	}

	#CompatLabel {
		font: inherit;
	}

	#CompatToolContainer {
		margin-left: var(--text-spacing);
	}

	#Details {
		@include controls.button;

		text-align: center;
		// developer commentary
		text-decoration: none;
	}

	#Title {
		font: inherit;
	}

	svg {
		display: none;
	}
}

#Date,
#Name {
	@include utils.text-reset;
}

#GameDescription {
	@include utils.text-reset;

	padding: 0;
}

#InnerContainer {
	padding: 0;
}

#Label {
	@include utils.text-reset;

	font-weight: bold;
}
