@use "shared/tooltip";

#ReviewContainer {
	@include tooltip.container;

	// Couldn't think of any other way, so let it be
	margin: var(--library_section-spacing);

	width: auto;

	#Inner {
		width: auto;
	}
}
