@use "shared/controls";

#Controls {
	gap: var(--dialog-button-spacing);

	max-height: unset;
}

#EmoticonButton {
	svg {
		display: none;
	}
}

#PostButton {
	@include controls.button;

	width: unset;
	height: var(--icon-buttin-height);

	#Label {
		color: inherit;
	}
}

#PostTextEntryArea {
	@include controls.text-field;

	width: 100%;
}
