@use "shared/controls";
@use "shared++/extends";

#AchievementProgressContainer {
	@include controls.progress-bar($filled-sel: "#AchievementProgress");

	background-color: transparent;
}

#Label {
	@include extends.text-reset;
}

#Remainder {
	@include controls.button;

	margin: 0;

	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#RemainderText {
	@include extends.text-reset;
}

#ShowDivider {
	border: none;
	margin: 0;

	&::before {
		content: "";

		display: block;

		@include controls.separator;
	}
}
