@use "shared/controls";
@use "shared++/utils";

#Container {
	@include controls.groupbox;
	@include utils.text-reset;

	background-color: transparent;
}

#Date,
#Name,
#Label {
	@include utils.text-reset;
}

#GameDescription {
	@include utils.text-reset;

	padding: 0;
}

#InnerContainer {
	padding: 0;
}
