#Backdrop {
	display: none;
}

#ColumnContainer {
	padding: 0;

	display: flex;
	flex-direction: column;
}

#Container {
	// for toolbar... ty valve
	transform-style: unset;
}

#RightColumn {
	margin: 0;

	width: 100%;
}

#SeekTarget {
	position: relative;
}

#Spotlights {
	padding: 0;

	width: 100%;
}
