#AppDetailsOverviewPanel,
#InnerContainer {
	// for toolbar... ty valve
	transform-style: unset;
}

#PlayBar {
	inset-block-start: 0;
	inset-inline-start: 0;
	width: 100%;
}

#ScrollContainer {
	background: none;
	// for toolbar... ty valve
	perspective: unset;
	// for toolbar... ty valve
	transform: none;
}
