#BoxSizerContainer {
	inset: 32px;
}

#HeaderBackgroundImage {
	transform: unset;
}

#ImgContainer {
	height: 100%;
}

#ImgSrc {
	&#ImgBlur {
		height: 100%;
	}

	&#ImgBlurBackdrop {
		display: none;
	}

	#ImgContainer & {
		mask: none;
	}
}
