@use "shared++/utils";

#EventDaySeparator {
	// TODO: vertical separators
	margin: 0 16px;
}

#EventHeaderBlock {
	@include utils.text-reset;
}

#GamePlaySummaryContainer {
	margin: 0;
}

#GamePlaySummaryHeader {
	@include utils.text-reset;

	margin-block: 4px;
}

#SummaryCarouselContainer {
	background: none;
	padding: var(--library_section-spacing);

	&::after {
		display: none;
	}
}

#SummaryContainer {
	margin: 0;
}

#SummaryScreenshot {
	box-shadow: none;
}

#TypeSeparator {
	width: 0;
}
