@use "shared/controls";
@use "shared++/utils";

#SingleAchievementProgressBar {
	@include controls.progress-bar($filled-sel: "#AchievementProgress");

	flex-grow: 1;
	// Align with text
	margin-block-start: 1px;
}

#SingleAchievementProgressContainer {
	display: flex;
	flex-direction: row-reverse;
	gap: var(--text-spacing);
	margin-block-start: var(--text-spacing);

	#ProgressLabel {
		@include utils.parentheses;

		color: inherit;
		font: inherit;
	}
}

#Unlocked {
	background: none;
	color: inherit;
	font: inherit;
	padding: 0;

	&::before {
		@include utils.pseudo-separator;
	}

	#RareLabel {
		color: inherit;
		font-weight: bold;
	}
}
