@use "shared/controls";

#GameIcon {
	width: var(--icon-size);
	height: var(--icon-size);
}

#ListItemTooltipBase {
	@include controls.tooltip;

	box-shadow: none;
}

#ListItemTooltipDetail {
	color: inherit;
	font: inherit;
}

#ListItemTooltipDetailSection {
	--spacing: 6px;
	margin-inline: var(--spacing);

	&:last-child {
		margin-block-end: var(--spacing);
	}
}

#Title {
	color: inherit;
	font-size: inherit;
}

#TitleRow {
	gap: var(--text-spacing);
}
