@use "shared/controls";
@use "shared++/utils";

#ToolbarToolTip {
	@include utils.text-reset;

	flex-grow: 1;
	padding: 0;
	text-align: start;

	// The *actual* tooltip
	body > div > & {
		@include controls.tooltip;
	}
}
