@use "shared/controls";
@use "shared++/utils";

#ToolbarToolTip {
	@include utils.text-reset;

	text-align: start;
	padding: 0;

	flex-grow: 1;

	// The *actual* tooltip
	body > div > & {
		@include controls.tooltip;
	}
}
