@use "shared/controls";

.c19a557985eb7793-avatar {
	margin: 0;
}

.c19a557985eb7793-buttonContainer {
	.f84418acfdbdfe54-hoverBarButton {
		@include controls.button;
		@include controls.icon-button;

		.f84418acfdbdfe54-icon:not(.f84418acfdbdfe54-buttonContent) {
			display: none;
		}
	}
}

._5126c0cd07f243a0-buttons {
	background-color: transparent;
	border: none;
	padding: 0;
}

.c19a557985eb7793-headerText {
	margin: 0;
}

.c19a557985eb7793-messageContent {
	font-size: var(--text-ui-size);
}

.c19a557985eb7793-repliedTextContent {
	padding: 0;
	margin: 0;
}

.c19a557985eb7793-timestamp {
	font: var(--text-ui);

	height: unset;
}

.c19a557985eb7793-username {
	font: var(--text-ui);
	font-weight: bold;
}

.c19a557985eb7793-wrapper {
	--chat-markup-line-height: 1.5;
	min-height: unset;

	&.c19a557985eb7793-compact {
		i {
			opacity: 1;

			position: unset;
			display: contents;
		}

		.timestamp {
			width: 3.5rem;
		}
	}

	&.c19a557985eb7793-cozy {
		.c19a557985eb7793-header {
			line-height: var(--text-line);
			margin-bottom: var(--text-spacing);

			min-height: unset;
		}
	}
}
