@use "shared/controls";
@use "shared/window";

.wrapper_cb9592 {
	@include window.content-container;

	// TODO: remove when discord decides to use aria-labels again
	.lottieIcon__5eb9b {
		color: inherit;
		padding: 0;

		display: block;
	}
}

.wrapper__1405b {
	gap: var(--dialog-button-spacing);

	.buttonSection__1405b {
		background-color: transparent;
		border: none;
		gap: 0;
		padding: 0;
	}

	.centerButton_f1ceac {
		@include controls.icon-button;

		// TODO: see above
		.controlIcon_f1ceac {
			color: inherit;
		}
	}
}
