// Just right click on the channel list
.ChannelTypeTitle,
// Just use the friends list
.inviteAnotherFriendButton,
// Just Shift+Click the scrollbar
.ScrollToBottomButton {
	display: none;
}

.chatDialogs {
	--statusbar-height: calc(var(--text-full) + 3px);

	@extend [role="tabpanel"];
	@extend [role="tabpanel"].compact;

	background: none;
	margin: 0 var(--dialog-spacing);
	margin-bottom: calc(var(--dialog-spacing) + var(--statusbar-height) + var(--window-gap));
}

.chatEntry {
	background-color: transparent;
	padding: 0;
	margin-top: var(--window-gap);

	button {
		@extend .icon-button;

		width: unset;
		min-height: unset;

		&.Disabled {
			pointer-events: none;
		}

		// TODO: remove when adding icons
		svg {
			color: inherit;
			margin: 0;

			width: 16px;
			height: 16px;
		}

		path {
			fill: var(--color-button-text);
		}

		.SVGIcon_Submit {
			margin-top: -2px;
		}
	}
}

.chatFileUpload {
	&Cancel {
		@extend button;
		@extend .titlebar-button;
		@extend $titlebar-button-close;

		top: 0;
		right: calc(-260px + 16px + 8px + var(--border-size) + var(--window-spacing));
		order: -1;

		svg {
			display: none;
		}
	}

	&FileName {
		font: var(--text-ui);
		font-weight: bold;
	}

	&Preview {
		// TODO: images use border-statusbar
		box-shadow: none;
		padding: 0;

		&Container {
			// TODO: use tooltip ?
			@extend .window;
			@extend .window.child;

			gap: var(--text-spacing);

			bottom: calc(var(--border-size) + var(--window-spacing) + 21px);
			align-items: start;

			& > * {
				padding: 0;
				margin: 0;
				margin-left: 4px;
			}
		}
	}
}

.chatHeader {
	background: none;

	min-height: 0;
}

.ChatHistoryContainer {
	@extend .content-container;
}

.ChatMessageEntryVoice {
	@extend .icon-button;

	opacity: 1;
	border: none;
	box-shadow: none;
	padding: 0;
	margin-left: 0;
}

.chatRoom {
	&Button {
		@extend button;
		@extend .icon-button;

		// TODO: remove when adding icons
		padding: 2px;

		width: unset;

		&.InviteToGroupChat {
			margin-right: var(--toolbar-spacing);

			order: -1;
		}

		svg {
			fill: var(--color-button-text);
			margin: 0;
			margin-top: 2px;
		}
	}

	&ChannelGroups {
		overflow: auto;
		height: 100%;

		&::-webkit-scrollbar {
			display: initial;
		}
	}

	&ChannelsGroup {
		color: var(--color-window-text);
	}

	&Group {
		// Yes...it's a capital letter.
		&Header .ChatRoomGroupAvatar,
		&HeaderNameandTag,
		// It's broken...not by me !
		&NavCollapseExpand {
			display: none;
		}

		&Header {
			border: none;
			padding: 4px calc(var(--border-size) + 4px);
		}

		&NavColumn {
			@extend .content-container;

			margin-right: var(--window-gap);
		}

		&Stats {
			@extend .statusbar;

			flex-direction: row;

			.statCircle {
				display: none;
			}

			.statMemberStat {
				@extend .statusbar-item;
				@extend $text-reset;

				margin: 0;

				&[title] {
					font-size: 0;

					&::before {
						content: attr(title);

						font-size: var(--text-ui-size);
					}
				}
			}
		}
	}

	&Members {
		@extend .content-container;

		border: none;

		// TODO: unify with game library
		.groupName {
			position: absolute;
		}
	}

	&TextChannel {
		color: inherit;
		// TODO: .list-item-name padding is too small
		padding: 4px;

		&.ActiveTextChannel {
			@extend .list-item[aria-selected="true"] > .list-item-name-container > .list-item-name;
		}

		&Icon {
			display: none;
		}

		&Name {
			@extend $text-reset;

			margin: 0;
		}
	}
}

.ChatTabContextMenuItem {
	min-height: unset;

	// !important in ../imports/chattabs.styl
	&& > div {
		background-color: unset;
		border: none;
		box-shadow: none;
		padding: 0;

		height: unset;

		&::before,
		&::after {
			display: none;
		}
	}

	.friend {
		padding: 0;
		margin: 0;

		height: unset;
	}
}

.ChatTabs {
	background-color: transparent;
	box-shadow: none;
	border: none;
	padding: 0;

	.HorizontalMiniSlider {
		&,
		&Scroll {
			overflow: visible;
		}

		&Scroll::-webkit-scrollbar {
			display: none;
		}
	}

	.labelHolder {
		margin: 0;

		height: unset;
	}
}

.chatTab {
	&SetContainer {
		padding-right: 0;
		margin: var(--dialog-spacing);
		margin-bottom: 0;

		align-items: center;
		justify-content: space-between;
	}

	// TODO: this goes out of bounds with too many tabs
	&Selector {
		@extend button;
		@extend .titlebar-button;

		// TODO: mixin
		--button-img: var(--icon-arrow-bottom);
		--button-img-size: 7px 4px;

		background-image: none;

		width: unset;

		// TODO: unify
		svg {
			display: none;
		}
	}
}

.chatWindow {
	background: none;
	font: var(--text-ui);

	inset: calc(var(--border-size) + var(--tabpanel-spacing));
}

.dropTargetBox {
	transform: unset;
	border-color: var(--color-highlight);
}

.chatRoomGroupStats,
.FriendChatTypingNotification {
	--pos: calc(var(--border-size) + var(--window-spacing));

	position: fixed;
	left: var(--pos);
	bottom: var(--pos);
	width: calc(100% - var(--pos) * 2);
}

.FriendChatTypingNotification {
	@extend .statusbar-item;

	opacity: 1;
	background: none;
	color: var(--color-button-text);

	&:not(.FriendIsTyping) {
		color: transparent;
	}
}

.inviteButtonJoinChat {
	background-image: none;

	min-height: unset;
}

.inviteLabel {
	//display: none;
}

.inviteURL {
	&AndCopy {
		gap: var(--dialog-button-spacing);
		margin: 0;
	}

	&Container {
		@extend label;

		.copyInviteLink {
			@extend button;
			@extend .icon-button;

			// TODO: remove when adding icons
			svg {
				stroke: var(--color-button-text);
			}
		}
	}

	&Link {
		width: 100%;
		min-width: unset;
		max-width: unset;
	}

	&LinkDesc {
		@extend $text-reset;

		margin: 0;

		align-self: unset;
	}
}

.MemberList {
	&Column {
		margin-left: var(--window-gap);
	}

	&Option {
		@extend button;
		@extend .icon-button;

		opacity: 1;

		&sContainer {
			margin-bottom: var(--window-gap);

			height: unset;

			.socialInputContainer {
				margin: 0;
				margin-left: var(--toolbar-spacing);
			}
		}

		// TODO: remove when adding icons
		svg {
			margin-top: -2px;
			margin-left: -2px;

			polyline {
				stroke: var(--color-button-text);
			}
		}
	}

	// TODO: looks like shit with current width
	&ViewCompact {
		.socialInputContainer {
			display: none;
		}
	}
}

.msg {
	background-color: transparent;
	font: var(--text-ui);

	&Text {
		color: inherit;
	}

	&.timeDivision {
		@extend $text-reset;

		height: unset;
		align-items: center;

		.horizDivider,
		.preHorizDivider {
			@extend hr;

			width: unset;
			flex-grow: 1;
		}
	}
}

.RenameChatRoomInline {
	margin: 0;

	width: 100%;
}

.speaker {
	color: inherit;
	font-size: var(--text-ui-size);

	&HoverArea {
		align-items: center;
	}

	&Name {
		color: inherit;
		font-weight: bold;
		margin: 0;
	}

	&TimeStamp {
		@extend $text-reset;

		align-self: center;
	}
}

.VoiceChatTextChannel {
	&Desc {
		@extend .statusbar-item;

		background-image: none;
		font: var(--text-ui);
		text-shadow: none;
		text-align: unset;

		position: unset;
		height: unset;
	}

	&Name {
		@extend $text-reset;

		font-weight: bold;
	}
}

.VoiceRoomChat {
	&History {
		background-color: transparent;
	}

	&Title {
		@extend .titlebar;
		@extend :root.focused .titlebar;

		.MinimizeTextChat {
			@extend button;
			@extend .titlebar-button;
			@extend $titlebar-button-close;

			opacity: 1;

			right: 0;

			svg {
				display: none;
			}
		}
	}

	&Window {
		@extend .window;
		@extend .window.child;

		border: none;
		gap: var(--window-gap);
	}
}

.VoiceRoomTitle {
	&Labels {
		margin-left: 0;
	}
}

