@use 'shared/controls';
@use 'shared/tree';
@use 'shared/window';
@use 'shared++/extends';
@use 'shared++/icons';
@use '../shared';

.activeVoiceButtons {
	padding: 0;

	min-width: unset;
}

.activeVoiceButtonsSpacer {
	display: none;
}

.activeVoiceControls {
	background-color: transparent;
	border: none;

	height: var(--icon-button-height);

	&::before {
		display: none;
	}

	button {
		@include controls.icon-button;

		// TODO: remove with icons
		padding: 0;

		min-height: unset;
	}
}

.activeVoiceFlexBox {
	align-items: center;
}

// I already know it's a voice chat.
.activeVoiceHeader,
// I already know my PTT hotkey.
.activeVoicePushToTalk {
	display: none;
}

.activeVoiceName {
	@include extends.text-reset;

	font-weight: bold;
}

.activeVoiceLabels {
	padding: 0;
}

.addFriendButton,
.friendRequestButton {
	@include controls.button;
	@include controls.icon-button;

	// TODO: icons
	padding: 2px;

	svg {
		margin: 0;

		* {
			fill: var(--color-button-text);
		}
	}
}

.AvatarAndUser {
	padding: 8px;
}

.ChatRoomList {
	padding: 0;
}

.chatRoomListContainer {
	background: none var(--color-window);
}

// Making .chatRoomListContainer use .content-container breaks resizing.
// TODO: another steam.content-container-alt using position: absolute ?
.ChatRoomListContainerParent:not(.Collapsed) {
	margin: var(--border-size);

	position: relative;

	&::before {
		content: '';

		position: absolute;
		inset: calc(var(--border-size) * -1);
		top: 20px;

		pointer-events: none;

		box-shadow: var(--border-field);
	}
}

.ChatRoomListGroupItem {
	&:hover &_header {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}

.chatRoomName {
	@include extends.text-reset;
}

.chatSectionTitle {
	background-color: transparent;
	color: inherit;
	text-transform: unset;
	margin: calc(var(--window-gap) + var(--border-size)) 0;

	height: unset;
	align-items: center;

	.createChatRoomButton,
	.ToggleGroupChatList {
		@include controls.button;
		@include window.titlebar-button;

		svg {
			display: none;
		}
	}

	.createChatRoomButton {
		@include icons.icon-plus;
	}

	.groupChatSectionTitle {
		@include extends.text-reset;

		font-weight: bold;
		padding: 0;
	}

	.ToggleGroupChatList {
		--button-img: var(--icon-arrow-bottom);
		--button-img-size: 7px 4px;
		--button-img-pos: center;

		.Collapsed & {
			--button-img: var(--icon-arrow-top);
		}
	}

	.voiceRoomDragBar {
		order: -1;
	}
}

.ConnectionTrouble {
	&,
	&Content {
		height: unset;
	}

	&Message {
		@include shared.dialog-title;

		text-shadow: none;
	}

	.title-area {
		display: none;
	}
}

// This sounds crazy, but you can right click on your friends !
.ContextMenuButton {
	display: none;
}

.currentUserContainer {
	@include window.content-container;

	border: none;
	margin-top: var(--window-gap);

	.labelHolder {
		margin-top: 0;
		margin-right: 0;
	}
}

// Make the titlebar background red if disconnected
.errorDisconnected {
	--color-active-caption: #800;

	.tabLabel {
		display: none;
	}
}

.ExpandPlusMinus {
	@include tree.item-icon;

	margin: 0;
	margin-right: var(--tree-spacing);

	svg {
		visibility: hidden;
	}
}

.friendGroup {
	border: none;
	margin: 0;

	&:first-child {
		padding-top: 2px;

		.ExpandPlusMinus::after {
			border-left-color: transparent;
		}
	}

	&:nth-last-child(2) {
		& > :nth-child(2)::before {
			display: none;
		}
	}

	& > :nth-child(2) {
		padding: 0;
		margin-left: var(--icon-size);

		position: relative;

		&::before {
			content: '';

			position: absolute;
			top: -7px;
			left: -8px;
			height: calc(100% + 10px);

			border-left: 1px dotted var(--color-gray-text);
		}
	}

	.groupCount,
	.groupName {
		@include extends.text-reset;
	}

	.gameGroupContainer,
	.groupName {
		align-items: center;
	}

	.groupName {
		@include tree.item($expanded-sel: '&:not(.Collapsed)');

		margin: 0;

		&::before {
			display: none;
		}

		hr {
			display: none;
		}
	}
}

.friendlist {
	gap: var(--window-gap);

	.friend {
		@include tree.item($expanded-sel: '&.hack');

		margin-top: 4px;
		margin-bottom: 4px;

		&::before {
			top: -13px;
			height: 24px;
		}
	}
}

.friendsListContainer {
	opacity: 1;
}

.friendlistListContainer {
	@include window.content-container;
	@include extends.move-scrollbar;

	background-image: none;
}

.friendListFooter {
	@include window.statusbar-item;

	background-color: transparent;

	min-height: unset;

	&::before {
		content: '.';

		color: transparent;
	}
}

.friendListHeaderContainer {
	background-color: transparent;
	box-shadow: none;

	min-height: unset;
}

.friendSearchClear {
	display: none;
}

.friendSearchInput {
	background-image: none;

	&,
	&::placeholder {
		font: var(--text-ui);
		letter-spacing: 0;
	}
}

.friendsTabButtonsContainer {
	padding: 0;
}

.searchIconButton {
	.TabSearchActive & {
		display: none;
	}

	&::before {
		content: attr(title);

		position: absolute;
		top: var(--spacing);
		left: var(--spacing);

		color: var(--color-gray-text);
	}

	svg {
		display: none;
	}
}

.socialListTab {
	@include extends.text-reset;

	// 2px = --input-spacing
	--spacing: calc(var(--border-size) + 2px);

	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-top: calc(6px + var(--window-gap));

	height: unset;

	.inputContainer {
		margin: calc(var(--spacing) * -1);
	}
}

.tabLabel {
	@include shared.dialog-title;
}

.TabSearchButton {
	@include controls.text-field;

	margin-right: var(--toolbar-spacing);

	order: -1;
}

