@use "shared/controls";
@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";

.extension-editor {
	padding: var(--tabpanel-spacing);

	max-width: unset;

	& > .header {
		font: var(--text-ui);
		padding: 0;

		.actions-container {
			gap: 6px;

			& > .disabled {
				display: none;
			}
		}

		.action-item {
			overflow: visible;
		}

		.action-label.codicon:empty {
			@include controls.button;
			@include window.titlebar-button;

			height: 22px;
		}

		.action-dropdown-item-separator {
			display: none;
		}

		.status {
			font: var(--text-ui);
		}

		.details {
			overflow: visible;
		}
	}

	.subtitle {
		font: var(--text-ui);

		height: unset;
	}

	.subtitle-entry:not(:first-child) {
		border-left: 1px solid var(--color-button-highlight);
		box-shadow: -1px 0 var(--color-button-shadow);
		padding-left: 10px;
		margin-left: 10px;
	}

	.content {
		@include tabs.content;

		height: calc(100% - 21px);
	}

	.feature-contributions {
		margin: 0;
	}

	.features-list-wrapper {
		padding: 0;
	}

	.readme-container {
		max-width: unset;
	}
}

.extension-action:not(.monaco-checkbox) {
	@include controls.button;

	justify-content: center;
}

.switch-to-prerelease {
	width: 167px;

	// why are there 2 different versions ?
	&.icon::before {
		content: attr(aria-label);
	}
}

// Details right sidebar
.additional-details-container {
	width: 37%;

	.category {
		font: var(--text-ui);
	}
}

.additional-details-content {
	padding: 14px;
}

.additional-details-element {
	@include controls.groupbox;
}

.additional-details-title {
	@include utils.text-reset;
	@include utils.legend-as-div;
}

.more-info-entry {
	background-color: transparent;
	font: var(--text-ui);
}

// Extension readme
.webview {
	box-shadow: var(--border-button-raised);

	padding: 1px 2px;
}

body[role="document"] {
	box-shadow: none;
}
