.extension {
	&-editor {
		padding: 12px;

		max-width: unset;

		& > .header {
			font();
			padding: 0;

			.action {
				&s-container {
					gap: 6px;

					& > .disabled {
						display: none;
					}
				}

				&-item {
					overflow: visible;
				}

				&-label.codicon:empty {
					@extend button;
					@extend .titlebar-button;

					height: 22px;
				}

				&-dropdown-item-separator {
					display: none;
				}
			}

			.status {
				font();
			}

			.details {
				overflow: visible;
			}
		}

		.subtitle {
			font();

			height: unset;

			&-entry:not(:first-child) {
				border-left: 1px solid var(--color-button-highlight);
				box-shadow: -1px 0 var(--color-button-shadow);
				padding-left: 10px;
				margin-left: 10px;
			}
		}

		.content {
			@extend [role="tabpanel"];

			height: calc(100% - 43px);
		}

		.feature-contributions {
			margin: 0;
		}

		.features-list-wrapper {
			padding: 0;
		}

		.readme-container {
			max-width: unset;
		}
	}

	&-action {
		@extend button;

		justify-content: center;
	}
}

.switch-to-prerelease {
	width: 167px;

	// why are there 2 different versions ?
	&.icon::before {
		content: attr(aria-label);
	}
}

// Details right sidebar
.additional-details {
	&-container {
		width: 37%;

		.category {
			font();
		}
	}

	&-content {
		padding: 14px;
	}

	&-element {
		@extend fieldset;
	}

	&-title {
		@extend $text-reset;
		@extend $legend-as-div;
	}
}

.more-info-entry {
	background-color: transparent;
	font();
}

// Extension readme
.webview {
	box-shadow: var(--border-button-raised);

	padding: 1px 2px;
}

body[role="document"] {
	box-shadow: none;
}
