@use "shared/controls";
@use "shared/tabs";
@use "shared++/utils";

.extension-editor {
	padding: var(--tabpanel-spacing);

	max-width: unset;

	& > .header {
		font: var(--text-ui);
		padding: 0;

		.action-item {
			&:not(.disabled) {
				margin-inline-end: var(--toolbar-spacing);
			}

			&.checkbox-action-item {
				order: 1;
			}
		}

		.action-label:not(.icon) {
			@include controls.button(
				$active-sel: "&:is(:active, [aria-expanded='true'])"
			);

			justify-content: center;

			&:empty {
				--button-min-width: calc(7px + var(--button-spacing) * 2);

				&::before {
					// Retain the button size
					mask: icon("arrow-bottom", "mono") no-repeat;
					mask-size: 7px 4px;
					mask-position: center;
					background-color: var(--color-button-text);
					color: transparent;
				}
			}
		}

		.action-label.icon {
			@include controls.combobox-icon-button;
		}

		.action-dropdown-item-separator {
			display: none;
		}

		.status {
			font: var(--text-ui);
		}

		.details {
			overflow: visible;
		}
	}

	.subtitle {
		font: var(--text-ui);

		height: unset;
	}

	.subtitle-entry:not(:empty, .last-non-empty) {
		border-right: 1px solid var(--color-button-highlight);
		box-shadow: 1px 0 var(--color-button-shadow);
		padding-right: 10px;
		margin-right: 10px;
	}

	.content {
		@include tabs.content;

		height: calc(100% - 21px);
	}

	.feature-contributions {
		margin: 0;
	}

	.features-list-wrapper {
		padding: 0;
	}

	.readme-container {
		max-width: unset;
	}
}

// Details right sidebar
.additional-details-container {
	width: 37%;

	.category {
		font: var(--text-ui);
	}
}

.additional-details-content {
	padding: 14px;
}

.additional-details-element {
	@include controls.groupbox;
}

.additional-details-title {
	@include utils.text-reset;
	@include utils.legend-as-div;
}

.more-info-entry {
	background-color: transparent;
	font: var(--text-ui);
}

// Extension readme
.webview {
	box-shadow: var(--border-statusbar);
	padding: 1px;
}
