@use "shared/controls";
@use "shared/text";
@use "shared++/utils";

.gettingStartedCategoriesContainer {
	& > * {
		overflow: visible;
	}
}

.gettingStartedContainer {
	font: var(--text-ui);

	.button-link {
		@include text.link;

		margin: 0;
	}

	.codicon:not(.monaco-custom-toggle) {
		display: none;
	}

	.getting-started-category {
		@include text.link;

		background-color: transparent;
		padding: 0;
		margin: 0;

		.category-title {
			font: inherit;
			margin: 0;
		}

		.description-content,
		.featured {
			display: none;
		}
	}

	.header {
		align-self: unset;
	}

	.index-list {
		@include controls.groupbox;

		&.recently-opened li {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		& > h2 {
			@include utils.legend-as-div;
			@include utils.text-reset;
		}
	}

	button {
		font: inherit;
	}
}
