@use "shared/controls";
@use "shared/table";
@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";

.settings-toc-wrapper {
	padding: 0;
}

.settings-editor {
	padding: var(--tabpanel-spacing);

	max-width: unset;
	height: 100%;

	& > .settings-body {
		height: calc(100% - 50px);

		& > .monaco-split-view2 {
			margin: 0;

			height: 100%;
		}
	}
}

.settings-header {
	overflow: visible;
	background-color: var(--color-button-face);
	padding: 0;
	margin: 0;

	position: relative;
	max-width: unset;
}

.settings-header-controls {
	border: none;

	height: unset;

	.monaco-button {
		width: unset;
	}
}

.settings-right-controls {
	margin-top: -6px;
}

.settings-group-title-label {
	padding: 0;
}

// !important
.settings-editor > .settings-body .settings-tree-container {
	.monaco-list,
	.monaco-scrollable-element {
		overflow: hidden;
	}

	.monaco-list {
		@include tabs.content;
	}

	.monaco-list-row {
		background-color: transparent;
		font: var(--text-ui);
	}

	.monaco-list-rows {
		background-color: var(--color-button-face);
	}
}

.settings-clear-widget {
	position: unset;
	width: unset;
}

// What's the point ?
.settings-count-widget {
	display: none;
}

.setting-item-contents {
	@include controls.groupbox;
}

.setting-item-title {
	@include utils.legend-as-div;
}

.setting-item-label {
	@include utils.text-reset;
}

.setting-item-category {
	opacity: 1;
}

.setting-item-value-description {
	gap: var(--label-spacing);

	display: flex;
}

.setting-item-description {
	opacity: 1;

	margin: 0;
}

.setting-item-modified-indicator {
	border-color: red;

	left: 3px;
	top: 0;
	bottom: 0;
}

.setting-list-object-widget {
	@include window.content-container;

	margin-bottom: 9px;
}

.setting-list-object-key,
.setting-list-object-value {
	@include table.row;

	line-height: unset;
	margin: 0;

	min-height: unset;
}

.setting-list-row,
.setting-list-row-header {
	font-weight: normal;
	padding: 0;
}

.setting-list-row-header .setting-list-object-key,
.setting-list-row-header .setting-list-object-value {
	@include table.header-row;
}

.setting-toolbar-container {
	left: -12px;
}

.search-container {
	gap: var(--toolbar-spacing);

	display: flex;
	align-items: center;
}
