@use 'shared/controls';
@use 'shared/table';
@use 'shared/tabs';
@use 'shared/window';
@use 'shared++/extends';

.settings {
	&-toc-wrapper {
		padding: 0;
	}

	&-editor {
		padding: var(--tabpanel-spacing);

		max-width: unset;
		height: 100%;
	}

	&-editor > &-body {
		height: calc(100% - 50px);

		& > .monaco-split-view2 {
			margin: 0;

			height: 100%;
		}
	}

	&-header {
		overflow: visible;
		background-color: var(--color-button-face);
		padding: 0;
		margin: 0;

		position: relative;
		max-width: unset;
		//z-index: 0;

		&-controls {
			border: none;

			height: unset;

			.monaco-button {
				width: unset;
			}
		}
	}

	&-right-controls {
		margin-top: -6px;
	}

	&-group-title-label {
		padding: 0;
	}

	// !important
	&-editor > &-body &-tree-container {
		.monaco-list,
		.monaco-scrollable-element {
			overflow: hidden;
			height: 100%;
		}

		.monaco-list {
			@include tabs.content;
			
			&-row {
				background-color: transparent;
				font: var(--text-ui);

				&s {
					background-color: var(--color-button-face);
				}
			}
		}
	}

	&-clear-widget {
		position: unset;
		width: unset;
	}

	// What's the point ?
	&-count-widget {
		display: none;
	}
}

.setting {
	&-item {
		&-contents {
			@include controls.groupbox;
		}

		&-title {
			@include extends.legend-as-div;
		}

		&-label {
			@include extends.text-reset;
		}

		&-category {
			opacity: 1;
		}

		&-value-description {
			gap: 7px;
		}

		&-description {
			opacity: 1;

			margin: 0;
		}

		&-modified-indicator {
			border-color: red;

			left: 3px;
			top: 0;
			bottom: 0;
		}
	}

	&-list {
		&-object {
			&-widget {
				@include window.content-container;

				margin-bottom: 9px;
			}

			&-value-container {
				//height: unset;
			}
		}

		&-object-key,
		&-object-value {
			@include table.row;

			line-height: unset;
			margin: 0;

			min-height: unset;
		}

		&-row,
		&-row-header {
			font-weight: normal;
			padding: 0;
		}

		&-row-header &-object-key,
		&-row-header &-object-value {
			@include table.header-row;
		}
	}

	&-toolbar-container {
		left: -12px;
	}
}

.search-container {
	gap: var(--toolbar-spacing);

	display: flex;
	align-items: center;
}
