@use "shared/controls";

.f37cb1984c371ee5-animatedContainer {
	opacity: 0.5;
	margin: 1px;

	transform: none;
	width: calc(100% - 2px);
}

.f37cb1984c371ee5-bannerImage {
	transform: none;
	height: inherit;
}

.f37cb1984c371ee5-bannerImg {
	height: inherit;
}

.f37cb1984c371ee5-container {
	--custom-guild-banner-height: calc(
		var(--toolbar-top-margin) - var(--window-gap) - 2px
	);
	--custom-channel-header-height: var(--custom-guild-banner-height);

	box-shadow: var(--border-statusbar);
	margin-left: calc(var(--border-size) * -1);

	position: fixed;
	top: 0;
	height: calc(var(--toolbar-top-margin) - var(--window-gap));
	width: calc(var(--sidebar-width) - var(--window-gap));

	& > button {
		text-align: center;

		width: calc(100% - var(--icon-button-width) - var(--toolbar-spacing));
		height: unset;
	}
}

.f37cb1984c371ee5-guildDropdown {
	--button-img: icon("overflow", "mono");
	--button-img-pos-x: 4px;
	--button-img-pos-y: 8px;
	@include controls.button;
	@include controls.combobox-icon-button(
		$active-sel: "&[aria-expanded='true']"
	);

	height: unset;
}

.f37cb1984c371ee5-header {
	background-color: transparent;
	border: none;
	padding: var(--toolbar-container-spacing);
}

.f37cb1984c371ee5-headerContent {
	filter: none;
	gap: 0;
	// TODO: ?
	margin-top: 1px;

	justify-content: end;
}

.f37cb1984c371ee5-guildBadgeAndName,
._85d1663d6a9fc7f6-guildIconV2Container,
.f37cb1984c371ee5-headerChildren,
.f37cb1984c371ee5-headerEllipseForeground,
.f37cb1984c371ee5-headerGlass,
.f37cb1984c371ee5-inviteButton,
.f37cb1984c371ee5-name {
	display: none;
}
