@use "shared/controls";

.animatedContainer_f37cb1 {
	opacity: 0.5;
	margin: 1px;

	transform: none;
	width: calc(100% - 2px);
}

.bannerImage_f37cb1 {
	transform: none;
	height: inherit;
}

.bannerImg_f37cb1 {
	height: inherit;
}

.container_f37cb1 {
	--custom-guild-banner-height: calc(
		var(--toolbar-top-margin) - var(--window-gap) - 2px
	);
	--custom-channel-header-height: var(--custom-guild-banner-height);

	box-shadow: var(--border-statusbar);
	margin-left: calc(var(--border-size) * -1);

	position: fixed;
	top: 0;
	height: calc(var(--toolbar-top-margin) - var(--window-gap));
	width: calc(var(--sidebar-width) - var(--window-gap));

	& > button {
		text-align: center;

		width: calc(100% - var(--icon-button-width) - var(--toolbar-spacing));
		height: unset;
	}
}

.guildDropdown_f37cb1 {
	--button-img: icon("overflow", "mono");
	--button-img-pos-x: 4px;
	--button-img-pos-y: 8px;
	@include controls.button;
	@include controls.combobox-icon-button(
		$active-sel: "&[aria-expanded='true']"
	);

	height: unset;
}

.header_f37cb1 {
	// TODO: use modifier-hover for transparent ?
	background-color: transparent;
	border: none;
	padding: var(--toolbar-container-spacing);
}

.headerContent_f37cb1 {
	filter: none;
	gap: 0;
	// TODO: ?
	margin-top: 1px;

	justify-content: end;
}

.guildBadgeAndName_f37cb1,
.guildIconV2Container__85d16,
.headerChildren_f37cb1,
.headerEllipseForeground_f37cb1,
.headerGlass_f37cb1,
.inviteButton_f37cb1,
.name_f37cb1 {
	display: none;
}
