@use "shared/controls";
@use "shared/list";
@use "shared/window";

.privateChannels_e6b769 {
	@include window.content-container;

	margin-block-start: var(--toolbar-top-margin);

	.channel__972a0 {
		margin: 0;
	}

	.interactive_f88cfd.selected_f88cfd {
		@include list.item-name-selected;
	}

	.scroller__99e7c {
		background-color: transparent;
		margin: 0;
	}

	.searchBar_e6b769 {
		border: none;
		height: unset;
		inset-block-start: calc(
			var(--main-window-border-spacing) + var(--titlebar-pos)
		);
		padding: var(--toolbar-container-spacing);
		position: fixed;
	}
}

.privateChannelRecipientsInviteButtonIconContainer__99e7c {
	--button-img: icon("room-create");
	@include controls.button;
	@include controls.icon-button;

	inset-block-start: var(--toolbar-container-spacing);
	inset-inline-end: var(--toolbar-container-spacing);
	position: fixed;
}

.privateChannelRecipientsInviteButtonIcon__99e7c {
	display: none;
}
