@use "shared/controls";
@use "shared/list";
@use "shared/window";

.e6b7699ce8339e1c-privateChannels {
	@include window.content-container;

	margin-top: var(--toolbar-top-margin);

	._972a0d22c8afa7f0-channel {
		margin: 0;
	}

	.bf202d63ad53e289-interactive.bf202d63ad53e289-selected {
		@include list.item-name-selected;
	}

	._99e7cad8d4c55236-scroller {
		background-color: transparent;
		margin: 0;
	}

	.e6b7699ce8339e1c-searchBar {
		border: none;
		padding: var(--toolbar-container-spacing);

		position: fixed;
		top: 0;
		height: unset;
	}
}

._99e7cad8d4c55236-privateChannelRecipientsInviteButtonIconContainer {
	--button-img: icon("room-create");
	@include controls.button;
	@include controls.icon-button;

	position: fixed;
	top: var(--toolbar-container-spacing);
	right: var(--toolbar-container-spacing);
}

._99e7cad8d4c55236-privateChannelRecipientsInviteButtonIcon {
	display: none;
}
