@use "shared/controls";
@use "shared/list";
@use "shared/tree";
@use "shared++/utils";

// collapser
._29444ba32c7fbeab-containerDefault {
	padding: 0;

	._29444ba32c7fbeab-icon {
		display: none;
	}

	._29444ba32c7fbeab-mainContent {
		@include tree.item-icon;

		&::before {
			display: block;
		}

		background-color: var(--color-window);
		padding-left: calc(var(--icon-size) + var(--tree-spacing));

		overflow: visible;
		width: unset;
		height: unset;
	}

	._29444ba32c7fbeab-name {
		font: var(--text-ui);
		margin-top: -2px;
	}

	._29444ba32c7fbeab-wrapperCommon {
		@include tree.item($expanded-sel: "&:not(._29444ba32c7fbeab-collapsed)");

		margin-left: 0;

		&::before {
			display: none;
		}
	}
}

._99f8cc7ad4790ce9-content {
	// Banner
	& > [style="height: 84px;"],
	// "Browse Channels"
	&  > [style="height: 12px;"],
	&  > li:not([class]),
	._629e4c86564a4ee7-sectionDivider {
		display: none;
	}
}

._99f8cc7ad4790ce9-scrollerBase {
	// Seen in private channels
	mask: none;
	padding: 0;
	margin: 0;
}

// channel
._2ea32c412048f708-wrapper {
	--offset: calc(var(--icon-size) + 4px);

	@include tree.item($expanded-sel: "&");

	margin-left: calc(var(--offset) * 2);

	&::before {
		top: -14px;
		height: 100%;
		z-index: -1;
	}

	&::after {
		content: "";

		position: absolute;
		left: calc(var(--offset) * -2 + 8px);
		top: -7px;
		height: calc(100% - 1px);

		border-left: 1px dotted var(--color-gray-text);
	}

	&._2ea32c412048f708-modeSelected {
		._2ea32c412048f708-link {
			@include list.item-name-selected;
		}

		._2ea32c412048f708-name {
			color: inherit;
		}
	}

	&._2ea32c412048f708-typeThread {
		margin-left: calc(var(--offset) * 3.25);

		&::after {
			top: -7px;
			left: -37px;
			height: calc(100% - 1px);
		}
	}

	._2ea32c412048f708-children,
	._2ea32c412048f708-iconContainer {
		display: none;
	}

	._2ea32c412048f708-link {
		@include utils.text-reset;

		background-color: var(--color-window);
	}

	._2ea32c412048f708-name {
		font: var(--text-ui);
	}

	._5b40bdd67543ba35-spine,
	._5b40bdd67543ba35-spineBorder {
		display: none;
	}
}
