@use "shared/controls";
@use "shared/list";
@use "shared/tree";
@use "shared++/utils";

// collapser
.containerDefault__29444 {
	padding: 0;

	.icon__29444 {
		display: none;
	}

	.mainContent__29444 {
		@include tree.item-icon;

		&::before {
			display: block;
		}

		background-color: var(--color-window);
		height: unset;
		overflow: visible;
		padding-inline-start: calc(var(--icon-size) + var(--tree-spacing));
		width: unset;
	}

	.name__29444 {
		font: var(--text-ui);
		margin-block-start: -2px;
	}

	.wrapperCommon__29444 {
		@include tree.item($expanded-sel: "&:not(.collapsed__29444)");

		margin-inline-start: 0;

		&::before {
			display: none;
		}
	}
}

.scroller__629e4 > .content_d125d2 {
	// Banner
	& > [style="height: 84px;"],
	// "Browse Channels"
	&  > [style="height: 12px;"],
	&  > li:not([class]),
	& > .sectionDivider__629e4 {
		display: none;
	}
}

.scrollerBase__99f8c {
	// Seen in private channels
	mask: none;
	margin: 0;
	padding: 0;
}

// channel
.wrapper__2ea32 {
	--offset: calc(var(--icon-size) + 4px);

	@include tree.item($expanded-sel: "&");

	margin-inline-start: calc(var(--offset) * 2);

	&::before {
		height: 100%;
		inset-block-start: -14px;
		z-index: -1;
	}

	&::after {
		border-inline-start: 1px dotted var(--color-gray-text);
		content: "";
		height: calc(100% - 1px);
		inset-block-start: -7px;
		inset-inline-start: calc(var(--offset) * -2 + 8px);
		position: absolute;
	}

	&.modeSelected__2ea32 {
		.link__2ea32 {
			@include list.item-name-selected;
		}

		.name__2ea32 {
			color: inherit;
		}
	}

	&.typeThread__2ea32 {
		margin-inline-start: calc(var(--offset) * 3.25);

		&::after {
			height: calc(100% - 1px);
			inset-block-start: -7px;
			inset-inline-start: -37px;
		}
	}

	.children__2ea32,
	.iconContainer__2ea32 {
		display: none;
	}

	.link__2ea32 {
		@include utils.text-reset;

		background-color: var(--color-window);
	}

	.name__2ea32 {
		font: var(--text-ui);
	}

	.spine__5b40b,
	.spineBorder__5b40b {
		display: none;
	}
}
