@use "shared/controls";
@use "shared++/utils";

.panels__5e434 {
	background-color: transparent;
	border: none;

	width: var(--sidebar-width);
	bottom: 0;
	left: calc(var(--custom-guild-list-width) + var(--scrollbar-size));
}

.avatarWrapper__37e49 {
	@include controls.button;
	@include utils.use-attr-text("aria-label");

	// TODO: icon
	height: 22px;
	justify-content: center;
}

.button__67645 {
	@include controls.icon-button;

	width: unset;
}

.buttonChevron__37e49 {
	--button-img: icon("arrow-bottom", "mono");
	margin-inline-end: var(--toolbar-spacing);

	min-width: 16px;
}

.buttonChevronIcon__37e49 {
	display: none;
}

.buttons__37e49 {
	gap: 0;

	.lottieIcon__5eb9b {
		display: none;
	}

	[aria-label="Deafen"] {
		--button-img: icon("sound");

		&[aria-checked="true"] {
			--button-img: icon("sound-muted");
		}
	}

	[aria-label="Mute"] {
		--button-img: icon("microphone");

		&[aria-checked="true"] {
			--button-img: icon("microphone-muted");
		}
	}
}

// vc
.container_e131a9 {
	border: none;
	padding: var(--toolbar-container-spacing);
	padding-bottom: 0;

	&::after {
		@include utils.pseudo-separator;
	}
}

.container__37e49 {
	gap: var(--toolbar-spacing);
	padding: var(--toolbar-container-spacing);
	margin: 0;

	height: unset;
	// --custom-rtc-account-height
	min-height: unset;
}
