@use "shared/controls";
@use "shared++/utils";

.e131a99484292a19-container {
	.e131a99484292a19-actionButtons {
		gap: 0;

		justify-content: end;
	}

	.e131a99484292a19-voiceButtonsContainer {
		gap: 0;
	}

	._5eb9b3cc7c2b1ce8-lottieIcon {
		display: initial;
	}

	button {
		@include controls.button;
		@include controls.icon-button;

		width: unset;
	}
}

._5e434347c823b592-panels {
	background-color: transparent;
	border: none;

	width: var(--sidebar-width);
	bottom: 0;
	left: calc(var(--custom-guild-list-width) + var(--scrollbar-size));
}

._37e49614b9f110a9-avatarWrapper {
	// ::before is used by the separator, so move it to the avatar element
	--text: attr(aria-label);

	@include controls.combobox-button($active-sel: "&[aria-expanded='true']");

	._37e49614b9f110a9-avatar {
		display: none;
	}

	._37e49614b9f110a9-nameTag {
		&::before {
			content: var(--text);
		}

		& > * {
			display: none;
		}
	}
}

._67645e1530f1195d-button {
	--icon-button-width: var(--combobox-button-height);
	--icon-button-height: var(--combobox-button-height);
	@include controls.icon-button;

	width: unset;
}

._37e49614b9f110a9-buttonChevron {
	--button-img: icon("arrow-bottom", "mono");
	--icon-button-width: 16px;

	margin-inline-end: var(--toolbar-spacing);
}

._37e49614b9f110a9-buttonChevronIcon {
	display: none;
}

._37e49614b9f110a9-buttons {
	gap: 0;

	[aria-label="Deafen"] {
		--button-img: icon("sound");

		&[aria-checked="true"] {
			--button-img: icon("sound-muted");
		}
	}

	[aria-label="Mute"] {
		--button-img: icon("microphone");

		&[aria-checked="true"] {
			--button-img: icon("microphone-muted");
		}
	}
}

// vc
.e131a99484292a19-container {
	border: none;
	padding: var(--toolbar-container-spacing);
	padding-bottom: 0;

	&::after {
		@include utils.pseudo-separator;
	}
}

._37e49614b9f110a9-container {
	gap: var(--toolbar-spacing);
	padding: var(--toolbar-container-spacing);
	margin: 0;

	height: unset;
	// --custom-rtc-account-height
	min-height: unset;
}
