@use "shared/controls";
@use "shared++/utils";

.container_e131a9 {
	.actionButtons_e131a9 {
		gap: 0;

		justify-content: end;
	}

	.voiceButtonsContainer_e131a9 {
		gap: 0;
	}

	.lottieIcon__5eb9b {
		display: initial;
	}

	button {
		@include controls.button;
		@include controls.icon-button;

		width: unset;
	}
}

.panels__5e434 {
	background-color: transparent;
	border: none;

	width: var(--sidebar-width);
	bottom: 0;
	left: calc(var(--custom-guild-list-width) + var(--scrollbar-size));
}

.avatarWrapper__37e49 {
	// ::before is used by the separator, so move it to the avatar element
	--text: attr(aria-label);

	@include controls.combobox-button($active-sel: "&[aria-expanded='true']");

	.avatar__37e49 {
		display: none;
	}

	.nameTag__37e49 {
		&::before {
			content: var(--text);
		}

		& > * {
			display: none;
		}
	}
}

.button__67645 {
	--icon-button-width: var(--combobox-button-height);
	--icon-button-height: var(--combobox-button-height);
	@include controls.icon-button;

	width: unset;
}

.buttonChevron__37e49 {
	--button-img: icon("arrow-bottom", "mono");
	--icon-button-width: 16px;

	margin-inline-end: var(--toolbar-spacing);
}

.buttonChevronIcon__37e49 {
	display: none;
}

.buttons__37e49 {
	gap: 0;

	[aria-label="Deafen"] {
		--button-img: icon("sound");

		&[aria-checked="true"] {
			--button-img: icon("sound-muted");
		}
	}

	[aria-label="Mute"] {
		--button-img: icon("microphone");

		&[aria-checked="true"] {
			--button-img: icon("microphone-muted");
		}
	}
}

// vc
.container_e131a9 {
	border: none;
	padding: var(--toolbar-container-spacing);
	padding-bottom: 0;

	&::after {
		@include utils.pseudo-separator;
	}
}

.container__37e49 {
	gap: var(--toolbar-spacing);
	padding: var(--toolbar-container-spacing);
	margin: 0;

	height: unset;
	// --custom-rtc-account-height
	min-height: unset;
}
