@use "shared/text";
@use "shared/window";

[role="dialog"] {
	@include window.container($child: true);

	min-width: 300px;
}

.monaco-dialog-modal-block {
	background-color: transparent;
}

.dialog-shadow {
	box-shadow: none;
}

.dialog-icon {
	--icon-size: 32px;

	flex: 0 0 var(--icon-size);
	height: var(--icon-size);

	&::before {
		content: attr(aria-label);

		position: absolute;
		left: calc(var(--border-size) + var(--window-spacing) + 2px);
		top: calc(var(--border-size) + var(--window-spacing) + 3px);

		font: var(--text-ui);
		font-weight: bold;
	}
}

.dialog-toolbar-row {
	background-image: linear-gradient(
		90deg,
		var(--color-active-caption-bg-start),
		var(--color-active-caption-bg-end)
	);
	color: var(--color-active-caption-text);
	padding: 0 2px;

	height: unset;

	.actions-container {
		height: var(--titlebar-height);
	}
}

.dialog-message {
	font: var(--text-ui);
	margin-bottom: var(--messagebox-content-spacing);

	min-height: unset;
}

.dialog-message-detail {
	font: var(--text-ui);
}

.dialog-message-row {
	padding: var(--messagebox-spacing);
}

.dialog-message-container {
	padding-left: var(--messagebox-content-spacing);
}

.dialog-checkbox-row {
	@include text.input-label;

	padding-top: var(--messagebox-content-spacing);
}

.dialog-buttons {
	gap: var(--dialog-button-spacing);

	overflow: visible;

	// !important
	.monaco-dialog-box > .dialog-buttons-row > & > .monaco-button {
		outline-offset: calc(var(--button-spacing) * -1);
	}
}

.dialog-buttons-row {
	padding: var(--messagebox-spacing);
}
