.monaco-dialog {
	&-modal-block {
		background-color: transparent;
	}

	&-box {
		@extend body;

		padding: 1px;

		min-width: 300px;
	}
}

.dialog {
	&-shadow {
		box-shadow: none;
	}

	&-icon {
		flex: 0 0 32px;
		height: 32px;

		&::before {
			content: attr(aria-label);

			font();
			font-weight: bold;

			position: absolute;
			left: 3px;
			top: 3px;
		}
	}

	&-toolbar-row {
		background-color: var(--color-active-caption);
		color: var(--color-active-caption-text);
		padding: 0 2px;

		height: unset;

		.actions-container {
			height: var(--titlebar-height);
		}
	}

	&-message {
		margin-bottom: 10px;

		min-height: unset;

		&,
		&-detail {
			font();
		}

		&-row {
			padding: 12px;
		}

		&-container {
			padding-left: 16px;
		}
	}

	&-checkbox-row {
		@extend label;

		padding-top: 10px;
	}

	&-buttons {
		overflow: visible;

		// !important
		.monaco-dialog-box > &-row > & > .monaco-button {
			outline-offset: -4px;

			width: 81px;
		}

		&-row {
			padding: 12px 14px;
			padding-top: 18px;
		}
	}
}