@use "shared/controls";
@use "shared/window";

.find-widget {
	@include window.container($child: true);

	height: auto;

	// Horrible layout, kill yourself
	.button {
		@include controls.button;
		@include controls.icon-button;

		inset: 0;

		&.codicon-widget-close {
			left: 23px;
			top: -47px;
		}
	}

	.find-part,
	.replace-part {
		font: var(--text-ui);
		margin: 0;
	}
}
