.find-widget {
  @extend .window;
  @extend .window.child;

  height: auto;

  // Horrible layout, kill yourself
  .button {
    @extend button;
    @extend .titlebar-button;

    inset: 0;

    &.codicon-widget-close {
      left: 16px;
      top: -39px;
    }
  }

  .find-part,
  .replace-part {
    font();

    margin: 0;
  }
}