@use "shared/window";

.notification-toast {
	opacity: 1;
	background-color: transparent;
	border: none;
	box-shadow: none;

	transform: none;

	.monaco-list {
		box-shadow: none;
		padding: 0;
	}

	.monaco-list-row {
		background-color: transparent;
	}
}

.notification-list-item {
	padding: 5px;
}

.notification-list-item-details-row,
.notification-list-item-buttons-container {
	overflow: visible;
}

.notification-list-item-icon {
	font-size: 0;
	margin-left: 0;
	margin-right: var(--messagebox-content-spacing);

	width: 32px;
	height: 32px;
	flex: unset;

	&.codicon-error {
		background-image: icon("error-32");
	}

	&.codicon-warning {
		background-image: icon("warning-32");
	}

	&::before {
		display: none;
	}
}

.notification-list-item-message,
.notification-list-item-source {
	font: var(--text-ui);
}

.notifications-center {
	@include window.container($child: true);

	width: auto;
	height: auto;
}

.notifications-center-header {
	background-color: transparent;
	padding: 10px;

	height: unset;
}

.notifications-center-header-title {
	font: var(--text-ui);
	text-transform: unset;
}
