.notification {
	&-toast {
		opacity: 1;
		background-color: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;

		transform: none;
		transition: none;

		.monaco {
			&-list {
				@extend [role="tabpanel"];

				&-row {
					background-color: transparent;
				}
			}

			&-scrollable-element {
				border-radius: 0;
			}
		}
	}

	&-list-item {
		padding: 5px;

		&-details-row,
		&-buttons-container {
			overflow: visible;
		}

		&-icon {
			font-size: 0;

			margin-left: 0;
			margin-right: 16px;

			box(32px);
			flex: unset;
		}

		&-message,
		&-source {
			font();
		}

		&-buttons-container > .monaco-button {
			width: 148px;
		}
	}
}

.notifications-center {
	@extend .window;
	@extend .window.child;

	border-radius: 0;

	box(auto);

	&-header {
		background-color: transparent;

		padding: 10px;

		height: unset;

		&-title {
			font();
			text-transform: unset;
		}
	}
}