.notification {
	&-toast {
		opacity: 1;
		background-color: transparent;
		border: none;
		box-shadow: none;

		transform: none;

		.monaco {
			&-list {
				box-shadow: none;
				padding: 0;

				&-row {
					background-color: transparent;
				}
			}
		}
	}

	&-list-item {
		padding: 5px;

		&-details-row,
		&-buttons-container {
			overflow: visible;
		}

		&-icon {
			font-size: 0;
			margin-left: 0;
			margin-right: 16px;

			box(32px);
			flex: unset;

			&.codicon-error {
				background-image: var(--icon-dialog-error);
			}

			&.codicon-warning {
				background-image: var(--icon-dialog-warning);
			}

			&::before {
				display: none;
			}
		}

		&-message,
		&-source {
			font();
		}
	}
}

.notifications-center {
	@extend .window;
	@extend .window.child;

	box(auto);

	&-header {
		background-color: transparent;
		padding: 10px;

		height: unset;

		&-title {
			font();
			text-transform: unset;
		}
	}
}
