@use "shared/window";
@use "shared++/utils";

.peekview-widget {
	@include window.container($child: true);

	border: none;

	width: calc(100% - 50px);

	& > .head {
		background-color: var(--color-active-caption);
		color: var(--color-active-caption-text);
		font: var(--text-ui);

		height: var(--titlebar-height);
		align-items: center;
	}

	& > .body {
		border: none;
		margin-top: var(--window-gap);

		height: calc(100% - var(--window-gap) - 19px);
	}

	.inline {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.ref-tree {
		width: calc(100% - 58px);
	}

	// TODO: scrollbar is out of bounds
	.monaco-editor {
		@include window.content-container;

		width: 100%;
		height: 100%;
	}

	.monaco-list {
		margin-left: var(--window-gap);
	}
}

.peekview-title {
	margin-left: 2px;

	.filename,
	.dirname:not(:empty),
	.meta {
		@include window.titlebar-name;

		font-size: var(--text-ui-size);
		color: inherit;
	}

	.dirname:not(:empty) {
		@include utils.parentheses;
	}
}

.peekview-actions {
	padding-top: var(--text-spacing);
}
