@use "shared/window";
@use "shared++/utils";

.peekview-widget {
	@include window.container($child: true);

	border: none;
	width: calc(100% - 50px);

	& > .head {
		align-items: center;
		background-image: linear-gradient(
			90deg,
			var(--color-active-caption-bg-start),
			var(--color-active-caption-bg-end)
		);
		color: var(--color-active-caption-text);
		font: var(--text-ui);
		height: var(--titlebar-height);
	}

	& > .body {
		border: none;
		height: calc(100% - var(--window-gap) - 19px);
		margin-block-start: var(--window-gap);
	}

	.inline {
		height: 100%;
		position: relative;
		width: 100%;
	}

	.ref-tree {
		width: calc(100% - 58px);
	}

	.monaco-editor {
		@include window.content-container;

		height: 100%;
		width: 100%;
	}

	.monaco-list {
		margin-inline-start: var(--window-gap);
	}
}

.peekview-title {
	margin-inline-start: 2px;

	.dirname:not(:empty),
	.filename,
	.meta {
		@include window.titlebar-name;

		color: inherit;
		font-size: var(--text-ui-size);
	}

	.dirname:not(:empty) {
		@include utils.parentheses;
	}
}

.peekview-actions {
	padding-block-start: var(--text-spacing);
}
