.peekview {
	&-widget {
		@extend [role="tabpanel"];

		border: none;

		width: calc(100% - 50px);

		& > .head {
			font();

			height: var(--titlebar-height);
			align-items: center;
		}

		& > .body {
			border: none;

			height: calc(100% - 19px);
		}

		.inline {
			position: relative;
			box(100%);
		}

		.ref-tree {
			width: calc(100% - 62px);
		}

		.monaco {
			// TODO: scrollbar is out of bounds
			&-editor {
				@extend table;

				box(100%);
			}

			&-list {
				margin-left: 3px;

				height: 100%;
			}
		}
	}

	&-title {
		font();

		margin: 0;

		.filenaame {
			color: var(--color-button-text);
		}

		.dirname:not(:empty) {
			color: var(--color-gray-text);
			font();
		}
	}

	&-actions {
		padding: 0;
		margin-top: 1px;
	}
}
