@use "shared/controls";
@use "shared/window";

.quick-input-widget {
	@include window.container($child: true);

	border: none;
	height: 50%;
	inset: 12.5% 25%;
	margin: 0;
	width: 50%;

	.monaco-scrollable-element {
		padding: 0;
	}
}

.quick-input-title {
	@include window.titlebar-name;

	padding: 0;
	padding-inline-start: 2px;
	text-align: start;

	// Not even an aria-label !
	:root:lang(en) &[style="display: none;"] {
		display: block;

		&::before {
			content: "Command Palette";
		}
	}
}

.quick-input-titlebar {
	background-image: linear-gradient(
		90deg,
		var(--color-active-caption-bg-start),
		var(--color-active-caption-bg-end)
	);
	color: var(--color-active-caption-text);
	height: var(--titlebar-height);
}

.quick-input-left-action-bar:has(> .actions-container:empty) {
	display: none;
}

.quick-input-right-action-bar {
	.action-label {
		@include controls.button;
		@include window.titlebar-button;
	}
}

.quick-input-description,
.quick-input-header:not(.hidden-input),
.quick-input-list {
	margin: var(--dialog-spacing);
	padding: 0;
}

.quick-input-list {
	height: calc(100% - 64px);
	overflow: hidden;
}

.quick-input-list-label {
	overflow: visible;
}

.profile-edit {
}

.profile-type-select-container {
	overflow: visible;
}
