.quick-input {
	&-widget {
		@extend [role="tabpanel"];

		background-color: var(--color-button-face);
		border-radius: 0;

		margin: 0;

		inset: 12.5% 25%;
		box(50%);

		.monaco {
			&-scrollable-element {
				padding: 0;
			}
		}
	}

	&-title {
		text-align: left;
		font-weight: bold;

		padding: 0;
		padding-left: 20px;

		// Not even an aria-label !
		:root:lang(en) &[style="display: none;"] {
			display: block;

			&::before {
				content: 'Command Palette';
			}
		}

		&bar {
			background-color: var(--color-active-caption);
			color: var(--color-active-caption-text);
			border-radius: 0;

			height: var(--titlebar-height);
		}
	}

	&-left-action-bar:has(> .actions-container:empty) {
		display: none;
	}

	&-header,
	&-description,
	&-list {
		padding: 0;
		margin: 10px 8px 6px 8px;
	}

	&-list {
		overflow: hidden;

		height: calc(100% - 64px);

		&-label {
			overflow: visible;
		}
	}
}

.profile {
	&-edit {
	}

	&-type-select-container {
		overflow: visible;
	}
}
