// !important in global/editor.scss
// TODO(port): original is &-box&-box
.rename-box {
	--window-spacing: 8px; // Child window (1) + dialog (7)
}

.rename-input {
	width: 100%;
}

.rename-label {
	opacity: 1;
	font: var(--text-ui);
	margin-top: var(--text-spacing);
}
