.rename-box {
	--window-spacing: calc(1px + var(--dialog-spacing));
}

.rename-input {
	width: 100%;
}

.rename-label {
	font: var(--text-ui);
	opacity: 1;
	margin-block-start: var(--text-spacing);
}
