.rename {
	// !important in global/editor.styl
	&-box&-box {
		--window-spacing: 8px; // Child window (1) + dialog (7)
	}

	&-input {
		width: 100%;
	}

	&-label {
		opacity: 1;
		font();
		margin-top: var(--text-spacing);
	}
}
