@use "shared/controls";
@use "shared/listbox";

.monaco-select-box-dropdown-container {
	@include listbox.container;

	font: var(--text-ui);

	width: 320px;

	// The actual listbox
	.monaco-list {
		border: none;
		box-shadow: none;
		padding: 0;
	}

	.select-box-dropdown-list-container,
	.select-box-details-pane {
		padding: 0;
	}

	.select-box-details-pane {
		@include controls.separator;

		margin-inline: 3px 4px;
	}
}
