.monaco {
	&-select-box-dropdown-container {
		@extend .window;
		@extend .window.child;

		border-radius: 0;

		width: 320px;

		.monaco-list {
			height: calc(100% - 8px);
		}

		& > .select-box {
			&-dropdown-list-container,
			&-details-pane {
				padding: 0;
			}

			&-details-pane {
				@extend hr;
			}
		}
	}
}
