.suggest-widget {
	@extend .window;
	@extend .window.child;

	border: none;
	border-radius: 0;

	.monaco {
		&-scrollable-element {
			overflow: hidden;
		}

		&-list-row {
			padding-right: var(--scrollbar-size);

			&s {
				margin: 0;
			}
		}
	}
}
