.workbench-hover,
.monaco-hover {
	--vscode-editorHoverWidget-border: var(--color-button-shadow-dark);

	// Apparently, I can't repeat gradients all at once, i.e. one image.
	background-color: var(--color-tooltip) $i;
	color: var(--color-tooltip-text) $i;
	font();
	border: 1px solid var(--color-button-shadow-dark) $i;
	border-radius: 0 $i;
	box-shadow: none $i;

	animation: none $i;

	// Text
	.hover-language-status,
	.hover-contents {
		padding: 3px $i;
	}
}

.workbench-hover {
	// Arrow
	&-pointer {
		display: none $i;
	}
}

.monaco-hover {
	&-content {
		font();
	}

	.hover-row:not(:first-child):not(:empty),
	.hover-language-status:not(:first-child) {
		border: none $i;

		&::before {
			content: '';

			@extend hr;
		}
	}
}

.monaco-editor-overlaymessage {
	animation: none $i;

	.message {
		@extend .monaco-hover;
	}

	.anchor {
		display: none $i;
	}
}

.parameter-hints-widget {
	@extend .monaco-hover;

	.overloads {
		font();

		height: unset $i;
	}

	.codicon {
		color: inherit $i;
	}

	.body::before {
		opacity: 1 $i;
	}

	.signature {
		padding: 3px $i;
	}

	.docs {
		padding: 0 3px $i;

		code {
			border-radius: 0 $i;
		}
	}
}
