.workbench-hover,
.monaco-hover {
	--vscode-editorHoverWidget-border: var(--color-button-shadow-dark);

	@extend .tooltip;

	animation: none;

	// Text
	.hover-language-status,
	.hover-contents {
		padding: 3px;
	}
}

.workbench-hover {
	// Arrow
	&-pointer {
		display: none;
	}
}

.monaco-hover {
	&-content {
		font();
	}

	.hover-row:not(:first-child):not(:empty),
	.hover-language-status:not(:first-child) {
		border: none;

		&::before {
			content: '';

			@extend hr;
		}
	}
}

.monaco-editor-overlaymessage {
	animation: none;

	.message {
		@extend .monaco-hover;
	}

	.anchor {
		display: none;
	}
}

.parameter-hints-widget {
	@extend .monaco-hover;

	.overloads {
		font();

		height: unset;
	}

	.codicon {
		color: inherit;
	}

	.body::before {
		opacity: 1;
	}

	.signature {
		padding: 3px;
	}

	.docs {
		padding: 0 3px;

		code {
			border-radius: 0;
		}
	}
}
