@use "shared/controls";

.workbench-hover,
.monaco-hover {
	animation: none;
}

// Arrow
.workbench-hover-pointer {
	display: none;
}

.monaco-hover {
	.hover-row:not(:first-child):not(:empty),
	.hover-language-status:not(:first-child) {
		border: none;

		&::before {
			content: "";

			@include controls.separator;
		}
	}

	.hover-contents {
		padding: 3px;
	}
}

.monaco-hover-content {
	font: var(--text-ui);
}

.monaco-editor-overlaymessage {
	animation: none;

	.message {
		@extend .monaco-hover;
	}

	.anchor {
		display: none;
	}
}

.monaco-resizable-hover {
	// for the border
	box-sizing: content-box;
}

.parameter-hints-widget {
	@extend .monaco-hover;

	.overloads {
		font: var(--text-ui);

		height: unset;
	}

	.codicon {
		color: inherit;
	}

	.body::before {
		opacity: 1;
	}

	.signature {
		padding: var(--tooltip-spacing);
	}

	.docs {
		padding: 0 var(--tooltip-spacing);
	}
}

// Fix the plus codicon (wtf)
.verbosity-actions {
	box-sizing: content-box;
}
