@use 'shared/controls';
@use 'shared/tooltip';

.workbench-hover,
.monaco-hover {
	// TODO
	--tooltip-spacing: 3px;
	--vscode-editorHoverWidget-border: var(--color-button-shadow-dark);

	@include tooltip.container;

	animation: none;

	// Text
	.hover-language-status,
	.hover-contents {
		padding: var(--tooltip-spacing);
	}
}

.workbench-hover {
	// Arrow
	&-pointer {
		display: none;
	}
}

.monaco-hover {
	&-content {
		font: var(--text-ui);
	}

	.hover-row:not(:first-child):not(:empty),
	.hover-language-status:not(:first-child) {
		border: none;

		&::before {
			content: '';

			@include controls.separator;
		}
	}
}

.monaco-editor-overlaymessage {
	animation: none;

	.message {
		@extend .monaco-hover;
	}

	.anchor {
		display: none;
	}
}

.parameter-hints-widget {
	@extend .monaco-hover;

	.overloads {
		font: var(--text-ui);

		height: unset;
	}

	.codicon {
		color: inherit;
	}

	.body::before {
		opacity: 1;
	}

	.signature {
		padding: var(--tooltip-spacing);
	}

	.docs {
		padding: 0 var(--tooltip-spacing);
	}
}
