@use "shared/controls";
@use "shared/text";
@use "shared/window";
@use "shared++/utils";

$-titlebar-description-selector: "> :first-child + [data-text-variant]";

[class*="formGroup"] {
	@include text.input-label;

	margin-bottom: var(--text-spacing);

	& > [class*="sectionTitle"] {
		& > .h5 {
			position: initial;
		}
	}
}

[class*="horizontal"] {
	& > .flex,
	& > [class*="flexChild"] {
		margin-right: var(--label-spacing);

		flex-grow: 0;

		& > * {
			@include utils.text-reset;
		}
	}
}

._49fc18ba07c5025f-content {
	overflow: visible;

	&.scrollerBase__49fc1 {
		padding: var(--messagebox-spacing);
		margin: 0;

		overflow: auto;

		& > * {
			@include utils.text-reset;

			text-align: start;
		}
	}
}

._49fc18ba07c5025f-close {
	@include window.titlebar-button;
	@include window.titlebar-button-close;

	opacity: 1;
	margin: 0;
	margin-left: auto;

	inset: 0;

	& > * {
		display: none;
	}
}

._49fc18ba07c5025f-footer {
	background-color: transparent;
	gap: var(--dialog-button-spacing);
	padding: var(--messagebox-spacing);
	box-shadow: none;

	justify-content: end;

	& > div {
		gap: var(--dialog-button-spacing);
	}
}

._49fc18ba07c5025f-root {
	@include window.container($child: true);

	border: none;

	overflow: visible;

	&._49fc18ba07c5025f-small {
		min-height: 150px;
	}

	& > div {
		overflow: auto;
	}

	[role="dialog"]:not([aria-label]) > & ._49fc18ba07c5025f-header._7c0bae9243151ddd-flex {
		@include window.titlebar($focused-sel: "&");

		overflow: visible;
		flex-direction: row;

		.b717a15017b82443-title {
			@include utils.text-reset;

			font-weight: bold;
			margin: 0;
		}

		&:has(#{$-titlebar-description-selector}) + [class*="content"] {
			margin-top: calc(1lh * 2 + var(--dialog-spacing));
		}

		& > [data-text-variant] {
			@include utils.text-reset;

			font-weight: bold;
			margin: 0;
		}

		// Description
		#{$-titlebar-description-selector} {
			color: var(--color-window-text);
			font-weight: normal;
			text-align: start;
			margin: var(--dialog-spacing);

			position: absolute;
			top: calc(var(--titlebar-height) + var(--window-gap));
		}
	}

	[role="dialog"][aria-label]
		> &
		> .header:has(
			> h1:only-child,
			> .close,
			> .flexChild > h1 + [data-text-variant]
		) {
		display: none;
	}
}

._40128e129e4f87de-scrim {
	background-color: transparent;
}
