@use "shared/window";

._8a031a135bfcb9ba-actionBar {
	padding: var(--dialog-spacing);

	.dbd2630aec71879b-stack {
		gap: var(--dialog-button-spacing);

		justify-content: end;
	}

	button {
		flex: unset;
		width: unset;
	}
}

._8a031a135bfcb9ba-body {
	overflow: auto;
}

._8a031a135bfcb9ba-bodyInner {
	padding: var(--dialog-spacing);
}

// ???
._8a031a135bfcb9ba-bodySpacerBottom,
._8a031a135bfcb9ba-bodySpacerTop {
	display: none;
}

._8a031a135bfcb9ba-container {
	@include window.container($child: true);

	border: none;
}

._8a031a135bfcb9ba-header {
	all: unset;

	& > .dbd2630aec71879b-stack {
		gap: var(--dialog-spacing);
	}
}

._8a031a135bfcb9ba-headerLayout {
	@include window.titlebar($focused-sel: "&");
}

._8a031a135bfcb9ba-headerSubtitle {
	color: inherit;
	margin-inline: var(--dialog-spacing);
}

._8a031a135bfcb9ba-headerTitle {
	color: inherit;
}

._8a031a135bfcb9ba-headerTrailing {
	margin: 0;

	button {
		@include window.titlebar-button;

		max-height: unset;
	}
}
