@use "shared/controls";
@use "shared/menu";
@use "shared/window";

.groupLabel_c1e9c4 {
	display: none;
}

.iconContainer_c1e9c4 {
	all: unset;

	svg {
		display: none;
	}
}

.item_c1e9c4 {
	@include menu.item($selected-sel: "&.focused_c1e9c4");

	font: var(--text-ui);

	&.disabled_c1e9c4 {
		@include menu.item-disabled;

		opacity: 1;
	}

	&[aria-haspopup] {
		@include menu.item-parent;
	}

	&[role="menuitemradio"][aria-checked="true"] {
		@include menu.item-radio;

		.iconContainer_c1e9c4 {
			display: none;
		}
	}

	.checkbox__09aca {
		@include menu.item-check;

		all: unset;

		svg {
			display: none;
		}
	}

	.radioIndicatorGroup__88a69 {
		display: none;
	}
}

.label_c1e9c4 {
	color: inherit;
}

.labelContainer_c1e9c4 {
	min-height: unset;
}

.menu_c1e9c4 {
	@include window.container($child: true);

	border: none;

	width: unset;
}

.scroller_c1e9c4 {
	padding: 0;

	overflow: auto;
}

.separator_c1e9c4 {
	@include controls.separator;

	margin-inline: 0;
}

.submenuPaddingContainer_c1e9c4 {
	padding: 0;
}

.subtext_c1e9c4 {
	display: none;
}

// Emotes
.wrapper_f563df {
	gap: 0;
	padding: 0;

	display: flex;
	flex-direction: column;

	.button_f563df {
		@include menu.item($selected-sel: "&.focused_f563df");

		background-color: transparent;

		width: unset;
		height: unset;

		&::before {
			content: attr(aria-label);

			flex-grow: 1;
		}
	}

	.customItem_c1e9c4 {
		font: var(--text-ui);

		width: 100%;

		& > [aria-label=":thumbsup: :+1: :thumbup: :thumbs_up:"]::before {
			content: ":+1:";
		}
	}

	& + div::before {
		content: "";

		display: block;

		@include controls.separator;
	}
}
