@use "shared/controls";
@use "shared/menu";
@use "shared/window";

.c1e9c47c23f12ca3-groupLabel {
	display: none;
}

.c1e9c47c23f12ca3-iconContainer {
	all: unset;

	svg {
		display: none;
	}
}

.c1e9c47c23f12ca3-item {
	@include menu.item($selected-sel: "&.c1e9c47c23f12ca3-focused");

	font: var(--text-ui);

	&.c1e9c47c23f12ca3-disabled {
		@include menu.item-disabled;

		opacity: 1;
	}

	&[aria-haspopup] {
		@include menu.item-parent;
	}

	&[role="menuitemradio"][aria-checked="true"] {
		@include menu.item-radio;

		.c1e9c47c23f12ca3-iconContainer {
			display: none;
		}
	}

	._09aca73e6d4b214b-checkbox {
		@include menu.item-check;

		all: unset;

		svg {
			display: none;
		}
	}

	._88a69141dd70013a-radioIndicatorGroup {
		display: none;
	}
}

.c1e9c47c23f12ca3-label {
	color: inherit;
}

.c1e9c47c23f12ca3-labelContainer {
	min-height: unset;
}

.c1e9c47c23f12ca3-menu {
	@include window.container($child: true);

	border: none;

	width: unset;
}

.c1e9c47c23f12ca3-scroller {
	padding: 0;

	overflow: auto;
}

.c1e9c47c23f12ca3-separator {
	@include controls.separator;

	margin-inline: 0;
}

.c1e9c47c23f12ca3-submenuPaddingContainer {
	padding: 0;
}

.c1e9c47c23f12ca3-subtext {
	display: none;
}

// Emotes
.f563df886a7377be-wrapper {
	gap: 0;
	padding: 0;

	display: flex;
	flex-direction: column;

	.f563df886a7377be-button {
		@include menu.item($selected-sel: "&.f563df886a7377be-focused");

		background-color: transparent;

		width: unset;
		height: unset;

		&::before {
			content: attr(aria-label);

			flex-grow: 1;
		}
	}

	.c1e9c47c23f12ca3-customItem {
		font: var(--text-ui);

		width: 100%;

		& > [aria-label=":thumbsup: :+1: :thumbup: :thumbs_up:"]::before {
			content: ":+1:";
		}
	}

	& + div::before {
		content: "";

		display: block;

		@include controls.separator;
	}
}
