::-webkit-scrollbar {
	// .none& {
	// 	display: none;
	// }
}

::-webkit-scrollbar-track {
	background-color: transparent;
	margin: 0;
}

::-webkit-scrollbar-thumb {
	border: none;
	border-radius: 0;
	visibility: visible;
}

.scrollbarGutterStable_d125d2 {
	scrollbar-gutter: unset;
}
