@use "shared++/extends";

.anchor_edefb8 {
	@include extends.text-reset;
	@include extends.link;
}

.channelMention {
	@include extends.link;

	background-color: transparent;
	padding: 0;

	&::before {
		content: "#";
	}

	svg {
		display: none;
	}
}

[data-text-variant] {
	font: var(--text-ui);
}

[data-text-variant*="bold"] {
	font-weight: bold;
}

[class*="textBadge"] {
	@include extends.parentheses;
	@include extends.text-reset;

	background-color: transparent;
	padding: 0;

	height: unset;
	min-height: unset;
}
