@use "shared/text";
@use "shared++/utils";

.edefb8e22d63c542-anchor {
	@include utils.text-reset;
	@include text.link;
}

.channelMention {
	@include text.link;

	background-color: transparent;
	padding: 0;

	&::before {
		content: "#";
	}

	svg {
		display: none;
	}
}

[data-text-variant] {
	font: var(--text-ui);
}

[data-text-variant*="bold"] {
	font-weight: bold;
}

[class*="textBadge"] {
	@include utils.parentheses;
	@include utils.text-reset;

	background-color: transparent;
	padding: 0;

	display: flex;
	height: unset;
	min-height: unset;
}

// mana text button
._7a01bdafdcb0e727-text {
	@include text.link;
}
