@use "shared/controls";

.c36707910f687430-tooltip {
	@include controls.tooltip;

	opacity: 1;
	font: var(--text-ui);
	transform: unset;
}

.c36707910f687430-tooltipContent {
	padding: 0;
}

.c36707910f687430-tooltipPointer {
	display: none;
}
