@use "shared/tooltip";

.tooltip__382e7 {
	@include tooltip.container;

	opacity: 1;
	font: var(--text-ui);
	transform: unset;
}

.tooltipContent__382e7 {
	padding: 0;
}

.tooltipPointer__382e7 {
	display: none;
}
