@use "shared/controls";

.tooltip_c36707 {
	@include controls.tooltip;

	opacity: 1;
	font: var(--text-ui);
	transform: unset;
}

.tooltipContent_c36707 {
	padding: 0;
}

.tooltipPointer_c36707 {
	display: none;
}
