@use "shared/controls";
@use "shared/listbox";
@use "shared/tabs";
@use "shared/text";
@use "shared/window";
@use "shared++/extends";
@use "steam/shared";

.ModalOverlayBackground {
	display: none;
}

.ModalPosition {
	background-image: none;
}

.ModalPosition_Content {
	@include extends.text-reset;

	box-shadow: none;
}

.ModalPosition_Dismiss {
	top: 5px;
	right: 5px;

	.closeButton {
		@include controls.button;
		@include window.titlebar-button;
		@include extends.titlebar-button-close;
	}

	svg {
		display: none;
	}
}

.ModalPosition_TopBar {
	display: none;
}

.DialogBody {
	@include tabs.content;

	-webkit-mask-image: none; // client settings
	font: var(--text-ui);
	margin: 0;
	gap: var(--text-spacing);

	overflow: auto;

	// "In Game" settings tab
	& > .DialogSubHeader {
		position: unset;
	}

	a {
		@include extends.link;
	}
}

.DialogBodyText {
	@include extends.text-reset;

	padding: 0;
	margin-bottom: var(--text-spacing);
}

.DialogButton {
	background-image: none;

	&.Disabled {
		@include controls.input-disabled;
	}

	&.Primary {
		min-width: 111px;
	}

	&::before {
		opacity: 1;
		box-shadow: none;
	}
}

.DialogCheckbox {
	@include controls.checkbox(
		$checked-sel: "&.Active",
		$disabled-sel: "&.Disabled"
	);

	margin: 0;

	flex-shrink: 0;

	&.Disabled {
		opacity: 1;
		filter: none;
	}

	& > svg {
		display: none;
	}
}

.DialogCheckbox_Container {
	@include text.input-label;

	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-bottom: var(--text-spacing);
}

.DialogContent {
	background: transparent;
	padding: var(--dialog-spacing);
	padding-bottom: calc(
		var(--text-full) + 3px + var(--window-gap) + var(--dialog-spacing)
	);

	.DialogContentTransition > & {
		--dialog-spacing: 0px;
	}
}

.DialogContentTransition {
	background: transparent;

	width: unset;
	max-width: unset;
}

.DialogControlsSection {
	@include controls.groupbox;

	gap: var(--text-spacing);

	display: flex;
	flex-direction: column;

	& > .DialogBodyText {
		@include extends.legend-as-div;
	}
}

.DialogControlsSectionHeader {
	@include extends.text-reset;
	@include extends.legend-as-div;
}

.DialogDropDown {
	@include controls.combobox;

	display: flex;
	align-items: center;
}

.DialogDropDown_Arrow {
	display: none;
}

.DialogDropDown_CurrentDisplay {
	background-color: transparent;
	padding: 0;
}

.DialogFooter {
	padding-top: var(--dialog-button-spacing);
}

.DialogHeader {
	font-size: var(--text-ui-size);
	font-weight: bold;
	text-transform: unset;
	padding: 0;
	margin: 0;

	.PopupFullWindow > :last-child & {
		@include shared.dialog-title;
	}

	// About Steam dialog
	svg {
		display: none;
	}
}

// Only used in "Invite to group chat" dialog
.DialogHeaderSubtitle {
	// TODO(port): no reference to this lol what
	//quotes();
	color: inherit;
	letter-spacing: 0;
	font: inherit;
	margin-left: var(--text-spacing);
}

.DialogInnerBody {
	padding: 0;

	overflow: visible;
}

.DialogInput {
	// It's an <input>, but overlay browser has type="input"
	background: var(--color-window);
	color: var(--color-window-text);
	box-shadow: none;
}

.DialogInputLabelGroup {
	margin: 0;
}

.DialogInput_Wrapper {
	gap: var(--dialog-button-spacing);
}

.DialogLabel {
	font: var(--text-ui);
	color: inherit;
	text-transform: unset;
}

.DialogMenuPosition ._DialogInputContainer {
	@include listbox.container;

	font: var(--text-ui);
	box-shadow: none;
	padding: 0;
}

.DialogSubHeader {
	@include extends.text-reset;
	@include extends.legend-as-div;
}

.DialogTextInputBase {
	box-shadow: none;
}

.DialogToggle_Label {
	font: var(--text-ui);
	color: var(--color-button-text);
}

._DialogColLayout {
	gap: var(--dialog-button-spacing);

	justify-content: end;

	& > ._DialogLayout {
		flex: 0;
	}
}

// In-client/page dialog
.FullModalOverlay {
	.DialogBody {
		box-shadow: none;
	}

	.DialogContent {
		@include window.container($child: true);
	}

	.DialogHeader {
		@include window.titlebar($focused-sel: "&");

		// "Mark as Private" dialog
		div:not(.DialogHeader) {
			display: none;
		}
	}
}

.GenericConfirmDialog {
	padding: 0;

	justify-content: start;

	.DialogBody {
		box-shadow: none;
		gap: var(--messagebox-content-spacing);
		padding: var(--messagebox-spacing);
	}

	.DialogBodyText {
		margin-bottom: 0;
	}
}

.SettingsDialogSubHeader {
	@include extends.text-reset;
	@include extends.legend-as-div;
}
