@use "shared/controls";
@use "shared/listbox";
@use "shared/tabs";
@use "shared/text";
@use "shared/window";
@use "shared++/utils";
@use "steam/shared";

.ModalOverlayBackground {
	display: none;
}

.ModalDialogPopup {
	position: fixed;
	inset: 0;
}

.ModalPosition {
	background-image: none;
}

.ModalPosition_Content {
	@include utils.text-reset;

	box-shadow: none;
}

.ModalPosition_Dismiss {
	top: 5px;
	right: 5px;

	.closeButton {
		@include controls.button;
		@include window.titlebar-button;
		@include window.titlebar-button-close;
	}

	svg {
		display: none;
	}
}

.ModalPosition_TopBar {
	display: none;
}

:where(.DialogBody) {
	@include tabs.content;

	mask-image: none; // client settings
	font: var(--text-ui);
	margin: 0;
	gap: var(--text-spacing);

	overflow: auto;

	// "In Game" settings tab
	& > .DialogSubHeader {
		position: unset;
	}

	a {
		@include text.link;
	}
}

.DialogBodyText {
	@include utils.text-reset;

	padding: 0;
	margin-bottom: var(--text-spacing);
}

:where(.DialogButton) {
	@include controls.button($disabled-sel: "&.Disabled");

	background-image: none;

	&.Primary {
		min-width: 111px;
	}

	&::before {
		opacity: 1;
		box-shadow: none;
	}
}

.DialogCheckbox {
	@include controls.checkbox(
		$checked-sel: "&.Active",
		$disabled-sel: "&.Disabled"
	);

	margin: 0;

	flex-shrink: 0;

	&.Disabled {
		opacity: 1;
		filter: none;
	}

	& > svg {
		display: none;
	}
}

.DialogCheckbox_Container {
	@include text.input-label;

	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-bottom: var(--text-spacing);
}

:where(.DialogContent) {
	background: transparent;
	font: var(--text-ui);
	padding: var(--dialog-spacing);
	padding-bottom: calc(1lh + 3px + var(--window-gap) + var(--dialog-spacing));

	.DialogContentTransition > & {
		--dialog-spacing: 0px;
	}
}

.DialogContentTransition {
	background: transparent;

	width: unset;
	max-width: unset;
}

.DialogControlsSection {
	@include controls.groupbox;

	gap: var(--text-spacing);

	display: flex;
	flex-direction: column;

	& > .DialogBodyText {
		@include utils.legend-as-div;
	}
}

.DialogControlsSectionHeader {
	@include utils.text-reset;
	@include utils.legend-as-div;
}

.DialogDropDown {
	@include controls.combobox;

	display: flex;
	align-items: center;
	min-width: 129px;
}

.DialogDropDown_Arrow {
	display: none;
}

.DialogDropDown_CurrentDisplay {
	background-color: transparent;
	padding: 0;
}

:where(.DialogFooter) {
	padding-top: var(--dialog-button-spacing);
}

:where(.DialogHeader) {
	font-size: var(--text-ui-size);
	font-weight: bold;
	text-transform: unset;
	padding: 0;
	margin: 0;

	.PopupFullWindow > :last-child & {
		@include shared.dialog-title;
	}

	// About Steam dialog
	svg {
		display: none;
	}
}

// Only used in "Invite to group chat" dialog
.DialogHeaderSubtitle {
	color: inherit;
	letter-spacing: 0;
	font: inherit;
	margin-left: var(--text-spacing);

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}
}

.DialogInnerBody {
	padding: 0;

	overflow: visible;
}

.DialogInput {
	@include controls.text-field;

	height: unset;
}

.DialogInputLabelGroup {
	margin: 0;
}

.DialogInput_Wrapper {
	gap: var(--dialog-button-spacing);
}

:where(.DialogLabel) {
	font: var(--text-ui);
	color: inherit;
	text-transform: unset;
	margin: 0;
}

.DialogMenuPosition ._DialogInputContainer {
	@include listbox.container;

	font: var(--text-ui);
	box-shadow: none;
	padding: 0;
}

.DialogRoundCheckboxField {
	margin-right: var(--label-spacing);

	width: unset;
	height: unset;
}

.DialogRoundCheckboxField_Control {
	@include controls.radio($checked-sel: "&.Active");
}

.DialogRoundCheckboxField_OuterCircle {
	display: none;
}

.DialogSlider_Container {
	background-color: transparent;
}

.DialogSlider_Grabber {
	box-shadow: none;
}

.DialogSlider_Slider {
	@include controls.slider(
		$thumb-sel: ".DialogSlider_Grabber",
		$track-sel: ".DialogSlider_Value"
	);

	box-shadow: none;
}

.DialogSubHeader {
	@include utils.text-reset;
	@include utils.legend-as-div;
}

.DialogToggle_Label {
	font: var(--text-ui);
	color: inherit;
}

._DialogColLayout {
	gap: var(--dialog-button-spacing);

	justify-content: end;

	& > ._DialogLayout {
		flex: 0;
	}
}

// In-client/page dialog
.FullModalOverlay {
	.DialogBody {
		box-shadow: none;
	}

	.DialogContent {
		@include window.container($child: true);
	}

	.DialogHeader {
		@include window.titlebar($focused-sel: "&");

		// "Mark as Private" dialog
		div:not(.DialogHeader) {
			display: none;
		}
	}
}

.GenericConfirmDialog {
	padding: 0;

	justify-content: start;

	.DialogBody {
		box-shadow: none;
		gap: var(--messagebox-content-spacing);
		padding: var(--messagebox-spacing);
	}

	.DialogBodyText {
		margin-bottom: 0;
	}
}

.SettingsDialogSubHeader {
	@include utils.text-reset;
	@include utils.legend-as-div;
}
