@use "shared/generatedassets";
@use "shared/window";
@use "steam/shared";

.PopupFullWindow:not(:only-child) {
	@include shared.statusbar-alt;

	.ModalPosition {
		height: calc(100% - 1lh - 6px);
	}
}

.window_resize_grip {
	@include window.resize-handle;

	opacity: 1;
}
