@use "shared/controls";
@use "shared/window";

.minimizeButton {
	@include window.titlebar-button-minimize;
}

.maximizeButton {
	@include window.titlebar-button-maximize;
}

.restoreButton {
	@include window.titlebar-button-restore;
}

.closeButton {
	@include window.titlebar-button-close;
}

.singleWindowFocusBar {
	display: none;
}

.title-area {
	@include window.titlebar($focused-sel: ".WindowFocus &");

	//justify-content: space-between;
	position: unset;
	min-height: var(--titlebar-height);
	max-height: var(--titlebar-height);

	.WindowFocus & {
		--color-inactive-caption-bg-start: var(--color-active-caption-bg-start);
		--color-inactive-caption-bg-end: var(--color-active-caption-bg-end);
		--color-inactive-caption-text: var(--color-active-caption-text);
	}

	&::before {
		content: "";

		width: var(--icon-size);
		height: var(--icon-size);

		background-color: currentColor;
		mask: icon("steam");
	}
}

// Used only in overlay browser ? (in theme also used in main window)
.title-area-children {
	@include window.titlebar-name;

	font-size: var(--text-ui-size);
	color: var(--color-inactive-caption-text);
	text-align: start;
	// Overlay browser
	padding: 0;
}

:where(.title-area-icon) {
	@include controls.button;
	@include window.titlebar-button;

	width: unset;
}

.title-area-icon-inner {
	display: none;
}

.title-area-highlight {
	display: none;
}
