@use "shared/controls";
@use "shared/window";

.minimizeButton {
	@include window.titlebar-button-minimize;
}

.maximizeButton {
	@include window.titlebar-button-maximize;
}

.restoreButton {
	@include window.titlebar-button-restore;
}

.closeButton {
	@include window.titlebar-button-close;
}

.singleWindowFocusBar {
	display: none;
}

.title-area {
	--window-img: icon("steam");

	background-image: linear-gradient(
		90deg,
		var(--color-inactive-caption-bg-start),
		var(--color-inactive-caption-bg-end)
	);
	padding-right: 2px;

	position: unset;
	min-height: var(--titlebar-height);
	max-height: var(--titlebar-height);

	display: flex;
	align-items: center;
	justify-content: space-between;

	.WindowFocus & {
		--color-inactive-caption-bg-start: var(--color-active-caption-bg-start);
		--color-inactive-caption-bg-end: var(--color-active-caption-bg-end);
		--color-inactive-caption-text: var(--color-active-caption-text);
	}

	&::before {
		--s: calc(1px + var(--border-size) + var(--window-spacing));

		content: "";

		position: fixed;
		left: var(--s);
		top: var(--s);
		width: var(--icon-size);
		height: var(--icon-size);

		background-image: var(--window-img);

		.WindowFocus & {
			filter: invert(1);
		}
	}
}

// Used only in overlay browser ?
.title-area-children {
	@include window.titlebar-name;

	font-size: var(--font-ui-size);
	color: var(--color-inactive-caption-text);
	padding-left: calc(var(--icon-size) + var(--titlebar-spacing));

	.WindowFocus & {
		color: var(--color-active-caption-text);
	}
}

:where(.title-area-icon) {
	@include controls.button;
	@include window.titlebar-button;

	width: unset;
}

.title-area-icon-inner {
	display: none;
}

.title-area-highlight {
	display: none;
}
