@function -color($value) {
	@return light-dark(#{$value}, light#{$value});
}

:root[data-millennium-plugin~="core"] {
	--MillenniumText-HeadingLarge: var(--text-ui);
	--MillenniumText-HeadingMedium: var(--text-ui);
	--MillenniumText-HeadingSmall: var(--text-ui);
	--MillenniumText-BodyLarge: var(--text-ui);
	--MillenniumText-BodyMedium: var(--text-ui);
	--MillenniumText-BodySmall: var(--text-ui);

	--MillenniumTextColor-Normal: var(--color-button-text);
	--MillenniumTextColor-Muted: var(--color-gray-text);
	--MillenniumTextColor-Success: -color("green");
	--MillenniumTextColor-Error: -color("red");
	--MillenniumTextColor-Warning: -color("yellow");

	--MillenniumSpacing-Small: 4px;
	--MillenniumSpacing-Normal: 8px;
	--MillenniumSpacing-Large: 16px;

	--MillenniumControls-BorderRadius: 0;
	--MillenniumControls-IconSize: var(--icon-size);
}

.MillenniumButtonsSection {
	flex-direction: row;
	flex-wrap: nowrap;
}

.MillenniumColorPicker {
	--size: var(--sel-button-size);

	box-shadow: var(--border-field);
	padding: var(--border-size);
	// Align with reset button
	margin-block: var(--button-spacing);
}

.MillenniumLogs_Text code {
	font: var(--text-monospace);
}

.MillenniumSettings {
	border: none;

	position: unset;
}
