@use "shared/controls";
@use "shared/tabs";
@use "steam/shared";

#HidePageListButton {
	--button-img: icon("overflow", "mono");
	--pos: calc(
		var(--border-size) + var(--window-spacing) + var(--dialog-spacing) * 2
	);

	@include controls.button;
	@include controls.icon-button;

	inset-block-start: unset;
	inset-block-end: calc(var(--pos) + var(--statusbar-height));
	inset-inline-start: calc(var(--pos));
	position: fixed;
	width: unset;

	svg {
		display: none;
	}
}

#PageListSeparator,
#PageListItem_Icon {
	display: none;
}

#PagedSettingsDialog {
	margin: var(--dialog-spacing);
	min-height: unset;
	min-width: unset;

	.DialogDropDown {
		min-width: var(--button-min-width);
	}

	.DialogHeader {
		display: none;
	}
}

#PagedSettingsDialog_PageList {
	@include tabs.container-vertical;

	flex-grow: 0;
	overflow: visible;
	padding: 0;
}

#PagedSettingsDialog_PageListColumn {
	background-color: transparent;
	flex-grow: 0;
	justify-content: space-between;
	max-width: unset;
	min-height: unset;
	padding: 0;
}

#PagedSettingsDialog_PageListItem {
	@include tabs.tab-vertical($selected-sel: "&#Active");

	cursor: default;
	font: var(--text-ui);
}

#PagedSettingsDialog_Title {
	@include shared.dialog-title;

	padding: 0;
	text-transform: unset;

	.MillenniumSettings &,
	html[browsertype="DirectHWND"] & {
		display: none;
	}
}
