.lighthouse {
	&-form-section {
		@extend fieldset;

		&-label {
			@extend $legend-as-div;
		}
	}

	&-help-text {
		padding: 0;
		margin-bottom: 16px;
	}

	&-learn-more {
		padding: 6px;
	}

	&-options {
		gap: 8px;
	}

	&-results-container:not(:empty) {
		@extend .content-container;
	}

	&-start-view {
		&,
		&-fr {
			@extend $text-reset;
		}
	}

	&-progress {
		&-bar {
			@extend progress::-webkit-progress-value;
		}

		&-wrapper {
			@extend progress;
		}
	}

	&-view {
		h2 {
		}
	}
}

.lh {
	&-audit-group {
		@extend fieldset;

		&__header {
			@extend $text-reset;
			@extend $legend-as-div;

			&::before {
				display: none;
			}
		}

		&__title {
			@extend $text-reset;
		}
	}

	&-metricfilter {
		color: inherit;
		gap: 0;
		margin-bottom: var(--default-padding);

		&__label {
			@extend button;

			text-decoration: none;

			justify-content: center;

			&--active {
				@extend button:active;
			}
		}

		&__radio {
			position: absolute;
		}
	}

	&-metrics-toggle__label {
		@extend button;

		margin-left: 4px;

		justify-content: center;
	}

	&-report-icon {
		&::before {
			opacity: 1;
			margin: 0;
		}
	}

	&-root {
		@extend $text-reset;

		--link-color: var(--color-link);
		--tools-icon-color: var(--color-button-text);

		--report-font-size-secondary: var(--text-ui-size);
		--report-icon-size: 12px;
	}

	&-tools {
		&__button {
			@extend .icon-button;

			padding: 0;

			align-items: center;
			justify-content: center;

			svg {
				width: 16px;
				height: 16px;
			}
		}

		&__dropdown {
			top: 0;

			transition: none;

			a {
				&::before {
					top: 3px;

					background-size: 12px 12px;
				}
			}
		}
	}

	&-tooltip {
		@extend .tooltip;

		line-height: inherit;

		&::before {
			display: none;
		}
	}

	&-topbar {
		@extend .toolbar;

		background-color: transparent;

		position: absolute;

		&__logo,
		&__url {
			display: none;
		}

		&__tools {
			margin-bottom: 26px;
		}
	}
}
