.perfmon {
	&-chart-container,
	&-control-pane {
		@extend .content-container;

		border: none;
	}

	&-indicator {
		align-items: center;

		&-title {
			margin-left: 13px;
		}
	}

	&-pane {
		gap: var(--window-gap);

		&:not(.active) {
			--icon-checkmark: none;
		}

		[is="ui-icon"] {
			-webkit-mask-image: var(--icon-checkmark);

			width: 7px;
			height: 7px;
		}
	}
}
