.inline-button {
	border: none;
	margin: 0;

	width: unset;
}

.timeline {
	&-details-chip-title {
		@extend $text-reset;
	}

	&-tree-view,
	&-view {
		@extend [role="tabpanel"];
	}

	&-landing-page {
		@extend $text-reset;
		@extend .content-container;
	}

	&-status-dialog {
		@extend .window;

		padding: 7px;
	}
}

#timeline-overview-panel {
	border: none;
}
