#sources-panel-sources-view {
	--sources-header-margin-top: 0px;
	--sources-header-margin-bottom: -2px;
	--sources-tabs-margin-bottom: 2px;

	& > .vbox > .vbox > .vbox {
		@extend [role="tabpanel"];

		padding: 4px;
	}

	devtools-text-editor {
		@extend .content-container;
	}

	.sources-toolbar {
		border: none;
		padding-right: 7px;

		// TODO: spacing
		flex: 0 0 36px;
		align-self: end;
		flex-direction: row-reverse;
	}
}

.panel.sources {
	& > .split-widget > [slot="insertion-point-sidebar"] {
		& > * {
			background-color: transparent;
		}

		& > .vbox {
			@extend .content-container;
		}
	}
}

.paused-status {
	border-top: none;
	border-bottom: 1px solid var(--override-paused-status-color);
}
