@use "shared/text";

#ActivityFeedContainer {
	max-width: unset;
}

#ViewLastNews {
	@include text.link;

	background-color: transparent;
	font: inherit;
	padding: 0;

	position: absolute;
	top: calc(1lh + var(--appdetails_container-spacing-y) + var(--text-spacing));
	left: var(--appdetails_container-spacing-x);
}
