@use "shared++/utils";

#ButtonContainer {
	gap: var(--dialog-button-spacing);

	justify-content: start;
}

#FeaturedItem {
	align-items: start;
}

#FeaturedItemDesc {
	color: inherit;
	font: inherit;
}

#FeaturedItemDetailsContainer {
	gap: var(--text-spacing);

	display: flex;
	flex-direction: column;
}

#FeaturedItemHideButton {
	@include utils.titlebar-button-close;

	// TODO: utils.icon
	background-color: currentColor;
	mask: var(--button-img) no-repeat;
	mask-size: var(--button-img-size);
	mask-position: var(--button-img-pos);

	top: 4px;
	right: 4px;
	width: var(--icon-size);
	height: var(--icon-size);

	svg {
		display: none;
	}
}

#FeaturedItemHeader {
	color: var(--color-gray-text);
	font: inherit;
	text-transform: uppercase;
}

#FeaturedItemImage {
	margin-right: var(--text-spacing);

	width: var(--appdetails_highlight-img-size);
}

#FeaturedItemLink {
	@include utils.link;

	font-size: inherit;
	padding: 0;
}

#FeaturedItemName {
	color: inherit;
	font: inherit;
	font-weight: bold;
	margin: 0;
}

#WorkshopContainer {
	background: none;
}
