@use "shared/text";
@use "shared/window";

#ButtonContainer {
	gap: var(--dialog-button-spacing);
	justify-content: start;
}

#FeaturedItem {
	align-items: start;
}

#FeaturedItemDesc {
	color: inherit;
	font: inherit;
}

#FeaturedItemDetailsContainer {
	display: flex;
	flex-direction: column;
	gap: var(--text-spacing);
}

#FeaturedItemHideButton {
	@include window.titlebar-button-close;

	// TODO: utils.icon
	background-color: currentColor;
	height: var(--icon-size);
	inset-block-start: 4px;
	inset-inline-end: 4px;
	mask: var(--button-img) no-repeat;
	mask-position: var(--button-img-pos);
	mask-size: var(--button-img-size);
	width: var(--icon-size);

	svg {
		display: none;
	}
}

#FeaturedItemHeader {
	color: var(--color-gray-text);
	font: inherit;
	text-transform: uppercase;
}

#FeaturedItemImage {
	margin-inline-end: var(--text-spacing);
	width: var(--appdetails_highlight-img-size);
}

#FeaturedItemLink {
	@include text.link;

	font-size: inherit;
	padding: 0;
}

#FeaturedItemName {
	color: inherit;
	font: inherit;
	font-weight: bold;
	margin: 0;
}

#WorkshopContainer {
	background: none;
}
