@use "shared/controls";

#LinksSection {
	display: block;
	// Force everyone to move into the overflow button
	width: 0;
	height: 0;
}

#MenuButton {
	--button-img: icon("url");
	@include controls.combobox-icon-button;

	// ..and move said button into the toolbar !
	position: fixed;
	position-anchor: --librarymainpanel;
	top: anchor(top);
	right: calc(anchor(right) + var(--toolbar-container-spacing));
	width: unset;

	svg {
		display: none;
	}
}
