@use "shared/controls";
@use "shared/window";
@use "shared++/utils";
@use "shared++/icons";

#Link {
	background-color: transparent;

	&:hover {
		text-decoration: underline;
	}
}

#LinkInner {
	font: var(--text-ui);
	padding-top: 0;
	margin-right: 12px;
}

#Links {
	height: unset;
}

#LinksSection {
	& > div {
		border: none;
	}
}

#MenuButton {
	@include controls.button;
	@include window.titlebar-button;
	@include icons.icon-more;
}

#Text {
	@include utils.link;
}
