@use "shared++/utils";

#ButtonsGroup {
	gap: var(--dialog-button-spacing);
}

#CommentsContainer {
	@include utils.link;

	font: inherit;

	svg {
		display: none;
	}
}

#CommentCount,
#CommentsLabel {
	color: inherit;
}

#PlayedForTime {
	@include utils.text-reset;
}

#ReviewPresentGroup {
	gap: var(--text-spacing);
}

#ReviewText {
	color: inherit;
	font: inherit;
}

#VoteUpDownContainer {
	padding: 0;
}
