@use "shared/controls";
@use "shared++/utils";

#ActionSection {
	margin-right: var(--toolbar-spacing);

	height: unset;
}

#Container {
	position: fixed;
	position-anchor: --librarymainpanel;
	top: anchor(top);
	// Give space to the links section overflow button
	right: calc(
		anchor(right) + var(--combobox-icon-button-width) +
			var(--toolbar-container-spacing)
	);
	left: anchor(left);
	width: unset;

	// Undo all sticky header shit
	&#StickyHeader {
		// :where(#library_AppDetailsMain > :not(:empty))
		box-shadow: none;
		padding: 0;

		#GameStatsSection {
			opacity: 1;
			transform: none;
		}

		#PlayBarIconAndGame {
			display: none;
		}
	}
}

#DetailsProgressContainer {
	@include controls.progress-bar($filled-sel: "#DetailsProgressBar");

	// Also seen in appportraithover
	#Container & {
		display: none;
	}
}

#DetailsSection {
	padding: 0;
	margin: 0;

	order: -1;
	display: flex;
}

#GameStat {
	padding: 0;
	margin: 0;

	display: flex;
	height: 100%;

	&:not(#MiniAchievements)::after {
		content: "";

		@include controls.separator-horizontal;
	}
}

#GameStatIcon,
#GameStatIconForced {
	display: none;
}

#GameStatRight {
	padding: 0;

	display: flex;
	justify-content: center;
}

#InnerContainer {
	padding: 0;
	padding-inline-start: var(--toolbar-container-spacing);
}

#MenuButton {
	width: unset;

	&:not([aria-label]) {
		// Looks like a notebook... close enough
		--button-img: icon("file");
		--icon-button-height: var(--combobox-button-height);
		@include controls.button;
		@include controls.icon-button($selected-sel: "&#MenuActive");

		order: -1;
	}

	// "Manage" combobox
	#MenuButtonContainer > & {
		@include controls.combobox-button;

		margin-inline-start: var(--toolbar-spacing);

		height: unset;
		justify-content: start;

		&::before {
			content: attr(aria-label);

			flex-grow: 1;

			border: none;
			box-shadow: none;
		}

		svg {
			@include controls.separator-horizontal;

			order: 1;
			display: initial;
			position: relative;
			top: var(--offset-click);
			left: var(--offset-click);
			width: 0;
			height: calc(var(--combobox-button-height) - var(--button-spacing) * 2);

			margin: 0;
		}

		path {
			display: none;
		}
	}

	// "Scroll to top" button
	#Container#StickyHeader &:has(> #DotDotDot) {
		--button-img: icon("arrow-big-top", "mono");
	}

	&#FavoriteButton {
		display: none;
	}

	svg {
		display: none;
	}
}

#PlayBar {
	all: unset;

	&:not(#Glassy) {
		display: none;
	}
}

#PlayBarCloudStatusContainer {
	// fix some bullshit css behavior to get it to use 100% height
	display: flex;
}

#PlayBarDetailLabel {
	color: inherit;
	font: inherit;
	line-height: 1;
}

#PlayBarLabel {
	color: inherit;
	font-size: var(--text-ui-size);
	font-weight: bold;
	letter-spacing: 0;
	line-height: 1;
	text-transform: none;
}

#RightControls {
	justify-content: start;
}

#StatusAndStats,
#StatusNameContainer {
	height: unset;
	max-height: unset;
}

#StatusNameContainer {
	&:not(:only-child)::before {
		content: "";

		height: 100%;

		@include controls.separator-horizontal;
	}
}

#StickyHeaderShadow {
	display: none;
}

#SuperimposedGridItems:not(#Visible) {
	display: none;
}
