// Rip every (not that useful) custom element out, since not even the
// applyStyleSheet API works on them (only sometimes).
#console-issues-counter,
devtools-sync-section,
#elements-crumbs {
	display: none;
}

// Global styles
[role="menu"] {
	@extend .window;
	@extend .window.child;

	border-radius: 0;
}

[role="menuitem"] {
	@extend .menu-entry;
}

[role="textbox"] {
	@extend input;
	@extend input[type="text"];
}

[role="treeitem"] {
	@extend .tree-item;

	// "Sources" tab sidebar
	border: none;

	height: unset;

	&[aria-expanded="true"] {
		@extend .tree-item[open];
	}

	&:not(.parent)::before {
		left: -7px;
		width: 10px;
	}

	&::before {
		-webkit-mask-image: none;
		background-color: transparent;
	}
}

.panel {
	position: relative;
}

.shadow-split-widget {
	gap: var(--window-gap);

	&-sidebar {
		border: none;
	}
}
