@use "shared++/extends";

.channelTextAreaUpload_dbca3c {
	margin-bottom: 12px;
}

.comment_dbca3c {
	margin: 0;
}

.file_dbca3c {
	display: none;
}

.footer_dbca3c {
	background-color: transparent;
	padding: var(--messagebox-spacing);
}

.footerRightAlign_dbca3c {
	gap: var(--dialog-button-spacing);
}

.inner_dbca3c {
	margin: var(--dialog-spacing);
}

.label_dbca3c {
	@include extends.text-reset;
}

.uploadModal_dbca3c {
	width: 400px;
	min-height: 183px;
}
