@use "shared/controls";

.cc1819cb49c2d109-actionButtons {
	background-color: transparent;
	border: none;
	gap: 0;
	padding: 0;

	button {
		@include controls.icon-button;
	}
}

.d3a6f0de39ff36e9-carouselModal {
	// unset ._49fc18ba07c5025f-root > div
	.e035781d3e5b07da-mediaArea {
		overflow: unset;
	}
}

._6088c3df6d10c76d-topBar {
	gap: var(--toolbar-spacing);

	._6088c3df6d10c76d-closeButton {
		--button-img: icon("clear");
		@include controls.button;
		@include controls.icon-button;

		width: unset;

		.aec7abc73c126bc0-buttonInner {
			display: none;
		}
	}
}
