@use "shared/controls";

.actionButtons_cc1819 {
	background-color: transparent;
	border: none;
	gap: 0;
	padding: 0;

	button {
		@include controls.icon-button;
	}
}

.carouselModal_d3a6f0 {
	// unset .root__49fc1 > div
	.mediaArea_e03578 {
		overflow: unset;
	}
}

.topBar__6088c {
	gap: var(--toolbar-spacing);

	.closeButton__6088c {
		--button-img: icon("clear");
		@include controls.button;
		@include controls.icon-button;

		width: unset;

		.buttonInner_aec7ab {
			display: none;
		}
	}
}
