@use "shared/list";
@use "shared/table";

._856b54641773282a-channelNameContainer {
	gap: var(--text-spacing);

	display: flex;
}

._856b54641773282a-checkboxContainer,
._856b54641773282a-checkboxMute {
	&::before {
		display: none;
	}
}

._856b54641773282a-header {
	@include table.header-row;

	letter-spacing: 0;
	text-transform: none;
	margin: 0;
}

._856b54641773282a-override {
	@include list.item;

	background-color: var(--color-window);
	color: inherit;
	border: none;
	padding: 0;
	margin: 0;

	svg {
		display: none;
	}
}
