@use "shared/list";
@use "shared/table";

.channelNameContainer__856b5 {
	display: flex;
	gap: var(--text-spacing);
}

.largeSpacing__856b5,
.spacing__856b5 {
	gap: var(--text-spacing);
	margin-block: var(--text-spacing);

	.divider__1de9c {
		display: none;
	}
}

.header__856b5 {
	@include table.header-row;

	letter-spacing: 0;
	margin: 0;
	text-transform: none;
}

.override__856b5 {
	@include list.item;

	background-color: var(--color-window);
	border: none;
	color: inherit;
	margin: 0;
	padding: 0;

	svg {
		display: none;
	}
}
