@use "shared/list";
@use "shared/table";

.channelNameContainer__856b5 {
	gap: var(--text-spacing);

	display: flex;
}

.checkboxContainer__856b5,
.checkboxMute__856b5 {
	&::before {
		display: none;
	}
}

.header__856b5 {
	@include table.header-row;

	letter-spacing: 0;
	text-transform: none;
	margin: 0;
}

.override__856b5 {
	@include list.item;

	background-color: var(--color-window);
	color: inherit;
	border: none;
	padding: 0;
	margin: 0;

	svg {
		display: none;
	}
}
