@use "shared/controls";
@use "shared/listbox";
@use "shared/table";
@use "shared/window";
@use "shared++/utils";

.content__71961 {
	line-height: inherit;
	gap: var(--text-spacing);
	padding: 0;

	height: 100%;
	align-items: center;

	.result__71961 > & {
		display: grid;
		grid-template-columns: var(--icon-size) repeat(2, 1fr);
	}
}

.header__71961 {
	@include table.header-row;
	@include utils.text-reset;

	line-height: inherit;
	margin: 0;

	width: 100%;
}

.input_ac6cb0 {
	@include controls.text-field;
}

.miscContainer_ac6cb0 {
	opacity: 1;
	color: var(--color-gray-text);
	font: var(--text-ui);
}

.protip_ac6cb0 {
	display: none;
}

.quickswitcher_ac6cb0 {
	--icon-size: 20px;

	border: none;
	box-shadow: none;
	gap: var(--window-gap);
	padding: var(--dialog-spacing);

	height: inherit;
}

.result__71961 {
	@include listbox.item($selected-sel: "[aria-selected='true']");

	font: var(--text-ui);

	height: calc(var(--icon-size) + 2px * 2);

	:where(& *) {
		color: inherit;
		margin: 0;
	}

	.note__71961,
	.username__71961 {
		@include utils.parentheses;

		opacity: 1;
		font: var(--text-ui);
		text-transform: none;
		margin-left: var(--text-spacing);
	}
}

.scroller_ac6cb0 {
	@include window.content-container;
	@include utils.move-scrollbar;

	margin: 0;

	max-height: unset;
}
