@use "shared/controls";
@use "shared/listbox";
@use "shared/table";
@use "shared/window";
@use "shared++/utils";

._71961da99d37ac57-content {
	line-height: inherit;
	gap: var(--text-spacing);
	padding: 0;

	height: 100%;
	align-items: center;

	._71961da99d37ac57-result > & {
		display: grid;
		grid-template-columns: var(--icon-size) repeat(2, 1fr);
	}
}

._71961da99d37ac57-header {
	@include table.header-row;
	@include utils.text-reset;

	line-height: inherit;
	margin: 0;

	width: 100%;
}

.ac6cb02cd15b4b3b-input {
	@include controls.text-field;
}

.ac6cb02cd15b4b3b-miscContainer {
	opacity: 1;
	color: var(--color-gray-text);
	font: var(--text-ui);
}

.ac6cb02cd15b4b3b-protip {
	display: none;
}

.ac6cb02cd15b4b3b-quickswitcher {
	--icon-size: 20px;

	border: none;
	box-shadow: none;
	gap: var(--window-gap);
	padding: var(--dialog-spacing);

	height: inherit;
}

._71961da99d37ac57-result {
	@include listbox.item($selected-sel: "&[aria-selected='true']");

	font: var(--text-ui);

	height: calc(var(--icon-size) + 2px * 2);

	:where(& *) {
		color: inherit;
		margin: 0;
	}

	._71961da99d37ac57-note,
	._71961da99d37ac57-username {
		@include utils.parentheses;

		opacity: 1;
		font: var(--text-ui);
		text-transform: none;
		margin-left: var(--text-spacing);
	}
}

.ac6cb02cd15b4b3b-scroller {
	@include window.content-container;
	@include utils.move-scrollbar;

	margin: 0;

	max-height: unset;
}
