@use "shared/controls";
@use "shared++/utils";

.dateFilter_e4772e {
	display: flex;
}

.filterSection_e4772e {
	padding: 0;

	&:not(:last-child)::after {
		@include utils.pseudo-separator;

		margin-block-start: 6px;
	}

	.tag_cfee8f {
		background-color: transparent;
		border: none;
		box-shadow: var(--border-statusbar);

		min-height: unset;
	}
}

// Only used for "Date"
.labelContainer_e4772e {
	margin-block-end: var(--text-spacing);

	& > :first-child {
		margin-block-end: var(--text-spacing);
	}
}

.removeDateFilterButton_e4772e {
	--button-img: icon("clear");
	@include controls.button;
	@include controls.icon-button;
}

.trashIcon_e4772e {
	display: none;
}
