@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

$-groupbox-header-sel: ":is(h1, h2, h3, h4, h5, h6):first-child";

// old fieldset?
.container__5a838 {
	&[data-disabled="true"] {
		opacity: 1;
	}

	&[data-layout="horizontal"] {
		display: flex;
		flex-direction: row-reverse;
		gap: var(--label-spacing);
		justify-content: start;

		.labelContainer__5a838 {
			gap: var(--text-spacing);
			margin: 0;
		}
	}

	&[data-layout="vertical"] {
		.labelContainer__5a838 {
			margin-block-end: var(--text-spacing);
		}
	}

	// Restrict to settings, looks weird everywhere else
	.contentColumn__23e6b &[data-layout="vertical"] {
		@include controls.groupbox;

		.label__5a838 {
			@include utils.legend-as-div;

			margin: 0;
		}
	}

	.control__5a838 {
		flex-shrink: 0;
	}

	.description__5a838 {
		margin: 0;
	}
}

.contentColumn__23e6b {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	min-width: 100%;
}

.contentRegionScroller__23e6b {
	margin: 0;
}

.divider__6131a {
	display: none;
}

// Make it a normal dialog
.layers__960e4 > .layer__960e4 {
	opacity: 1;

	&[aria-hidden="false"]:not(:only-child) {
		--c: calc(100% - var(--dialog-size));
		--c2: calc(var(--c) + var(--border-size));
		--dialog-size: 90%;
		--windows-titlebar-offset: 22px;

		@include window.container($child: true);

		inset: var(--c);
		opacity: 1;
		transform: unset;
		z-index: 999;

		&::before {
			@include window.titlebar($focused-sel: "&");

			box-sizing: border-box;
			content: "";
		}

		[role="tablist"][aria-orientation="vertical"]::before {
			color: var(--color-active-caption-text);
			content: attr(aria-label);
			font-weight: bold;
			inset-block-start: calc(var(--c2) + 3px + 3px);
			inset-inline-start: calc(var(--c2) + 3px + var(--window-spacing) + 2px);
			position: fixed;
		}
	}
}

.sidebar__23e6b {
	direction: ltr;
	margin-inline-start: 6px;
	padding: 0;

	.searchBar_c7e907 {
		margin-inline-end: 4px;
	}
}

// Move scrollbar to the left
.sidebarRegionScroller__23e6b {
	direction: rtl;
}

.standardSidebarView__23e6b {
	background-color: var(--color-button-face);
	inset: var(--border-size);
	padding: var(--dialog-spacing);

	.platform-win & {
		inset-block-start: var(--windows-titlebar-offset);
	}

	// TODO: move somewhere else
	.header_aa8da2,
	.separator_aa8da2 {
		display: none;
	}
}

.tools__23e6b {
	inset-block-start: calc(
		var(--c2) + var(--border-size) + 2px + var(--window-gap)
	);
	inset-inline-end: calc(var(--c2) + var(--border-size) + 2px * 2);
	position: fixed;

	.closeButton_c2b141 {
		@include controls.button;
		@include window.titlebar-button;
		@include window.titlebar-button-close;

		border: none;
		flex: unset;
		width: unset;

		& > svg {
			display: none;
		}
	}

	.keybind_c2b141 {
		display: none;
	}
}
