@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

$-groupbox-header-sel: ":is(h1, h2, h3, h4, h5, h6):first-child";

// old fieldset?
.container__5a838 {
	&[data-disabled="true"] {
		opacity: 1;
	}

	&[data-layout="horizontal"] {
		gap: var(--label-spacing);

		display: flex;
		flex-direction: row-reverse;
		justify-content: start;

		.labelContainer__5a838 {
			gap: var(--text-spacing);
			margin: 0;
		}
	}

	// Restrict to settings, looks weird everywhere else
	.contentColumn__23e6b &[data-layout="vertical"] {
		@include controls.groupbox;

		.label__5a838 {
			@include utils.legend-as-div;

			margin: 0;
		}
	}

	.control__5a838 {
		flex-shrink: 0;
	}

	.description__5a838 {
		margin: 0;
	}
}

.contentColumn__23e6b {
	min-width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;

	& > [data-text-variant]:first-child,
	& > div > div > .sectionTitle__7bffb:first-child,
	& > div > :is(.sectionTitle__7bffb, h2):first-child {
		background: #f09;
	}

	// TODO(rewrite): lol lmao
	/*
	:has(> #{$-groupbox-header-sel}):not(.sectionTitle__7bffb) {
		@include controls.groupbox;

		#{$-groupbox-header-sel} {
			@include utils.text-reset;
			@include utils.legend-as-div;

			opacity: 1;

			* {
				margin: 0;
			}
		}
	}
		*/
}

.contentRegionScroller__23e6b {
	margin: 0;
}

.divider__44f7f {
	display: none;
}

.fieldset__7fb92 {
	@include controls.groupbox;

	.description__7fb92 {
		margin: 0;
	}

	.legend__7fb92 {
		@include utils.legend-as-div;
	}

	.stack_dbd263 {
		gap: var(--text-spacing);
	}
}

// Make it a normal dialog
.layers__960e4 > .layer__960e4 {
	opacity: 1;

	&[aria-hidden="false"]:not(:only-child) {
		--windows-titlebar-offset: 22px;
		--dialog-size: 90%;
		--c: calc(100% - var(--dialog-size));
		--c2: calc(var(--c) + var(--border-size));

		@include window.container($child: true);

		opacity: 1;
		transform: unset;

		inset: var(--c);
		z-index: 999;

		&::before {
			content: "";

			box-sizing: border-box;

			@include window.titlebar($focused-sel: "&");
		}

		[role="tablist"][aria-orientation="vertical"]::before {
			content: attr(aria-label);

			position: fixed;
			left: calc(var(--c2) + 3px + var(--window-spacing) + 2px);
			top: calc(var(--c2) + 3px + 3px);

			color: var(--color-active-caption-text);
			font-weight: bold;
		}
	}
}

.sidebar__23e6b {
	padding: 0;
}

.standardSidebarView__23e6b {
	background-color: var(--color-button-face);
	padding: var(--dialog-spacing);

	inset: var(--border-size);

	.platform-win & {
		top: var(--windows-titlebar-offset);
	}

	// TODO: move somewhere else
	.header_aa8da2,
	.separator_aa8da2 {
		display: none;
	}
}

.tools__23e6b {
	position: fixed;
	top: calc(var(--c2) + var(--border-size) + 2px + var(--window-gap));
	right: calc(var(--c2) + var(--border-size) + 2px * 2);

	.closeButton_c2b141 {
		@include controls.button;
		@include window.titlebar-button;
		@include utils.titlebar-button-close;

		border: none;

		width: unset;
		flex: unset;

		& > svg {
			display: none;
		}
	}

	.keybind_c2b141 {
		display: none;
	}
}
