@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

$-groupbox-header-sel: ":is(h1, h2, h3, h4, h5, h6):first-child";

// old fieldset?
._5a8382cf5c9d77df-container {
	&[data-disabled="true"] {
		opacity: 1;
	}

	&[data-layout="horizontal"] {
		gap: var(--label-spacing);

		display: flex;
		flex-direction: row-reverse;
		justify-content: start;

		._5a8382cf5c9d77df-labelContainer {
			gap: var(--text-spacing);
			margin: 0;
		}
	}

	&[data-layout="vertical"] {
		._5a8382cf5c9d77df-labelContainer {
			margin-block-end: var(--text-spacing);
		}
	}

	// Restrict to settings, looks weird everywhere else
	._23e6b439306f125a-contentColumn &[data-layout="vertical"] {
		@include controls.groupbox;

		._5a8382cf5c9d77df-label {
			@include utils.legend-as-div;

			margin: 0;
		}
	}

	._5a8382cf5c9d77df-control {
		flex-shrink: 0;
	}

	._5a8382cf5c9d77df-description {
		margin: 0;
	}
}

._23e6b439306f125a-contentColumn {
	min-width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

._23e6b439306f125a-contentRegionScroller {
	margin: 0;
}

._44f7f7e71cbca2e4-divider {
	display: none;
}

._7fb92eabdaf538f9-fieldset {
	@include controls.groupbox;

	._7fb92eabdaf538f9-description {
		margin: 0;
	}

	._7fb92eabdaf538f9-legend {
		@include utils.legend-as-div;
	}

	.dbd2630aec71879b-stack {
		gap: var(--text-spacing);
	}
}

// Make it a normal dialog
._960e4207cea8323e-layers > ._960e4207cea8323e-layer {
	opacity: 1;

	&[aria-hidden="false"]:not(:only-child) {
		--windows-titlebar-offset: 22px;
		--dialog-size: 90%;
		--c: calc(100% - var(--dialog-size));
		--c2: calc(var(--c) + var(--border-size));

		@include window.container($child: true);

		opacity: 1;
		transform: unset;

		inset: var(--c);
		z-index: 999;

		&::before {
			content: "";

			box-sizing: border-box;

			@include window.titlebar($focused-sel: "&");
		}

		[role="tablist"][aria-orientation="vertical"]::before {
			content: attr(aria-label);

			position: fixed;
			left: calc(var(--c2) + 3px + var(--window-spacing) + 2px);
			top: calc(var(--c2) + 3px + 3px);

			color: var(--color-active-caption-text);
			font-weight: bold;
		}
	}
}

._23e6b439306f125a-sidebar {
	padding: 0;
	margin-inline-start: 6px;

	direction: ltr;

	.c7e9071ee8df9113-searchBar {
		margin-inline-end: 4px;
	}
}

// Move scrollbar to the left
._23e6b439306f125a-sidebarRegionScroller {
	direction: rtl;
}

._23e6b439306f125a-standardSidebarView {
	background-color: var(--color-button-face);
	padding: var(--dialog-spacing);

	inset: var(--border-size);

	.platform-win & {
		top: var(--windows-titlebar-offset);
	}

	// TODO: move somewhere else
	.aa8da23faa27393c-header,
	.aa8da23faa27393c-separator {
		display: none;
	}
}

._23e6b439306f125a-tools {
	position: fixed;
	top: calc(var(--c2) + var(--border-size) + 2px + var(--window-gap));
	right: calc(var(--c2) + var(--border-size) + 2px * 2);

	.c2b141c0f80863fb-closeButton {
		@include controls.button;
		@include window.titlebar-button;
		@include window.titlebar-button-close;

		border: none;

		width: unset;
		flex: unset;

		& > svg {
			display: none;
		}
	}

	.c2b141c0f80863fb-keybind {
		display: none;
	}
}
