@use "shared/controls";
@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";

.content_e9e3ed {
	background-color: var(--color-button-face);

	position: unset;

	.contentHeader_e9e3ed {
		@include window.titlebar($focused-sel: "&");

		border: none;

		position: absolute;
		inset: 0;
		inset-block-start: calc(var(--titlebar-height) * -1);

		[data-text-variant] {
			@include window.titlebar-name;

			color: inherit;
		}

		button {
			@include window.titlebar-button;
			@include window.titlebar-button-close;
		}
	}
}

.itemContainer_caf372 {
	background-color: transparent;

	.icon_caf372 {
		display: none;
	}
}

.modal_e44912 {
	--size: calc(100% - var(--custom-viewport-padding) * 2);

	width: var(--size);
	height: var(--size);

	.modalContent_e44912 {
		border: none;
		padding-block-start: var(--titlebar-height);
	}
}

.scroller__6131a {
	@include tabs.content;

	margin: var(--dialog-spacing);
	margin-inline-start: 0;

	height: calc(100% - var(--dialog-spacing) * 2);

	.panel__6131a {
		padding: 0;
		margin: 0;
	}
}

.sidebar__409aa {
	border: none;
	padding: 0;
	margin-inline-end: -1px;

	&::before {
		@include utils.pseudo-separator;

		margin-inline: 4px;
	}

	.fixedContent__409aa {
		padding: 8px;

		order: -1;

		&::after {
			display: none;
		}

		.item_caf372 {
			--tab-button-height: calc(48px + var(--tab-button-spacing) * 2);
			@include controls.tab-button($selected-sel: "&.active_caf372");
		}
	}

	.label__409aa {
		color: inherit;
		font-weight: bold;
		margin-inline-start: 6px;
		margin-block-start: 0;
	}

	.nav__409aa {
		direction: ltr;

		& + div {
			margin-block-start: auto;

			direction: ltr;
		}
	}

	.navScroller__409aa {
		padding: 8px;
		padding-inline-start: 0;
		margin: 0;

		overflow: auto;
		direction: rtl;

		.item_caf372 {
			@include tabs.tab-vertical($selected-sel: "&.active_caf372");
		}
	}

	.section__409aa {
		border: none;
		gap: 0;
	}
}
