@use "shared/controls";
@use "shared/text";
@use "shared++/utils";
@use "steam/shared";

// GAME OVERVIEW START (here in preparation for beta restructure)
// TODO: clearly this needs a better icon
#DragHandle {
	padding: 0;
}

#GameOverview {
	background: none;
	padding: 0;

	// TODO: does this ever need scrolling ?
	overflow: visible;
}

#GameOverviewSection {
	@include controls.groupbox;

	background-color: transparent;
}

#GameOverviewSectionChildren {
	padding: 0;
}

#GameOverviewSectionHeader {
	@include utils.text-reset;
	@include utils.legend-as-div;

	background-color: transparent;

	svg {
		color: inherit;
		margin: 0;
	}
}

#GameOverviewSectionTitle {
	gap: var(--text-spacing);
}

#GuideListItem {
	background-color: transparent;
	color: inherit;
	padding: 0;
	margin-top: var(--text-spacing);
}

#GuideTitle {
	@include utils.text-reset;
	@include text.link;
}

#OverviewTitle {
	@include shared.dialog-title;
}

#Playtime {
	@include utils.text-reset;

	gap: var(--text-spacing);
}
// END

#BackToGame {
	gap: var(--text-spacing);
}

#BackToGameBtn {
	--button-img: icon("clear");
	@include controls.button;
	@include controls.icon-button;

	width: unset;

	svg {
		display: none;
	}
}

#ExitGameBtn {
	text-transform: unset;
	margin-top: var(--text-spacing);
}

#CurrentTime,
#GameName {
	font: var(--text-header);
}

#CurrentDate,
#KBShortcut,
#PlaytimeCurrentSession {
	font: var(--text-ui);
}

#OverlayPopup {
	background: none;
	padding: var(--dialog-spacing);

	height: calc(100% - 19px);

	&.TabbedPopupBrowser {
		--dialog-spacing: 0px;

		gap: var(--window-gap);
	}
}

#TextContainer {
	max-width: unset;
}

#TopSection,
#ToolbarMaxWidthContainer {
	padding: 0;
}

#Toolbar {
	opacity: 1;
}

#ToolbarButton {
	gap: var(--text-spacing);

	height: unset;
	display: flex;
	align-items: center;

	svg {
		margin: 0;

		width: var(--icon-size);
		height: var(--icon-size);
	}
}

#ToolbarContainer {
	transform: none;

	left: 0;

	&#LocationBottom {
		.DialogButton {
			width: calc(16px + var(--button-spacing) * 2);
			min-width: var(--icon-size);
		}
	}
}

#WindowControls {
	margin: calc(var(--dialog-spacing) * -1);
	margin-bottom: var(--dialog-spacing);

	height: unset;
}

#Wrapper {
	gap: 16px;
	padding: 32px;

	body:has(> [id="popup_target"] > :where(&, .OverlayTimeline)) {
		background-color: transparent;
		box-shadow: none;
		padding: 0;
	}
}
