@use "shared/controls";
@use "shared/text";
@use "shared/window";
@use "shared++/utils";
@use "steam/shared";

#BackToGame {
	gap: var(--text-spacing);
}

#BackToGameBtn {
	--button-img: icon("clear");
	@include controls.button;
	@include controls.icon-button;

	width: unset;

	svg {
		display: none;
	}
}

#ExitGameBtn {
	text-transform: unset;
	margin-top: var(--text-spacing);
}

#CurrentTime,
#GameName {
	font: var(--text-header);
}

#CurrentDate,
#KBShortcut,
#PlaytimeCurrentSession {
	font: var(--text-ui);
}

#OverlayPopup {
	background: none;
	padding: var(--dialog-spacing);

	height: calc(100% - var(--titlebar-height));

	&#FitToContent {
		width: fit-content;
		height: fit-content;

		#WindowControls {
			width: calc(100% + var(--dialog-spacing));
		}
	}

	&.Settings {
		.ModalPosition_Content > div {
			margin-left: 0;
			margin-top: 0;
		}
	}

	&.TabbedPopupBrowser {
		--dialog-spacing: 0px;

		gap: var(--window-gap);
	}
}

#TextContainer {
	max-width: unset;
}

#TopSection,
#ToolbarMaxWidthContainer {
	padding: 0;
}

#Toolbar {
	opacity: 1;
}

#ToolbarButton {
	gap: var(--text-spacing);

	height: unset;
	display: flex;
	align-items: center;

	svg {
		margin: 0;

		width: var(--icon-size);
		height: var(--icon-size);
	}
}

#ToolbarContainer {
	transform: none;

	left: 0;

	&#LocationBottom {
		.DialogButton {
			width: calc(16px + var(--button-spacing) * 2);
			min-width: var(--icon-size);
		}
	}
}

#WindowControls {
	margin: calc(var(--dialog-spacing) * -1);
	margin-bottom: var(--dialog-spacing);

	height: unset;
}

#Wrapper {
	gap: 16px;
	padding: 32px;

	body:has(> [id="popup_target"] > :where(&, .OverlayTimeline)) {
		background-color: transparent;
		box-shadow: none;
		padding: 0;
	}
}

// #region Game Overview
#GameOverview {
	--dialog-offset: calc(
		var(--main-window-border-spacing) + var(--dialog-spacing)
	);
	--inset-inline: var(--dialog-offset);
	--inset-block-start: calc(
		var(--dialog-offset) + var(--main-window-titlebar-height)
	);
	--inset-block-end: calc(var(--dialog-offset) + var(--statusbar-height));
	--inset: var(--inset-block-start) var(--inset-inline) var(--inset-block-end)
		var(--inset-inline);

	@include utils.content-container-alt;

	background-image: none;
	padding: 0;

	#GuideListItem {
		background-color: transparent;
		color: inherit;
		padding: 0;
		margin-block-start: var(--text-spacing);
	}

	#GuideTitle {
		@include utils.text-reset;
		@include text.link;
	}

	#Playtime {
		@include utils.text-reset;

		gap: var(--text-spacing);
		padding: 0;
		margin: 0;
	}

	#RecentNewsItem {
		background: none;
		color: var(--color-window-text);
		font: var(--text-ui);
		padding: 0;
		margin-block-start: var(--text-spacing);

		#EventDetailTitle {
			@include text.link;
		}
	}

	#Screenshot {
		margin: 0;
	}
}

#GameOverviewSection {
	@include shared.library_section;

	background: none;
	margin: 0;

	position: relative;
}

#GameOverviewSectionChildren {
	@include shared.library_section-content;
}

#GameOverviewSectionHeader {
	@include shared.library_section-header;
	@include utils.text-reset;

	#DragHandle {
		@include shared.library_drag-handle;

		padding: 0;
		margin: 0;
	}

	& > svg {
		display: none;
	}
}

#OverviewTitle {
	@include shared.dialog-title;

	margin: 0;

	z-index: 2;
}
// #endregion
