$small-button {
	@extend button;

	min-width: 16px;
	height: 14px;

	&::before,
	&::after {
		content: '';

		-webkit-mask: var(--button-img, none) no-repeat;
		-webkit-mask-size: var(--button-img-size, auto auto);
		-webkit-mask-position: var(--button-img-pos, center);

		position: absolute;
		inset: 0;
		height: 100%;
		display: block;
	}

	&::before {
		background-color: var(--color-button-text);

		z-index: 1;
	}
}

$small-button-disabled {
	@extend button:disabled;

	&::after {
		background-color: var(--color-button-highlight);

		left: 1px;
		top: 1px;
	}
}

$text-reset {
	color: inherit;
	font: var(--text-ui);
	letter-spacing: 0;
	text-shadow: none;
	text-transform: unset;
}

$link {
	color: var(--color-link);
	text-decoration: underline;
}

$legend-as-div {
	@extend legend;

	padding: 0 2px;
	margin: 0;

	position: absolute;
	top: -8px;
}
