$text-reset {
	color: inherit;
	font: var(--text-ui);
	letter-spacing: 0;
	text-shadow: none;
	text-transform: unset;
}

$link {
	color: var(--color-link);
	text-decoration: underline;
}

$legend-as-div {
	@extend legend;

	padding: 0 2px;
	margin: 0;

	position: absolute;
	top: -5px;
}
