@use "shared/generatedassets";
@use "shared/generatedicons";
@use "shared/scrollbar";
@use "shared/variables";

* {
	outline: none;
	border-radius: 0;

	box-sizing: border-box;

	transition: none;
}

:root {
	--tree-item-spacing-x: 4px;
	--text-full: calc(var(--text-ui-size) * var(--text-line));
	--tabs-height: 20px;
}

body {
	font: var(--text-ui);
	image-rendering: pixelated;
	margin: 0;

	box-sizing: border-box;
}

::placeholder {
	color: var(--color-gray-text);
	font: var(--text-ui);
}

::selection {
	background-color: var(--color-highlight);
	color: var(--color-highlight-text);
}
