// Note: don't put arrows from win95-shared here, use them as is

@mixin icon-big-arrow-top {
	--button-img: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%205%22%3E%3Cstyle%3Erect%7Bheight%3A1px%7D%3C%2Fstyle%3E%3Crect%20width%3D%229%22%20y%3D%224%22%2F%3E%3Crect%20width%3D%227%22%20y%3D%223%22%20x%3D%221%22%2F%3E%3Crect%20width%3D%225%22%20y%3D%222%22%20x%3D%222%22%2F%3E%3Crect%20width%3D%223%22%20y%3D%221%22%20x%3D%223%22%2F%3E%3Crect%20width%3D%221%22%20x%3D%224%22%2F%3E%3C%2Fsvg%3E");
	--button-img-size: 9px 5px;
	--button-img-pos: center;
}

@mixin icon-big-arrow-right {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1IDkiPjxzdHlsZT5yZWN0e3dpZHRoOjFweH08L3N0eWxlPjxyZWN0IGhlaWdodD0iOSIvPjxyZWN0IGhlaWdodD0iNyIgeD0iMSIgeT0iMSIvPjxyZWN0IGhlaWdodD0iNSIgeD0iMiIgeT0iMiIvPjxyZWN0IGhlaWdodD0iMyIgeD0iMyIgeT0iMyIvPjxyZWN0IGhlaWdodD0iMSIgeD0iNCIgeT0iNCIvPjwvc3ZnPgo=");
	--button-img-size: 5px 9px;
	--button-img-pos: 7px 6px;
}

@mixin icon-big-arrow-bottom {
	--button-img: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%205%22%3E%3Cstyle%3Erect%7Bheight%3A1px%7D%3C%2Fstyle%3E%3Crect%20width%3D%229%22%2F%3E%3Crect%20width%3D%227%22%20x%3D%221%22%20y%3D%221%22%2F%3E%3Crect%20width%3D%225%22%20x%3D%222%22%20y%3D%222%22%2F%3E%3Crect%20width%3D%223%22%20y%3D%223%22%20x%3D%223%22%2F%3E%3Crect%20width%3D%221%22%20y%3D%224%22%20x%3D%224%22%2F%3E%3C%2Fsvg%3E");
	--button-img-size: 9px 5px;
	--button-img-pos: center;
}

@mixin icon-big-arrow-left {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1IDkiPjxzdHlsZT5yZWN0e3dpZHRoOjFweH08L3N0eWxlPjxyZWN0IGhlaWdodD0iOSIgeD0iNCIvPjxyZWN0IGhlaWdodD0iNyIgeD0iMyIgeT0iMSIvPjxyZWN0IGhlaWdodD0iNSIgeD0iMiIgeT0iMiIvPjxyZWN0IGhlaWdodD0iMyIgeD0iMSIgeT0iMyIvPjxyZWN0IGhlaWdodD0iMSIgeT0iNCIvPjwvc3ZnPgo=");
	--button-img-size: 5px 9px;
	--button-img-pos: 7px 6px;
}

@mixin icon-lock {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI5IiBoZWlnaHQ9IjEiIHk9IjQiLz48cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSIxIiB5PSI4Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeT0iNSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHg9IjgiIHk9IjUiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIzIiB4PSIyIiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeD0iNiIgeT0iMSIvPjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjEiIHg9IjMiLz48L3N2Zz4=");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin icon-more {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDIiPjxzdHlsZT5yZWN0e3dpZHRoOjJweDtoZWlnaHQ6MnB4fTwvc3R5bGU+PHJlY3QgeD0iMCIvPjxyZWN0IHg9IjMiLz48cmVjdCB4PSI2Ii8+PC9zdmc+Cg==");
	--button-img-size: 8px auto;
}
