// Note: don't put arrows from win95-shared here, use them as is

@mixin icon-big-arrow-top {
	--button-img: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%205%22%3E%3Cstyle%3Erect%7Bheight%3A1px%7D%3C%2Fstyle%3E%3Crect%20width%3D%229%22%20y%3D%224%22%2F%3E%3Crect%20width%3D%227%22%20y%3D%223%22%20x%3D%221%22%2F%3E%3Crect%20width%3D%225%22%20y%3D%222%22%20x%3D%222%22%2F%3E%3Crect%20width%3D%223%22%20y%3D%221%22%20x%3D%223%22%2F%3E%3Crect%20width%3D%221%22%20x%3D%224%22%2F%3E%3C%2Fsvg%3E");
	--button-img-size: 9px 5px;
	--button-img-pos: center;
}

@mixin icon-big-arrow-right {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1IDkiPjxzdHlsZT5yZWN0e3dpZHRoOjFweH08L3N0eWxlPjxyZWN0IGhlaWdodD0iOSIvPjxyZWN0IGhlaWdodD0iNyIgeD0iMSIgeT0iMSIvPjxyZWN0IGhlaWdodD0iNSIgeD0iMiIgeT0iMiIvPjxyZWN0IGhlaWdodD0iMyIgeD0iMyIgeT0iMyIvPjxyZWN0IGhlaWdodD0iMSIgeD0iNCIgeT0iNCIvPjwvc3ZnPgo=");
	--button-img-size: 5px 9px;
	--button-img-pos: 7px 6px;
}

@mixin icon-big-arrow-bottom {
	--button-img: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%205%22%3E%3Cstyle%3Erect%7Bheight%3A1px%7D%3C%2Fstyle%3E%3Crect%20width%3D%229%22%2F%3E%3Crect%20width%3D%227%22%20x%3D%221%22%20y%3D%221%22%2F%3E%3Crect%20width%3D%225%22%20x%3D%222%22%20y%3D%222%22%2F%3E%3Crect%20width%3D%223%22%20y%3D%223%22%20x%3D%223%22%2F%3E%3Crect%20width%3D%221%22%20y%3D%224%22%20x%3D%224%22%2F%3E%3C%2Fsvg%3E");
	--button-img-size: 9px 5px;
	--button-img-pos: center;
}

@mixin icon-big-arrow-left {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1IDkiPjxzdHlsZT5yZWN0e3dpZHRoOjFweH08L3N0eWxlPjxyZWN0IGhlaWdodD0iOSIgeD0iNCIvPjxyZWN0IGhlaWdodD0iNyIgeD0iMyIgeT0iMSIvPjxyZWN0IGhlaWdodD0iNSIgeD0iMiIgeT0iMiIvPjxyZWN0IGhlaWdodD0iMyIgeD0iMSIgeT0iMyIvPjxyZWN0IGhlaWdodD0iMSIgeT0iNCIvPjwvc3ZnPgo=");
	--button-img-size: 5px 9px;
	--button-img-pos: 7px 6px;
}

@mixin icon-bell {
	--button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAwSURBVChTY0AD/6EYDhihNAigSAABWI4JzMQDKFcAcwO6/TDACFKASxIrQPMmAwMAgi8HBW4J8QQAAAAASUVORK5CYII=");
	--button-img-size: 9px;
}

@mixin icon-book {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMSAxMCI+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iOSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjkiIHg9IjUiIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI5IiB4PSIxMCIvPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHg9IjEiLz48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSIxIiB4PSI2Ii8+PHJlY3Qgd2lkdGg9IjQiIGhlaWdodD0iMSIgeD0iMSIgeT0iOCIvPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHg9IjYiIHk9IjgiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB4PSIyIiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMSIgeD0iNyIgeT0iMyIvPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjEiIHg9IjIiIHk9IjYiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIyIiB5PSI1Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iOCIgeT0iNSIvPjwvc3ZnPg==");
	--button-img-size: 11px 10px;
	--button-img-pos: 2px;
}

@mixin icon-case-sensitive {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMSA3Ij48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB5PSI1Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMiIgeD0iMSIgeT0iMiIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHg9IjQiIHk9IjIiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB4PSI1IiB5PSI1Ii8+PHJlY3Qgd2lkdGg9IjQiIGhlaWdodD0iMSIgeD0iMSIgeT0iNCIvPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjIiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB4PSI4IiB5PSIyIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iNCIgeD0iMTAiIHk9IjMiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB4PSI4IiB5PSI0Ii8+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMSIgeD0iOCIgeT0iNiIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjciIHk9IjUiLz48L3N2Zz4=");
	--button-img-size: 11px 7px;
	--button-img-pos: 2px 3px;
}

@mixin icon-collapse {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjYiIHk9IjMiLz48cmVjdCB3aWR0aD0iNiIgaGVpZ2h0PSIxIiB5PSIyIi8+PHJlY3Qgd2lkdGg9IjUiIGhlaWdodD0iMSIgeT0iNSIvPjxyZWN0IHdpZHRoPSI1IiBoZWlnaHQ9IjEiIHk9IjgiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI2IiB4PSI1IiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMiIgeD0iMiIvPjxyZWN0IHdpZHRoPSI1IiBoZWlnaHQ9IjEiIHg9IjMiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI3IiB4PSI4Ii8+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMSIgeD0iNiIgeT0iNiIvPjwvc3ZnPg==");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin icon-error {
	--icon-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PHJlY3Qgd2lkdGg9IjQiIGhlaWdodD0iMSIgeD0iMyIvPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHg9IjMiIHk9IjkiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI0IiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iNCIgeD0iOSIgeT0iMyIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjIiIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIxIiB5PSIyIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iNyIgeT0iMSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjgiIHk9IjIiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIxIiB5PSI3Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMiIgeT0iOCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjgiIHk9IjciLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSI3IiB5PSI4Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMyIgeT0iMyIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjYiIHk9IjMiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIzIiB5PSI2Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iNiIgeT0iNiIvPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjQiIHk9IjQiLz48L3N2Zz4=");
	--icon-img-pos: 0 0;
}

@mixin icon-filter {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI5IiBoZWlnaHQ9IjEiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMSIgeD0iNyIgeT0iMSIvPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjEiIHg9IjEiIHk9IjIiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB4PSI2IiB5PSIyIi8+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMSIgeD0iMiIgeT0iMyIvPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjEiIHg9IjUiIHk9IjMiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI0IiB4PSIzIiB5PSI0Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iNCIgeD0iNSIgeT0iNCIvPjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjEiIHg9IjMiIHk9IjgiLz48L3N2Zz4=");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin icon-layout {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjEiLz48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSIxIiB5PSI4Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iOCIgeT0iMSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjgiIHg9IjMiIHk9IjEiLz48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSIxIiB4PSI1Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMiIgeD0iNSIgeT0iMSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHg9IjgiIHk9IjEiLz48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSIxIiB4PSI1IiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjQiIGhlaWdodD0iMSIgeD0iNSIgeT0iOCIvPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHg9IjUiIHk9IjUiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB4PSI1IiB5PSI2Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMiIgeD0iOCIgeT0iNiIvPjwvc3ZnPg==");
	--button-img-size: 9px;
}

@mixin icon-go-to-file {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDEwIj48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxMCIvPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHg9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB4PSI0IiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iNSIgeT0iMSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjYiIHk9IjIiLz48cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSIxIiB4PSI0IiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iMSIgeD0iMSIgeT0iOSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjUiIHg9IjUiIHk9IjUiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIzIiB4PSI2IiB5PSI2Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iNyIgeT0iNyIvPjwvc3ZnPg==");
	--button-img-size: 8px 10px;
	--button-img-pos: 4px 1px;
}

@mixin icon-lock {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI5IiBoZWlnaHQ9IjEiIHk9IjQiLz48cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSIxIiB5PSI4Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeT0iNSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHg9IjgiIHk9IjUiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIzIiB4PSIyIiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMyIgeD0iNiIgeT0iMSIvPjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjEiIHg9IjMiLz48L3N2Zz4=");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin icon-match-case {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMSA3Ij48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB5PSI1Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMiIgeD0iMSIgeT0iMiIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHg9IjQiIHk9IjIiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB4PSI1IiB5PSI1Ii8+PHJlY3Qgd2lkdGg9IjQiIGhlaWdodD0iMSIgeD0iMSIgeT0iNCIvPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjIiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI3IiB4PSI3Ii8+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMSIgeD0iOCIvPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjEiIHg9IjgiIHk9IjMiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB4PSI4IiB5PSI2Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMiIgeD0iMTAiIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB4PSIxMCIgeT0iNCIvPjwvc3ZnPg==");
	--button-img-size: 11px 7px;
	--button-img-pos: 2px 3px;
}

@mixin icon-more {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDIiPjxzdHlsZT5yZWN0e3dpZHRoOjJweDtoZWlnaHQ6MnB4fTwvc3R5bGU+PHJlY3QgeD0iMCIvPjxyZWN0IHg9IjMiLz48cmVjdCB4PSI2Ii8+PC9zdmc+Cg==");
	--button-img-size: 8px auto;
}

@mixin icon-new-file {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDEwIj48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxMCIvPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHg9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB4PSI0IiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iNSIgeT0iMSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjYiIHk9IjIiLz48cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSIxIiB4PSI0IiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iMSIgeD0iMSIgeT0iOSIvPjxyZWN0IHdpZHRoPSI1IiBoZWlnaHQ9IjEiIHg9IjMiIHk9IjciLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI1IiB4PSI1IiB5PSI1Ii8+PC9zdmc+");
	--button-img-size: 8px 10px;
	--button-img-pos: 4px 2px;
}

@mixin icon-new-folder {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMSAxMCI+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iNyIgeT0iMSIvPjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjEiIHg9IjEiLz48cmVjdCB3aWR0aD0iNiIgaGVpZ2h0PSIxIiB4PSI0IiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iNCIgeD0iMTAiIHk9IjIiLz48cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSIxIiB4PSIxIiB5PSI0Ii8+PHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iMSIgeD0iNCIgeT0iMyIvPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHk9IjgiLz48cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSIxIiB4PSI1IiB5PSI3Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iNSIgeD0iNyIgeT0iNSIvPjwvc3ZnPg==");
	--button-img-size: 11px 10px;
	--button-img-pos: 2px 2px;
}

@mixin icon-panel-on {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjEiIHg9IjEiIHk9IjUiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyIiB4PSIxIiB5PSI2Ii8+PHJlY3Qgd2lkdGg9IjkiIGhlaWdodD0iMSIvPjxyZWN0IHdpZHRoPSI5IiBoZWlnaHQ9IjEiIHk9IjgiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI3IiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iNyIgeD0iOCIgeT0iMSIvPjwvc3ZnPg==");
	--button-img-size: 9px;
}

@mixin icon-panel-off {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjEiIHg9IjEiIHk9IjUiLz48cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSIxIi8+PHJlY3Qgd2lkdGg9IjkiIGhlaWdodD0iMSIgeT0iOCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjciIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI3IiB4PSI4IiB5PSIxIi8+PC9zdmc+");
	--button-img-size: 9px;
}

@mixin icon-panel-left-on {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjkiLz48cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSIxIiB4PSI0Ii8+PHJlY3Qgd2lkdGg9IjUiIGhlaWdodD0iMSIgeD0iNCIgeT0iOCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjciIHg9IjgiIHk9IjEiLz48L3N2Zz4=");
	--button-img-size: 9px;
}

@mixin icon-panel-left-off {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjciIHg9IjMiIHk9IjEiLz48cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSIxIi8+PHJlY3Qgd2lkdGg9IjkiIGhlaWdodD0iMSIgeT0iOCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjciIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI3IiB4PSI4IiB5PSIxIi8+PC9zdmc+");
	--button-img-size: 9px;
}

@mixin icon-plus {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI5IiBoZWlnaHQ9IjEiIHk9IjQiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI5IiB4PSI0Ii8+PC9zdmc+");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin icon-regex {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3IDgiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHk9IjYiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIyIiB5PSIxIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMiIgeT0iMyIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjYiIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSI2IiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMyIgeT0iMiIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjUiIHk9IjIiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI1IiB4PSI0Ii8+PC9zdmc+");
	--button-img-size: 7px 8px;
	--button-img-pos: 4px 3px;
}

@mixin icon-sidebar-right-on {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjciIHg9IjUiIHk9IjEiLz48cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSIxIi8+PHJlY3Qgd2lkdGg9IjkiIGhlaWdodD0iMSIgeT0iOCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjciIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI3IiB4PSI4IiB5PSIxIi8+PC9zdmc+");
	--button-img-size: 9px;
}

@mixin icon-sidebar-right-off {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjciIHg9IjUiIHk9IjEiLz48cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSIxIi8+PHJlY3Qgd2lkdGg9IjkiIGhlaWdodD0iMSIgeT0iOCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjciIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSI3IiB4PSI4IiB5PSIxIi8+PC9zdmc+");
	--button-img-size: 9px;
}

@mixin icon-split-horizontal {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHk9IjgiIHdpZHRoPSI5IiBoZWlnaHQ9IjEiLz48cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iOCIgeT0iMSIgd2lkdGg9IjEiIGhlaWdodD0iNyIvPjxyZWN0IHk9IjEiIHdpZHRoPSIxIiBoZWlnaHQ9IjciLz48cmVjdCB4PSI0IiB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSI3Ii8+PC9zdmc+");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin icon-tree {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSI4IiBoZWlnaHQ9IjEiLz48cmVjdCBoZWlnaHQ9IjEiIHk9IjIiIHg9IjMiIHdpZHRoPSI4Ii8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMSIgeT0iNCIgeD0iMyIvPjxyZWN0IHdpZHRoPSI2IiBoZWlnaHQ9IjEiIHk9IjYiIHg9IjMiLz48cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSIxIiB5PSI4IiB4PSIzIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iOCIgeD0iMiIgeT0iMSIvPjwvc3ZnPg==");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin icon-warning {
	--icon-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIHg9IjQiIHk9IjMiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSI0IiB5PSI3Ii8+PHJlY3Qgd2lkdGg9IjkiIGhlaWdodD0iMSIgeT0iOCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHk9IjciLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB4PSIxIiB5PSI1Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMiIgeD0iMiIgeT0iMyIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHg9IjMiIHk9IjEiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSI0Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMiIgeD0iNSIgeT0iMSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHg9IjYiIHk9IjMiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIyIiB4PSI3IiB5PSI1Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iOCIgeT0iNyIvPjwvc3ZnPg==");
	--icon-img-pos: 0 0;
}

@mixin icon-whole-word {
	--button-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMSA5Ij48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB4PSIyIiB5PSIyIi8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iNCIgeD0iNCIgeT0iMyIvPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjEiIHg9IjIiIHk9IjQiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB4PSIyIiB5PSI2Ii8+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMSIgeT0iNSIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjciIHg9IjYiLz48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxIiB4PSI3IiB5PSIzIi8+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMSIgeD0iNyIgeT0iNiIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHg9IjkiIHk9IjQiLz48cmVjdCB3aWR0aD0iMTEiIGhlaWdodD0iMSIgeT0iOCIvPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHk9IjciLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIxMCIgeT0iNyIvPjwvc3ZnPg==");
	--button-img-size: 11px;
	--button-img-pos: 2px 2px;
}
