@use "shared/controls";
@use "shared/text";

/// @param {"top" | "right" | "bottom" | "left"} $direction
@mixin arrow($direction) {
	$cond: $direction == "top" or $direction == "bottom";
	$w: $cond and 7px or 4px;
	$h: $cond and 4px or 7px;

	background-color: currentColor;
	height: $h;
	mask: icon(arrow-#{$direction}, "mono");
	width: $w;
}

/// An alternative to `@include window.content-container` as a pseudo element
/// for special elements.
@mixin content-container-alt {
	background-color: var(--color-window);
	color: var(--color-window-text);
	margin: var(--border-size);

	&::before {
		box-shadow: var(--border-field);
		content: "";
		inset: var(--inset);
		pointer-events: none;
		position: fixed;
	}
}

@mixin text-reset {
	color: inherit;
	font: var(--text-ui);
	letter-spacing: 0;
	text-shadow: none;
	text-transform: unset;
}

@mixin legend-as-div {
	@include text.groupbox-header;

	inset-block-start: calc(-0.5rlh + 1px);
	margin: 0;
	padding: 0 0.2rem;
	position: absolute;
}

@mixin move-scrollbar {
	overflow: hidden;

	& > div {
		height: 100%;
		overflow: auto;
	}
}

@mixin parentheses {
	&::before {
		content: "(";
	}

	&::after {
		content: ")";
	}
}

@mixin pseudo-icon {
	content: "";
	inset: 0;
	mask: var(--button-img, none) no-repeat;
	mask-position: var(--button-img-pos, center);
	mask-size: var(--button-img-size, auto auto);
	position: absolute;
}

@mixin pseudo-separator {
	@include controls.separator;

	content: "";
	display: block;
}

/// Removes content from an element and uses and HTML attribute for its text.
/// @param {String} $name - HTML attribute of whose value to use as text.
@mixin use-attr-text($name) {
	&::before {
		content: attr(#{$name});
	}

	& > * {
		display: none;
	}
}
