@use "shared/controls";
@use "shared/text";

/// @param {"top" | "right" | "bottom" | "left"} $direction
@mixin arrow($direction) {
	$cond: $direction == "top" or $direction == "bottom";
	$w: $cond and 7px or 4px;
	$h: $cond and 4px or 7px;

	background-color: currentColor;
	mask: icon(arrow-#{$direction}, "mono");

	width: $w;
	height: $h;
}

@mixin text-reset {
	color: inherit;
	font: var(--text-ui);
	letter-spacing: 0;
	text-shadow: none;
	text-transform: unset;
}

@mixin link {
	color: var(--color-link);
	text-decoration: underline;
}

@mixin legend-as-div {
	@include text.groupbox-header;

	padding: 0 2px;
	margin: 0;

	position: absolute;
	top: -5px;
}

@mixin move-scrollbar {
	overflow: hidden;

	& > div {
		overflow: auto;
		height: 100%;
	}
}

@mixin parentheses {
	&::before {
		content: "(";
	}

	&::after {
		content: ")";
	}
}

@mixin pseudo-icon {
	content: "";

	position: absolute;
	inset: 0;

	mask: var(--button-img, none) no-repeat;
	mask-size: var(--button-img-size, auto auto);
	mask-position: var(--button-img-pos, center);
}

@mixin pseudo-separator {
	content: "";

	@include controls.separator;

	display: block;
}

// buttons
@mixin titlebar-button-minimize {
	--button-img: icon("minimize", "mono");
	--button-img-size: 6px 2px;
	--button-img-pos: 4px 9px;
}

@mixin titlebar-button-maximize {
	--button-img: icon("maximize", "mono");
	--button-img-size: 9px;
	--button-img-pos: 3px 2px;
}

@mixin titlebar-button-restore {
	--button-img: icon("restore", "mono");
	--button-img-size: 10px 9px;
	--button-img-pos: 2px 2px;
}

@mixin titlebar-button-close {
	--button-img: icon("close", "mono");
	--button-img-size: 8px 7px;
	--button-img-pos: 4px 3px;

	margin-left: 2px;
}
