:root {
	--spacing-label: 6px;
	--spacing-toolbar: 8px;
	--spacing-tree: 6px;

	--dialog-spacing: 7px;
	--text-spacing: 4px;

	--tree-item-spacing-x: 4px;

	--text-full: calc(var(--text-ui-size) * var(--text-line));

	--tabs-height: 20px;
}

