@use "shared/window";

.activitybar {
	@include window.content-container;

	margin-top: 3px;

	width: 46px;
	height: calc(100% - 12px);

	&.right {
		width: 40px;
	}

	// border on default position
	&::before {
		display: none;
	}

	& > .content {
		font: var(--text-ui);

		width: 42px;
		height: 100%;
	}

	.actions-container {
		margin: 0;

		display: inline-block;
	}

	.action-item {
		background-color: transparent;
		border: none;
		box-shadow: none;
		padding: 0;
		margin: 0;

		min-width: unset;
		height: unset;

		&.checked {
			padding: 0;
			margin: 0;

			.action-label {
				background-color: var(--color-highlight);
				color: var(--color-highlight-text);
			}

			.badge-content {
				color: var(--color-highlight-text);
			}
		}

		.badge-content {
			position: absolute;
			top: 0;
			right: 4px;
			z-index: 1;
		}
	}

	.action-label {
		background-repeat: no-repeat;
		background-position: center;
		color: var(--color-window-text);

		width: 100%;

		&::before {
			display: none;
		}
	}

	.active-item-indicator {
		display: none;
	}
}
