@use "shared/window";

.activitybar {
	@include window.content-container;

	margin-top: 3px;

	width: 46px;
	height: calc(100% - 12px);

	&.right {
		width: 40px;
	}

	// border on default position
	&::before {
		display: none;
	}

	& > .content {
		font: var(--text-ui);

		width: 42px;
		height: 100%;
	}

	[role="tablist"],
	[role="tab"][aria-selected="true"] {
		padding: 0;
		margin: 0;
	}

	[role="tablist"] {
		display: inline-block;
	}

	// TODO(port-fix): !important for role tab aria selected, just go with :where()
	.action-item[role="tab"][aria-selected] {
		background-color: transparent;
		border: none;
		box-shadow: none;
		padding: 0;
		margin: 0;

		min-width: unset;
		height: unset;

		cursor: pointer;

		&.checked .action-label {
			background-color: var(--color-highlight);
			color: var(--color-highlight-text);
		}

		.badge-content {
			position: absolute;
			top: 0;
			right: 4px;
			z-index: 1;
		}

		&.checked .badge-content {
			color: var(--color-highlight-text);
		}
	}

	.action-label {
		background-repeat: no-repeat;
		background-position: center;
		color: var(--color-window-text);

		width: 100%;

		&::before {
			display: none;
		}
	}

	.active-item-indicator {
		display: none;
	}
}
