@use "shared/tabs";
@use "shared/window";
@use "vscode/shared";

.editor-container {
	height: calc(100% - var(--editor-container-offset));

	& > .editor-instance {
		@include tabs.content($compact: true);
	}
}

.editor-group-container {
	background-color: var(--color-button-face);
	padding: 9px 5px 5px 7px;

	// In split view scrollbars appear above other editors. Anything above 0
	// will make it paint above all the surrounding panels due to the background
	position: relative;
	z-index: 0;
}

.editor-group-watermark {
	.shortcuts {
		dl,
		dt {
			opacity: 1;
			color: inherit;
		}

		dt {
			font: var(--text-ui);
			letter-spacing: 0;
		}
	}
}

.editor-actions {
	@include shared.title-toolbar;
}

.editor-scrollable {
	width: calc(100% - 59px);
	height: 100%;

	.search-results {
		width: calc(100% - 38px);
	}
}

.editorPlaceholder {
	font: var(--text-ui);

	top: 0;
	left: 0;
}

.split-view-view {
	&:has(> .editor-group-container) {
		height: 100%;
	}

	&:not(:only-child) {
		--editor-container-offset: 34px;

		// Split up/down
		&[style^="top:"][style*="height:"] {
			& > .editor-group-container > .editor-container {
				height: calc(50% - var(--editor-container-offset));
			}
		}
	}
}

.monaco-split-view2.vertical.separator-border
	> .monaco-scrollable-element
	> .split-view-container
	> .split-view-view {
	&:nth-child(2):has(> .editor-group-container) {
		margin-top: -7px;
	}
}

.monaco-editor {
	.editor & {
		.current-line {
			border: 1px solid var(--color-highlight);

			width: 100%;
		}

		.current-line-margin-both {
			border-right: none;
		}

		.current-line-both {
			border-left: none;
		}
	}

	// The actual editor, i.e. not widgets
	.editor-instance > & {
		@include window.content-container;

		width: 100%;
		height: 100%;
	}

	& > .overflow-guard {
		width: 100%;
		height: 100%;
	}

	.lines-content,
	.view-lines {
		width: calc(100% - var(--scrollbar-size));
	}

	.view-overlays {
		width: 100%;
	}
}
