@use "shared/controls";
@use "shared/window";

.menubar {
	@include window.menubar;

	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--menubar-height);
	z-index: 2;

	&::after {
		content: "";

		position: absolute;
		top: calc(var(--menubar-height) - 1px);
		width: 100%;

		@include controls.separator;
	}
}

.menubar-menu-button {
	&.open {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}

.menubar-menu-title {
	// Move [role="menubar"] to its child element
	// for correct context menu positioning
	@include window.menubar-item($selected-sel: "&.open");

	&.toolbar-toggle-more {
		display: none;
	}
}
