@use "shared/controls";
@use "shared/window";

.menubar {
	@include window.menubar;

	height: var(--menubar-height);
	inset-block-start: 0;
	overflow: visible;
	position: fixed;
	width: 100%;
	z-index: 2;

	&::after {
		@include controls.separator;

		content: "";
		inset-block-start: var(--menubar-height);
		position: absolute;
		width: 100%;
	}
}

.menubar-menu-title {
	@include window.menubar-item($selected-sel: ".menubar-menu-button.open > &");
}
