.menubar {
	overflow: visible;

	position: absolute;
	left: 0;
	top: calc(var(--titlebar-height) + var(--window-gap));
	width: 100%;
	height: var(--menubar-height);
	z-index: 2;

	&::after {
		content: '';

		@extend hr;

		position: absolute;
		top: calc(var(--titlebar-height) - 1px);
		width: 100%;
	}

	&-menu {
		&-button {
			visibility: visible;

			&.open {
				background-color: var(--color-highlight);
				color: var(--color-highlight-text);
			}
		}

		&-title {
			padding: 3px 6px;
			border-radius: 0;

			&.toolbar-toggle-more {
				display: none;
			}
		}
	}
}

// Put folder name into menubar
/*
#workbench\.view\.explorer .sidebar h3.title {
	color: var(--color-gray-text);
	padding: 3px 6px;

	position: fixed;
	top: calc(var(--titlebar-height) + 5px);
	right: 4px;
}
*/