.menubar {
	overflow: visible;
	position: absolute;
	left: 0;
	top: calc(var(--titlebar-height) + var(--window-gap));
	width: 100%;
	height: var(--menubar-height);
	z-index: 2;

	&::after {
		content: '';

		position: absolute;
		top: calc(var(--menubar-height) - 1px);
		width: 100%;

		@extend hr;
	}

	&-menu {
		// !important
		&-button&-button {
			padding: 0;

			&.open {
				@extend [role="menubar"] > [role="menuitem"][aria-selected="true"];
			}
		}

		&-title {
			// Move [role="menubar"] to its child element
			// for correct context menu positioning
			@extend [role="menubar"] > [role="menuitem"];

			&.toolbar-toggle-more {
				display: none;
			}
		}
	}
}

// Put folder name into menubar
/*
#workbench\.view\.explorer .sidebar h3.title {
	color: var(--color-gray-text);
	padding: 3px 6px;

	position: fixed;
	top: calc(var(--titlebar-height) + 5px);
	right: 4px;
}
*/