@use "shared/controls";
@use "shared/window";

.menubar {
	@include window.menubar;

	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--menubar-height);
	z-index: 2;

	&::after {
		content: "";

		position: absolute;
		top: var(--menubar-height);
		width: 100%;

		@include controls.separator;
	}
}

.menubar-menu-title {
	@include window.menubar-item($selected-sel: ".menubar-menu-button.open > &");
}
