@use "shared/tabs";
@use "shared/window";
@use "vscode/shared";

.part.panel {
	--title-top-margin: calc(var(--window-gap) + 6px);

	background-color: transparent;
	border: none;
	height: calc(100% - var(--title-top-margin) - var(--additional-top-margin));
	overflow: visible;
	padding: 0 5px 0 7px;

	&:is(.left, .right) {
		--additional-top-margin: 40px;

		margin-block-start: var(--title-top-margin);
		padding: 0;

		.title {
			margin-block-start: var(--title-top-margin);
		}
	}

	&.left {
		padding-inline-start: 5px;
	}

	&.right {
		padding-inline-end: 5px;
	}

	&:is(.bottom, .top) {
		--additional-top-margin: 24px;

		.title {
			margin-block-start: calc(var(--title-top-margin) * -1);
		}
	}

	.title {
		border: none;
		height: unset;
		overflow: visible;
		padding: 0;

		.select-container {
			margin-inline-end: var(--toolbar-spacing);
		}
	}

	.global-actions,
	.title-actions {
		@include shared.title-toolbar;

		height: unset;
	}

	& > .content {
		@include tabs.content($compact: true);

		height: 100%;
		width: 100%;

		& > .composite {
			@include window.content-container;
		}
	}

	.pane-body {
		margin-block-start: 2px;
		margin-inline-start: 2px;
		width: calc(100% - 32px);
	}

	.single-terminal-tab {
		justify-content: center;
		width: 36px;

		&::before {
			background-color: transparent;
		}

		.codicon {
			display: none;
		}
	}
}

.pane-header {
	border: none;
	font: var(--text-ui);
	gap: var(--text-spacing);
	height: unset;

	.title {
		font: var(--text-ui);
		padding: 0;
	}

	.twisty-container {
		background-color: currentColor;
		margin: 0;
		mask: var(--button-img) no-repeat;
		mask-position: center;

		&.codicon-view-pane-container-expanded {
			--button-img: icon("arrow-big-bottom", "mono");
		}

		&.codicon-view-pane-container-collapsed {
			--button-img: icon("arrow-big-top", "mono");
		}
	}
}

.pane-body {
	& > .monaco-editor {
		border: none;
		box-shadow: none;
	}
}

.tree-container {
	.monaco-list {
		border: none;
		box-shadow: none;
	}

	.marker-code,
	.marker-line,
	.marker-source,
	.related-info-resource,
	.related-info-resource-separator {
		color: var(--color-gray-text);
		opacity: 1;
	}
}

.viewpane-filter-container {
	margin: 1px 8px 2px -1px;

	&:empty {
		display: none;
	}
}

.viewpane-filter-controls {
	margin-block-end: -1px;
	margin-inline-start: var(--toolbar-spacing);
	position: unset;
}

.xterm {
	inset: 0 11px 0 -20px;

	canvas {
		inset-block-start: -11px;
	}
}
