.part.panel {
	background-color: transparent;
	padding: 0 9px 0 7px;
	border: none;

	overflow: visible;
	width: calc(100% - 3px);
	height: calc(100% - 28px);

	.title {
		border: none;
		padding: 0;
		margin: 0;
		margin-top: -8px;
		gap: 2px;

		overflow: visible;
		height: unset;

		&-actions {
			height: unset;
		}

		.monaco-inputbox,
		.select-container {
			margin-bottom: -4px;

			position: relative;
			bottom: 4px;
			height: unset;
		}

		.select-container {
			margin-right: 2px;
		}
	}

	& > .content {
		@extend .editor-container > .editor-instance;

		box(100%);

		& > .composite {
			@extend .content-container;
		}
	}

	.pane {
		height: calc(100% - 2px);

		&-body {
			margin-left: 2px;
			margin-top: 2px;

			width: calc(100% - 32px);
		}
	}

	.single-terminal-tab {
		width: 36px;
		justify-content: center;

		&::before {
			background-color: transparent;
		}

		.codicon {
			display: none;
		}
	}
}

.pane {
	&.vertical {
		height: calc(100% + 4px);
	}

	&-header {
		font();
		border: none;

		height: unset;

		.title {
			font();

			padding: 0;
		}
	}

	&-body {
		& > .monaco-editor {
			border: none;
			box-shadow: none;
		}
	}

	.monaco {
		&-list {
			width: calc(100% - 8px);
			height: calc(100% - 10px);

			.sidebar.left & {
				width: 100%;
			}
		}
	}
}

.tree-container {
	.monaco-list {
		border: none;
		box-shadow: none;

		height: calc(100% - 3px);
	}

	.marker-code,
	.marker-line,
	.marker-source,
	.related-info-resource,
	.related-info-resource-separator {
		opacity: 1;
		color: var(--color-gray-text);
	}
}

.viewpane-filter {
	&-container {
		margin: 1px 8px 2px -1px;

		&:empty {
			display: none;
		}
	}

	&-controls {
		margin-left: var(--spacing-toolbar);
		margin-bottom: -1px;

		position: unset;
	}
}

.xterm {
	inset: 0 11px 0 -20px;
}
