@use "shared/tabs";
@use "shared/window";
@use "vscode/shared";

.part.panel {
	--title-top-margin: calc(var(--window-gap) + 6px);

	background-color: transparent;
	padding: 0 12px 0 7px;
	border: none;

	overflow: visible;
	height: calc(100% - var(--title-top-margin) - var(--additional-top-margin));

	&:is(.left, .right) {
		--additional-top-margin: 36px;

		margin-top: var(--title-top-margin);
		padding: 0;

		.title {
			margin-top: var(--title-top-margin);
		}
	}

	&.left {
		padding-left: 5px;
	}

	&.right {
		padding-right: 5px;
	}

	&:is(.bottom, .top) {
		--additional-top-margin: 20px;

		.title {
			margin-top: calc(var(--title-top-margin) * -1);
		}
	}

	.title {
		border: none;
		padding: 0;

		overflow: visible;
		height: unset;

		.select-container {
			margin-right: var(--toolbar-spacing);
		}
	}

	.global-actions,
	.title-actions {
		@include shared.title-toolbar;

		height: unset;
	}

	& > .content {
		@include tabs.content($compact: true);

		width: 100%;
		height: 100%;

		& > .composite {
			@include window.content-container;
		}
	}

	.pane {
		height: calc(100% - 2px);
	}

	.pane-body {
		margin-left: 2px;
		margin-top: 2px;

		width: calc(100% - 32px);
	}

	.single-terminal-tab {
		width: 36px;
		justify-content: center;

		&::before {
			background-color: transparent;
		}

		.codicon {
			display: none;
		}
	}
}

.pane {
	&.vertical {
		height: calc(100% + 4px);
	}

	.monaco-list {
		width: calc(100% - 8px);
		height: calc(100% - 11px);

		.sidebar.left & {
			width: 100%;
		}
	}
}

.pane-header {
	font: var(--text-ui);
	border: none;

	height: unset;

	.title {
		font: var(--text-ui);

		padding: 0;
	}
}

.pane-body {
	& > .monaco-editor {
		border: none;
		box-shadow: none;
	}
}

.tree-container {
	.monaco-list {
		border: none;
		box-shadow: none;

		height: calc(100% - 3px);
	}

	.marker-code,
	.marker-line,
	.marker-source,
	.related-info-resource,
	.related-info-resource-separator {
		opacity: 1;
		color: var(--color-gray-text);
	}
}

.viewpane-filter-container {
	margin: 1px 8px 2px -1px;

	&:empty {
		display: none;
	}
}

.viewpane-filter-controls {
	margin-left: var(--toolbar-spacing);
	margin-bottom: -1px;

	position: unset;
}

.xterm {
	inset: 0 11px 0 -20px;
}
