.search {
	&-view .query-details.more,
	&-editor .includes-excludes.expanded {
		h4 {
			font: var(--text-ui);
			padding: 10px 0 4px 0;

			&::first-letter {
				text-transform: uppercase;
			}
		}
	}

	&-editor {
		height: 100%;

		.context-lines-input,
		.messages {
			margin: 0;
		}

		.monaco {
			&-findInput > .monaco-scrollable-element {
				overflow: visible;
			}
		}

		.includes-excludes {
			.expand {
				@extend .monaco-toolbar .action-label;
			}

			.file-types {
				padding: 0;
			}
		}
	}

	&-view,
	&-editor {
		.messages {
			margin: 0;
		}
	}
}

.query-container {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
