.sidebar {
	background-color: var(--color-button-face);
	color: var(--color-window-text);
	border: none;
	margin-top: 8px;

	&:has(> .has-composite-bar) {
		margin-left: 6px;

		&.right {
			margin-left: 0;
			margin-right: 8px;

			.monaco-list {
				width: 100%;
			}
		}
	}

	& > .header {
		border: none;
		padding: 0;

		height: unset;

		.monaco-action-bar {
			height: unset;
		}
	}

	.title {
		padding: 3px 0 8px;
		margin: 0;

		height: unset;
		align-items: center;
	}

	.title-label {
		font: var(--text-ui);
		padding: 0;

		h2 {
			font: var(--text-ui);
			font-weight: bold;
			color: inherit;
			text-transform: unset;
		}
	}

	.title-actions {
		padding: 0;

		height: unset;
	}

	h3.title {
		text-transform: unset;
		padding: 0;
		padding-bottom: 1px;
	}

	& > .content {
		font: var(--text-ui);

		width: 100%;
		height: calc(
			100vh -
				39px - var(--tabs-compensation, 0px) - var(--titlebar-height) - var(
					--menubar-height
				) - var(--statusbar-height)
		);
	}
}
