@use "shared/tabs";
@use "shared++/utils";

.sidebar {
	--s: calc(var(--border-size) + 2px);
	--offset: 1px;

	background-color: var(--color-button-face);
	color: var(--color-window-text);
	border: none;
	margin-block-start: 8px;
	margin-inline-start: 6px;

	position: relative;

	&.right {
		margin-inline-start: 0;
		margin-inline-end: 8px;
	}

	.actions {
		display: block;
		margin-inline-end: 0;
	}

	.header {
		border: none;
		height: unset;
		overflow: visible;
		padding: 0;

		.monaco-action-bar {
			line-height: inherit;
		}
	}

	// TODO(modernui): remove rule & selector below
	.monaco-workbench:not(.modern-ui) & .monaco-list {
		height: calc(100% - 16px);
	}

	.monaco-workbench.modern-ui & .pane {
		height: calc(100% - 12px);
	}

	.pane-header[aria-expanded="true"] {
		margin-block-end: var(--text-spacing);
	}

	div.title {
		align-items: center;
		height: unset;
		margin-block-start: var(--s);
		margin-inline-start: calc(var(--s) + var(--offset));
		overflow: visible;
		padding: 0;
		position: absolute;
		width: calc(100% - var(--s) * 2 - var(--offset) * 2);
		z-index: 1;
	}

	h3.title {
		text-transform: unset;
		padding: 0;
		padding-block-end: 1px;
	}

	.title-label {
		font: var(--text-ui);
		padding: 0;

		h2 {
			color: inherit;
			font: var(--text-ui);
			font-weight: bold;
			text-transform: unset;
		}
	}

	.title-actions {
		height: unset;
		padding: 0;
	}

	& > .content {
		font: var(--text-ui);
		// prettier-ignore
		height: calc(
			100vh
			- 29px
			- var(--icon-button-height)
			- var(--titlebar-height)
			- var(--menubar-height)
			- var(--statusbar-height)
		);
		width: 100%;

		& > .composite {
			@include tabs.content;

			padding: var(--s);
			padding-block-start: calc(var(--s) + var(--icon-button-height));

			& > div::before {
				@include utils.pseudo-separator;
			}
		}

		& > .composite.debug-viewlet > .monaco-pane-view > .monaco-split-view2 {
			height: calc(100% - var(--icon-button-height));
		}
	}
}
