.sidebar {
	background-color: var(--color-button-face);
	color: var(--color-window-text);
	border: none;
	margin-top: 8px;

	&:has(> .has-composite-bar) {
		margin-left: 6px;

		&.right {
			margin-left: 0;
			margin-right: 8px;

			.monaco-list {
				width: 100%;
			}
		}
	}

	.title {
		padding: 3px 0 8px;
		margin: 0;

		height: unset;
		align-items: center;

		&-label {
			font();
			padding: 0;

			h2 {
				font();
				color: inherit;
				text-transform: unset;
			}
		}

		&-actions {
			padding: 0;

			height: unset;
		}
	}

	h3.title {
		text-transform: unset;
		padding: 0;
		padding-bottom: 1px;
	}

	& > .content {
		font();

		width: 100%;
		height: calc(
			100vh \
			- 39px \
			- var(--tabs-compensation, 0px) \
			- var(--titlebar-height) \
			- var(--menubar-height) \
			- var(--statusbar-height)
		);
	}
}

// Search
.search {
	&-widget {
		margin-bottom: 4px;

		&s-container {
			padding: 0;
			margin: 0;
		}
	}

	&-view {
		.search-container,
		.query-details {
			margin: 0;
		}

		.replace-container {
			margin-left: 0;
			margin-top: 10px;

			.monaco-action-bar {
				margin-left: 2px;

				height: unset;

				.action-label {
					@extend button;
					@extend .titlebar-button;
				}
			}
		}

		.more.codicon {
			@extend button;
			@extend .titlebar-button;

			margin-bottom: 4px;
		}

		.message {
			padding: 0;
			padding-bottom: 4px;
		}
	}
}

// Source control
.scm {
	&-overflow-widgets-container {
		box(0);
	}

	&-view {
		.monaco {
			&-editor {
				&,
				&-background,
				.margin {
					background-color: transparent;
				}
			}

			&-list {
				height: calc(100% - 7px);
			}

			&-button {
				&-dropdown {
					overflow: visible;
				}

				.codicon-check,
				&-dropdown-separator {
					display: none;
				}
			}
		}
	}
}

// Extensions
.extensions {
	&-viewlet > .header {
		padding: 0;

		height: unset;
	}

	&-list {
		.monaco-list {
			height: 100%;
		}
	}
}
