@use "shared/window";

.statusbar {
	@include window.statusbar;

	background-color: var(--color-button-face);
	color: var(--color-button-text);
	padding-right: 1px;

	height: unset;

	// border
	&::after {
		display: none;
	}

	& > .left-items,
	& > .right-items {
		gap: inherit;
	}
}

.statusbar-item {
	@include window.statusbar-item;

	max-width: unset;

	// TODO: is this safe ?
	&[aria-label=""] {
		display: none;
	}

	&.left.last-visible-item {
		flex-grow: 1;
	}
}

.statusbar-item-label {
	font: var(--text-ui);
	padding: 0;
	margin: 0;
}
