.statusbar {
	background-color: var(--color-button-face);
	color: var(--color-button-text);

	height: unset;

	&-item {
		position: relative;
		max-width: unset;

		&-label {
			font();

			padding: 0;
			margin: 0;
		}
	}

	& > .left-items,
	& > .right-items {
		gap: 2px;
	}

	& > .left-items &-item:last-child {
		flex-grow: 1;
	}
}
