@use "shared/window";

.statusbar {
	@include window.statusbar;

	background-color: var(--color-button-face);
	color: var(--color-button-text);

	height: var(--statusbar-height);

	// border
	&::after {
		display: none;
	}

	& > .left-items,
	& > .right-items {
		gap: inherit;
	}
}

.statusbar-item {
	@include window.statusbar-item;

	max-width: unset;

	&.left.last-visible-item {
		flex-grow: 1;
	}

	&.right.last-visible-item {
		margin-right: 0;
	}
}

.statusbar-item-label {
	font: var(--text-ui);
	padding: 0;
	margin: 0;

	&.disabled {
		color: var(--color-gray-text);
		text-shadow: 1px 1px var(--color-button-highlight);
	}
}
