@use "shared/controls";
@use "shared/window";
@use "shared++/icons";

.command-center {
	visibility: visible;
}

.titlebar {
	background-color: inherit;
	color: inherit;
	border: none;

	position: absolute;
	left: 0;
	// 5px = separator
	top: calc(var(--menubar-height) + 5px + var(--window-gap));
	height: unset;

	.search-icon,
	.search-label {
		display: none;
	}

	// !important in .monaco-action-bar .action-item:not([role=tab])
	.action-item.command-center-center:not([role="tab"]) {
		@include controls.button;
		@include controls.icon-button;
		--button-img: icon("file-search");

		margin-right: var(--toolbar-spacing);

		width: unset;
		order: -1;
	}

	// .codicon:not(.separator): !important (in vscode and theme respectively)
	// TODO(toolbar): make .monaco-toolbar .action-label use
	// controls.icon-button too
	.action-label.codicon:not(.separator) {
		--button-img-pos: center;

		// TODO: under mysterious fucking circumstances the svg disappears upon
		// removing ::before wtf is this shit ? stolen from controls.icon-button
		min-width: var(--icon-button-width);
		height: var(--icon-button-height);

		@at-root .action-item.clicked > &,
			&:active {
			background: var(--checkerboard);
			box-shadow: var(--border-button-sunken);
		}
	}

	.codicon-arrow-left {
		@include icons.icon-big-arrow-left;
	}

	.codicon-arrow-right {
		@include icons.icon-big-arrow-right;
	}

	.codicon-settings-view-bar-icon::before {
		height: unset;
	}
}

.titlebar-center {
	margin-inline: var(--toolbar-spacing);
}

.titlebar-left {
	flex-grow: 0;
	width: 0;
}
