.titlebar {
	width: 100%;

	&:not(.inactive) {
		@extend :root[focused] .titlebar;
	}

	&-left {
		width: var(--icon-size);
		flex-grow: 0;
	}

	&-center {
		margin: 0;

		width: unset;
	}

	.global-actions-container,
	.search-icon {
		display: none;
	}

	.action {
		&s-container {
			gap: 0;
		}

		&-item.command-center-center {
			@extend .titlebar-name;

			background-color: transparent;
			color: inherit;
			border: none;
			margin: 0 var(--titlebar-spacing);

			width: unset;
			height: unset;
			order: -1;

			& > .codicon {
				display: none;
			}
		}
	}
}

.titlebar .window {
	&-appicon {
		width: var(--icon-size);
	}

	&-controls-container {
		margin-top: 1px;

		width: unset;
	}

	&-icon {
		@extend button;
		@extend .titlebar-button;

		width: unset;
	}

	&-close {
		margin-left: 2px;
	}
}

.action-toolbar-container {
	min-width: unset;

	[role="presentation"] {
		--button-img-pos: 3px 2px;
	}
}