.titlebar {
	background-color: var(--color-active-caption);
	color: var(--color-active-caption-text);
	border: none;

	padding: 2px;

	width: 100%;
	height: var(--titlebar-height);

	&.inactive {
		--color-active-caption: var(--color-gray-text);
	}

	&-container {
		font();
	}

	&-left {
		width: 16px;
		flex-grow: 0;
	}

	&-center {
		margin: 0;

		width: unset;
	}

	.global-actions-container,
	.search-icon {
		display: none;
	}

	.action {
		&s-container {
			gap: 0;
		}

		&-item.command-center-center {
			background-color: transparent;
			color: inherit;
			font-weight: bold;
			border: none;
			border-radius: 0;

			margin: 0 4px;

			box(unset);
			order: -1;

			& > .codicon {
				display: none;
			}
		}
	}
}

.window {
	&-appicon {
		width: 16px;
	}

	&-controls-container {
		width: unset;
	}

	&-icon {
		@extend $small-button;
	}

	&-close {
		margin-left: 2px;
	}
}

.layout-controls-container {
	min-width: unset;

	.action-label {
		--button-img-pos: 3px 2px;
	}
}