@use "shared/controls";
@use "shared++/utils";

.command-center {
	visibility: visible;
}

.titlebar {
	background-color: inherit;
	color: inherit;
	border: none;

	flex-direction: column;
	position: absolute;
	left: 0;
	// 5px = separator
	top: calc(var(--menubar-height) + 5px + var(--window-gap));
	height: unset;

	&::after {
		@include utils.pseudo-separator;

		width: 100%;
	}

	.search-icon,
	.search-label {
		display: none;
	}

	// !important in .monaco-action-bar .action-item:not([role=tab])
	.action-item.command-center-center:not([role="tab"]) {
		--button-img: icon("file-search");
		@include controls.button;
		@include controls.icon-button;

		margin-right: var(--toolbar-spacing);

		width: unset;
		order: -1;
	}

	.codicon-arrow-left {
		--button-img: icon("arrow-big-left", "mono");
	}

	.codicon-arrow-right {
		--button-img: icon("arrow-big-right", "mono");
	}

	.codicon-settings-view-bar-icon {
		margin-inline-start: var(--toolbar-spacing);
	}
}

.titlebar-center {
	margin-inline: var(--toolbar-container-spacing);
}

.titlebar-left {
	flex-grow: 0;
	width: 0;
}

.titlebar-right {
	.action-toolbar-container {
		padding-right: var(--toolbar-container-spacing);
	}
}
