@use "shared/controls";
@use "shared/window";

.titlebar {
	@include window.titlebar($focused-sel: "&:not(.inactive)");

	width: 100%;

	.global-actions-container,
	.search-icon {
		display: none;
	}

	.actions-container {
		gap: 0;
	}

	.action-item.command-center-center {
		@include window.titlebar-name;

		background-color: transparent;
		color: inherit;
		border: none;
		margin: 0 var(--titlebar-spacing);

		width: unset;
		height: unset;
		order: -1;

		& > .codicon {
			display: none;
		}
	}

	.window-appicon {
		width: var(--icon-size);
	}

	.window-controls-container {
		margin-top: 1px;

		width: unset;
	}

	.window-icon {
		@include controls.button;
		@include window.titlebar-button;

		width: unset;
	}
}

.titlebar-left {
	width: var(--icon-size);
	flex-grow: 0;
}

.titlebar-center {
	margin: 0;

	width: unset;
}

.action-toolbar-container {
	min-width: unset;

	[role="presentation"] {
		--button-img-pos: 3px 2px;
	}
}
