@use "shared/controls";
@use "shared++/utils";

#PanelSection {
	@include controls.groupbox;

	gap: var(--text-spacing);

	display: flex;
	flex-direction: column;
}

#PanelSectionTitle {
	@include utils.legend-as-div;
	@include utils.text-reset;
}
