@use "shared/controls";

@function -color($value) {
	@return light-dark(#{$value}, light#{$value});
}

:root[data-millennium-plugin] {
	--MillenniumText-HeadingLarge: var(--text-ui);
	--MillenniumText-HeadingMedium: var(--text-ui);
	--MillenniumText-HeadingSmall: var(--text-ui);
	--MillenniumText-BodyLarge: var(--text-ui);
	--MillenniumText-BodyMedium: var(--text-ui);
	--MillenniumText-BodySmall: var(--text-ui);

	--MillenniumTextColor-Normal: var(--color-button-text);
	--MillenniumTextColor-Muted: var(--color-gray-text);
	--MillenniumTextColor-Success: #{-color("green")};
	--MillenniumTextColor-Error: #{-color("red")};
	--MillenniumTextColor-Warning: #{-color("yellow")};

	--MillenniumSpacing-Small: 4px;
	--MillenniumSpacing-Normal: 8px;
	--MillenniumSpacing-Large: 16px;

	--MillenniumControls-BorderRadius: 0;
	--MillenniumControls-IconSize: var(--icon-size);
}

button.MillenniumIconButton {
	@include controls.icon-button;

	width: unset;

	$-icons: (
		Copy: "link",
		Download: "download",
		Settings: "settings",
		ShoppingCart: "url",
	);

	@each $icon, $file in $-icons {
		&[data-icon-name="#{$icon}"] {
			--button-img: icon(#{$file});
		}
	}

	$-icons-mono: (
		Add: "plus",
		KaratUp: "arrow-top",
		KaratRight: "arrow-right",
		KaratDown: "arrow-bottom",
		KaratLeft: "arrow-left",
		Minus: "minimize",
	);

	@each $icon, $file in $-icons-mono {
		&[data-icon-name="#{$icon}"] {
			--button-img: icon(#{$file}, "mono");
		}
	}

	svg {
		display: none;
	}
}
