@use "shared/controls";

#Popup {
	.DialogButton {
		height: unset;
	}
}

#ChoiceNote {
	margin-block-start: var(--messagebox-content-spacing);
}

#ConflictChoiceIcon {
	display: none;
}

#ConflictChoiceText {
	gap: var(--text-spacing);
	margin-inline-start: var(--label-spacing);
}

#DialogChoiceButton {
	margin-block-end: var(--text-spacing);
	padding: 0;
	width: 100%;

	&,
	&:active,
	&:focus {
		box-shadow: none;
		color: var(--color-button-text);
		outline: none;
	}
}

#DialogChoiceRow {
	height: unset;
}

#FooterNote,
#Title {
	margin: 0;
}

#RadioButton {
	@include controls.radio(
		$checked-sel: "#Active &",
		$disabled-sel: "#DialogChoiceButton:active &"
	);

	align-self: start;
	box-shadow: none;
}

#TitleWarning {
	font: var(--text-ui);
	font-weight: bold;
}
