@use "shared/window";

.DeckVerifiedModalDialogClient {
	.DialogContent {
		border: none;
	}

	.ModalPosition_Content {
		width: unset;
	}

	.ModalPosition_Dismiss .closeButton {
		width: unset;
	}
}

#AppTitleCategory {
	display: none;
}

#CompatibilityDetailsContainerDesktop {
	gap: var(--messagebox-spacing);
}

#CompatibilityDetailRatingSummary {
	color: inherit;
	font: inherit;
	margin-inline: var(--messagebox-spacing);
	padding: 0;

	// unknown compat
	&:last-child {
		margin-block: var(--messagebox-spacing);
	}

	// lol
	& > & {
		margin: 0;
	}

	#Compatible {
		color: var(--deckverified_color-compatible);
	}

	#Playable {
		color: var(--deckverified_color-playable);
	}

	#Unsupported {
		color: var(--deckverified_color-unsupported);
	}

	#Verified {
		color: var(--deckverified_color-verified);
	}
}

#CompatibilityDetailsInterior_NoScroll {
	--inset: 0px;

	padding: 8px;
	transform-style: preserve-3d;
}

#CompatibilityDetailsNoteRow {
	color: inherit;
	font: inherit;
	padding-inline-start: calc(var(--icon-size) + 1em);

	&:last-child {
		padding-block-end: 0;
	}
}

#CompatibilityDetailsResultIcon {
	margin-inline-end: 1em;
	padding: 0;
}

#CompatibilityDetailsRow {
	align-items: center;
	color: inherit;
	font: inherit;
	padding-block-end: 1em;

	&:last-child {
		padding-block-end: 0;
	}
}

#CompatibilityDetailsSeparator {
	display: none;
}

#CompatibilityNotes {
	border-block-start: 1px solid var(--color-window-text);
	padding-block: 1em 0;
}

#DeveloperBlockLinkDesktop {
	padding-inline-start: var(--text-spacing);
}

#DialogHeader {
	@include window.titlebar($focused-sel: "&");

	margin-block-end: 10px;
}

#DialogTitle {
	@include window.titlebar-name;

	color: inherit;
}
