@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

#AppLogo {
	// x1.5, since I have more space anyway
	height: 60px;
	width: 132px;
}

#AppName {
	@include utils.text-reset;
}

#AppsToInstall {
	border: none;
	margin: 0;

	&::after {
		@include controls.separator;

		content: "";
		display: block;
		margin: 8px 0;
		width: 100%;
	}
}

#AppToInstall {
	align-items: center;
	border: none;
	line-height: inherit;
	padding: 0;
}

#CreateShortcuts {
	flex-direction: column;
	gap: 0;
	margin: 0;
	margin-block-end: 12px;
}

#DiskSpace {
	@include utils.text-reset;
}

#FolderFlagStar {
	margin: 0;
	margin-block-start: -2px;
}

#FolderName {
	color: inherit;
}

// TODO: .list-entry
#FolderOption {
	@include utils.text-reset;

	background-color: transparent;
	color: var(--color-window-text);
	gap: var(--text-spacing);
	height: var(--text-ui-size);
	margin: 0;
	padding: 0 3px;

	&#Active {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
}

#FolderSelector {
	@include controls.groupbox;

	& > :not([class]) {
		@include window.content-container;
	}
}

#FolderSettings {
	--button-img: icon("settings");
	@include controls.icon-button;

	// The parent also has absolute position...
	inset-block-start: calc(-100% - 10px);
	// See dialog's min-width
	inset-inline-end: -408px;
	position: absolute;
	width: unset;

	& > .tool-tip-source {
		inset: 0;
		position: absolute;
	}

	svg {
		display: none;
	}
}

#Header {
	@include utils.legend-as-div;
	@include utils.text-reset;
}

#NoticeInstallFolder {
	gap: var(--messagebox-content-spacing);

	&:not(:has(> :empty)) {
		@include utils.text-reset;
		@include controls.tooltip;

		align-items: center;
		justify-content: start;
	}

	#FolderFlag {
		--icon-size: 32px;

		background-image: icon("warning-32");
		height: var(--icon-size);
		width: var(--icon-size);

		svg {
			display: none;
		}
	}
}
