@use "shared/controls";
@use "shared/text";
@use "shared++/utils";

.vcd-screen-picker-card {
	--card-primary-bg: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.vcd-screen-picker-header {
	& > h2 {
		all: unset;

		font-weight: bold;
	}
}

.vcd-screen-picker-hint-description {
	@include utils.text-reset;

	p {
		margin-block: var(--text-spacing) 0;
	}
}

.vcd-screen-picker-modal {
	& > div > h5 {
		display: none;
	}

	input[type="radio"] {
		@include controls.radio($checked-sel: "&:checked");

		// TODO(shared): -input-common
		appearance: none;
		margin: 0;

		order: -1;
		display: initial;
	}

	section {
		@include controls.groupbox;

		& > h5 {
			@include utils.legend-as-div;
			@include utils.text-reset;
		}
	}
}

.vcd-screen-picker-preview {
	&::after {
		@include utils.pseudo-separator;

		margin-block: 8px 12px;
	}
}

.vcd-screen-picker-preview-img-linux {
	border: 1px solid var(--color-button-shadow);
	margin-bottom: var(--text-spacing);
}

.vcd-screen-picker-option-radio {
	@include text.input-label;

	background-color: transparent;
	border: none;
	padding: 0;

	// TODO: for some reason :checked here doesn't work
	&[data-checked="true"] > input[type="radio"] {
		@include controls.checkbox-radio-checked;
	}
}

.vcd-screen-picker-option-radios {
	gap: var(--text-spacing);

	flex-direction: column;

	div {
		font-weight: normal;
	}
}

.vcd-screen-picker-screen-grid {
	gap: var(--text-spacing);

	display: flex;
	flex-direction: column;
}

.vcd-screen-picker-screen-label {
	@include text.input-label;

	padding: 0;

	img {
		display: none;
	}

	input[type="radio"] {
		flex-shrink: 0;
	}
}

.vcd-screen-picker-screen-name {
	font-weight: normal;
	margin: 0;
}
