@use "shared/controls";
@use "shared/text";
@use "shared++/utils";

[role="dialog"][aria-label="Screen Share Picker"] {
	h4 {
		display: none;
	}

	input[type="radio"] {
		@include controls.radio($checked-sel: "&:checked");

		display: initial;
	}

	section {
		@include controls.groupbox;

		& > h5 {
			@include utils.legend-as-div;
			@include utils.text-reset;
		}
	}
}

.vcd-screen-picker-card {
	box-shadow: none;
	padding: 0;
}

.vcd-screen-picker-preview {
	&::after {
		@include utils.pseudo-separator;

		inline-size: 100%;
		margin-block: 8px 12px;
	}
}

.vcd-screen-picker-preview-img-linux {
	// A bit of contrast in case the colors overlap
	border: 1px solid var(--color-button-shadow);
	margin-bottom: var(--text-spacing);
}

.vcd-screen-picker-option-radio {
	@include text.input-label;

	background-color: transparent;
	border: none;
	flex-direction: row-reverse;
	justify-content: start;
	padding: 0;
}

.vcd-screen-picker-option-radios,
.vcd-screen-picker-screen-grid {
	gap: var(--text-spacing);

	display: flex;
	flex-direction: column;
}

.vcd-screen-picker-screen-label {
	@include text.input-label;

	padding: 0;

	img {
		display: none;
	}

	input[type="radio"] {
		flex-shrink: 0;
	}
}

.vcd-screen-picker-screen-name {
	font-weight: normal;
	margin: 0;
}
