@use "shared/controls";
@use "shared/text";
@use "shared++/utils";

%-vencord-groupbox-header {
	&::before {
		content: var(--header-text);

		left: 10px;

		@include utils.legend-as-div;
	}
}

// Plugin settings
.content__49fc1.vc-margin-bottom-16 > :not(:last-child) {
	@include controls.groupbox;
	@extend %-vencord-groupbox-header;

	&:nth-child(1) {
		--header-text: "Description";
	}

	&:nth-child(2) > .vc-text-base {
		@include utils.legend-as-div;
	}
}

// Remove all subheaders, as for groupboxes they have to be in the same parent,
// which they aren't, and vencord has no localization, so very convenient here.
.contentColumn__23e6b:is([id^="vencord"], #vesktop-tab) {
	--card-primary-bg: transparent;

	& > section > :is(h1, h2, h3, h4, h5) {
		display: none;
	}
}

#vencordthemes-tab {
	&::before {
		--pos: calc(var(--tabpanel-spacing) + var(--border-size));

		content: "";

		position: absolute;
		inset: var(--pos);
		top: calc(var(--pos) + var(--tabs-height));
		z-index: 1;

		background-color: transparent;
		box-shadow: var(--border-button-raised);

		pointer-events: none;
	}

	& > section > section {
		--header-text: "Local themes";

		@include controls.groupbox;
		@extend %-vencord-groupbox-header;

		margin: calc(var(--border-size) + var(--tabpanel-spacing));

		& > h5 {
			display: none;
		}
	}

	textarea {
		height: unset;
	}
}

@each $i in top bottom {
	@each $j in 8 16 20 {
		.vc-margin-#{$i}-#{$j} {
			margin-#{$i}: var(--text-spacing);
		}
	}
}

.vc-addon-card {
	transform: none;
	border: none;
	padding: 0;
}

.vc-addon-card-disabled {
	opacity: 1;

	.vc-plugins-info-button {
		@include controls.input-disabled;
	}
}

.vc-addon-header {
	gap: var(--label-spacing);

	align-items: start;

	& > div:not([class]) {
		order: -1;
	}
}

.vc-addon-note {
	color: var(--color-gray-text);
	margin-left: calc(var(--sel-button-size) + var(--label-spacing));

	height: unset;
}

.vc-plugins-filter-controls {
	--header-text: "Filter";

	@include controls.groupbox;
	@extend %-vencord-groupbox-header;

	height: unset;
}

.vc-plugins-grid {
	--header-text: "Plugins";

	@include controls.groupbox;
	@extend %-vencord-groupbox-header;

	gap: var(--text-spacing);

	&:last-child {
		--header-text: "Required Plugins";
	}
}

.vc-plugins-info-button {
	--text: "Settings";

	@include controls.button;

	height: unset;

	&::before {
		content: var(--text);
	}

	&:has(> .vc-info-icon) {
		--text: "Info";
	}

	.vc-plugins-info-icon {
		display: none;
	}
}

.vc-plugins-info-card {
	@include controls.groupbox;

	gap: var(--text-spacing);

	& > h4 {
		@include utils.text-reset;
		@include utils.legend-as-div;
	}
}

.vc-plugins-setting-inline {
	flex-direction: row-reverse;
	align-items: start;
	justify-content: start;
}

.vc-plugins-setting-label {
	gap: var(--text-spacing);
}

.vc-plugins-settings {
	gap: var(--text-spacing);
}

// TODO
.vc-settings-quick-actions-card {
	gap: var(--dialog-button-spacing);

	justify-content: left;
}

// TODO
.vcd-location-btns {
	gap: var(--dialog-button-spacing);
	margin-top: var(--text-spacing);

	display: flex;
}

.vc-settings-card {
	@include controls.groupbox;

	margin: calc(var(--border-size) + var(--tabpanel-spacing));

	& > h5 {
		@include utils.text-reset;
		@include utils.legend-as-div;
	}
}

.vcd-settings-category {
	@include controls.groupbox;
}

.vcd-settings-category-content {
	gap: var(--text-spacing);
}

.vcd-settings-category-title {
	@include utils.text-reset;
	@include utils.legend-as-div;
}

.vc-settings-quickActions-card {
	background-color: transparent;
	border: none;
	padding: 0;
}

.vc-settings-quickActions-pill {
	@include controls.button;

	transform: none;
}

.vc-settings-theme-grid {
	gap: var(--text-spacing);
	margin-bottom: var(--text-spacing);
}

.vc-warning-card {
	@include controls.tooltip;

	margin: calc(var(--border-size) + var(--tabpanel-spacing));
}
