@use "shared/controls";
@use "shared/text";
@use "shared++/extends";

%-vencord-groupbox-header {
	&::before {
		content: var(--header-text);

		left: 10px;

		@include extends.legend-as-div;
	}
}

// Plugin settings
.content__49fc1.vc-m-bottom-16 > div:not(:last-child) {
	@include controls.groupbox;
	@extend %-vencord-groupbox-header;

	&:nth-child(1) {
		--header-text: "Description";
	}

	&:nth-child(2) [data-text-variant="heading-lg/semibold"] {
		@include extends.legend-as-div;
	}
}

// Remove all subheaders, as for groupboxes they have to be in the same parent,
// which they aren't, and vencord has no localization, so very convenient here.
.contentColumn__23e6b:is([id^="vencord"], #vesktop-tab) {
	--card-primary-bg: transparent;

	h2 {
		display: none;
	}
}

#vencordthemes-tab {
	&::before {
		--pos: calc(var(--tabpanel-spacing) + var(--border-size));

		content: "";

		position: absolute;
		inset: var(--pos);
		top: calc(var(--pos) + var(--tabs-height));
		z-index: 1;

		background-color: transparent;
		box-shadow: var(--border-button-raised);

		pointer-events: none;
	}
}

@each $i in top bottom {
	@each $j in 8 16 20 {
		.vc-m-#{$i}-#{$j} {
			margin-#{$i}: var(--text-spacing);
		}
	}
}

.vc-addon-card {
	transform: none;
	border: none;
	padding: 0;
}

.vc-addon-header {
	gap: var(--label-spacing);
	margin-bottom: var(--text-spacing);

	& > div:not([class]) {
		order: -1;
	}
}

.vc-addon-note {
	color: var(--color-gray-text);
	margin-left: calc(var(--sel-button-size) + var(--label-spacing));

	height: unset;
}

.vc-plugins-filter-controls {
	--header-text: "Filter";

	@include controls.groupbox;
	@extend %-vencord-groupbox-header;

	height: unset;
}

.vc-plugins-grid {
	--header-text: "Plugins";

	@include controls.groupbox;
	@extend %-vencord-groupbox-header;

	gap: var(--text-spacing);

	&:last-child {
		--header-text: "Required Plugins";
	}
}

// TODO: .button__67645 in channel text area
.vc-plugins-info-button {
	--text: "Settings";

	@include controls.button;

	height: unset;

	&::before {
		content: var(--text);
	}

	&:has(> .vc-info-icon) {
		--text: "Info";
	}

	.vc-plugins-info-icon {
		display: none;
	}
}

.vc-plugins-info-card {
	@include controls.groupbox;

	height: unset;

	& > h2 {
		@include extends.text-reset;
		@include extends.legend-as-div;
	}

	& > div {
		@include extends.text-reset;
	}
}

.vc-settings-quick-actions-card {
	gap: var(--dialog-button-spacing);

	justify-content: left;
}

.vcd-location-btns {
	gap: var(--dialog-button-spacing);
	margin-top: var(--text-spacing);

	display: flex;
}

.vcd-settings-section {
	@include controls.groupbox;

	// !important in dialogs/settings.scss
	// TODO(port): originally div&
	.sectionTitle__7bffb h2 {
		@include extends.text-reset;
		@include extends.legend-as-div;
	}
}
