@use "shared/controls";
@use "shared++/utils";

.buttons__74017 {
	gap: 0;
	height: unset;
	margin-inline: var(--toolbar-spacing) 0;

	[role="button"]:not([aria-expanded]) {
		@include controls.button;
		@include controls.icon-button;

		min-height: unset;
	}

	[role="button"][aria-expanded] {
		@include controls.combobox-icon-button(
			$active-sel: "&[aria-expanded='true']"
		);
	}

	.emojiButton__04eed {
		--button-img: icon("emoji");

		.spriteContainer__04eed {
			display: none;
		}
	}
}

.channelTextArea__74017 {
	background-color: transparent;
	border: none;

	.editor__1b31f {
		@include controls.text-field;

		min-height: unset;
	}

	.placeholder__1b31f {
		font: var(--text-ui);
		inset: calc(var(--border-size) + var(--input-spacing));
		padding: 0;
		z-index: 1;
	}

	svg {
		display: none;
	}
}

.inner__74017 {
	margin-inline: var(--toolbar-container-spacing);
	padding: 0;
}

.scrollableContainer__74017 {
	background: transparent;
	overflow: hidden;
}

.textArea__74017 {
	min-height: unset;
}
