@use "shared/controls";
@use "shared++/utils";

._740174f3d6a2c8fe-buttons {
	gap: 0;
	margin-inline: var(--toolbar-spacing) 0;

	height: unset;

	[role="button"]:not([aria-expanded]) {
		@include controls.button;
		@include controls.icon-button;

		min-height: unset;
	}

	[role="button"][aria-expanded] {
		@include controls.combobox-icon-button(
			$active-sel: "&[aria-expanded='true']"
		);
	}

	._04eede68d145ae81-emojiButton {
		--button-img: icon("emoji");

		._04eede68d145ae81-spriteContainer {
			display: none;
		}
	}
}

._740174f3d6a2c8fe-channelTextArea {
	background-color: transparent;
	border: none;

	._1b31f471f0bb10ab-editor {
		@include controls.text-field;

		min-height: unset;
	}

	._1b31f471f0bb10ab-placeholder {
		font: var(--text-ui);
		padding: 0;

		inset: calc(var(--border-size) + var(--input-spacing));
		z-index: 1;
	}

	svg {
		display: none;
	}
}

._740174f3d6a2c8fe-inner {
	padding: 0;
	margin-inline: var(--toolbar-container-spacing);
}

._740174f3d6a2c8fe-scrollableContainer {
	background: transparent;

	overflow: hidden;
}

._740174f3d6a2c8fe-textArea {
	min-height: unset;
}
