@use "shared/controls";
@use "shared++/utils";

.button__74017 {
	@include controls.button;
	@include controls.icon-button;
}

.buttons__74017 {
	gap: 0;
	margin-inline: var(--toolbar-spacing) 0;

	height: unset;
}

.channelTextArea__74017 {
	background-color: transparent;
	border: none;

	.editor__1b31f {
		@include controls.text-field;

		// TODO(controls): not needed anymore?
		height: unset;
		min-height: unset;
	}

	.placeholder__1b31f {
		font: var(--text-ui);
		padding: 0;

		// 2px = --input-spacing
		inset: calc(var(--border-size) + 2px);
		z-index: 1;
	}
}

.inner__74017 {
	padding: 0;
	margin-inline: var(--toolbar-container-spacing);
}

.scrollableContainer__74017 {
	background: transparent;

	overflow: hidden;
}

.textArea__74017 {
	min-height: unset;
}
