@use "shared/controls";

.icon__0f084 {
	display: none;
}

.wrapper__72c38 {
	border: none;
	padding: 0;

	min-height: unset;

	&:is([data-disabled="true"], [data-read-only="true"]) > :is(input, texarea) {
		@include controls.input-disabled;

		opacity: 1;
	}

	input,
	textarea {
		@include controls.text-field;
	}
}
