@use "shared/controls";

.icon__75098 {
	display: none;
}

.wrapper__72c38 {
	border: none;
	padding: 0;

	min-height: unset;

	&[data-disabled="true"],
	&[data-read-only="true"] {
		opacity: 1;

		input,
		texarea {
			@include controls.input-disabled;
		}
	}

	input,
	textarea {
		@include controls.text-field;
	}
}
