@use "shared/controls";

._0f0849b61557225e-icon {
	display: none;
}

._72c3859781ebce8f-wrapper {
	border: none;
	padding: 0;

	min-height: unset;

	&:is([data-disabled="true"], [data-read-only="true"]) > :is(input, texarea) {
		@include controls.input-disabled;

		opacity: 1;
	}

	input,
	textarea {
		@include controls.text-field;
	}
}
