@use "shared++/utils";
@use "steam/shared";

#Background {
	display: none;
}

#Container {
	padding: var(--dialog-spacing);
}

#DragHandle {
	// Extend the separator to the right
	position: absolute;
	right: 0;
}

#HeaderContainer {
	padding: 0;
}

#Label {
	@include utils.text-reset;
}

// HOW is this a scrollpanel ???
#Page {
	background-color: transparent;
	margin: 0;
	margin-top: var(--titlebar-height);

	overflow: visible;

	&::after {
		content: "";

		position: absolute;
		top: calc(var(--titlebar-height) * -1);
		width: 100%;
		height: var(--titlebar-height);

		background-image: linear-gradient(
			90deg,
			var(--color-active-caption-bg-start),
			var(--color-active-caption-bg-end)
		);
	}
}

#SortableUserAchievementInner {
	background-color: transparent;
}
