.Dialog_EditNickName {
	.avatarMedium {
		border: none;
		box-shadow: none;
	}

	.labelHolder {
		margin: 0;
	}

	.mediumName {
		font: var(--text-ui);
		font-weight: bold;
		margin-bottom: var(--text-spacing);
	}

	.nickNamedAs {
		display: none;
	}
}

