.ChatGroupSettingsChannels_Row {
	.ChannelDeleteButton {
		@extend button;
		@extend %text-reset;

		height: fit-content;
	}

	._DialogRow {
		background: none;
		color: inherit;
		padding: 0;
		margin: 0;

		height: unset;

		&Label,
		&SecondaryLabel {
			font: var(--text-ui);
			margin: 0;
		}

		svg {
			display: none;
		}
	}
}

.createNewRoleButton {
	// TODO: mixin
	position: fixed;
	right: var(--pos);
	bottom: var(--pos);
	height: unset;

	svg {
		display: none;
	}
}

.DialogInnerBody > .displayColumn {
	@extend fieldset;

	gap: var(--text-spacing);

	.DialogHBar {
		display: none;
	}

	.DialogLabel {
		@extend %legend-as-div;
	}
}

.DialogSpanningTable {
	@extend .content-container;

	td,
	th {
		@extend %text-reset;
	}

	td {
		@extend .table-row;
	}

	thead th {
		@extend .table-header-row;
	}

	tbody tr {
		background: none;
	}
}

.GeneralChatSettings {
	@extend fieldset;

	& > .Panel {
		@extend label;
	}
}

.PermissionsSectionHeader {
	@extend %legend-as-div;
}

.roleButton {
	width: 100%;
	display: flex;
	justify-content: space-between;

	svg {
		display: none;
	}
}

.roleList {
	@extend [role="tabpanel"];

	flex-grow: 1;

	.DialogBody {
		box-shadow: none;
		padding: 0;
	}
}

.rolePriorityButton {
	@extend button;
	@extend .titlebar-button;

	opacity: 1;

	width: 16px;

	&.Disabled {
		@extend button:disabled;
		@extend .titlebar-button:disabled;

		pointer-events: none;
	}

	&.roleUp,
	&.roleDown {
		--button-img-size: 7px 4px;
		--button-img-pos: center;
	}

	&.roleUp {
		--button-img: var(--icon-arrow-top);
	}

	&.roleDown {
		--button-img: var(--icon-arrow-bottom);

		top: 0;
	}

	svg {
		display: none;
	}
}

.rolePriorityContainer {
	width: unset;
	height: unset;
}

.roleSubtitle {
	@extend %text-reset;
}

