#main-window {
	// Design tokens
	--border-color: #f09;
	--border-color-card: #f09;
	--border-color-interactive: #f09;

	--link-color: var(--color-link);
	--text-color-deemphasized: var(--color-gray-text);
	--text-color-disabled: var(--color-gray-text);

	--button-opacity-disabled: 1;

	// Browser
	--tabpanel-background-color: var(--color-window);

	--tab-block-margin: 0px;
	--tab-close-button-padding: 0px;
	--tab-hover-background-color: transparent;
	--tab-icon-end-margin: var(--text-spacing);
	--tab-inline-padding: calc(var(--text-spacing) * 2);
	--tab-label-line-height: var(--text-line);
	// TODO: add to controls
	--tab-min-height: 24px;

	--toolbarbutton-disabled-opacity: 1;
	--toolbarbutton-hover-background: transparent;
	--toolbarbutton-active-background: transparent;
	--toolbarbutton-inner-padding: 0px;

	--toolbar-bgcolor: var(--color-button-face);
	--toolbar-color: var(--color-button-text);
}
