@use "shared/tabs";

// Purpose:
// Emotes popup

#Content {
	@include tabs.content;
}

#FilterInputContainer {
	margin-block-end: 8px;
	order: -1;
	padding: 0;

	// !important
	#FilterInput:hover {
		background-color: var(--color-window);
	}
}

#Picker {
	margin: var(--dialog-spacing);
}

#Tab {
	@include tabs.tab($selected-sel: "&#Active");
}

#TabContent {
	background-color: transparent;
	color: var(--color-button-text);
	height: var(--icon-size);
	opacity: 1;
	padding: 0;
	width: var(--icon-size);
}

#Tabs {
	@include tabs.container;

	border: none;
	justify-content: unset;
}
