@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";

#ChatTab {
	--height: 22px;

	@include tabs.tab($selected-sel: "&#Active");

	width: unset;
	height: calc(var(--height) + 4px);

	&#Active {
		height: calc(var(--height) + 7px);
		z-index: 4;
	}
}

#ChatTabContent_ChatRoomName {
	@include utils.text-reset;

	mask: none;
	font-weight: bold;
	margin-inline-start: var(--text-spacing);
}

#ChatTabTransitionGroup {
	@include tabs.container;

	border: none;
	//padding-left: 3px;

	.avatarHolder {
		--steamavatar_size: 24px;

		margin-inline-end: var(--text-spacing);
	}

	svg {
		display: none;
	}
}

#CloseButton {
	@include window.titlebar-button;
	@include window.titlebar-button-close;

	position: relative;
}
