#chatEntryActionsContainer {
	margin: 0;

	height: unset;
}

#chatEntryActionsGroup,
#chatEntryControls {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin: 0;
}

#chatEntryControls {
	gap: var(--dialog-button-spacing);

	align-items: end;
}

#chatSubmitButton {
	background-image: none;
}

#minHeightZero {
	height: unset;
	min-height: unset;
	align-self: unset;
}

