@use "shared/tabs";
@use "shared/window";
@use "shared++/utils";

#ChatTab {
	--height: 22px;

	@include tabs.tab($selected-sel: "&#Active");

	width: unset;
	height: calc(var(--height) + 4px);

	&#Active {
		height: calc(var(--height) + 7px);
		z-index: 4;
	}
}

#ChatTabContent_ChatRoomName {
	@include utils.text-reset;

	mask: none;
	// Make it consistent with friends
	font-weight: bold;
}

#ChatTabTransitionGroup {
	@include tabs.container;

	border: none;
	//padding-left: 3px;

	svg {
		display: none;
	}
}

#CloseButton {
	@include window.titlebar-button;
	@include window.titlebar-button-close;

	position: relative;
}
