@use "shared/controls";

#chatEntryActionsContainer {
	margin: 0;

	height: unset;
}

#chatEntryActionsGroup,
#chatEntryControls {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin: 0;
}

#chatEntryControls {
	gap: var(--dialog-button-spacing);

	align-items: end;
}

#chatSubmitButton {
	--button-img: icon("chat-bubble-alt");
	@include controls.button;
	@include controls.icon-button;

	background-image: none;

	width: unset;
	min-height: unset;

	&#EmbedButton {
		--button-img: icon("file");
	}

	&#EmoticonPickerButton {
		--button-img: icon("emoji");
	}
}

#chatTextarea {
	@include controls.text-field;
}

#minHeightZero {
	height: unset;
	min-height: unset;
	align-self: unset;
}
