@use "shared/controls";

#AppName {
	font-size: var(--text-ui-size);
}

#EmoticonHover {
	@include controls.tooltip;

	font-size: var(--text-ui-size);
	box-shadow: none;
}

#Name {
	font-size: var(--text-ui-size);
	font-weight: bold;
}
