/*
#detailText {
	@include utils.text-reset;

	margin: 0;
}

#OfflineContainer {
	@include window.content-container;
}

#OfflineMessage {
	gap: var(--messagebox-content-spacing);
}

#retryButton {
	background-image: none;
	text-transform: unset;

	width: unset;
	height: unset;
}

#summaryText {
	// TODO: header & paragraph spacing ?
	font: var(--text-ui);
	font-weight: bold;
	color: var(--color-window-text);
	text-align: start;
	margin: 0;
}
*/
