@use "shared/controls";
@use "shared++/utils";

#MessageReaction {
	background-color: transparent;
	box-shadow: var(--border-statusbar);
	border: none;
	padding: 3px;
	margin-bottom: 0;
}

// TODO: this is an <svg>, so I can't do anything here...
#OpenPickerButton {
	@include controls.button;
	@include controls.icon-button;

	opacity: 1;
	stroke: var(--color-button-text);
}

#ReactionCount {
	@include utils.text-reset;
}

#ReactionHover {
	@include controls.tooltip;

	font-size: var(--text-ui-size);
	box-shadow: none;
}
