@use "shared/listbox";
@use "shared++/utils";

#LibraryImageBackgroundGlow {
	display: none;
}

#SortingDropDownContainer {
	// ANOTHER fucking context menu, AND it has an !important
	.DesktopUI & > div {
		@include listbox.container;
	}
}

#SortingDropDownItems {
	@include utils.text-reset;

	margin: 0;
}

#SortingDropDownLabel {
	@include utils.text-reset;

	&::after {
		content: ": ";
	}
}
