@use "shared/controls";
@use "shared/window";
@use "shared++/utils";

:root {
	--library_section-display: grid;
	--library_section-header-width: 200px;
	--library_section-rows: var(--library_section-header-width)
		calc(100% - var(--library_section-header-width));
	--library_section-spacing: 8px;
}

#AchievementsPageContainer {
	margin-block: 5%;
}

#AppDetailsMain {
	@include window.content-container;

	border: none;

	// for toolbar
	top: calc(var(--icon-button-height) + var(--text-spacing));
}

#AppDetailsOverlayTransitionGroup {
	#CloseButton {
		--offset: calc(var(--border-size) + var(--window-spacing) + 1px);

		@include controls.button;
		@include window.titlebar-button;
		@include utils.titlebar-button-close;

		background-image: none;

		position: absolute;
		top: var(--offset);
		right: var(--offset);
		width: unset;
	}

	& > div {
		background-color: transparent;
		backdrop-filter: none;
	}
}

#AppDetailsTransitionGroup {
	background-color: transparent;
}

#LibraryWindowDivider {
	background-color: transparent;

	width: 3px;
}

#MainPanel {
	anchor-name: --librarymainpanel;
}
