@use "shared/controls";
@use "shared/window";

#AchievementsPageContainer {
	margin-block: 5%;
}

#AppDetailsMain {
	background-color: var(--color-window);
	border: none;

	// for toolbar; 2rlh is good enough by default (12px * 1.2 * 2 = ~29px),
	// as it fits --icon-button-height and a bit of spacing under the toolbar.
	top: 2rlh;

	// for soundtrack
	:where(& > :not(:empty)) {
		box-shadow: var(--border-field);
		padding: var(--border-size);
	}
}

#AppDetailsOverlayTransitionGroup {
	#CloseButton {
		--offset: calc(var(--border-size) + var(--window-spacing) + 2px);

		@include controls.button;
		@include window.titlebar-button;
		@include window.titlebar-button-close;

		background-image: none;

		position: absolute;
		top: var(--offset);
		right: var(--offset);
		width: unset;
	}

	& > div {
		background-color: transparent;
		backdrop-filter: none;
	}
}

#AppDetailsTransitionGroup {
	background-color: transparent;
}

#LibraryWindowDivider {
	background-color: transparent;

	width: 3px;
}

#MainPanel {
	anchor-name: --librarymainpanel;
}
