@use "shared/window";
@use "shared++/global";
@use "shared++/scrollbar";

:root {
	--appdetails_container-spacing-x: 10px;
	--appdetails_container-spacing-y: 4px;
	--appdetails_highlight-img-size: 80px;

	--deckverified_color-compatible: light-dark(blue, lightblue);
	--deckverified_color-playable: light-dark(#880, yellow);
	--deckverified_color-unsupported: var(--color-gray-text);
	--deckverified_color-verified: light-dark(green, lightgreen);

	--gamelistentry_container-padding: 3px 0;
	--gamelistentry_container-container-padding-block: 2px;
	--gamelistentry_tree-border-inset-top: -11px;

	--library_section-display: grid;
	--library_section-header-width: 200px;
	--library_section-rows: var(--library_section-header-width)
		calc(100% - var(--library_section-header-width));
	--library_section-spacing: 8px;

	// other
	--achievementiconbase_size: 48px;
	--steamavatar_size: 32px;
	--steamdesktop_icon-button-size: var(--combobox-button-height);
}

b {
	font-family: var(--text-ui-font);
}

body {
	@include window.container;
}

// Revert everything in mini profile tooltip, since it will look like absolute
// ass on light theme anyway
.miniProfileHover {
	box-shadow: none;
	padding: 0;

	* {
		box-sizing: content-box;
	}

	.avatar {
		width: calc(100% - 2px);
		height: calc(100% - 2px);
	}

	.avatarHolder {
		--steamavatar_size: 92px;
	}

	.friendPlayerLevel {
		border-radius: 50%;
	}
}
