attr(child) {
	original = replace('"]', s('%s_"]', child), selector());

	s('%s', unquote(original), child);
}

@import '../shared/*';

* {
	transition: none $i;
}

@import 'global/*';
@import 'parts/*';
@import 'popup/*';