attr(child) {
	original = replace('"]', s('%s_"]', child), selector());

	s('%s', unquote(original), child);
}

// An alternative to "@extend table" for special elements
$table-alt {
	background-color: var(--color-window);

	margin: 2px;

	&::before {
		content: '';

		box-shadow: var(--border-field);

		position: fixed;
		inset: var(--inset);

		pointer-events: none;
	}
}

* {
	transition: none;
}
