@use "shared/controls";
@use "shared/table";
@use "shared/window";
@use "shared++/utils";

/// The browser view is above everything else. Used for single element browser
/// views.
@mixin browser-view-host {
	margin-block-start: var(--border-size);
	margin-inline-start: var(--border-size);
	position: relative;
	width: calc(100% - var(--border-size) * 2);

	&::before {
		@include window.content-container;

		content: "";
		inset: calc(var(--border-size) * -1);
		position: absolute;
	}
}

@mixin dialog-title {
	--offset: var(--main-window-border-spacing);

	align-items: center;
	color: var(--color-inactive-caption-text);
	display: flex;
	font: var(--text-ui);
	font-weight: bold;
	height: var(--main-window-titlebar-height);
	inset-block-start: var(--offset);
	inset-inline-start: calc(
		var(--offset) + var(--icon-size) + var(--titlebar-spacing) + 2px
	);
	position: fixed;
	z-index: 2;

	.WindowFocus & {
		color: var(--color-active-caption-text);
	}
}

/// An `--inset` value for generic dialogs for usage with
/// `utils.content-container-alt`.
@mixin generic-dialog-content-container-offset {
	--dialog-offset: calc(
		var(--main-window-border-spacing) + var(--dialog-spacing)
	);
	--inset-inline: var(--dialog-offset);
	--inset-block-start: calc(
		var(--dialog-offset) + var(--main-window-titlebar-height) + 1lh +
			var(--text-spacing)
	);
	--inset-block-end: calc(
		var(--dialog-offset) + var(--statusbar-height) + var(--window-gap) * 2 +
			1lh + var(--button-spacing) * 2 + var(--dialog-button-spacing)
	);
	--inset: var(--inset-block-start) var(--inset-inline) var(--inset-block-end)
		var(--inset-inline);
}

@mixin icon-mono-button($disabled-sel: "&:disabled") {
	--offset-click: 0;

	height: var(--icon-button-height);
	min-width: var(--icon-button-width);

	&:active {
		--offset-click: 1px;

		background: var(--checkerboard);
		box-shadow: var(--border-button-sunken);
	}

	#{$disabled-sel} {
		&::before {
			background-color: var(--color-gray-text);
		}

		&::after {
			--offset-disabled: 1px;

			@include utils.pseudo-icon;

			background-color: var(--color-button-highlight);
			inset-block-start: var(--offset-disabled);
			inset-inline-start: var(--offset-disabled);
		}
	}

	&::before {
		@include utils.pseudo-icon;

		background-color: var(--color-button-text);
		inset-block-start: var(--offset-click);
		inset-inline-start: var(--offset-click);
		z-index: 1;
	}
}

@mixin library_drag-handle {
	@include controls.drag-handle;

	height: calc(100% - var(--appdetails_container-spacing-y) * 2);
	inset-inline-start: calc(var(--appdetails_container-spacing-x) / 2 - 2px);
	opacity: 1;
	position: absolute;

	&::before {
		content: "";
		inset: calc(var(--appdetails_container-spacing-y) * -1);
		position: absolute;
	}
}

@mixin library_in-toolbar {
	inset-block-start: anchor(top);
	margin-inline: var(--toolbar-container-spacing);
	position: fixed;
	position-anchor: --librarymainpanel;
}

@mixin library_section {
	display: var(--library_section-display);
	grid-template-columns: var(--library_section-rows);
}

@mixin library_section-content {
	color: var(--color-window-text);
	padding: var(--appdetails_container-spacing-y)
		var(--appdetails_container-spacing-x);
}

@mixin library_section-header {
	@include table.header-row;

	// A bit more spacing to account for the huge amounts of content there is
	padding: var(--appdetails_container-spacing-y)
		var(--appdetails_container-spacing-x);
}

@mixin statusbar-alt {
	&::after {
		--offset: var(--main-window-border-spacing);

		@include window.statusbar-item;

		content: "";
		height: calc(1lh + 2px);
		inset: var(--offset);
		inset-block-start: unset;
		position: fixed;
	}
}

@mixin table-button-arrows {
	&:has([d="M17.98 26.54L3.20996 11.77H32.75L17.98 26.54Z"]) {
		@include table.button-arrow-ascending;
	}

	&:has([d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
		@include table.button-arrow-descending;
	}
}

@mixin pageable-container-button {
	--button-img-size: 5px 9px;
	--button-img-pos: 7px 6px;
	@include controls.button($disabled-sel: "&#Disabled");
	@include controls.icon-button;

	opacity: 1;

	// TODO(shared/window): unify when I can afford to make these icons

	&::before {
		z-index: 1;
	}

	&#Disabled {
		pointer-events: none;

		&::before {
			background: var(--color-button-text);
			mask: var(--button-img, none) no-repeat;
			mask-position: var(--button-img-pos, center);
			mask-size: var(--button-img-size, auto auto);
		}

		&::after {
			@include utils.pseudo-icon;

			background-color: var(--color-button-highlight);
			inset-block-start: 1px;
			inset-inline-start: 1px;
		}
	}

	svg {
		display: none;
	}
}
