@use "shared/controls";
@use "shared/table";
@use "shared++/utils";

// An alternative to "@include window.content-container" for special elements
@mixin content-container-alt {
	background-color: var(--color-window);

	margin: var(--border-size);

	&::before {
		content: "";

		position: fixed;
		inset: var(--inset);

		pointer-events: none;

		box-shadow: var(--border-field);
	}
}

@mixin dialog-title {
	--offset: calc(var(--border-size) + var(--window-spacing));

	color: var(--color-inactive-caption-text);
	font: var(--text-ui);
	font-weight: bold;

	display: flex;
	align-items: center;
	position: fixed;
	left: calc(var(--offset) + var(--icon-size) + var(--titlebar-spacing));
	top: var(--offset);
	height: var(--titlebar-height);

	.WindowFocus & {
		color: var(--color-active-caption-text);
	}
}

@mixin icon-mono-button($disabled-sel: "&:disabled") {
	--offset-click: 0;
	min-width: var(--icon-button-width);
	height: var(--icon-button-height);

	&:active {
		--offset-click: 1px;
		background: var(--checkerboard);
		box-shadow: var(--border-button-sunken);
	}

	#{$disabled-sel} {
		&::before {
			background-color: var(--color-gray-text);
		}

		&::after {
			@include utils.pseudo-icon;

			--offset-disabled: 1px;
			top: var(--offset-disabled);
			left: var(--offset-disabled);

			background-color: var(--color-button-highlight);
		}
	}

	&::before {
		@include utils.pseudo-icon;

		top: var(--offset-click);
		left: var(--offset-click);
		z-index: 1;

		background-color: var(--color-button-text);
	}
}

@mixin library-drag-handle {
	@include controls.drag-handle;

	opacity: 1;

	position: absolute;
	left: calc(var(--appdetails_container-spacing-x) / 2 - 2px);
	height: calc(100% - var(--appdetails_container-spacing-y) * 2);

	&::before {
		content: "";

		position: absolute;
		inset: calc(var(--appdetails_container-spacing-y) * -1);
	}
}

@mixin library-in-toolbar {
	margin-inline: var(--toolbar-container-spacing);

	position: fixed;
	position-anchor: --librarymainpanel;
	top: anchor(top);
}

@mixin library-section {
	display: var(--library_section-display);
	grid-template-columns: var(--library_section-rows);
}

@mixin library-section-content {
	color: var(--color-window-text);
	padding: var(--appdetails_container-spacing-y)
		var(--appdetails_container-spacing-x);
}

@mixin library-section-header {
	@include table.header-row;

	// A bit more spacing to account for the huge amounts of content there is
	padding: var(--appdetails_container-spacing-y)
		var(--appdetails_container-spacing-x);
}

@mixin statusbar-alt {
	&::after {
		content: "";

		position: fixed;
		left: 4px;
		right: 4px;
		bottom: 4px;
		height: calc(1lh + 2px);

		box-shadow: var(--border-statusbar);
		padding: 1px 15px 1px 2px;
	}
}

@mixin table-button-arrows {
	&:has([d="M17.98 26.54L3.20996 11.77H32.75L17.98 26.54Z"]) {
		@include table.button-arrow-ascending;
	}

	&:has([d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
		@include table.button-arrow-descending;
	}
}

@mixin pageable-container-button {
	--button-img-size: 5px 9px;
	--button-img-pos: 7px 6px;
	@include controls.button($disabled-sel: "#Disabled");
	@include controls.icon-button;

	opacity: 1;

	// TODO(shared/window): unify when I can afford to make these icons

	&::before {
		z-index: 1;
	}

	&#Disabled {
		pointer-events: none;

		&::before {
			background: var(--color-button-text);
			mask: var(--button-img, none) no-repeat;
			mask-size: var(--button-img-size, auto auto);
			mask-position: var(--button-img-pos, center);
		}

		&::after {
			@include utils.pseudo-icon;

			left: 1px;
			top: 1px;

			background-color: var(--color-button-highlight);
		}
	}

	svg {
		display: none;
	}
}
