@use "shared/controls";
@use "shared/generatedassets";
@use "shared/listbox";
@use "shared/tabs";
@use "shared/text";
@use "shared/window";
@use "shared++/utils";
@use "steam/shared";

:where(.DialogBody) {
	@include tabs.content;

	font: var(--text-ui);
	gap: var(--text-spacing);
	margin: 0;
	mask-image: none; // client settings
	overflow: auto;

	// "In Game" settings tab
	& > .DialogSubHeader {
		position: unset;
	}

	a {
		@include text.link;
	}
}

:where(.DialogBodyText) {
	@include utils.text-reset;

	padding: 0;
	margin-block-end: var(--text-spacing);
}

:where(.DialogButton) {
	@include controls.button($disabled-sel: "&.Disabled");

	background-image: none;

	&.Primary {
		min-width: 111px;
	}

	&::before {
		box-shadow: none;
		opacity: 1;
	}
}

:where(.DialogCheckbox) {
	@include controls.checkbox(
		$checked-sel: "&.Active",
		$disabled-sel: "&.Disabled"
	);

	flex-shrink: 0;
	margin: 0;

	&.Disabled {
		filter: none;
		opacity: 1;
	}

	& > svg {
		display: none;
	}
}

:where(.DialogCheckbox_Container) {
	@include text.input-label;

	background-color: transparent;
	box-shadow: none;
	margin-block-end: var(--text-spacing);
	padding: 0;
}

:where(.DialogContent) {
	background: transparent;
	font: var(--text-ui);
	padding: var(--dialog-spacing);
	padding-block-end: calc(
		var(--statusbar-height) + var(--window-gap) + var(--dialog-spacing)
	);

	.DialogContentTransition > & {
		--dialog-spacing: 0px;
	}
}

:where(.DialogContentTransition) {
	background: transparent;
}

:where(.DialogControlsSection) {
	@include controls.groupbox;

	display: flex;
	flex-direction: column;
	gap: var(--text-spacing);

	& > .DialogBodyText {
		@include utils.legend-as-div;
	}
}

:where(.DialogControlsSectionHeader) {
	@include utils.text-reset;
	@include utils.legend-as-div;
}

:where(.DialogDropDown) {
	@include controls.combobox;

	align-items: center;
	display: flex;
	min-width: 129px;
}

:where(.DialogDropDown_Arrow) {
	display: none;
}

:where(.DialogDropDown_CurrentDisplay) {
	background-color: transparent;
	padding: 0;
}

:where(.DialogFooter) {
	padding-block-start: var(--dialog-button-spacing);

	// Spinner in game info dialog
	.DialogButton > span > svg {
		display: none;
	}
}

:where(.DialogHeader) {
	font-size: var(--text-ui-size);
	font-weight: bold;
	text-transform: unset;
	margin: 0;
	padding: 0;

	.PopupFullWindow > :last-child & {
		@include shared.dialog-title;

		html[browsertype="DirectHWND"] & {
			display: none;
		}
	}

	// About Steam dialog
	svg {
		display: none;
	}
}

// Only used in "Invite to group chat" dialog
:where(.DialogHeaderSubtitle) {
	color: inherit;
	font: inherit;
	letter-spacing: 0;
	margin-inline-start: var(--text-spacing);

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}
}

:where(.DialogInnerBody) {
	overflow: visible;
	padding: 0;
}

:where(.DialogInput) {
	@include controls.text-field;

	height: unset;
}

:where(.DialogInputLabelGroup) {
	margin: 0;
}

:where(.DialogInput_Wrapper) {
	gap: var(--dialog-button-spacing);
}

:where(.DialogLabel) {
	color: inherit;
	font: var(--text-ui);
	margin: 0;
	text-transform: unset;
}

:where(.DialogMenuPosition ._DialogInputContainer) {
	@include listbox.container;

	box-shadow: none;
	font: var(--text-ui);
	padding: 0;
}

:where(.DialogRoundCheckboxField) {
	height: unset;
	margin-inline-end: var(--label-spacing);
	width: unset;
}

:where(.DialogRoundCheckboxField_Control) {
	@include controls.radio($checked-sel: "&.Active");
}

:where(.DialogRoundCheckboxField_OuterCircle) {
	display: none;
}

:where(.DialogSlider_Container) {
	background-color: transparent;
}

:where(.DialogSlider_Grabber) {
	box-shadow: none;
}

:where(.DialogSlider_Slider) {
	@include controls.slider(
		$thumb-sel: ".DialogSlider_Grabber",
		$track-sel: ".DialogSlider_Value"
	);

	box-shadow: none;
}

:where(.DialogSubHeader) {
	@include utils.text-reset;
	@include utils.legend-as-div;
}

:where(.DialogToggle_Description) {
	color: var(--color-gray-text);
	font: var(--text-ui);
	padding-block-start: var(--text-spacing);
}

:where(.DialogToggle_Label) {
	color: inherit;
	font: var(--text-ui);
}

:where(.DialogToggleField) {
	align-items: start;
	background: none;
	color: inherit;
	flex-direction: row-reverse;
	gap: var(--label-spacing);
	justify-content: start;
	padding: 0;
}

:where(.DialogToggleField_NewUIContainer) {
	height: unset;
}

:where(._DialogColLayout) {
	gap: var(--dialog-button-spacing);
	justify-content: end;

	& > ._DialogLayout {
		flex: 0;
	}
}

// In-client/page dialog
.FullModalOverlay {
	.DialogBody {
		box-shadow: none;
	}

	.DialogContent {
		@include window.container($child: true);
	}

	.DialogHeader {
		@include window.titlebar($focused-sel: "&");

		// "Mark as Private" dialog
		div:not(.DialogHeader) {
			display: none;
		}
	}
}

.GenericConfirmDialog {
	justify-content: start;
	padding: 0;

	.DialogBody {
		box-shadow: none;
		gap: var(--messagebox-content-spacing);
		padding: var(--messagebox-spacing);
	}

	.DialogBodyText {
		margin-block-end: 0;
	}
}

.ModalOverlayBackground {
	display: none;
}

.ModalDialogPopup {
	inset: 0;
	position: fixed;
}

.ModalPosition {
	background-image: none;

	.PopupFullWindow > & {
		height: calc(100% - var(--main-window-titlebar-height) - var(--window-gap));
	}
}

.ModalPosition_Content {
	@include utils.text-reset;

	box-shadow: none;
}

.ModalPosition_Dismiss {
	inset-block-start: calc(var(--border-size) + var(--window-spacing) + 1px);
	inset-inline-end: calc(var(--border-size) + var(--window-spacing) + 1px);

	.closeButton {
		@include controls.button;
		@include window.titlebar-button;
		@include window.titlebar-button-close;
	}

	svg {
		display: none;
	}
}

.ModalPosition_TopBar {
	display: none;
}

.PopupFullWindow {
	&:not(:only-child) {
		@include shared.statusbar-alt;
	}

	&:only-child {
		--statusbar-height: 0px;
	}
}

:where(.SettingsDialogSubHeader) {
	@include utils.text-reset;
	@include utils.legend-as-div;
}

// Friends list
.singleWindowFocusBar {
	display: none;
}

.title-area {
	@include window.titlebar($focused-sel: ".WindowFocus &");

	max-height: var(--main-window-titlebar-height);
	min-height: var(--main-window-titlebar-height);
	position: unset;

	html[browsertype="DirectHWND"] & {
		display: none;
	}

	.WindowFocus & {
		--color-inactive-caption-bg-start: var(--color-active-caption-bg-start);
		--color-inactive-caption-bg-end: var(--color-active-caption-bg-end);
		--color-inactive-caption-text: var(--color-active-caption-text);
	}

	&::before {
		background-color: currentColor;
		content: "";
		height: var(--icon-size);
		mask: icon("steam");
		width: var(--icon-size);
	}
}

// Used only in overlay browser ? (in theme also used in main window)
.title-area-children {
	@include window.titlebar-name;

	color: var(--color-inactive-caption-text);
	font-size: var(--text-ui-size);
	// Overlay browser
	padding: 0;
	text-align: start;
}

:where(.title-area-icon) {
	@include controls.button;
	@include window.titlebar-button;

	width: unset;

	&.minimizeButton {
		@include window.titlebar-button-minimize;
	}

	&.maximizeButton {
		@include window.titlebar-button-maximize;
	}

	&.restoreButton {
		@include window.titlebar-button-restore;
	}

	&.closeButton {
		@include window.titlebar-button-close;
	}
}

.title-area-icon-inner {
	display: none;
}

.title-area-highlight {
	display: none;
}

.window_resize_grip {
	@include window.resize-handle;

	opacity: 1;
}
