@use "shared/controls";
@use "shared/table";
@use "shared/tooltip";

// An alternative to "@include window.content-container" for special elements
@mixin content-container-alt {
	background-color: var(--color-window);

	margin: var(--border-size);

	&::before {
		content: "";

		position: fixed;
		inset: var(--inset);

		pointer-events: none;

		box-shadow: var(--border-field);
	}
}

@mixin dialog-title {
	--offset: calc(var(--border-size) + var(--window-spacing));

	color: var(--color-inactive-caption-text);
	font: var(--text-ui);
	font-weight: bold;

	display: flex;
	align-items: center;
	position: fixed;
	left: calc(var(--offset) + var(--icon-size) + var(--titlebar-spacing));
	top: var(--offset);
	height: var(--titlebar-height);

	.WindowFocus & {
		color: var(--color-active-caption-text);
	}
}

@mixin statusbar-alt {
	&::after {
		content: "";

		position: fixed;
		left: 4px;
		right: 4px;
		bottom: 4px;
		height: calc(var(--text-full) + 2px);

		box-shadow: var(--border-statusbar);
		padding: 1px 15px 1px 2px;
	}
}

@mixin table-button-arrows {
	&:has([d="M17.98 26.54L3.20996 11.77H32.75L17.98 26.54Z"]) {
		@include table.button-arrow-ascending;
	}

	&:has([d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
		@include table.button-arrow-descending;
	}
}

@mixin tooltip {
	@include tooltip.container;

	font-size: var(--text-ui-size);
	box-shadow: none;
}

@mixin pageable-container-button {
	--button-img-size: 5px 9px;
	--button-img-pos: 7px 6px;
	@include controls.button($disabled-sel: "#Disabled");
	@include controls.icon-button;

	opacity: 1;

	// TODO(shared/window): unify when I can afford to make these icons

	&::before {
		z-index: 1;

		// TODO(icons): fix this shit already
		background-size: var(--button-img-size);
	}

	&#Disabled {
		pointer-events: none;

		&::before {
			background: var(--color-button-text);
			mask: var(--button-img, none) no-repeat;
			mask-size: var(--button-img-size, auto auto);
			mask-position: var(--button-img-pos, center);
		}
	}

	&::after {
		content: "";

		position: absolute;
		inset: 0;
		left: 1px;
		top: 1px;

		background-color: var(--color-button-highlight);
		mask: var(--button-img, none) no-repeat;
		mask-size: var(--button-img-size, auto auto);
		mask-position: var(--button-img-pos, center);
	}

	svg {
		display: none;
	}
}
