attr(child) {
	original = replace('"]', s('%s_"]', child), selector());

	s('%s', unquote(original), child);
}

// An alternative to "@extend .content-container" for special elements
$content-container-alt {
	background-color: var(--color-window);

	margin: var(--border-size);

	&::before {
		content: '';

		position: fixed;
		inset: var(--inset);

		pointer-events: none;

		box-shadow: var(--border-field);
	}
}

$dialog-title {
	--s: calc(1px + var(--border-size) + var(--window-spacing));

	color: var(--color-inactive-caption-text);
	font: var(--text-ui);
	font-weight: bold;

	position: fixed;
	left: calc(var(--s) + var(--icon-size) + var(--titlebar-spacing));
	top: calc(var(--s) + 2px);

	.WindowFocus & {
		color: var(--color-active-caption-text);
	}
}

$statusbar-alt {
	&::after {
		content: '';

		position: fixed;
		left: 4px;
		right: 4px;
		bottom: 4px;
		height: calc(var(--text-full) + 2px);

		background-color: var(--color-button-face);
		box-shadow: var(--border-statusbar);
		padding: 1px 15px 1px 2px;
	}
}

$pageable-container-button {
	@extend button;
	@extend .titlebar-button;

	--button-img-size: 4px 7px;
	--button-img-pos: center;

	opacity: 1;

	width: unset;

	svg {
		display: none;
	}
}

body {
	@extend .window;
}

button {
	text-align: center;
}
