attr(child) {
	original = replace('"]', s('%s_"]', child), selector());

	s('%s', unquote(original), child);
}

// An alternative to "@extend .content-container" for special elements
$content-container-alt {
	background-color: var(--color-window);

	margin: var(--border-size);

	&::before {
		content: '';

		position: fixed;
		inset: var(--inset);

		pointer-events: none;

		box-shadow: var(--border-field);
	}
}

$dialog-title {
	--s: calc(1px + var(--border-size) + var(--window-spacing));

	color: var(--color-inactive-caption-text);
	font: var(--text-ui);
	font-weight: bold;

	position: fixed;
	left: calc(var(--s) + var(--icon-size) + var(--titlebar-spacing));
	top: calc(var(--s) + 2px);

	.WindowFocus & {
		color: var(--color-active-caption-text);
	}
}

body {
	@extend .window;
}

button {
	text-align: center;
}
