@use "shared++/icons";
@use "vscode/shared";

// Single icon for multiple classes,
// not alphabetically sorted.

.codicon-alert,
.codicon-warning,
.codicon-extensions-warning-message,
.codicon-markers-view-icon {
	@include icons.icon-warning;

	@include shared.replace-icon("9px");
}

.codicon-error,
.codicon-stop,
.codicon-extensions-error-message,
.codicon-notebook-state-error,
.codicon-testing-cancel-refresh-tests,
.codicon-testing-failed-icon {
	@include icons.icon-error;

	@include shared.replace-icon("10px");
}

.codicon-filter,
.codicon-extensions-filter,
.codicon-find-filter,
.codicon-preferences-filter,
.codicon-testing-filter,
.codicon-timeline-filter {
	@include icons.icon-filter;
}

.codicon-arrow-left {
	@include icons.icon-big-arrow-left;
}

.codicon-arrow-right {
	@include icons.icon-big-arrow-right;
}

.codicon-auxiliarybar-right-layout-icon {
	@include icons.icon-sidebar-right-on;
}

.codicon-auxiliarybar-right-off-layout-icon {
	@include icons.icon-sidebar-right-off;
}

.codicon-bell {
	@include icons.icon-bell;

	--icon-img: var(--button-img);
	@include shared.replace-icon("9px");
}

.codicon-case-sensitive {
	@include icons.icon-case-sensitive;
}

.codicon-panel-layout-icon {
	@include icons.icon-panel-on;
}

.codicon-panel-layout-off {
	@include icons.icon-panel-off;
}

.codicon-panel-left {
	@include icons.icon-panel-left-on;
}

.codicon-panel-left-off {
	@include icons.icon-panel-left-off;
}

.codicon-panel-maximize {
	@include icons.icon-big-arrow-top;
}

.codicon-panel-restore {
	@include icons.icon-big-arrow-bottom;
}

.codicon-preserve-case {
	@include icons.icon-match-case;
}

.codicon-regex {
	@include icons.icon-regex;
}

.codicon-whole-word {
	@include icons.icon-whole-word;
}

.monaco-workbench .part.basepanel.right {
	.codicon-split-horizontal:before,
	.codicon-panel-maximize:before,
	.codicon-panel-restore:before {
		transform: none;
	}
}

// Override for eac5 in vscode.js
.codicon-collapse-all,
.codicon-debug-collapse-all,
.codicon-search-collapse-results {
	--button-img: icon("minimize", "mono");
	--button-img-size: 6px 2px;
	--button-img-pos: 4px 16px;
}

// Override for ea7c in vscode.js
.codicon-more,
.codicon-ellipsis,
.codicon-kebab-horizontal,
.codicon-menubar-more,
.codicon-toolbar-more,
.codicon-search-details {
	--button-img-pos-x: 4px;
	--button-img-pos-y: 5px;
}

// Large icons on the side ...
.activitybar .codicon {
	&.codicon-explorer-view-icon {
		background-image: icon("folder-32");
	}

	&.codicon-search-view-icon {
		background-image: icon("search-24");
	}

	&.codicon-source-control-view-icon {
		background-image: icon("source-control-32");
	}

	&.codicon-run-view-icon {
		background-image: icon("debug-32");
	}

	&.codicon-extensions-view-icon {
		background-image: icon("extensions-32");
	}

	&.codicon-settings-view-bar-icon {
		background-image: icon("settings-24");
	}
}

/* ... and small icons for tabs. */
// !important
body
	.monaco-workbench
	.pane-composite-part
	> .header-or-footer
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item.icon
	.action-label.codicon:not(.codicon-more) {
	background: no-repeat center;

	margin-bottom: -4px;

	position: relative;
	width: 16px;
	height: 17px;
	top: -3px;

	&::before {
		visibility: hidden;
	}

	&.codicon-explorer-view-icon {
		background-image: icon("folder");
	}

	&.codicon-search-view-icon {
		background-image: icon("file-search");
	}

	&.codicon-source-control-view-icon {
		background-image: icon("source-control");
	}

	&.codicon-run-view-icon {
		background-image: icon("debug");
	}

	&.codicon-extensions-view-icon {
		background-image: icon("extensions");
	}
}
