.codicon-more,
.codicon-ellipsis,
.codicon-kebab-horizontal,
.codicon-menubar-more,
.codicon-toolbar-more,
.codicon-search-details {
	--button-img: icon("overflow", "mono");
}

.codicon-new-file,
.codicon-file-add,
.codicon-search-new-editor {
	--button-img: icon("file-open", "normal");
}

.codicon-close,
.codicon-remove-close,
.codicon-x,
.codicon-dialog-close,
.codicon-tree-filter-clear,
.codicon-widget-close,
.codicon-diff-review-close,
.codicon-panel-close,
.codicon-auxiliarybar-close,
.codicon-ports-stop-forward-icon,
.codicon-settings-remove,
.codicon-watch-expression-remove,
.codicon-search-remove,
.codicon-terminal-command-history-remove,
.codicon-tasks-remove,
.codicon-profiles-editor-remove-folder,
.codicon-workspace-trust-editor-cross,
.codicon-workspace-trust-editor-remove-folder,
.codicon-notifications-clear {
	--button-img: icon("close", "mono");
}

.codicon-trash,
.codicon-trashcan,
.codicon-notebook-delete-cell,
.codicon-debug-remove-config,
.codicon-terminal-kill {
	--button-img: icon("clear", "normal");
}

.codicon-symbol-reference,
.codicon-go-to-file,
.codicon-preferences-open-settings,
.codicon-search-open-in-file,
.codicon-terminal-command-history-open-file {
	--button-img: icon("file-preview", "normal");
}

.codicon-book,
.codicon-remote-explorer-documentation,
.codicon-open-editors-view-icon {
	--button-img: icon("book", "normal");
}

.codicon-clear-all,
.codicon-preferences-clear-input,
.codicon-notebook-clear,
.codicon-extensions-clear-search-results,
.codicon-debug-console-clear-all,
.codicon-search-clear-results,
.codicon-notifications-clear-all {
	--button-img: icon("clear", "normal");
}

.codicon-gear,
.codicon-settings-more-action,
.codicon-extensions-manage,
.codicon-debug-configure,
.codicon-testing-update-profiles,
.codicon-terminal-configure-profile,
.codicon-tasks-list-configure,
.codicon-theme-selection-manage-extension,
.codicon-notifications-configure {
	--button-img: icon("settings", "normal");
}

.codicon-git-compare,
.codicon-compare-changes {
	--button-img: icon("file-preview", "normal");
}

.codicon-refresh,
.codicon-rerun-task,
.codicon-extensions-refresh,
.codicon-search-refresh,
.codicon-testing-refresh-tests,
.codicon-timeline-refresh {
	--button-img: icon("reload", "normal");
}

.codicon-settings-gear,
.codicon-settings-view-bar-icon {
	--button-img: icon("settings", "normal");
}

.codicon-split-horizontal {
	--button-img: icon("sidebar", "normal");
}

.codicon-list-flat,
.codicon-search-list {
	--button-img: icon("list", "normal");
}

.codicon-layout,
.codicon-configure-layout-icon {
	--button-img: icon("window-edit", "normal");
}
