.codicon-arrow-left {
	--button-img: icon("arrow-big-left", "mono");
}

.codicon-arrow-right {
	--button-img: icon("arrow-big-right", "mono");
}

.codicon-panel-maximize {
	--button-img: icon("arrow-big-top", "mono");
}

.codicon-panel-restore {
	--button-img: icon("arrow-big-bottom", "mono");
}

.monaco-workbench .part.basepanel.right {
	.codicon-split-horizontal:before,
	.codicon-panel-maximize:before,
	.codicon-panel-restore:before {
		transform: none;
	}
}

// Override for eac5 in vscode.js
.codicon-collapse-all,
.codicon-debug-collapse-all,
.codicon-search-collapse-results {
	--button-img: icon("minimize", "mono");
	--button-img-size: 6px 2px;
	--button-img-pos: 4px 16px;
}

// Override for ea7c in vscode.js
.codicon-more,
.codicon-ellipsis,
.codicon-kebab-horizontal,
.codicon-menubar-more,
.codicon-toolbar-more,
.codicon-search-details {
	--button-img-pos-x: 4px;
	--button-img-pos-y: 5px;
}

// !important
body
	.monaco-workbench
	.pane-composite-part
	> .header-or-footer
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item.icon
	.action-label.codicon:not(.codicon-more) {
	background: no-repeat center;
	color: transparent;

	position: relative;
	width: var(--icon-size);
	height: var(--icon-size);
	top: -1px;

	&.codicon-explorer-view-icon {
		background-image: icon("folder");
	}

	&.codicon-search-view-icon {
		background-image: icon("file-search");
	}

	&.codicon-source-control-view-icon {
		background-image: icon("source-control");
	}

	&.codicon-run-view-icon {
		background-image: icon("debug");
	}

	&.codicon-extensions-view-icon {
		background-image: icon("extensions");
	}
}
