.codicon {
	/*
	 * Single icon for multiple classes,
	 * not alphabetically sorted.
	 */
	&-chevron-left,
	&-inline-suggestion-hints-previous {
		--icon-img: var(--icon-arrow-left);
		--button-img: var(--icon-img);
		--button-img-size: 4px 7px;
		--button-img-pos: 4px center;
	}

	&-chevron-up,
	&-parameter-hints-previous,
	&-notifications-expand,
	&-review-comment-collapse,
	&-markers-view-multi-line-expanded,
	&-panel-maximize {
		--icon-img: var(--icon-arrow-top);
		--button-img: var(--icon-img);
		--button-img-size: 7px 4px;
		--button-img-pos: 4px center;
	}

	&-chevron-right,
	&-menu-submenu,
	&-suggest-more-info,
	&-find-collapsed,
	&-inline-suggestion-hints-next,
	&-debug-console-evaluation-prompt,
	&-notebook-collapsed,
	&-search-hide-replace,
	&-view-pane-container-collapsed,
	&-breadcrumb-separator {
		--icon-img: var(--icon-arrow-right);
		--button-img: var(--icon-img);
		--button-img-size: 4px 7px;
		--button-img-pos: 4px center;
	}
	&-folding-collapsed,
	&-folding-manual-collapsed {
		--icon-img: var(--icon-arrow-right);
		replace-icon(4px, 7px);
	}

	&-chevron-down,
	&-drop-down-button,
	&-tree-item-expanded,
	&-parameter-hints-next,
	&-find-expanded,
	&-notifications-hide,
	&-notifications-collapse,
	&-notebook-expanded,
	&-search-show-replace,
	&-markers-view-multi-line-collapsed,
	&-view-pane-container-expanded,
	&-panel-restore {
		--icon-img: var(--icon-arrow-bottom);
		--button-img: var(--icon-img);
		--button-img-size: 7px 4px;
		--button-img-pos: 4px center;
	}
	&-folding-expanded,
	&-folding-manual-expanded {
		--icon-img: var(--icon-arrow-bottom);
		replace-icon(7px, 4px);
	}

	&-add,
	&-plus,
	&-gist-new,
	&-repo-create,
	&-diff-review-insert,
	&-diff-insert,
	&-watch-expressions-add,
	&-watch-expressions-add-function-breakpoint,
	&-keybindings-add,
	&-ports-forward-icon,
	&-terminal-new {
		@extend $icon-plus;
	}

	&-alert,
	&-warning,
	&-extensions-warning-message,
	&-markers-view-icon {
		@extend $icon-warning;

		replace-icon(9px);
	}

	&-book,
	&-remote-explorer-documentation,
	&-open-editors-view-icon {
		@extend $icon-book;
	}

	&-clear-all,
	&-debug-console-clear-all,
	&-extensions-clear-search-results,
	&-notebook-clear,
	&-notifications-clear-all,
	&-preferences-clear-input,
	&-search-clear-results {
		@extend $icon-clear;
	}

	&-notifications-hide,
	&-notifications-collapse,

	&-close,
	.titlebar &-chrome-close,
	&-dialog-close,
	&-diff-review-close,
	&-notifications-clear,
	&-panel-close,
	&-ports-stop-forward-icon,
	&-remove-close,
	&-search-remove,
	&-settings-remove,
	&-tasks-remove,
	&-terminal-command-history-remove,
	&-tree-filter-clear,
	&-watch-expression-remove,
	&-widget-close,
	&-workspace-trust-editor-cross,
	&-workspace-trust-editor-remove-folder,
	&-x {
		@extend $titlebar-button-close;
	}

	&-collapse-all,
	&-debug-collapse-all,
	&-search-collapse-results {
		@extend $icon-collapse;
	}

	&-error,
	&-stop,
	&-extensions-error-message,
	&-notebook-state-error,
	&-testing-cancel-refresh-tests,
	&-testing-failed-icon {
		@extend $icon-error;

		replace-icon(10px);
	}

	&-symbol-reference,
	&-go-to-file,
	&-preferences-open-settings,
	&-search-open-in-file {
		@extend $icon-go-to-file;
	}

	&-filter,
	&-extensions-filter,
	&-find-filter,
	&-preferences-filter,
	&-testing-filter,
	&-timeline-filter {
		@extend $icon-filter;
	}

	&-gist-private,
	&-git-fork-private,
	&-lock,
	&-mirror-private,
	&-private-ports-view-icon {
		@extend $icon-lock;
	}

	// Everything, except the last one, are different, but look similiar
	&-list-selection,
	&-selection,
	&-tree-filter-on-type-off,
	&-find-selection,
	&-search-show-context,
	&-list-flat {
		@extend $icon-list;
	}

	&-refresh,
	&-extensions-refresh,
	&-search-refresh,
	&-testing-rerun-icon,
	&-testing-refresh-tests,
	&-timeline-refresh {
		@extend $icon-refresh;
	}

	&&-gear,
	&&-notifications-configure,
	&&-debug-configure,
	&&-extensions-manage,
	&&-settings-gear,
	&&-settings-view-bar-icon,
	&&-settings-more-action,
	&&-terminal-rename,
	&&-terminal-configure-profile,
	&&-testing-update-profiles,
	&&-tasks-list-configure,
	&&-theme-selection-manage-extension {
		@extend $icon-settings;

		&::before {
			height: 13px;
		}
	}

	&-discard,
	&-trash,
	&-trashcan,
	&-debug-remove-config,
	&-notebook-delete-cell,
	&-terminal-kill {
		@extend $icon-trash;
	}

	&-more,
	&-ellipsis,
	&-kebab-horizontal,
	&-menubar-more,
	&-toolbar-more,
	&-search-details {
		@extend $icon-more;
	}
	/* end */

	/* Dialogs */
	&-info,
	&-shield,
	&-dialog-warning {
		background-image: var(--icon-dialog-warning);
	}

	&-dialog-info {
		background-image: var(--icon-dialog-question);
	}
	/* end */

	&-arrow {
		&-left,
		&-right {
			--button-img-size: 4px 7px;
			--button-img-pos: 5px 3px;
		}

		&-left {
			--button-img: var(--icon-arrow-left);
		}

		&-right {
			--button-img: var(--icon-arrow-right);
		}
	}

	&-auxiliarybar-right {
		&-layout-icon {
			@extend $icon-sidebar-right-on;
		}

		&-off-layout-icon {
			@extend $icon-sidebar-right-off;
		}
	}

	&-bell {
		@extend $icon-bell;

		--icon-img: var(--button-img);
		replace-icon(9px);
	}

	&-chrome {
		&-maximize {
			@extend $titlebar-button-maximize;
		}

		&-minimize {
			@extend $titlebar-button-minimize;
		}

		&-restore {
			@extend $titlebar-button-restore;
		}
	}

	&-configure-layout-icon {
		@extend $icon-layout;
	}

	&-case-sensitive {
		@extend $icon-case-sensitive;
	}

	&-list-tree {
		@extend $icon-tree;
	}

	&-menu-submenu {
		--icon-img: var(--icon-arrow-right);
		--button-img: var(--icon-img);
		replace-icon(4px, 7px);

		.action-menu-item:hover > & {
			--color-button-text: var(--color-highlight-text);
		}
	}

	&&-new-file,
	&&-file-add,
	&&-search-new-editor {
		@extend $icon-new-file;
	}

	&&-new-folder {
		@extend $icon-new-folder;
	}

	&-panel {
		&-layout-icon {
			@extend $icon-panel-on;

			&-off {
				@extend $icon-panel-off;
			}
		}

		&-left {
			@extend $icon-panel-left-on;

			&-off {
				@extend $icon-panel-left-off;
			}
		}

		&-maximize,
		&-restore {
			--button-img-size: 7px 4px;
			--button-img-pos: 4px center;
		}

		&-maximize {
			--button-img: var(--icon-arrow-top);
		}

		&-restore {
			--button-img: var(--icon-arrow-bottom);
		}
	}

	&-preserve-case {
		@extend $icon-match-case;
	}

	&-regex {
		@extend $icon-regex;
	}

	&-search-list {
		@extend $icon-list;
	}

	&-split-horizontal {
		@extend $icon-split-horizontal;
	}

	&-whole-word {
		@extend $icon-whole-word;
	}
}

/* Large icons on the side ... */
.activitybar .codicon {
	&-explorer-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAbCAMAAAAqGX2oAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAVUExURYeIj///////AMDHyAAAAKioVwAAAJEBxMUAAAAHdFJOU////////wAaSwNGAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAVUlEQVQ4T+2OwQ0AIQgE1xPpv2ThhASFWIGzr8UJCBbgaDnQGZpTGDJC+7onG9jeCwPoO/Ybg0Sw8zVEIsQLZ4YKoaf8Qugpb8PK27CiwrhCYLpBPAHO0QmNm53kmwAAAABJRU5ErkJggg==');
	}

	&-search-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAbUExURYeIjwAAAP///wD//1eoqMDHyAAA/wAAqAAAACIVp1EAAAAJdFJOU///////////AFNPeBIAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB7SURBVChTrdBLFoAgCAVQkDD3v+L4GKA57Dnp3FdUwNCABu1yRh2gNZKDpREHQz1XFlC4FuLJMmqyzK5M8YC8s3AO+u3+5XuC1Tm5ehbCsSTdD+JlQeTYnu8TLcCNoXvhPnN3ou7F4qVYPYvNo9j9LT7uxcG1OLr8DY4H7ZoLNgSJqQcAAAAASUVORK5CYII=');
	}

	&-source-control-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAeUExURQAAAMDAwICAgP////8AAAD/AIAAAAAAgICAAAAAAMSR5MIAAAAKdFJOU////////////wCyzCzPAAAACXBIWXMAAA7DAAAOwwHHb6hkAAABAklEQVQ4T32Ti5KDIBRDr+JC+f8fbhLCSzqbmfaO5pigaNS3YlM9gLhW3UB2vfwDiLTq3gG3Wi1gBd7l/FuBozzdG3CW3wTQ1QFf2kSAI65/AEFLhYxIT/pzOZrUYQA3SQAOJENBYw1ZUgrFcg8BOT9SdoLKPQjQDgRwtNtk+FwDjJBBpC2WhgYBnoUbFxETfQ0GnEvhoK+hAw5IxYCO2DGBFlDShwOHdlaA9YV+LICelwFmlFIukBPo200AUj70CyAx/QM4bhO+HI/xoLDVI0DO82Dow+HZrMu7PxLg9s3ibnOz5Lfs9i7wN7a7fQ0GaECe4m273BpgM63pT2CXz9ZavxrbDa+jOEwbAAAAAElFTkSuQmCC');
	}

	&-run-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAgCAMAAAAynjhNAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAPUExURQAA/////4CAgAAAAAAAAAL9MZcAAAAFdFJOU/////8A+7YOUwAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAIpJREFUOE+9kt0OgCAIRhN4/2eO+FEU2cqLzkaWZ59Q6yLjyjy7Kvmm8cZcEHUmamwrOGvEpV6kN8T0ZuIPae85evcd1T4pIEj584/pAOg1pgfihKl3KBYkS06bVZ/TQtArvMtDuc6ItN4EmW7H77CgttL8YeSMQvsApda17i1LpY2ztL3XodbDiW4/sAnBWaOsgwAAAABJRU5ErkJggg==');
	}

	&-extensions-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAeUExURYeIj////wAAAMDHyKioV///AKgAV/8AAAAA/wAAANrAsnoAAAAKdFJOU////////////wCyzCzPAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAA90lEQVQ4T33TWRbCIAwFUAQ67X/DviEpVtB8qORdaNBjuVRlUZHE22uqUp3odQks/oDWKAz6A3S9llfjGQJ9c88VK+yhIOjb9iFyVaoKgJ0hnqsG4M7d27WoXhBknmI/8PGsMTWAd7C8az+O7XwA7mBFE+Ak8HkCFrkrQNzVQE9N0HYA5J4pAJ+aAMK5RAKemkBNAUy9Ah3f8H1XgEtCuYCmQ89TE0h85Hw2Wj5SgIJ5ixziC0BEnr+E74ozA1yZ42zkiHhX9hJckT+mY28A52M63JV7/gDXBO7poiagXyInRs2ArZGvQEwXtQKPGqD9qAT+k8xV6xvRKw5fLaMgoAAAAABJRU5ErkJggg==');
	}

	&-settings-view-bar-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAVUExURYeIjwAAAMDHyP///6ioV///AAAAACENz/QAAAAHdFJOU////////wAaSwNGAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAr0lEQVQoU22QCRLEIAgERdD/P3l7wKOSDVYlOM0ASXuHzYrW+iOeYBX7PzBF/wLuqN+gfzusm9eotwNPUz97gQieaTCkAzyGm7GugJFv0MOHRwFqxgUmUgA9DqDOfbfCu0AQ9F0O14xcoasr5zrq1hhAKM9AlbBBTl+HywFZp03DTN4C/Aamq6y6iDI8G5eu3fQCsC4rzykgn2r11HdswKUkyAVT+pYy3yBD01Y65w/8egaxiOwunAAAAABJRU5ErkJggg==');
	}
}

/* ... and small icons for tabs. */
// !important
.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .action-label.codicon {
	background: no-repeat center;

	margin-bottom: -4px;

	position: relative;
	width: 16px;
	height: 17px;
	top: -3px;

	&::before {
		visibility: hidden;
	}

	&-explorer-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAMAAABBwMRzAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAASUExURYeIj8DHyP//AP///wAAAAAAAJRqB2kAAAAGdFJOU///////ALO/pL8AAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA1SURBVBhXtYrRFQAQEMOCdv+VHcfDANKvtMVm4AWm1MguSI0ib9AuUHjuM9OPlh/7g7AupA6lNwF/p6NMjAAAAABJRU5ErkJggg==');
	}

	&-search-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAMAAAARSr4IAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAYUExURYeIj////8DHyAAAAAD//wAA/wAAqAAAAK7w5bgAAAAIdFJOU/////////8A3oO9WQAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAFdJREFUGFdNzksOACEIA9DyUe5/42nFCTYueEAMqMKfYs1nHVf90PAyGBHh3XASlnZNSultUcqhNNOCBMhigf/7WnST/Z1y05njQ10TIZ+rbujYQ27t+gABFgKiBYDaZQAAAABJRU5ErkJggg==');
	}

	&-source-control-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAeUExURQAAAP///4CAgMDAwAD/AP8AAIAAAAAAgICAAAAAAF6MOz4AAAAKdFJOU////////////wCyzCzPAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAAbElEQVQoUz2OURYAIQgCNRer+194QSu+YJSnto/s6mYvjQZnZhEN3vSBCPsGw2AmAEVP4B4EIE2E1qsC8+krofWqCCxPaL0qAnOq8yqLJ7vSAJaZqEqBukqqgLDNP/Q0s6ZK/SmFId/giHbvH8iCA2ei7XaLAAAAAElFTkSuQmCC');
	}

	&-run-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAMAAADjcdz2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAPUExURQAA/////4CAgAAAAAAAAAL9MZcAAAAFdFJOU/////8A+7YOUwAAAAlwSFlzAAAOwgAADsIBFShKgAAAAFFJREFUKFNtjgsOwCAIQ4Fy/zNbCKu67SV+eGmjlsQE7y3czGtZjBAj4AMoNo9Q34HfxO4XLXj2FLXdCb6HIyExsM+ZFRE186chRry4xCcBZC4WBAJvb1F/IQAAAABJRU5ErkJggg==');
	}

	&-extensions-view-icon {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAeUExURYeIj////wAAAKioV///AMDHyP8AAAAA/6gAVwAAAN3vJf0AAAAKdFJOU////////////wCyzCzPAAAACXBIWXMAAA7BAAAOwQG4kWvtAAAAaElEQVQoUz2PAQ7AIAgDWWEq///wWhg2ISmnFLXMtCs1queXoYA3CIIXBB5efQRvAOZ0Iiu2bsIOgezaA3gkezYG3DPlNmhfubA8Sz195RKkZmuHZgX00spR7oDewRogX7pgVIA/GAEfvWoDPeGBghYAAAAASUVORK5CYII=');
	}
}
