@use "shared/window";
@use "shared++/icons";
@use "vscode/shared";

// Single icon for multiple classes,
// not alphabetically sorted.
// TODO(scss): use a map, hell yeah
.codicon-chevron-left,
.codicon-inline-suggestion-hints-previous {
	--icon-img: icon("arrow-left", "mono");
	--button-img: var(--icon-img);
	--button-img-size: 4px 7px;
	--button-img-pos: 4px center;
}

.codicon-chevron-up,
.codicon-parameter-hints-previous,
.codicon-notifications-expand,
.codicon-review-comment-collapse,
.codicon-markers-view-multi-line-expanded,
.codicon-panel-maximize {
	--icon-img: icon("arrow-top", "mono");
	--button-img: var(--icon-img);
	--button-img-size: 7px 4px;
	--button-img-pos: 4px center;
}

.codicon-chevron-right,
.codicon-menu-submenu,
.codicon-suggest-more-info,
.codicon-find-collapsed,
.codicon-inline-suggestion-hints-next,
.codicon-debug-console-evaluation-prompt,
.codicon-notebook-collapsed,
.codicon-search-hide-replace,
.codicon-view-pane-container-collapsed,
.codicon-breadcrumb-separator {
	--icon-img: icon("arrow-right", "mono");
	--button-img: var(--icon-img);
	--button-img-size: 4px 7px;
	--button-img-pos: 4px center;
}
.codicon-folding-collapsed,
.codicon-folding-manual-collapsed {
	--icon-img: icon("arrow-right", "mono");
	@include shared.replace-icon("" 4px ", " 7px "");
}

.codicon-chevron-down,
.codicon-drop-down-button,
.codicon-tree-item-expanded,
.codicon-parameter-hints-next,
.codicon-find-expanded,
.codicon-notifications-hide,
.codicon-notifications-collapse,
.codicon-notebook-expanded,
.codicon-search-show-replace,
.codicon-markers-view-multi-line-collapsed,
.codicon-view-pane-container-expanded,
.codicon-panel-restore {
	--icon-img: icon("arrow-bottom", "mono");
	--button-img: var(--icon-img);
	--button-img-size: 7px 4px;
	--button-img-pos: 4px center;
}
.codicon-folding-expanded,
.codicon-folding-manual-expanded {
	--icon-img: icon("arrow-bottom", "mono");
	@include shared.replace-icon("" 7px ", " 4px "");
}

.codicon-add,
.codicon-plus,
.codicon-gist-new,
.codicon-repo-create,
.codicon-diff-review-insert,
.codicon-diff-insert,
.codicon-watch-expressions-add,
.codicon-watch-expressions-add-function-breakpoint,
.codicon-keybindings-add,
.codicon-ports-forward-icon,
.codicon-terminal-new {
	@include icons.icon-plus;
}

.codicon-alert,
.codicon-warning,
.codicon-extensions-warning-message,
.codicon-markers-view-icon {
	@include icons.icon-warning;

	@include shared.replace-icon("9px");
}

.codicon-collapse-all,
.codicon-debug-collapse-all,
.codicon-search-collapse-results {
	@include icons.icon-collapse;
}

.codicon-error,
.codicon-stop,
.codicon-extensions-error-message,
.codicon-notebook-state-error,
.codicon-testing-cancel-refresh-tests,
.codicon-testing-failed-icon {
	@include icons.icon-error;

	@include shared.replace-icon("10px");
}

.codicon-symbol-reference,
.codicon-go-to-file,
.codicon-preferences-open-settings,
.codicon-search-open-in-file {
	@include icons.icon-go-to-file;
}

.codicon-filter,
.codicon-extensions-filter,
.codicon-find-filter,
.codicon-preferences-filter,
.codicon-testing-filter,
.codicon-timeline-filter {
	@include icons.icon-filter;
}

.codicon-gist-private,
.codicon-git-fork-private,
.codicon-lock,
.codicon-mirror-private,
.codicon-private-ports-view-icon {
	@include icons.icon-lock;
}

/* end */

/* Dialogs */
.codicon-info,
.codicon-shield,
.codicon-dialog-warning {
	background-image: icon("warning-32");
}

.codicon-dialog-info {
	background-image: icon("question-32");
}
/* end */

.codicon-arrow-left {
	@include icons.icon-big-arrow-left;
}

.codicon-arrow-right {
	@include icons.icon-big-arrow-right;
}

.codicon-auxiliarybar-right-layout-icon {
	@include icons.icon-sidebar-right-on;
}

.codicon-auxiliarybar-right-off-layout-icon {
	@include icons.icon-sidebar-right-off;
}

.codicon-bell {
	@include icons.icon-bell;

	--icon-img: var(--button-img);
	@include shared.replace-icon("9px");
}

.codicon-configure-layout-icon {
	@include icons.icon-layout;
}

.codicon-case-sensitive {
	@include icons.icon-case-sensitive;
}

.codicon-menu-submenu {
	--icon-img: icon("arrow-right", "mono");
	--button-img: var(--icon-img);
	@include shared.replace-icon("" 4px ", " 7px "");

	.action-menu-item:hover > & {
		--color-button-text: var(--color-highlight-text);
	}
}

.codicon-new-file,
.codicon-file-add,
.codicon-search-new-editor {
	@include icons.icon-new-file;
}

.codicon-new-folder {
	@include icons.icon-new-folder;
}

.codicon-panel-layout-icon {
	@include icons.icon-panel-on;
}

.codicon-panel-layout-off {
	@include icons.icon-panel-off;
}

.codicon-panel-left {
	@include icons.icon-panel-left-on;
}

.codicon-panel-left-off {
	@include icons.icon-panel-left-off;
}

.codicon-panel-maximize {
	@include icons.icon-big-arrow-top;
}

.codicon-panel-restore {
	@include icons.icon-big-arrow-bottom;
}

.codicon-preserve-case {
	@include icons.icon-match-case;
}

.monaco-workbench .part.basepanel.right {
	.codicon-split-horizontal:before,
	.codicon-panel-maximize:before,
	.codicon-panel-restore:before {
		transform: none;
	}
}

.codicon-regex {
	@include icons.icon-regex;
}

.codicon-split-horizontal {
	@include icons.icon-split-horizontal;
}

.codicon-whole-word {
	@include icons.icon-whole-word;
}

// Large icons on the side ...
.activitybar .codicon {
	&.codicon-explorer-view-icon {
		background-image: icon("folder-32");
	}

	&.codicon-search-view-icon {
		background-image: icon("search-24");
	}

	&.codicon-source-control-view-icon {
		background-image: icon("source-control-32");
	}

	&.codicon-run-view-icon {
		background-image: icon("debug-32");
	}

	&.codicon-extensions-view-icon {
		background-image: icon("extensions-32");
	}

	&.codicon-settings-view-bar-icon {
		background-image: icon("settings-24");
	}
}

/* ... and small icons for tabs. */
// !important
body
	.monaco-workbench
	.pane-composite-part
	> .header-or-footer
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item.icon
	.action-label.codicon:not(.codicon-more) {
	background: no-repeat center;

	margin-bottom: -4px;

	position: relative;
	width: 16px;
	height: 17px;
	top: -3px;

	&::before {
		visibility: hidden;
	}

	&.codicon-explorer-view-icon {
		background-image: icon("folder");
	}

	&.codicon-search-view-icon {
		background-image: icon("file-search");
	}

	&.codicon-source-control-view-icon {
		background-image: icon("source-control");
	}

	&.codicon-run-view-icon {
		background-image: icon("debug");
	}

	&.codicon-extensions-view-icon {
		background-image: icon("extensions");
	}
}
