[role="tab"] {
	cursor: unset;

	&[aria-selected="true"]:not(.tab) {
		margin-top: 1px;
	}

	.action-label {
		font-size: var(--text-ui-size);
		font-family: var(--text-ui-font), codicon;
		color: inherit;

		padding: 0;
	}

	.monaco-icon-label {
		&::before,
		&-container::after {
			display: none;
		}
	}
}

// Editor
.tab {
	&:not([aria-selected="true"]) {
		// !important
		.monaco-workbench .part.editor > .content .editor-group-container[class] > .title &:hover {
			background-color: var(--color-button-face);
		}
	}

	&s {
		--editor-group-tab-height: inherit;

		background-color: transparent;

		cursor: unset;

		&,
		&-container,
		//&-and-actions-container,
		.monaco-scrollable-element {
			overflow: visible;
		}

		&-border-bottom::after {
			display: none;
		}
	}

	&-border {
		&-top,
		&-bottom {
			&-container {
				display: none;
			}
		}
	}

	&-label {
		padding: 0;

		a,
		span {
			font();
			cursor: unset;
		}
	}

	&-actions {
		margin-left: 4px;

		&,
		.monaco-action-bar,
		.action-label {
			box(auto);
		}

		/*
		 * No borders, since it interferes with
		 * editor tab height and unsaved file icon.
		 */
		.action-label {
			box-shadow: none;
		}
	}
}

// Top activity bar
.sidebar .title.has-composite-bar {
	overflow: visible;

	padding: 0;

	.monaco-action-bar {
		height: unset;

		.action-item {
			&::before,
			&::after {
				opacity: 1;

				margin: 0;

				display: block;
			}
		}
	}

	& + .content {
		--tabs-compensation: 8px;

		& > .composite {
			@extend [role="tabpanel"];

			padding: calc(var(--border-size) + 2px);

			.pane-header {
				margin-bottom: 2px;
			}

			.actions {
				display: block;
			}

			&:not(.extensions-viewlet) .monaco-list {
				height: calc(100% - 21px);
			}
		}
	}
}

// Panel
.part.panel {
	.monaco-action-bar {
		height: 100%;

		.action-item:not(.select-container) {
			font();
			text-transform: unset;

			cursor: unset;

			&::before,
			&::after {
				opacity: 1;
				background-color: transparent;

				margin: 0;

				display: block;
			}
		}
	}

	.tabs-container {
		padding: 0;
		border: none;

		.monaco-list {
			width: calc(100% - 64px);
			height: calc(100% - 2px);
		}

		.actions {
			display: block;
		}
	}
}

// Settings
.settings-tabs-widget {
	@extend [role="tablist"];

	// !important
	& > .monaco-action-bar .action {
		&-item {
			overflow: visible;
		}

		&-label {
			@extend [role="tab"];

			opacity: 1;
			font-size: var(--text-ui-size);

			overflow: visible;

			&.checked {
				// Has [role="checkbox"] for some reason.
				@extend [role="tab"][aria-selected="true"];

				background-color: var(--color-button-face);
				margin-top: 1px;
			}
		}
	}
}

// Marketplace
.navbar {
	@extend [role="tablist"];

	font();
	border: none;
	padding: 0;

	height: unset;
}

.action {
	// !important
	.extension-editor > .body > .navbar > .monaco-action-bar > &s-container > &-item > &-label {
		@extend $text-reset;
		@extend [role="tab"];

		&[aria-checked="true"] {
			// Has [role="checkbox"] for some reason.
			@extend [role="tab"][aria-selected="true"];

			margin-top: 1px;
		}
	}
}
