@use "shared/text";
@use "shared++/utils";

.checkbox-action-item {
	@include text.input-label;

	& > .checkbox-label {
		font-size: inherit;
	}
}

.monaco-grid-view .label-description:not(:empty, :has(> :empty)) {
	opacity: 1;
	font: var(--text-ui);
	@include utils.parentheses;
	margin-left: var(--text-spacing);
}
