.codicon {
	font-size: var(--font-ui-size);
}

.monaco-grid-view .label-description:not(:empty, :has(> :empty)) {
	opacity: 1;
	font: var(--text-ui);
	parentheses();
	margin-left: var(--text-spacing);
}
