@use "shared/text";
@use "shared++/utils";

.checkbox-action-item {
	@include text.input-label;

	& > .checkbox-label {
		font-size: inherit;
	}
}

.monaco-grid-view .label-description:not(:empty, :has(> :empty)) {
	@include utils.parentheses;

	font: var(--text-ui);
	margin-inline-start: var(--text-spacing);
	opacity: 1;
}
