@use "shared/list";
@use "shared/tree";

$-max-nest: 10;

/**
 * Attributes
 *
 * aria-expanded | directory, if present
 * aria-level    | how deep it is
**/

// Don't use tree.item here, since for some unknown to me fucking reasons the
// tree items in settings are twice as bigger and nothing indicates that they
// are. Same height, position, etc.
[role="treeitem"] {
	--icon: var(--tree-icon-collapsed);

	&[aria-expanded="true"] {
		--icon: var(--tree-icon-expanded);
	}
}

[aria-level]:not([aria-level="1"]) {
	--a: 36px;
	--b: 12px;
	--b-with-arrow: 24px;

	&:not([aria-expanded]) {
		--b: var(--b-with-arrow);
	}

	&::before {
		display: none;
	}

	.monaco-tl-twistie {
		padding-left: 0;
		margin-left: calc(
			var(--offset) + var(--a) + var(--b) * (var(--level) - var(--multiply))
		);
	}
}

@for $i from 2 through $-max-nest {
	[aria-level="#{$i}"] {
		--level: #{$i};
		--multiply: calc(4 - (0.5 * #{$i}));
		--offset: calc(2px * (#{$i} - 6));

		&:not([aria-expanded]) {
			$magic: $i >= 6 and -16px or -14px;
			--offset: calc(#{$magic} * (#{$i} - 3));
		}
	}
}

// God knows why these need an override ...
.part.sidebar div[aria-level="1"] {
	&:not([aria-expanded]) {
		margin-left: 4px;

		&::before {
			top: -6px;
			left: 4px;
			display: initial;
		}
	}

	&::before {
		top: -6px;
		left: 8px;
	}

	.monaco-tl-contents::before,
	.monaco-tl-twistie::after {
		display: none;
	}
}

[aria-level="2"] {
	--offset: 0px;

	&:not([aria-expanded]) {
		--multiply: 2;
		--offset: 2px;
	}
}

[aria-level="3"] {
	--offset: 0px;

	&:not([aria-expanded]) {
		--offset: 8px;
	}
}

[aria-level="4"] {
	--offset: -1px;

	&:not([aria-expanded]) {
		--offset: -11px;
	}
}

[aria-level="5"] {
	--offset: -1px;

	&:not([aria-expanded]) {
		--offset: -29px;
	}
}

[aria-level="6"] {
	--offset: -2px;
}

.part.sidebar [role="treeitem"] {
	@include tree.item($expanded-sel: "&[aria-expanded='true']", $child-sel: "&");

	position: absolute;

	&[aria-selected="true"] {
		background-color: var(--color-window);
		color: var(--color-window-text);

		.monaco-icon-label-container {
			height: inherit;
		}

		.monaco-icon-name-container {
			@include list.item-name-selected;

			position: relative;
			top: 2px;
		}
	}

	.monaco-icon-container {
		margin-top: 1px;
	}

	.monaco-icon-label {
		gap: 2px;

		align-items: center;

		&::before {
			// Fix for source control tab or the extension
			position: relative;
			height: var(--icon-size);
			z-index: 99;

			padding-right: 2px;
		}

		&::after {
			width: 12px;

			opacity: 1;
			font-size: inherit;
			margin: 0;
		}
	}

	.monaco-icon-name-container {
		@include list.item-name;

		.label-separator {
			opacity: 1;
			margin: 0;
		}
	}
}

.explorer-folders-view .explorer-item {
	line-height: inherit;

	height: inherit;
}

// Tree dots
.monaco-tl-row {
	margin-left: -7px;

	overflow: visible;
}

.monaco-tl-indent {
	left: 11px;
}

.monaco-tl-contents {
	overflow: visible;
	position: relative;

	// Expand button to icon dots
	&::before,
	[aria-expanded] &::after {
		content: "";

		position: absolute;
	}

	&::before {
		left: -6px;
		top: 50%;
		width: 7px;

		border-bottom: 1px dotted var(--color-gray-text);
	}
}

.monaco-tl-twistie {
	@include tree.item-icon;

	margin-right: var(--tree-spacing);

	flex-shrink: 0;
	z-index: 2;

	&::before {
		border-radius: 0;

		z-index: 1;
		transform: unset;
	}

	&::after {
		left: 1px;
		width: 11px;
	}

	.pane-body
		> :not(.explorer-folders-view)
		[role="treeitem"]:not([aria-level="1"])
		& {
		visibility: hidden;
	}
}

.monaco-tl-indent {
	top: -18px;
	height: calc(100% + 22px);

	& > .indent-guide {
		opacity: 1;
		border-left: 1px dotted var(--color-gray-text);

		width: calc(11px + var(--tree-spacing));
		height: calc(100% - 1px);

		&:nth-child(even) {
			--tree-spacing: 7px;
		}
	}
}

// Sticky
.monaco-tree-sticky-container {
	width: calc(100% - var(--scrollbar-size));

	.monaco-tl-contents::before,
	.monaco-tl-twistie {
		visibility: hidden;
	}
}

.monaco-tree-sticky-row {
	// fix border not appearing
	background-color: transparent;
}

// Icons
.show-file-icons [role="treeitem"] {
	.file-icon::before {
		content: "";

		background-image: icon("file");
		background-size: 13px var(--icon-size);
		background-position: center;
	}

	&[aria-expanded] .monaco-icon-label::before {
		content: "";

		background-image: icon("folder");
		background-size: 15px;
	}
}

// Overrides for files not at first level
[role="treeitem"]:not([aria-expanded]):not([aria-level="1"]) {
	.monaco-tl-contents::before {
		left: calc(var(--icon-size) * -1);
		top: -50%;
		width: calc(var(--icon-size) - var(--tree-spacing));
		height: 100%;
		z-index: 1;

		border-left: 1px dotted var(--color-gray-text);
		border-bottom: 1px dotted var(--color-gray-text);
	}

	.explorer-folders-view & .monaco-icon-label {
		margin-left: -7px;
	}

	.search-view & {
		&[aria-level="2"] {
			--multiply: 2.25;
			--b: 12px;
		}

		&[data-last-element="true"] .monaco-tl-indent {
			display: none;
		}
	}
}

// Panel
.tree-container {
	[aria-level="2"]:not([aria-expanded]) {
		--multiply: 2.25;
	}

	.indent-guide {
		visibility: hidden;
	}

	[aria-expanded] .resource-label-container {
		margin-left: -3px;
	}
}

// Settings
.settings-toc-container {
	[aria-level="2"]:first-child {
		--multiply: 3;

		.monaco-tl-contents::before {
			display: none;
		}
	}
}
