.monaco-workbench {
	// Own
	&.nostatusbar {
		--statusbar-height: var(--window-gap);
	}

	// Text
	--vscode-foreground: var(--color-window-text) $i;
	--vscode-disabledForeground: var(--color-gray-text) $i;
	--vscode-descriptionForeground: var(--color-window-text) $i;
	--vscode-icon-foreground: var(--color-window-text) $i;
	--vscode-search-resultsInfoForeground: var(--color-button-text) $i;

	--vscode-textPreformat-foreground: var(--color-button-text) $i;
	--vscode-textLink-foreground: var(--color-link) $i;
	--vscode-textLink-activeForeground: var(--color-link) $i;

	--vscode-input-foreground: var(--color-window-text) $i;
	--vscode-input-placeholderForeground: var(--color-gray-text) $i;

	// Titlebar
	--vscode-titleBar-activeForeground: var(--color-button-text) $i;
	--vscode-titleBar-inactiveForeground: var(--color-button-text) $i;

	// Menubar
	--vscode-menubar-selectionBackground: inherit $i;
	--vscode-menubar-selectionForeground: var(--color-button-text) $i;

	// Status bar
	--vscode-statusBarItem-hoverForeground: var(--color-button-text) $i;

	--vscode-statusBarItem-errorBackground: red $i;
	--vscode-statusBarItem-errorForeground: #fff $i;

	// Editor
	--vscode-editor-background: transparent $i;
	--vscode-editorGutter-background: transparent $i;
	--vscode-editor-foreground: var(--color-window-text) $i;
	--vscode-scrollbar-shadow: transparent $i;

	// Activity bar
	--vscode-activityBar-foreground: var(--color-button-text) $i;

	// Panel
	--vscode-panelTitle-activeForeground: var(--color-button-text) $i;
	--vscode-panelTitle-inactiveForeground: var(--color-button-text) $i;
	--vscode-panelTitle-activeBorder: transparent $i;

	--vscode-panel-background: var(--color-window) $i;

	// Sidebar
	--vscode-list-focusAndSelectionOutline: transparent $i;

	--vscode-list-activeSelectionBackground: var(--color-highlight) $i;
	--vscode-list-activeSelectionIconForeground: var(--color-highlight-text) $i;
	--vscode-list-activeSelectionForeground: var(--color-highlight-text) $i;

	--vscode-list-inactiveSelectionBackground: var(--color-highlight) $i;
	--vscode-list-inactiveSelectionForeground: var(--color-highlight-text) $i;

	--vscode-list-errorForeground: red $i;
	--vscode-list-warningForeground: yellow $i;
	--vscode-list-invalidItemForeground: yellow $i;

	--vscode-sideBar-background: var(--color-window) $i;

	// Settings
	--vscode-settings-focusedRowBackground: transparent $i;
	--vscode-settings-rowHoverBackground: transparent $i;

	--vscode-settings-dropdownBackground: transparent $i;

	--vscode-settings-headerForeground: var(--color-button-text) $i;

	// Extensions
	--vscode-extensionButton-background: var(--color-button-face) $i;
	--vscode-extensionButton-hoverBackground: var(--color-button-face) $i;
	--vscode-extensionButton-foreground: var(--color-button-text) $i;
	--vscode-extensionButton-prominentForeground: var(--color-button-text) $i;

	// Tooltip
	--vscode-editorHoverWidget-background: var(--color-info-background) $i;
	--vscode-editorHoverWidget-foreground: var(--color-button-text) $i;
	--vscode-editorHoverWidget-border: var(--color-button-shadow-dark) $i;

	// Menu
	--vscode-menu-selectionBackground: var(--color-highlight) $i;
	--vscode-menu-selectionForeground: var(--color-highlight-text) $i;
	--vscode-menu-foreground: var(--color-window-text) $i;

	// Quick input
	--vscode-pickerGroup-foreground: va(--color-button-text) $i;
	--vscode-pickerGroup-border: var(--color-button-shadow) $i;

	--vscode-quickInput-background: var(--color-window) $i;
	--vscode-quickInput-foreground: var(--color-window-text) $i;
	--vscode-quickInputList-focusBackground: var(--color-highlight) $i;
	--vscode-quickInputList-focusForeground: var(--color-highlight-text) $i;
	--vscode-quickInputList-focusIconForeground: var(--color-highlight-text) $i;

	// Dialogs
	--vscode-problemsInfoIcon-foreground: var(--color-active-caption-text) $i;
	--vscode-problemsErrorIcon-foreground: var(--color-active-caption-text) $i;
	--vscode-problemsWarningIcon-foreground: var(--color-active-caption-text) $i;

	// Notifications
	--vscode-notifications-background: var(--color-button-face) $i;
	--vscode-notifications-foreground: var(--color-button-text) $i;

	// Other
	--vscode-focusBorder: transparent $i;
	--vscode-textCodeBlock-background: @css {
		color-mix(in srgb, currentColor 25%, transparent)
	} $i;
}
