.monaco-workbench {
	// Own
	&.nostatusbar {
		--statusbar-height: var(--window-gap);
	}

	// Text
	--vscode-foreground: var(--color-window-text);
	--vscode-disabledForeground: var(--color-gray-text);
	--vscode-descriptionForeground: var(--color-window-text);
	--vscode-icon-foreground: var(--color-window-text);
	--vscode-search-resultsInfoForeground: var(--color-button-text);

	--vscode-textPreformat-foreground: var(--color-button-text);
	--vscode-textLink-foreground: var(--color-link);
	--vscode-textLink-activeForeground: var(--color-link);

	--vscode-input-foreground: var(--color-window-text);
	--vscode-input-placeholderForeground: var(--color-gray-text);

	// Titlebar
	--vscode-titleBar-activeForeground: var(--color-button-text);
	--vscode-titleBar-inactiveForeground: var(--color-button-text);

	// Menubar
	--vscode-menubar-selectionBackground: inherit;
	--vscode-menubar-selectionForeground: var(--color-button-text);

	// Status bar
	--vscode-statusBarItem-hoverForeground: var(--color-button-text);

	--vscode-statusBarItem-errorBackground: red;
	--vscode-statusBarItem-errorForeground: #fff;

	// Editor
	--vscode-editor-background: transparent;
	--vscode-editorGhostText-foreground: var(--color-gray-text);
	--vscode-editorGutter-background: transparent;
	--vscode-editor-foreground: var(--color-window-text);
	--vscode-scrollbar-shadow: transparent;

	--vscode-editorStickyScroll-background: var(--color-window);
	--vscode-editorStickyScroll-border: var(--color-window-text);
	--vscode-editorStickyScroll-shadow: transparent;

	--vscode-peekViewEditor-background: var(--color-window);
	--vscode-peekViewEditorGutter-background: var(--color-window);
	--vscode-peekViewEditorStickyScroll-background: var(--color-window);

	// Activity bar
	--vscode-activityBar-foreground: var(--color-button-text);

	// Panel
	--vscode-panelTitle-activeForeground: var(--color-button-text);
	--vscode-panelTitle-inactiveForeground: var(--color-button-text);
	--vscode-panelTitle-activeBorder: transparent;

	--vscode-panel-background: var(--color-window);

	// Sidebar
	--vscode-list-focusAndSelectionOutline: transparent;

	--vscode-list-activeSelectionBackground: var(--color-highlight);
	--vscode-list-activeSelectionIconForeground: var(--color-highlight-text);
	--vscode-list-activeSelectionForeground: var(--color-highlight-text);

	--vscode-list-inactiveSelectionBackground: var(--color-highlight);
	--vscode-list-inactiveSelectionForeground: var(--color-highlight-text);

	--vscode-list-errorForeground: red;
	--vscode-list-warningForeground: yellow;
	--vscode-list-invalidItemForeground: yellow;

	--vscode-sideBar-background: var(--color-window);
	--vscode-sideBarTitle-background: transparent;
	--vscode-sideBarTitle-foreground: var(--color-button-text);
	--vscode-gitDecoration-ignoredResourceForeground: var(--color-gray-text);

	// Settings
	--vscode-settings-focusedRowBackground: transparent;
	--vscode-settings-rowHoverBackground: transparent;

	--vscode-settings-dropdownBackground: transparent;

	--vscode-settings-headerForeground: var(--color-button-text);

	// Extensions
	--vscode-extensionButton-background: var(--color-button-face);
	--vscode-extensionButton-hoverBackground: var(--color-button-face);
	--vscode-extensionButton-foreground: var(--color-button-text);
	--vscode-extensionButton-prominentForeground: var(--color-button-text);

	// Tooltip
	--vscode-editorHoverWidget-background: var(--color-info-background);
	--vscode-editorHoverWidget-foreground: var(--color-button-text);
	--vscode-editorHoverWidget-border: var(--color-button-shadow-dark);

	// Menu
	--vscode-menu-selectionBackground: var(--color-highlight);
	--vscode-menu-selectionForeground: var(--color-highlight-text);
	--vscode-menu-foreground: var(--color-window-text);

	// Quick input
	--vscode-pickerGroup-foreground: va(--color-button-text);
	--vscode-pickerGroup-border: var(--color-button-shadow);

	--vscode-quickInput-background: var(--color-window);
	--vscode-quickInput-foreground: var(--color-window-text);
	--vscode-quickInputList-focusBackground: var(--color-highlight);
	--vscode-quickInputList-focusForeground: var(--color-highlight-text);
	--vscode-quickInputList-focusIconForeground: var(--color-highlight-text);

	// Peek
	--vscode-peekViewResult-background: transparent;
	--vscode-peekViewResult-lineForeground: var(--color-button-text);
	--vscode-peekViewResult-selectionBackground: var(--color-highlight);
	--vscode-peekViewResult-selectionForeground: var(--color-highlight-text);

	// Dialogs
	--vscode-problemsInfoIcon-foreground: var(--color-active-caption-text);
	--vscode-problemsErrorIcon-foreground: var(--color-active-caption-text);
	--vscode-problemsWarningIcon-foreground: var(--color-active-caption-text);

	// Notifications
	--vscode-notifications-background: var(--color-button-face);
	--vscode-notifications-foreground: var(--color-button-text);

	// Other
	--vscode-activityBarTop-activeBorder: transparent;
	--vscode-focusBorder: transparent;
	--vscode-textCodeBlock-background: @css {
		color-mix(in srgb, currentColor 25%, transparent)
	};
	--vscode-widget-shadow: transparent;
}
