* {
	outline: none;
}

.monaco-workbench {
	background-color: inherit;
	font();

	width: 100%;
	height: calc(100vh - 8px);

	.part > .content {
		font();
	}
}

.split-view {
	&-view {
		// Titlebar
		&[style^="top: 35px;"] {
			margin-top: 5px;
		}
	}

	// !important
	.monaco-split-view2.separator-border > .monaco-scrollable-element > &-container &-view:not(:first-child)::before {
		background-color: transparent;
	}
}