@use "shared/window";

.monaco-workbench {
	background-color: var(--color-button-face);
	font: var(--text-ui);

	.part > .content {
		font: var(--text-ui);
	}
}

.split-view-view {
	// Titlebar
	&[style^="top: 35px;"] {
		margin-top: 13px;
	}

	// Statusbar
	// INSANE selector to select *only* the statusbar
	.monaco-grid-branch-node
		> .monaco-split-view2
		> .monaco-scrollable-element
		> .split-view-container
		> &[style$="height: 22px;"] {
		margin-top: 4px;
	}

	// Maximised bottom panel
	&[style="top: 0px; height: 0px;"] + & > .part.panel {
		margin-top: 16px;

		height: calc(100% - 44px);
	}
}

// !important
.monaco-split-view2.separator-border
	> .monaco-scrollable-element
	> .split-view-container
	.split-view-view:not(:first-child)::before {
	background-color: transparent;
}
