@use "shared/controls";
@use "shared++/utils";
@use "steam/shared";

#AchievementSearchHeader {
	gap: var(--text-spacing);
	inset-block-start: calc((var(--steamavatar_size) + var(--text-spacing)) * -1);
	inset-inline: 0;
	// Move out of content
	position: fixed;
}

#GameIcon {
	height: var(--icon-size);
	margin-inline-end: var(--text-spacing);
	width: var(--icon-size);
}

#Label {
	@include utils.text-reset;
}

#Progress {
	margin-block-start: var(--text-spacing);
}

#StatsBlock {
	background-color: transparent;
	margin-block-end: var(--text-spacing);
	padding: 0;
}

#Title {
	@include shared.dialog-title;

	body:not(.ModalDialogBody) & {
		color: var(--color-active-caption-text);
		inset-inline-start: calc(var(--offset) + 2px);
	}
}
