@use "shared++/utils";
@use "steam/shared";

#Background {
	display: none;
}

#Container {
	padding: var(--dialog-spacing);
}

#DragHandle {
	inset-inline-end: 0;
	// Extend the separator to the right
	position: absolute;
}

#HeaderContainer {
	padding: 0;
}

#Label {
	@include utils.text-reset;
}

// HOW is this a scrollpanel ???
#Page {
	background-color: transparent;
	margin: 0;
	margin-block-start: var(--titlebar-height);
	overflow: visible;

	&::after {
		background-image: linear-gradient(
			90deg,
			var(--color-active-caption-bg-start),
			var(--color-active-caption-bg-end)
		);
		content: "";
		height: var(--titlebar-height);
		inset-block-start: calc(var(--titlebar-height) * -1);
		position: absolute;
		width: 100%;
	}
}

#SortableUserAchievementInner {
	background-color: transparent;
}
