@use "shared/dialog";
@use "steam/shared";

#AvatarContainer {
	margin: 0;

	justify-content: center;
}

#Buttons {
	@include dialog.buttons;

	background-color: transparent;
	padding: 0;
}

#Content {
	padding: 0;

	// logo (#LogoContainer in newlogindialog)
	& > :first-child {
		display: none;
	}
}

#Login {
	background-image: none;
	border: none;
	box-shadow: none;
}

#Paragraph {
	color: inherit;
	padding: 0;

	#Highlight {
		color: inherit;
		font-weight: bold;
	}
}

#RemoveConfirmation,
#UserChooser {
	padding: var(--messagebox-spacing);

	width: 100%;
	height: calc(100% - var(--messagebox-content-spacing));
}

#Title,
#WhosPlaying {
	@include shared.dialog-title;

	padding: 0;
}

#TitleContainer {
	height: unset;
}

#Warning {
	gap: var(--messagebox-content-spacing);
	padding: 0;
	margin: 0;
}
